@import "node_modules/govuk-frontend/govuk/all";

.create-tech-record {
  & h1:first-child {
    margin-bottom: 1rem;
  }
  & .govuk-grid-row {
    margin-bottom: 1.5rem;
  }

  & a#test-continue-btn {
    padding: 10px 15px 10px 15px;
    font-size: 20px;
  }
}
