<div class="govuk-width-container">
  <a class="govuk-back-link" vtmBackButton>Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row govuk-!-padding-left-0 govuk-!-margin-left-0">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
              Create new technical record
            </h1>
          </div>
        </div>

        <div *ngIf="formError$ | async as formError" class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <form [formGroup]="createTechRecordForm" (ngSubmit)="onSubmit()">
              <div class="govuk-form-group">
                <div
                  class="govuk-grid-row govuk-!-margin-bottom-5 govuk-!-padding-left-0 govuk-!-margin-left-0"
                  [class.govuk-form-group--error]="formErrors.vTypeErr"
                >
                  <div class="govuk-grid-column-full">
                    <label class="govuk-label govuk-!-font-weight-bold">
                      Vehicle type
                    </label>
                    <span
                      *ngIf="formErrors.vTypeErr"
                      id="vType-error"
                      class="govuk-error-message"
                    >
                      <span class="govuk-visually-hidden">Error:</span>
                      <span>Select a vehicle type</span>
                    </span>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item" *ngFor="let vType of vehicleTypes">
                        <input
                          class="govuk-radios__input"
                          id="{{ 'test-radio-' + vType }}"
                          type="radio"
                          formControlName="vehicleType"
                          value="{{ vType }}"
                          (change)="setVrmValidators($event)"
                        />
                        <label
                          class="govuk-label govuk-radios__label"
                          for="{{ 'test-radio-' + vType }}"
                        >
                          {{ vType }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="govuk-grid-row govuk-!-margin-bottom-5 govuk-!-padding-left-0 govuk-!-margin-left-0"
                  [class.govuk-form-group--error]="
                    formErrors.vinErr || formError[0]?.includes('VIN')
                  "
                >
                  <div class="govuk-grid-column-full">
                    <label class="govuk-label govuk-!-font-weight-bold" for="test-vin">
                      Vehicle identification number (VIN)
                    </label>
                    <span
                      *ngIf="formErrors.vinErr || formError[0]"
                      id="vin-error"
                      class="govuk-error-message"
                    >
                      <span class="govuk-visually-hidden">Error:</span>
                      <span *ngIf="formError[0]?.includes('VIN')">{{ formError[0] }}</span>
                    </span>
                    <input
                      class="govuk-input govuk-input--width-20"
                      [class.govuk-input--error]="formErrors.vinErr || formError[0]?.includes('VIN')"
                      id="test-vin"
                      type="text"
                      formControlName="vin"
                      maxlength="21"
                    />
                  </div>
                </div>
                <div
                  class="govuk-grid-row govuk-!-margin-bottom-5 govuk-!-padding-left-0 govuk-!-margin-left-0"
                  [class.govuk-form-group--error]="
                    formErrors.vrmErr ||
                    formError[0]?.includes('VRM') ||
                    formError[1]?.includes('VRM')
                  "
                >
                  <div class="govuk-grid-column-full">
                    <label class="govuk-label govuk-!-font-weight-bold" for="test-vrm">
                      {{ vrmLabel }}
                    </label>
                    <span
                      *ngIf="formErrors.vrmErr || formError[0]"
                      id="vrm-error"
                      class="govuk-error-message"
                    >
                      <span class="govuk-visually-hidden">Error:</span>
                      <span>{{ formErrors.vrmErr }}</span>
                      <ng-container *ngIf="formError[0]?.includes('exists')">
                        <span *ngIf="!formError[1] && formError[0]?.includes('VRM')">{{
                          formError[0]
                        }}</span>
                        <span>{{ formError[1] }}</span>
                      </ng-container>
                    </span>
                    <input
                      class="govuk-input govuk-input--width-20"
                      [class.govuk-input--error]="
                        formErrors.vrmErr ||
                        formError[0]?.includes('VRM') ||
                        formError[1]?.includes('VRM')
                      "
                      id="test-vrm"
                      type="text"
                      formControlName="vrm"
                      maxlength="8"
                    />
                  </div>
                </div>
                <div class="govuk-grid-row govuk-!-padding-left-0 govuk-!-margin-left-0">
                  <div class="govuk-grid-column-full">
                    <button
                      class="govuk-button"
                      data-module="govuk-button"
                      id="test-continue-btn"
                      type="submit"
                    >
                      Continue
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
