<div [formGroup]="form">
  <!--  Name or Company -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_name')"
    label="Name or company"
    formControlName="techRecord_purchaserDetails_name"
  ></govuk-form-group-input>

  <!--  Address line 1 -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_address1')"
    label="Address line 1"
    formControlName="techRecord_purchaserDetails_address1"
  ></govuk-form-group-input>

  <!--  Address line 2 -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_address2')"
    label="Address line 2"
    formControlName="techRecord_purchaserDetails_address2"
  ></govuk-form-group-input>

  <!--  Town or City -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_postTown')"
    label="Town or city"
    formControlName="techRecord_purchaserDetails_postTown"
    [width]="FormNodeWidth.XL"
  ></govuk-form-group-input>

  <!--  County -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_address3')"
    label="County"
    formControlName="techRecord_purchaserDetails_address3"
    [width]="FormNodeWidth.XL"
  ></govuk-form-group-input>

  <!--  Postcode -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_postCode')"
    label="Postcode"
    formControlName="techRecord_purchaserDetails_postCode"
    [width]="FormNodeWidth.L"
  ></govuk-form-group-input>

  <!--  Telephone number -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_telephoneNumber')"
    label="Telephone number"
    formControlName="techRecord_purchaserDetails_telephoneNumber"
    [width]="FormNodeWidth.XL"
  ></govuk-form-group-input>

  <!--  Email address -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_emailAddress')"
    label="Email address"
    formControlName="techRecord_purchaserDetails_emailAddress"
    [width]="FormNodeWidth.XL"
  ></govuk-form-group-input>

  <!--  Fax number -->
  <govuk-form-group-input
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_faxNumber')"
    label="Fax number"
    formControlName="techRecord_purchaserDetails_faxNumber"
    [width]="FormNodeWidth.XL"
  ></govuk-form-group-input>

  <!--  Purchaser Notes -->
  <govuk-form-group-textarea
    *ngIf="shouldDisplayFormControl('techRecord_purchaserDetails_purchaserNotes')"
    label="Purchaser notes"
    [maxLength]="1024"
    formControlName="techRecord_purchaserDetails_purchaserNotes"
  ></govuk-form-group-textarea>
</div>
