<ng-container *ngIf="!editState">  
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Notes</dt>
      <dd id="test-notes" class="govuk-summary-list__value">
        <span id="test-notes" class="notes-section">{{ this.notes | DefaultNullOrEmpty }}</span>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="editState">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <vtm-notes-edit
          [notesDetails]="this.notes"
         ></vtm-notes-edit>
      </dt>
    </div>
  </dl>
</ng-container>

