<dl *ngIf="testRecord" class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Vehicle identification number (VIN)
    </dt>
    <dd class="govuk-summary-list__value">
      {{testRecord.vin | DefaultNullOrEmpty}}
    </dd>
  </div>
  <div *ngIf="testRecord.vehicleType!='trl'" class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Vehicle registration mark (VRM)
    </dt>
    <dd class="govuk-summary-list__value">
      {{testRecord.vrm | DefaultNullOrEmpty}}
    </dd>
  </div>
  <div *ngIf="testRecord.vehicleType=='trl'" class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Trailer ID
    </dt>
    <dd class="govuk-summary-list__value">
      {{testRecord.trailerId | DefaultNullOrEmpty}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Country of registration
    </dt>
    <dd class="govuk-summary-list__value">
      {{(testRecord.countryOfRegistration | DefaultNullOrEmpty) | titlecase}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      EU vehicle category
    </dt>
    <dd class="govuk-summary-list__value">
      {{(testRecord.euVehicleCategory |  DefaultNullOrEmpty) | titlecase}}
    </dd>
  </div>
  <div *ngIf="testRecord.vehicleType!='trl'" class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Odometer reading
    </dt>
    <dd class="govuk-summary-list__value">
      {{!techRecHelpers.isNullOrEmpty(testRecord.odometerReading) && !techRecHelpers.isNullOrEmpty(testRecord.odometerReadingUnits) ? testRecord.odometerReading + ' ' + testRecord.odometerReadingUnits : '-'}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Preparer
    </dt>
    <dd class="govuk-summary-list__value">
      {{!techRecHelpers.isNullOrEmpty(testRecord.preparerName) && !techRecHelpers.isNullOrEmpty(testRecord.preparerId) ? testRecord.preparerName + ' - ' + testRecord.preparerId : '-'}}
    </dd>
  </div>
</dl>
<ng-template #hyphen>
  <span>-</span>
</ng-template>
