<ng-container *ngIf="amendedTechRecord() as vm">
  <dl class="govuk-summary-list" *ngIf="vm.techRecord_vehicleType === VehicleTypes.TRL">
    <!-- Name or company -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_name')">
      <dt class="govuk-summary-list__key">Name or company</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_name">
        {{ vm.techRecord_purchaserDetails_name | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Address line 1 -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_address1')">
      <dt class="govuk-summary-list__key">Address line 1</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_address1">
        {{ vm.techRecord_purchaserDetails_address1 | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Address line 2 -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_address2')">
      <dt class="govuk-summary-list__key">Address line 2</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_address2">
        {{ vm.techRecord_purchaserDetails_address2 | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Town or city -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_postTown')">
      <dt class="govuk-summary-list__key">Town or city</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_postTown">
        {{ vm.techRecord_purchaserDetails_postTown | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- County -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_address3')">
      <dt class="govuk-summary-list__key">County</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_address3">
        {{ vm.techRecord_purchaserDetails_address3 | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Postcode -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_postCode')">
      <dt class="govuk-summary-list__key">Postcode</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_postCode">
        {{ vm.techRecord_purchaserDetails_postCode | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Telephone number -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_telephoneNumber')">
      <dt class="govuk-summary-list__key">Telephone number</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_telephoneNumber">
        {{ vm.techRecord_purchaserDetails_telephoneNumber | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Email address -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_emailAddress')">
      <dt class="govuk-summary-list__key">Email address</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_emailAddress">
        {{ vm.techRecord_purchaserDetails_emailAddress | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Fax number -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_faxNumber')">
      <dt class="govuk-summary-list__key">Fax number</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_purchaserDetails_faxNumber">
        {{ vm.techRecord_purchaserDetails_faxNumber | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Purchaser Notes -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_purchaserDetails_purchaserNotes')">
      <dt class="govuk-summary-list__key">Purchaser notes</dt>
      <dd class="govuk-summary-list__value whitespace-pre-wrap" id="test-techRecord_purchaserDetails_purchaserNotes">
        {{ vm.techRecord_purchaserDetails_purchaserNotes | defaultNullOrEmpty }}
      </dd>
    </div>
  </dl>
</ng-container>
