<app-vehicle-header [isEditing]="isEditing()" [testResult]="testResult()" [testNumber]="testNumber$ | async" [isReview]="isReview()">
  @if (!isReview() && testResult().testStatus !== statuses.CANCELLED) {
    <app-button-group class="page-actions">
      <ng-container *appRoleRequired="roles.TestResultAmend">
        @if (isTestTypeGroupEditable$ | async) {
          <app-button id="amend-test" type="link" design="secondary" [routerLink]="['amend-test']">Amend</app-button>
          <app-button id="cancel-test" type="link" design="warning" [routerLink]="['cancel-test']">Cancel</app-button>
        } @else {
          <app-banner>
            <ng-container title>Important</ng-container>
            <ng-container content>Editing this record is not currently supported</ng-container>
          </app-banner>
        }
      </ng-container>
    </app-button-group>
  }
</app-vehicle-header>

@if (sectionTemplates$ | async; as sectionTemplates) {
  <app-accordion-control [isExpanded]="expandSections()">
    @for (template of sectionTemplates; track template; let i = $index) {
      @switch (template.name) {
        @case ('defects') {
          <app-accordion [id]="template.name" [title]="template.label">
            <app-defects class="section"
              [id]="template.name"
              [isEditing]="isEditing()"
              [defects]="getDefects$(testResult().vehicleType) | async"
              [template]="template"
              [data]="testResult()"
              (formChange)="handleFormChange($event)"
              />
          </app-accordion>
        }
        @case ('requiredStandards') {
          <app-accordion *featureToggleName="'requiredstandards'" [id]="template.name" [title]="template.label">
            <app-required-standards class="section"
              [id]="template.name"
              [isEditing]="isEditing()"
              [template]="template"
              [testData]="testResult()"
              (formChange)="handleFormChange($event)"
              (validateEuVehicleCategory)="validateEuVehicleCategory($event)"
              />
          </app-accordion>
        }
        @case ('customDefectsSection') {
          <app-accordion [id]="template.name" [title]="template.label">
            <app-custom-defects class="section"
              [id]="template.name"
              [isEditing]="isEditing()"
              [template]="template"
              [data]="testResult()"
              (formChange)="handleFormChange($event)"
              />
          </app-accordion>
        }
        @case ('additionalDefectsSection') {
          <app-accordion [id]="template.name" [title]="template.label">
            <app-custom-defects class="section"
              [id]="template.name"
              [isEditing]="isEditing()"
              [template]="template"
              [data]="testResult()"
              (formChange)="handleFormChange($event)"
              />
          </app-accordion>
        }
        @case ('vehicleSection') {
          @if (isEditing()) {
            <app-accordion [id]="template.name" [title]="template.label">
              <app-dynamic-form-group class="section"
                [id]="template.name"
                [template]="template"
                [data]="testResult()"
                [edit]="isEditing()"
                (formChange)="handleFormChange($event)"
                />
            </app-accordion>
          }
        }
        @case ('emissionsSection') {
          @if (isEditing()) {
            <app-accordion
              [ngStyle]="{ display: resultOfTest === 'fail' ? 'none' : 'block' }"
              [id]="template.name"
              [title]="template.label"
              >
              <app-dynamic-form-group class="section"
                [id]="template.name"
                [template]="template"
                [data]="testResult()"
                [edit]="isEditing()"
                (formChange)="handleFormChange($event)"
                />
            </app-accordion>
          }
        }
        <!-- this section is not visible so omitting from accordion -->
        @case ('requiredSection') {
          <app-dynamic-form-group
            class="hidden"
            [id]="template.name"
            [template]="template"
            [data]="testResult()"
            [edit]="isEditing()"
            (formChange)="handleFormChange($event)"
            />
        }
        @default {
          <!-- skip `reasonForCreationSection` because its handled further down -->
          @if ('reasonForCreationSection' !== template.name) {
            <app-accordion [id]="template.name" [title]="template.label">
              <app-dynamic-form-group class="section"
                [id]="template.name"
                [template]="template"
                [data]="testResult()"
                [edit]="isEditing()"
                (formChange)="handleFormChange($event)"
                />
            </app-accordion>
          }
          <!-- We only show this section if in editing state -->
          @if ('reasonForCreationSection' === template.name && isEditing()) {
            <app-accordion [id]="template.name" [title]="template.label">
              <app-dynamic-form-group class="section"
                [id]="template.name"
                [template]="template"
                [data]="testResult()"
                [edit]="isEditing()"
                (formChange)="handleFormChange($event)"
                />
            </app-accordion>
          }
        }
      }
    }
  </app-accordion-control>
}

