<app-result-of-test></app-result-of-test>
<ng-container *ngFor="let template of sectionTemplates" [ngSwitch]="template.name">
  <app-test-type-select
    *ngSwitchCase="'requiredSection'"
    class="section"
    [isEditing]="isEditing"
    [template]="template"
    [data]="testResult"
    (formChange)="handleFormChange($event)"
  ></app-test-type-select>

  <app-defects
    *ngSwitchCase="'defects'"
    class="section"
    [id]="template.name"
    [isEditing]="isEditing"
    [template]="template"
    [data]="testResult"
    (formChange)="handleFormChange($event)"
  ></app-defects>

  <app-dynamic-form-group
    *ngSwitchDefault
    class="section"
    [id]="template.name"
    [template]="template"
    [data]="testResult"
    [edit]="isEditing"
    (formChange)="handleFormChange($event)"
  ></app-dynamic-form-group>
</ng-container>
