<ng-container>
  <form
    [formGroup]="vehicleRecordFg"
    #vehicleRecordForm="ngForm"
    (ngSubmit)="onSaveChanges(vehicleRecordForm)"
    vtmFormConnector="vehicleRecordForm"
  >
    <h1 class="govuk-heading-xl title">Technical record</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-right-0 govuk-!-padding-right-0">
        <ng-container *ngIf="viewOnlyState">
          <button
            id="test-change-btn"
            class="govuk-button"
            type="button"
            (click)="editTechRecord()"
            *ngIf="!isArchivedRecord"
          >
            Change technical record
          </button>
        </ng-container>

        <ng-container>
          <button id="test-save-btn" class="govuk-button" type="submit" *ngIf="isEditable">
            Save technical record
          </button>
          <span
            id="test-edit-cancel"
            class="govuk-!-font-size-19 govuk-!-margin-left-5"
            *ngIf="viewEditState"
          >
            <a
              href="javascript:void(0)"
              class="govuk-link govuk-link--no-visited-state"
              (click)="cancelTechRecord()"
            >
              <span>Cancel</span>
            </a>
          </span>
        </ng-container>
      </div>
    </div>

    <!-- Active record status -->
    <ng-container *ngIf="!viewCreateState">
      <vtm-record-status
        [activeRecord]="activeRecord"
        [editState]="isEditable"
        (onScrollToSection)="scrollDownToSection($event)"
      ></vtm-record-status>
    </ng-container>

    <!-- Vehicle Record Identification -->
    <vtm-record-identification
      [vehicleTechRecord]="activeVehicleTechRecord"
      [editState]="isEditable"
      [viewState]="currentState"
    ></vtm-record-identification>

    <div class="open-close-all">
      <div></div>
      <div>
        <a class="govuk-link" (click)="togglePanel()">{{ allOpened ? 'Close' : 'Open' }} all</a>
      </div>
    </div>

    <mat-accordion multi="true" [@.disabled]="true">
      <div [@.disabled]="true">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0 "
          hideToggle="true"
          #summary
          [(expanded)]="panels[0].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple no-animate"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Vehicle summary
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!summary.expanded"
                  id="test-fa-plus-summary"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="summary.expanded"
                  id="test-fa-minus-summary"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-vehicle-summary
            [activeRecord]="activeRecord"
            [editState]="isEditable"
          ></vtm-vehicle-summary>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="isStandardVehicle">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0"
          hideToggle="true"
          #body
          [(expanded)]="panels[1].isOpened"
          [@.disabled]="true"
          [class.mat-expansion-panel-spacing]="false"
        >
          <mat-expansion-panel-header
            class="disable_ripple no-animate"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title [@.disabled]="true" class="no-animate mat-elevation-z0">
              <div
                class="item-technical-record govuk-!-font-weight-bold no-animate"
                [@.disabled]="true"
              >
                Body
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!body.expanded"
                  id="test-fa-plus-body"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="body.expanded"
                  id="test-fa-minus-body"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-body [activeRecord]="activeRecord" [editState]="isEditable"></vtm-body>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="isStandardVehicle">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0"
          hideToggle="true"
          #weights
          [(expanded)]="panels[2].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple no-animate"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold no-animate">
                Weights
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!weights.expanded"
                  id="test-fa-plus-weights"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="weights.expanded"
                  id="test-fa-minus-weights"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-weights [activeRecord]="activeRecord" [editState]="isEditable"> </vtm-weights>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="isStandardVehicle">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0"
          hideToggle="true"
          #tyres
          [(expanded)]="panels[3].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Tyres
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!tyres.expanded"
                  id="test-fa-plus-tyres"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="tyres.expanded"
                  id="test-fa-minus-tyres"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-tyres [activeRecord]="activeRecord" [editState]="isEditable"></vtm-tyres>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="isPsvOrTrlVehicle">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0"
          hideToggle="true"
          #brakes
          [(expanded)]="panels[4].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Brakes
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!brakes.expanded"
                  id="test-fa-plus-brakes"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="brakes.expanded"
                  id="test-fa-minus-brakes"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-brakes
            [brakes]="activeRecord.brakes"
            [axles]="activeRecord.axles"
            [currentVehicleType]="activeRecord.vehicleType"
          ></vtm-brakes>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="activeRecord.vehicleType === 'psv'">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0"
          hideToggle="true"
          #dimensions
          [(expanded)]="panels[5].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                DDA (Disability Discrimination Act)
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!dimensions.expanded"
                  id="test-fa-plus-dimensions"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="dimensions.expanded"
                  id="test-fa-minus-dimensions"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-dda [ddaDetails]="activeRecord.dda"></vtm-dda>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="isStandardVehicle">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0"
          hideToggle="true"
          #dimensions
          [(expanded)]="panels[6].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Dimensions
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!dimensions.expanded"
                  id="test-fa-plus-dimensions"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="dimensions.expanded"
                  id="test-fa-minus-dimensions"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-dimensions [activeRecord]="activeRecord" [editState]="isEditable"></vtm-dimensions>
        </mat-expansion-panel>
      </div>

      <ng-container *ngIf="viewOnlyState || viewEditState">
        <div [@.disabled]="true" *ngIf="isHgvOrTrlVehicle">
          <mat-expansion-panel
            class="custom-header mat-elevation-z0 "
            hideToggle="true"
            #adr
            [(expanded)]="panels[7].isOpened"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-expansion-panel-header
              class="disable_ripple"
              [@.disabled]="true"
              expandedHeight="80px"
              collapsedHeight="80px"
            >
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  ADR
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon
                    *ngIf="!adr.expanded"
                    id="test-fa-plus-adr"
                    [icon]="['fa', 'plus']"
                    size="lg"
                    class="expander-icon"
                  ></fa-icon>
                  <fa-icon
                    *ngIf="adr.expanded"
                    id="test-fa-minus-adr"
                    [icon]="['fa', 'minus']"
                    size="lg"
                    class="expander-icon"
                  ></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- ADR -->
            <vtm-adr
              [params]="adrDisplayParams"
              [editState]="isEditable"
              [activeRecord]="activeRecord"
              [vehicleMetaData]="metaData"
            >
            </vtm-adr>
          </mat-expansion-panel>
        </div>
      </ng-container>

      <div [@.disabled]="true">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0 "
          hideToggle="true"
          #applicant
          [(expanded)]="panels[8].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Applicant
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!applicant.expanded"
                  id="test-fa-plus-applicant"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="applicant.expanded"
                  id="test-fa-minus-applicant"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-applicant
            [applicantDetails]="activeRecord.applicantDetails"
            [editState]="isEditable"
          >
          </vtm-applicant>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="activeRecord.vehicleType === 'trl'">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0 "
          hideToggle="true"
          #purchaser
          [(expanded)]="panels[9].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Purchaser
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!purchaser.expanded"
                  id="test-fa-plus-purchaser"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="purchaser.expanded"
                  id="test-fa-minus-purchaser"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-purchaser [purchaser]="activeRecord.purchaserDetails"></vtm-purchaser>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="activeRecord.vehicleType === 'trl'">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0 "
          hideToggle="true"
          #manufacturer
          [(expanded)]="panels[10].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Manufacturer
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!manufacturer.expanded"
                  id="test-fa-plus-manufacturer"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="manufacturer.expanded"
                  id="test-fa-minus-manufacturer"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-manufacturer [manufacturer]="activeRecord.manufacturerDetails"></vtm-manufacturer>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="activeRecord.vehicleType === 'trl'">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0 "
          hideToggle="true"
          #authorisationIntoService
          [(expanded)]="panels[11].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Authorisation into service
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!authorisationIntoService.expanded"
                  id="test-fa-plus-authorisation-into-service"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="authorisationIntoService.expanded"
                  id="test-fa-minus-authorisation-into-service"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-authorisation-into-service
            [authIntoService]="activeRecord.authIntoService"
          ></vtm-authorisation-into-service>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true" *ngIf="activeRecord.vehicleType === 'trl'">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0 "
          hideToggle="true"
          #lettersOfAuthorisation
          [(expanded)]="panels[12].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Letters of authorisation
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!lettersOfAuthorisation.expanded"
                  id="test-fa-plus-letters-of-authorisation"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="lettersOfAuthorisation.expanded"
                  id="test-fa-minus-letters-of-authorisation"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-letters-of-authorisation
            [lettersOfAuth]="activeRecord.lettersOfAuth"
          ></vtm-letters-of-authorisation>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0 "
          hideToggle="true"
          #documents
          [(expanded)]="panels[13].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Documents
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!documents.expanded"
                  id="test-fa-plus-documents"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="documents.expanded"
                  id="test-fa-minus-documents"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-documents
            [microfilm]="activeRecord?.microfilm"
            [editState]="isEditable"
          ></vtm-documents>
        </mat-expansion-panel>
      </div>

      <div [@.disabled]="true">
        <mat-expansion-panel
          class="custom-header mat-elevation-z0 "
          hideToggle="true"
          #notes
          [(expanded)]="panels[14].isOpened"
          [@.disabled]="true"
        >
          <mat-expansion-panel-header
            class="disable_ripple"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Notes
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon
                  *ngIf="!notes.expanded"
                  id="test-fa-plus-notes"
                  [icon]="['fa', 'plus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
                <fa-icon
                  *ngIf="notes.expanded"
                  id="test-fa-minus-notes"
                  [icon]="['fa', 'minus']"
                  size="lg"
                  class="expander-icon"
                ></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <vtm-notes [activeRecord]="activeRecord" [editState]="isEditable"></vtm-notes>
        </mat-expansion-panel>
      </div>

      <ng-container *ngIf="viewOnlyState || viewEditState">
        <div [@.disabled]="true">
          <mat-expansion-panel
            class="custom-header mat-elevation-z0 "
            hideToggle="true"
            #testHistory
            [(expanded)]="panels[15].isOpened"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-expansion-panel-header
              class="disable_ripple"
              [@.disabled]="true"
              expandedHeight="80px"
              collapsedHeight="80px"
            >
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  Test history
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon
                    *ngIf="!testHistory.expanded"
                    id="test-fa-plus-testHistory"
                    [icon]="['fa', 'plus']"
                    size="lg"
                    class="expander-icon"
                  >
                  </fa-icon>
                  <fa-icon
                    *ngIf="testHistory.expanded"
                    id="test-fa-minus-testHistory"
                    [icon]="['fa', 'minus']"
                    size="lg"
                    class="expander-icon"
                  >
                  </fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <vtm-test-history [testResultJson]="testResultJson"></vtm-test-history>
          </mat-expansion-panel>
        </div>
      </ng-container>

      <ng-container *ngIf="viewOnlyState">
        <div [@.disabled]="true">
          <mat-expansion-panel
            class="custom-header mat-elevation-z0 "
            hideToggle="true"
            #techRecHistory
            [(expanded)]="panels[16].isOpened"
            [@.disabled]="true"
            expandedHeight="80px"
            collapsedHeight="80px"
          >
            <mat-expansion-panel-header
              class="disable_ripple"
              [@.disabled]="true"
              expandedHeight="80px"
              collapsedHeight="80px"
            >
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  Technical record history
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon
                    *ngIf="!techRecHistory.expanded"
                    id="test-fa-plus-techRecHistory"
                    [icon]="['fa', 'plus']"
                    size="lg"
                    class="expander-icon"
                  >
                  </fa-icon>
                  <fa-icon
                    *ngIf="techRecHistory.expanded"
                    id="test-fa-minus-techRecHistory"
                    [icon]="['fa', 'minus']"
                    size="lg"
                    class="expander-icon"
                  >
                  </fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <vtm-tech-rec-history
              [focusedRecord]="activeRecord"
              [vehicleRecord]="vehicleTechRecord"
              (onViewRecord)="techRecordViewHandler($event)"
            ></vtm-tech-rec-history>
          </mat-expansion-panel>
        </div>
      </ng-container>

      <ng-container *ngIf="viewOnlyState || viewEditState">
        <div [@.disabled]="true" *ngIf="isHgvOrTrlVehicle">
          <mat-expansion-panel
            class="custom-header mat-elevation-z0 "
            hideToggle="true"
            #plates
            [(expanded)]="panels[17].isOpened"
            [@.disabled]="true"
          >
            <mat-expansion-panel-header
              class="disable_ripple"
              [@.disabled]="true"
              expandedHeight="80px"
              collapsedHeight="80px"
            >
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  Plates
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon
                    *ngIf="!plates.expanded"
                    id="test-fa-plus-plates"
                    [icon]="['fa', 'plus']"
                    size="lg"
                    class="expander-icon"
                  ></fa-icon>
                  <fa-icon
                    *ngIf="plates.expanded"
                    id="test-fa-minus-plates"
                    [icon]="['fa', 'minus']"
                    size="lg"
                    class="expander-icon"
                  ></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <vtm-plates [plates]="activeRecord.plates"></vtm-plates>
          </mat-expansion-panel>
        </div>
      </ng-container>
    </mat-accordion>
  </form>
</ng-container>

<ng-template #hyphen>
  <span>-</span>
</ng-template>
