<ng-container *ngIf="editableTechRecord$ | async as editableTechRecord">
  <div class="vehicle_heading">
    <h1 class="govuk-heading-l">
      <span>{{ vehicleMakeAndModel }}</span>
      <app-icon [icon]="editableTechRecord.vehicleType || ''"></app-icon>
    </h1>
  </div>

  <dl *ngIf="currentTechRecord$ | async as currentTechRecord" class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle type</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">
        {{ editableTechRecord.vehicleType | uppercase | defaultNullOrEmpty }}
      </dd>
      <ng-container *appRoleRequired="roles.TechRecordAmend">
        <dd *ngIf="!hideActions" class="govuk-summary-list__actions">
          <div class="govuk-summary-list__actions--flex">
            <app-button
              *ngIf="currentTechRecord.statusCode !== 'archived' && currentTechRecord.vehicleType === (editableTechRecord$ | async)?.vehicleType"
              design="link"
              id="change-vrm-link"
              (clicked)="navigateTo('change-vrm')"
              >Change</app-button
            >
          </div>
        </dd>
      </ng-container>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle identification number (VIN)</dt>
      <dd id="vin" class="govuk-summary-list__value">
        {{ currentTechRecord.historicVin ?? vehicle?.vin | defaultNullOrEmpty }}
      </dd>
    </div>

    <ng-container [ngSwitch]="currentTechRecord.vehicleType">
      <ng-container *ngSwitchCase="vehicleTypes.SMALL_TRL"></ng-container>

      <div *ngSwitchCase="vehicleTypes.TRL" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Trailer ID</dt>
        <dd id="trailer-id" class="govuk-summary-list__value">
          {{ vehicle?.trailerId | defaultNullOrEmpty }}
        </dd>
      </div>

      <div *ngSwitchDefault class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Vehicle registration mark (VRM)</dt>
        <dd id="current-vrm" class="govuk-summary-list__value">
          <app-number-plate *ngIf="currentVrm" [vrm]="currentVrm"></app-number-plate>
        </dd>
        <ng-container *ngIf="isVrmEditable(currentTechRecord.statusCode, currentTechRecord.vehicleType, editableTechRecord.vehicleType)">
          <dd *appRoleRequired="roles.TechRecordAmend" class="govuk-summary-list__actions">
            <div class="govuk-summary-list__actions--flex">
              <app-button design="link" id="change-vrm-link" (clicked)="navigateTo('change-vrm')">Change</app-button>
            </div>
          </dd>
        </ng-container>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Previous VRM</dt>
        <dd id="previous-vrm" class="govuk-summary-list__value">
          <app-number-plate
            *ngIf="otherVrms && otherVrms.length"
            class="govuk-body govuk-!margin-bottom-0"
            [vrm]="otherVrms[0].vrm"
            [isSecondary]="true"
          ></app-number-plate>
        </dd>
      </div>
    </ng-container>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Record type</dt>
      <dd id="status-code" class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-phase-banner__content__tag">{{ currentTechRecord.statusCode | defaultNullOrEmpty }}</strong>
      </dd>
      <ng-container *ngIf="!hideActions">
        <dd *appRoleRequired="roles.TechRecordArchive" class="govuk-summary-list__actions">
          <div class="govuk-summary-list__actions--flex">
            <app-button
              *ngIf="queryableActions.includes('archive')"
              design="link"
              id="change-status-to-archive-link"
              (clicked)="navigateTo('change-status', { to: 'archived' })"
              >Archive</app-button
            >
            <app-button
              *ngIf="queryableActions.includes('promote')"
              design="link"
              id="promote-link"
              (clicked)="navigateTo('change-status', { to: 'current' })"
              >Promote</app-button
            >
          </div>
        </dd>
      </ng-container>
    </div>

    <ng-container *ngIf="currentTechRecord.statusCode !== statuses.ARCHIVED">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Record status</dt>
        <dd id="record-completeness" class="govuk-summary-list__value">
          <app-tag [type]="getCompletenessColor(currentTechRecord.recordCompleteness)">
            {{ currentTechRecord.recordCompleteness | uppercase }}
          </app-tag>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Record visibility in VTA</dt>
        <dd id="record-visibility" class="govuk-summary-list__value">
          <app-tag [type]="currentTechRecord.hiddenInVta ? 'red' : 'green'">
            {{ currentTechRecord.hiddenInVta ? 'HIDDEN' : 'VISIBLE' }}
          </app-tag>
        </dd>
        <ng-container *ngIf="!hideActions">
          <dd *appRoleRequired="roles.TechRecordAmend" class="govuk-summary-list__actions">
            <div class="govuk-summary-list__actions--flex">
              <app-button design="link" id="change-record-visibility-in-vta-link" (clicked)="navigateTo('change-vta-visibility')">Change</app-button>
            </div>
          </dd>
        </ng-container>
      </div>
    </ng-container>
  </dl>
</ng-container>
