@media (min-width: 40.0625em) {
  .govuk-summary-list {
    table-layout: auto;
  }

  .govuk-summary-list__key {
    width: 35%;
  }

  .govuk-summary-list__value {
    vertical-align: middle;
  }
}
