.govuk-link {
  cursor: pointer;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list {
    table-layout: auto;
  }

  .govuk-summary-list__key {
    width: 37.5%;
  }

  .govuk-summary-list__value,
  .govuk-summary-list__actions {
    vertical-align: middle;
  }
}
