<ng-container *ngIf="showTable(); else noTable">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      ADR Certificate History
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Time Generated</th>
        <th scope="col" class="govuk-table__header">Created By</th>
        <th scope="col" class="govuk-table__header">Certificate Type</th>
        <th scope="col" class="govuk-table__header">Certificate Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let certificates of getAdrCertificateHistory()">
        <td class="govuk-table__cell">{{certificates.generatedTimestamp}}</td>
        <td class="govuk-table__cell">{{certificates.createdByName}}</td>
        <td class="govuk-table__cell">{{certificates.certificateType}}</td>
        <td class="govuk-table__cell">Link</td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #noTable>
  <h2 class="govuk-heading-m" *ngIf="isAdrVehicleType()">ADR Certificate History</h2>
  <h3 class="govuk-heading-s" *ngIf="isAdrVehicleType() && isArchived()">You are unable to view certificates for archived records.</h3>
  <h3 class="govuk-heading-s" *ngIf="isAdrVehicleType() && !isArchived() && getAdrCertificateHistory().length === 0">No ADR certificates found.</h3>
</ng-template>
