@import 'node_modules/govuk-frontend/govuk/all';

.link {
  border: none;
  padding: 0;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1em;
  font-size: 19px;
  color: $govuk-brand-colour;
  font-weight: 400;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    background-color: transparent;
    color: govuk-colour('dark-blue', $legacy: 'light-blue');
  }
}
