@if (techRecord().techRecord_vehicleType === 'psv') {
  <app-switchable-input [form]="form"
    [type]="editTypes.AUTOCOMPLETE"
    name="techRecord_brakes_dtpNumber"
    label="DTp Number"
    [isEditing]="isEditing()"
    [propOptions$]="dtpNumbers$"
    [width]="widths.L"
    />
  <div class="node-row">
    <app-switchable-input
      [form]="form"
      [type]="editTypes.TEXT"
      name="techRecord_chassisMake"
      label="Chassis make"
      [isEditing]="isEditing()"
      [width]="widths.L"
      >
    </app-switchable-input>
    <app-switchable-input
      [form]="form"
      [type]="editTypes.TEXT"
      name="techRecord_chassisModel"
      label="Chassis model"
      [isEditing]="isEditing()"
      [width]="widths.L"
      >
    </app-switchable-input>
  </div>
  <div class="node-row">
    <app-switchable-input
      [form]="form"
      [type]="editTypes.TEXT"
      name="techRecord_bodyMake"
      label="Body make"
      [isEditing]="isEditing()"
      [width]="widths.L"
    ></app-switchable-input>
    <app-switchable-input
      [form]="form"
      [type]="editTypes.TEXT"
      name="techRecord_bodyModel"
      label="Body model"
      [isEditing]="isEditing()"
      [width]="widths.L"
    ></app-switchable-input>
  </div>
  <div class="node-row">
    <app-switchable-input
      [form]="form"
      [type]="editTypes.TEXT"
      name="techRecord_bodyType_description"
      label="Body type"
      [isEditing]="isEditing()"
      [options]="bodyTypes"
      [width]="widths.L"
      customId="bodyType"
    ></app-switchable-input>
    <app-switchable-input
      [form]="form"
      [type]="editTypes.TEXT"
      name="techRecord_modelLiteral"
      label="Model Literal"
      [isEditing]="isEditing()"
      [width]="widths.L"
    ></app-switchable-input>
  </div>
}

@if (techRecord().techRecord_vehicleType !== 'psv') {
  <app-switchable-input [form]="form"
    [type]="editTypes.TEXT"
    name="techRecord_brakes_dtpNumber"
    label="DTp Number"
    [isEditing]="isEditing()"
    [width]="widths.L"
    />
  <div class="node-row">
    <app-switchable-input
      [form]="form"
      [type]="editTypes.DROPDOWN"
      name="techRecord_make"
      label="Body make"
      [isEditing]="isEditing()"
      [options]="(bodyMakes$ | async) || []"
      [width]="widths.L"
    ></app-switchable-input>
    <app-switchable-input
      [form]="form"
      [type]="editTypes.TEXT"
      name="techRecord_model"
      label="Body model"
      [isEditing]="isEditing()"
      [width]="widths.L"
    ></app-switchable-input>
  </div>
  <app-switchable-input [form]="form"
    [type]="editTypes.DROPDOWN"
    name="techRecord_bodyType_description"
    label="Body type"
    [isEditing]="isEditing()"
    [options]="bodyTypes"
    [width]="widths.L"
    customId="techRecord_bodyType_description"
    />
}

<app-switchable-input [form]="form"
  [type]="editTypes.DROPDOWN"
  name="techRecord_functionCode"
  label="Function code"
  [isEditing]="isEditing()"
  [options]="[
    { value: 'R', label: 'R' },
    { value: 'A', label: 'A' }
  ]"
  [width]="widths.XS"
  />

<app-switchable-input [form]="form"
  [type]="editTypes.TEXT"
  name="techRecord_conversionRefNo"
  appTrimWhitespace
  label="Conversion reference number"
  [isEditing]="isEditing()"
  [width]="widths.L"
  />
