@if (control) {
  <div class="govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-6"></div>
  @for (inspection of formArray.controls; track inspection; let i = $index) {
    <div [formGroup]="inspection">
      <div class="subheading-container">
        <h2 class="govuk-heading-m">Subsequent: {{ i + 1 }}</h2>
      </div>
      <!-- Inspection type -->
      <app-select
        [name]="inspection.meta.children![0].name"
        [label]="inspection.meta.children![0].label"
        [options]="$any(inspection.meta.children![0].options)"
        [formControlName]="inspection.meta.children![0].name"
        [customId]="inspection.meta.children![2].customId"
        (blur)="handleChanges(i)"
        (changes)="handleChanges(i)"
      ></app-select>
      <!-- Inspection cerificate number -->
      <app-text-input
        [name]="inspection.meta.children![1].name"
        [label]="inspection.meta.children![1].label"
        [formControlName]="inspection.meta.children![1].name"
        [customId]="inspection.meta.children![2].customId"
        (blur)="handleChanges(i)"
        (changes)="handleChanges(i)"
      ></app-text-input>
      <!-- Expiry date -->
      <app-date
        [id]="inspection.meta.children![2].customId"
        [name]="inspection.meta.children![2].name"
        [label]="inspection.meta.children![2].label"
        [formControlName]="inspection.meta.children![2].name"
        [customId]="inspection.meta.children![2].customId"
        (blur)="handleChanges(i)"
        (changes)="handleChanges(i)"
        [isoDate]="false"
        [customError]="true"
      ></app-date>
      <p class="flex justify-end govuk-body">
        <a class="govuk-link" role="button" href="javascript:void(0)" (click)="removeSubsequentInspection(i)">Remove</a>
      </p>
    </div>
    <div class="govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-6"></div>
  }
  <p class="govuk-body">
    <a class="govuk-link" role="button" href="javascript:void(0)" (click)="addSubsequentInspection()">Add subsequent inspection</a>
  </p>
}
