@if (viewType() !== formNodeViewTypes.HIDDEN) {
  @if (link()) {
    @if (displayAsRow) {
      <td class="govuk-table__cell" [style.width.%]="30">
        <a class="govuk-link--no-visited-state" target="_blank" [href]="link()">
        {{ label() }}</a>:
      </td>
    }
  } @else {
    @if (displayAsRow) {
      <td class="govuk-table__cell" [ngClass]="control?.meta?.labelClass ?? ''" [style.width.%]="30">{{ label() }}:</td>
    }
  }
  @switch (viewType()) {
    @case (formNodeViewTypes.DATE) {
      <td id="test-{{ name() }}" class="govuk-table__cell">{{ value | date: 'dd/MM/yyyy' | defaultNullOrEmpty }}</td>
    }
    @case (formNodeViewTypes.DATETIME) {
      <td id="test-{{ name() }}" class="govuk-table__cell">{{ value | date: 'dd/MM/yyyy HH:mm' | defaultNullOrEmpty }}</td>
    }
    @case (formNodeViewTypes.TIME) {
      <td id="test-{{ name() }}" class="govuk-table__cell">{{ value | date: 'HH:mm' | defaultNullOrEmpty }}</td>
    }
    @case (formNodeViewTypes.VRM) {
      <td id="test-{{ name() }}" class="govuk-table__cell">
        <app-number-plate [vrm]="value"></app-number-plate>
      </td>
    }
    @case (formNodeViewTypes.CUSTOM) {
      @if (control && control.meta && control.meta.viewComponent) {
        <td colspan="2" id="test-{{ name() }}" class="govuk-table__cell">
          <ng-container [ngComponentOutlet]="control.meta.viewComponent" [ngComponentOutletInjector]="customFormControlInjector"></ng-container>
        </td>
      }
    }
    @default {
      @if (name() === 'reasonForAbandoning') {
        @let reasons = value?.split(ABANDON_REASONS_REGEX) || [];
        <td [id]="customId() ? 'test-' + customId() : 'test-' + name()" class="govuk-table__cell break-all whitespace-pre-line">
          @for (reason of reasons; track reason;let index = $index;) {
            <tr [id]="customId() ? 'test-' + customId() + index : 'test-' + name() + index" class="break-all whitespace-pre-line padding-vertical-half">
              {{ reason | refDataDecode$: control?.meta?.referenceData | async | getControlLabel: control?.meta?.options | defaultNullOrEmpty }}.
            </tr>
          }
        </td>
      } @else {
        <td [id]="customId() ? 'test-' + customId() : 'test-' + name()" class="govuk-table__cell break-all whitespace-pre-line">
          {{ value | refDataDecode$: control?.meta?.referenceData | async | getControlLabel: control?.meta?.options | defaultNullOrEmpty }}
        </td>
      }
    }
  }
}
