@if (viewType !== formNodeViewTypes.HIDDEN) {
  @if (displayAsRow) {
    <td class="govuk-table__cell" [style.width.%]="30">{{ label }}:</td>
  }
  @switch (viewType) {
    @case (formNodeViewTypes.DATE) {
      <td id="test-{{ name }}" class="govuk-table__cell">{{ value | date : 'dd/MM/yyyy' | defaultNullOrEmpty }}</td>
    }
    @case (formNodeViewTypes.DATETIME) {
      <td id="test-{{ name }}" class="govuk-table__cell">{{ value | date : 'dd/MM/yyyy HH:mm' | defaultNullOrEmpty }}</td>
    }
    @case (formNodeViewTypes.TIME) {
      <td id="test-{{ name }}" class="govuk-table__cell">{{ value | date : 'HH:mm' | defaultNullOrEmpty }}</td>
    }
    @case (formNodeViewTypes.VRM) {
      <td id="test-{{ name }}" class="govuk-table__cell">
        <app-number-plate [vrm]="value"></app-number-plate>
      </td>
    }
    <!-- TODO: remove entirely, and use custom view component -->
    @case (formNodeViewTypes.ADR_EXAMINER_NOTES) {
      <td class="govuk-table__cell">
        @if (value && value.length > 0) {
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr>
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Created By</th>
                <th scope="col" class="govuk-table__header">Notes</th>
              </tr>
              @for (result of value; track result; let i = $index; let isLast = $last) {
                @if (i < 3) {
                  <tr>
                    <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
                      {{ result.createdAtDate | date : 'dd/MM/yyyy' | defaultNullOrEmpty }}
                    </td>
                    <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">{{ result.lastUpdatedBy }}</td>
                    <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">{{ result.note }}</td>
                  </tr>
                }
              }
            </tbody>
          </table>
        }
        @if (!value || value.length === 0) {
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row border-b-0">
              <dt class="govuk-summary-list__key">No additional examiner notes history available</dt>
            </div>
          </dl>
        }
      </td>
    }
    @case (formNodeViewTypes.CUSTOM) {
      @if (control && control.meta && control.meta.viewComponent) {
        <td colspan="2" id="test-{{ name }}" class="govuk-table__cell">
          <ng-container [ngComponentOutlet]="control.meta.viewComponent" [ngComponentOutletInjector]="customFormControlInjector"></ng-container>
        </td>
      }
    }
    @default {
      <td [id]="customId ? 'test-' + customId : 'test-' + name" class="govuk-table__cell">
        {{ value | refDataDecode$ : control?.meta?.referenceData | async | getControlLabel : control?.meta?.options | defaultNullOrEmpty }}
      </td>
    }
  }
}
