<div class="govuk-form-group">
  <h1 *ngIf="label" class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="{{ name }}">{{ label }}</label>
  </h1>
  <div *ngIf="hint" id="{{ name }}-hint" class="govuk-hint">{{ hint }}</div>
  <app-field-error-message [error]="error" [name]="name"></app-field-error-message>
  <div class="govuk-input__wrapper">
    <input
      *ngIf="!numeric"
      class="govuk-input"
      id="{{ name }}"
      name="{{ name }}"
      type="text"
      [(ngModel)]="value"
      [disabled]="disabled"
      (ngModelChange)="onChange($event)"
      (blur)="onTouched(); handleEvent($event)"
      (focus)="handleEvent($event)"
    />
    <input
      *ngIf="numeric"
      class="govuk-input"
      id="{{ name }}"
      name="{{ name }}"
      type="text"
      [(ngModel)]="value"
      [disabled]="disabled"
      (ngModelChange)="onChange($event)"
      (blur)="onTouched(); handleEvent($event)"
      (focus)="handleEvent($event)"
      appNumberOnly
    />
    <div *ngIf="suffix" class="govuk-input__suffix" aria-hidden="true">
      <ng-container [ngTemplateOutlet]="suffix.templateRef"></ng-container>
    </div>
  </div>
</div>
