<div [ngClass]="{ 'govuk-form-group': !noBottomMargin() }">
  @if (label()) {
    <label class="flex flex-wrap gap-2 govuk-label govuk-label--m" for="{{ name() }}">
      {{ label() }}
      <div class="flex flex-wrap gap-2">
        @for (tag of control?.meta?.customTags; track tag) {
          <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
        }
      </div>
    </label>
  }

  @if (hint()) {
    <div id="{{ name() }}-hint" class="govuk-hint">{{ hint() }}</div>
  }

  <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
  <app-field-error-message [error]="warning()" [name]="name()"></app-field-error-message>

  <div class="govuk-input__wrapper">
    @if (prefix(); as prefix) {
      <div class="govuk-input__suffix prefix" aria-hidden="true">
        <ng-container [ngTemplateOutlet]="prefix.templateRef"></ng-container>
      </div>
    }

    @if (!numeric()) {
      <input
        [id]="customId() ?? name()"
        name="{{ name() }}"
        type="text"
        [class]="style"
        [(ngModel)]="value"
        [disabled]="disabled"
        (ngModelChange)="onChange($event)"
        (blur)="onTouched(); handleEvent($event); blur.emit($event)"
        (focus)="handleEvent($event)"
        appToUppercase
        appNoEmojis
        [uppercase]="uppercase() || false"
        />
    }

    @if (numeric()) {
      <input
        [id]="customId() ?? name()"
        name="{{ name() }}"
        type="text"
        [class]="style"
        [(ngModel)]="value"
        [disabled]="disabled"
        (ngModelChange)="onChange($event)"
        (blur)="onTouched(); handleEvent($event); blur.emit($event)"
        (focus)="handleEvent($event)"
        appNumberOnly
        appNoEmojis
        />
    }

    @if (suffix(); as suffix) {
      <div class="govuk-input__suffix" aria-hidden="true">
        <ng-container [ngTemplateOutlet]="suffix.templateRef"></ng-container>
      </div>
    }
  </div>
</div>
