<ng-container *ngIf="!editState">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" *ngIf="techRecord.vehicleType !== 'psv'">
      <dt class="govuk-summary-list__key">Notes</dt>
      <dd id="test-notes" class="govuk-summary-list__value">
        <span class="notes-section">{{ notes | DefaultNullOrEmpty }}</span>
      </dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="techRecord.vehicleType === 'psv'">
      <dt class="govuk-summary-list__key">Remarks</dt>
      <dd id="test-remarks" class="govuk-summary-list__value">
        <span class="notes-section">{{ techRecord.remarks | DefaultNullOrEmpty }}</span>
      </dd>
    </div>

    <div
      class="govuk-summary-list__row"
      *ngIf="techRecord.vehicleType !== 'trl' && techRecord.vehicleType !== 'hgv'"
    >
      <dt class="govuk-summary-list__key">Dispensations</dt>
      <dd id="test-dispensations" class="govuk-summary-list__value">
        <span class="notes-section">{{ techRecord.dispensations | DefaultNullOrEmpty }}</span>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="editState">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <vtm-notes-edit [notesDetails]="notes"></vtm-notes-edit>
      </dt>
    </div>
  </dl>
</ng-container>
