@import 'node_modules/govuk-frontend/govuk/all';

.govuk-button {
  &--link {
    border: none;
    border-bottom: 1px solid $govuk-brand-colour;
    color: $govuk-brand-colour;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}
