<ng-container *ngIf="techRecordEdited && techRecordChanges && vehicleType">
  <app-banner>
    <ng-container title>Important</ng-container>
    <ng-container content>Check your changes before submitting the technical record</ng-container>
  </app-banner>

  <app-icon [icon]="techRecordEdited.techRecord_vehicleType || ''"></app-icon>

  <!-- Vehicle Summary -->
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle identification number (VIN)</dt>
      <dd class="govuk-summary-list__value" id="test-vin">
        {{ techRecordEdited.vin | defaultNullOrEmpty }}
      </dd>
    </div>
    <div class="govuk-summary-list__row" *ngIf="techRecordEdited.techRecord_vehicleType === 'trl'">
      <dt class="govuk-summary-list__key">TrailerID</dt>
      <dd class="govuk-summary-list__value" id="test-trailerId">
        {{ techRecordEdited.trailerId | defaultNullOrEmpty }}
      </dd>
    </div>
    <div class="govuk-summary-list__row" *ngIf="techRecordEdited.techRecord_vehicleType !== 'trl'">
      <dt class="govuk-summary-list__key">Vehicle registration mark (VRM)</dt>
      <dd class="govuk-summary-list__value" id="test-primaryVrm">
        {{ techRecordEdited.primaryVrm | defaultNullOrEmpty }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle type</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_vehicleType">
        {{ $any(techRecordEdited.techRecord_vehicleType) | formatVehicleType | defaultNullOrEmpty }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Year of manufacture</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_manufactureYear">
        {{ techRecordEdited.techRecord_manufactureYear | defaultNullOrEmpty }}
      </dd>
    </div>
    <div class="govuk-summary-list__row" *ngIf="techRecordEdited.techRecord_vehicleType === 'psv'">
      <dt class="govuk-summary-list__key">Make</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_chassisMake">
        {{ techRecordEdited.techRecord_chassisMake | defaultNullOrEmpty }}
      </dd>
    </div>
    <div class="govuk-summary-list__row" *ngIf="techRecordEdited.techRecord_vehicleType === 'psv'">
      <dt class="govuk-summary-list__key">Model</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_chassisModel">
        {{ techRecordEdited.techRecord_chassisModel | defaultNullOrEmpty }}
      </dd>
    </div>
    <div class="govuk-summary-list__row" *ngIf="techRecordEdited.techRecord_vehicleType !== 'psv'">
      <dt class="govuk-summary-list__key">Make</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_make">
        {{
          techRecordEdited.techRecord_vehicleType === 'trl' || techRecordEdited.techRecord_vehicleType === 'hgv'
            ? (techRecordEdited.techRecord_make | defaultNullOrEmpty)
            : '-'
        }}
      </dd>
    </div>
    <div class="govuk-summary-list__row" *ngIf="techRecordEdited.techRecord_vehicleType !== 'psv'">
      <dt class="govuk-summary-list__key">Model</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_model">
        {{
          techRecordEdited.techRecord_vehicleType === 'trl' || techRecordEdited.techRecord_vehicleType === 'hgv'
            ? (techRecordEdited.techRecord_model | defaultNullOrEmpty)
            : '-'
        }}
      </dd>
    </div>
  </dl>

  <app-accordion-control [class]="'padding'" [sectionState]="sectionTemplatesState$ | async">
    <ng-container *ngFor="let section of customVehicleTemplate; let i = index">
      <app-accordion [id]="section.name" [title]="section.label" [isExpanded]="isSectionExpanded$(section.name) | async">
        <ng-template [ngTemplateOutlet]="accordion" [ngTemplateOutletContext]="{ sectionName: section.name, section: section }"></ng-template>
      </app-accordion>
    </ng-container>
  </app-accordion-control>

  <ng-template #accordion let-sectionName="sectionName" let-section="section">
    <ng-container [ngSwitch]="sectionName">
      <ng-container *ngSwitchCase="'notes'">
        <ng-container *ngIf="featureToggleService.isFeatureEnabled('FsNotes'); else oldNotes">
          <app-notes-section [techRecord]="techRecordEdited" mode="summary" />
        </ng-container>

        <ng-template #oldNotes>
          <app-dynamic-form-group [data]="techRecordChanges" [template]="section"></app-dynamic-form-group>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'techRecordSummary'">
        <!-- New Vehicle Summary section -->
        <ng-container *ngIf="featureToggleService.isFeatureEnabled('FsVehicleSummary'); else oldTechRecordSummary">
          <app-vehicle-section [techRecord]="techRecordEdited" mode="summary" />
        </ng-container>

        <!-- Old Vehicle Summary section -->
        <ng-template #oldTechRecordSummary>
          <app-dynamic-form-group [data]="techRecordChanges" [template]="section"></app-dynamic-form-group>
        </ng-template>

      </ng-container>

      <ng-container *ngSwitchCase="'bodySection'">
        <!-- New Body section -->
        <ng-container *ngIf="featureToggleService.isFeatureEnabled('FsBody')">
          <app-body-section [techRecord]="techRecordEdited" mode="summary" />
        </ng-container>

        <!-- Old Body section -->
        <ng-template #oldBodySection>
          <app-body [techRecord]="techRecordEdited" [disableLoadOptions]="true"></app-body>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'dimensionsSection'">
        <app-dimensions
          *ngIf="
            techRecordEdited.techRecord_vehicleType === 'hgv' ||
            techRecordEdited.techRecord_vehicleType === 'psv' ||
            techRecordEdited.techRecord_vehicleType === 'trl'
          "
          [techRecord]="techRecordEdited"
        ></app-dimensions>
      </ng-container>

      <ng-container *ngSwitchCase="'approvalSection'">
        <ng-container
          *ngIf="
            techRecordEdited.techRecord_vehicleType === 'hgv' ||
            techRecordEdited.techRecord_vehicleType === 'psv' ||
            techRecordEdited.techRecord_vehicleType === 'trl'
          "
        >
          <app-approval-type [techRecord]="techRecordEdited"></app-approval-type>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'psvBrakesSection'">
        <app-psv-brakes *ngIf="techRecordEdited.techRecord_vehicleType === 'psv'" [vehicleTechRecord]="techRecordEdited"></app-psv-brakes>
      </ng-container>

      <ng-container *ngSwitchCase="'trlBrakesSection'">
        <app-trl-brakes *ngIf="techRecordEdited.techRecord_vehicleType === 'trl'" [vehicleTechRecord]="techRecordEdited"></app-trl-brakes>
      </ng-container>

      <ng-container *ngSwitchCase="'tyreSection'">
        <ng-container
          *ngIf="
            techRecordEdited.techRecord_vehicleType === 'hgv' ||
            techRecordEdited.techRecord_vehicleType === 'psv' ||
            techRecordEdited.techRecord_vehicleType === 'trl'
          "
        >
          <!-- New Tyres section -->
          <ng-container *ngIf="featureToggleService.isFeatureEnabled('FsTyres'); else oldTyresSection">
            <app-tyres-section [techRecord]="techRecordEdited" [mode]="'summary'"></app-tyres-section>
          </ng-container>

          <!-- Old Tyres section -->
          <ng-template #oldTyresSection>
            <app-tyres [vehicleTechRecord]="techRecordEdited"></app-tyres>
          </ng-template>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'weightsSection'">
        <ng-container
          *ngIf="
            techRecordEdited.techRecord_vehicleType === 'hgv' ||
            techRecordEdited.techRecord_vehicleType === 'psv' ||
            techRecordEdited.techRecord_vehicleType === 'trl'
          "
        >
          <ng-container *ngIf="deletedAxles.length > 0; else noDeleted">
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You removed an axle.
              </strong>
            </div>
            <!-- New Weights section -->
            <ng-container *ngIf="featureToggleService.isFeatureEnabled('FsWeights'); else oldWeightsSection">
              <app-weights-section [techRecord]="techRecordEdited" [mode]="'summary'"/>
            </ng-container>

            <!-- Old Weights section -->
            <ng-template #oldWeightsSection>
              <app-weights [vehicleTechRecord]="techRecordEdited"></app-weights>
            </ng-template>
          </ng-container>

          <ng-template #noDeleted>
            <!-- New Weights section -->
            <ng-container *ngIf="featureToggleService.isFeatureEnabled('FsWeights'); else oldModifiedWeightsSection">
              <app-weights-section [techRecord]="techRecordEdited" [mode]="'summary'"/>
            </ng-container>

            <!-- Old Weights section -->
            <ng-template #oldModifiedWeightsSection>
              <app-modified-weights *ngIf="changesForWeights" [vehicleType]="vehicleType" [changes]="changesForWeights"></app-modified-weights>
            </ng-template>
          </ng-template>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'adrSection'">
        <ng-container
          *ngIf="
            techRecordEdited.techRecord_vehicleType === 'hgv' ||
            techRecordEdited.techRecord_vehicleType === 'trl' ||
            techRecordEdited.techRecord_vehicleType === 'lgv'
          "
        >
          <ng-container *ngIf="featureToggleService.isFeatureEnabled('FsAdr'); else oldADRSection">
            <app-adr-section [techRecord]="techRecordEdited" mode="summary" />
          </ng-container>
          <ng-template #oldADRSection>
            <app-adr [techRecord]="techRecordEdited" [isReviewScreen]="true" />
          </ng-template>
        </ng-container>
      </ng-container>

      <app-dynamic-form-group *ngSwitchDefault [data]="techRecordChanges" [template]="section"></app-dynamic-form-group>
    </ng-container>
  </ng-template>
</ng-container>

<app-button-group>
  <app-button [id]="'submit'" (clicked)="submit()">Submit</app-button>
  <app-button [id]="'cancel'" design="link" (clicked)="cancel()">Cancel</app-button>
</app-button-group>
