@if (techRecordEdited(); as techRecordEdited) {
  <app-banner>
    <ng-container title>Important</ng-container>
    <ng-container content>Check your changes before submitting the technical record</ng-container>
  </app-banner>

  <app-icon [icon]="techRecordEdited.techRecord_vehicleType || ''" />
  <app-dynamic-form-group [data]="techRecordEdited" [template]="vehicleSummary" />

  <app-accordion-control [class]="'padding'" [sectionState]="sectionTemplatesState">
    @for (section of customVehicleTemplate(); track $index) {
      <app-accordion [id]="section.name" [title]="section.label" [isExpanded]="sectionTemplatesState.includes(section.name)">
        @switch (section.name) {
          @case ('bodySection') {
            <app-body *ngSwitchCase="'bodySection'" [techRecord]="techRecordEdited" [disableLoadOptions]="true" />
          }

          @case ('dimensionsSection') {
            @if (
              techRecordEdited.techRecord_vehicleType === 'hgv' ||
              techRecordEdited.techRecord_vehicleType === 'psv' ||
              techRecordEdited.techRecord_vehicleType === 'trl'
            ) {
              <app-dimensions [techRecord]="techRecordEdited" />
            }
          }

          @case ('approvalSection') {
            @if (
              techRecordEdited.techRecord_vehicleType === 'hgv' ||
              techRecordEdited.techRecord_vehicleType === 'psv' ||
              techRecordEdited.techRecord_vehicleType === 'trl'
            ) {
              <app-approval-type [techRecord]="techRecordEdited" />
            }
          }

          @case ('psvBrakesSection') {
            @if (techRecordEdited.techRecord_vehicleType === 'psv') {
              <app-psv-brakes *ngIf="techRecordEdited.techRecord_vehicleType === 'psv'" [vehicleTechRecord]="techRecordEdited" />
            }
          }

          @case ('trlBrakesSection') {
            @if (techRecordEdited.techRecord_vehicleType === 'trl') {
              <app-trl-brakes [vehicleTechRecord]="techRecordEdited" />
            }
          }

          @case ('tyreSection') {
            @if (
              techRecordEdited.techRecord_vehicleType === 'hgv' ||
              techRecordEdited.techRecord_vehicleType === 'psv' ||
              techRecordEdited.techRecord_vehicleType === 'trl'
            ) {
              <app-tyres [vehicleTechRecord]="techRecordEdited" />
            }
          }

          @case ('weightsSection') {
            @if (
              techRecordEdited.techRecord_vehicleType === 'hgv' ||
              techRecordEdited.techRecord_vehicleType === 'psv' ||
              techRecordEdited.techRecord_vehicleType === 'trl'
            ) {
              @if (deletedAxles().length > 0) {
                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    You removed an axle.
                  </strong>
                </div>
                <app-weights [vehicleTechRecord]="techRecordEdited" />
              } @else {
                @if (changesForWeights(); as changesForWeights) {
                  <app-modified-weights *ngIf="changesForWeights" [vehicleType]="vehicleType()!" [changes]="changesForWeights" />
                }
              }
            }
          }

          @case ('adrSection') {
            @if (
              techRecordEdited.techRecord_vehicleType === 'hgv' ||
              techRecordEdited.techRecord_vehicleType === 'trl' ||
              techRecordEdited.techRecord_vehicleType === 'lgv'
            ) {
              <app-adr [techRecord]="techRecordEdited" [isReviewScreen]="true" />
            }
          }

          @default {
            <app-dynamic-form-group [data]="techRecordChanges" [template]="section" />
          }
        }
      </app-accordion>
    }
  </app-accordion-control>
}

<app-button-group>
  <app-button [id]="'submit'" (clicked)="submit()">Submit</app-button>
  <app-button [id]="'cancel'" design="link" (clicked)="cancel()">Cancel</app-button>
</app-button-group>
