@if (axleTemplate) {
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Axles
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__cell"></th>
        @for (column of axleTemplate; track column) {
          <th scope="col" class="govuk-table__header">{{ column.label }}</th>
        }
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      @for (entry of changes().techRecord_axles | keyvalue; track entry) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Axle {{ +entry.key + 1 }}</td>
          @for (column of axleTemplate; track column) {
            <td class="govuk-table__cell">
              {{ $any(entry.value)[column.name] }}
            </td>
          }
        </tr>
      }
      @if (hgvAndtrlGrossAxleChanged && hgvChanges) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <b>Gross</b>
          </td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_grossGbWeight }}</td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_grossEecWeight }}</td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_grossDesignWeight }}</td>
        </tr>
      }
      @if (hgvAndtrlGrossAxleChanged && trlChanges) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <b>Gross</b>
          </td>
          <td class="govuk-table__cell">{{ trlChanges.techRecord_grossGbWeight }}</td>
          <td class="govuk-table__cell">{{ trlChanges.techRecord_grossEecWeight }}</td>
          <td class="govuk-table__cell">{{ trlChanges.techRecord_grossDesignWeight }}</td>
        </tr>
      }
      @if (psvGrossAxleChanged && psvChanges) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <b>Gross</b>
          </td>
          <td class="govuk-table__cell">{{ psvChanges.techRecord_grossKerbWeight }}</td>
          <td class="govuk-table__cell">{{ psvChanges.techRecord_grossLadenWeight }}</td>
          <td class="govuk-table__cell">{{ psvChanges.techRecord_grossGbWeight }}</td>
          <td class="govuk-table__cell">{{ psvChanges.techRecord_grossDesignWeight }}</td>
        </tr>
      }
      @if (hgvTrainAxleChanged && hgvChanges) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <b>Train</b>
          </td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_trainGbWeight }}</td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_trainEecWeight }}</td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_trainDesignWeight }}</td>
        </tr>
      }
      @if (psvTrainAxleChanged && psvChanges) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <b>Train</b>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">{{ psvChanges.techRecord_maxTrainGbWeight }}</td>
          <td class="govuk-table__cell">{{ psvChanges.techRecord_trainDesignWeight }}</td>
        </tr>
      }
      @if (maxTrainAxleChanged && hgvChanges) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <b>Max Train</b>
          </td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_maxTrainGbWeight }}</td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_maxTrainEecWeight }}</td>
          <td class="govuk-table__cell">{{ hgvChanges.techRecord_maxTrainDesignWeight }}</td>
        </tr>
      }
    </tbody>
  </table>
}
