<ng-container *ngIf="!editState">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">COC issue date</dt>
      <dd id="test-cocIssueDate" class="govuk-summary-list__value">
        <span *ngIf="authIntoService?.cocIssueDate; else hyphen">
          {{ authIntoService?.cocIssueDate | date: 'dd/MM/yyyy' }}
        </span>
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date received</dt>
      <dd id="test-dateReceived" class="govuk-summary-list__value">
        <span *ngIf="authIntoService?.dateReceived; else hyphen">
          {{ authIntoService?.dateReceived | date: 'dd/MM/yyyy' }}
        </span>
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date pending</dt>
      <dd id="test-datePending" class="govuk-summary-list__value">
        <span *ngIf="authIntoService?.datePending; else hyphen">
          {{ authIntoService?.datePending | date: 'dd/MM/yyyy' }}
        </span>
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date authorised</dt>
      <dd id="test-dateAuthorised" class="govuk-summary-list__value">
        <span *ngIf="authIntoService?.datePending; else hyphen">
          {{ authIntoService?.dateAuthorised | date: 'dd/MM/yyyy' }}
        </span>
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date rejected</dt>
      <dd id="test-dateRejected" class="govuk-summary-list__value">
        <span *ngIf="authIntoService?.dateRejected; else hyphen">
          {{ authIntoService?.dateRejected | date: 'dd/MM/yyyy' }}
        </span>
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
  </dl>
</ng-container>
<ng-template #hyphen>
  <span>-</span>
</ng-template>

<ng-container *ngIf="editState">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <vtm-auth-into-service-edit
          [authIntoServiceEditDetails]="authIntoService"
        ></vtm-auth-into-service-edit>
      </dt>
    </div>
  </dl>
</ng-container>
