<h2 class="govuk-heading-l">{{ makeAndModel }}</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Vehicle type</dt>
    <dd id="vehicleType" class="govuk-summary-list__value">
      {{ vehicleType | defaultNullOrEmpty | uppercase }}
    </dd>
  </div>

  @if (techRecord?.techRecord_vehicleType === VehicleTypes.TRL) {
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">TrailerID</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">
        <app-number-plate [vrm]="$any(techRecord)?.trailerId | defaultNullOrEmpty" />
      </dd>
    </div>
  } @else {
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VRM</dt>
      @if (currentVrm) {
        <app-number-plate [vrm]="currentVrm"></app-number-plate>
      }
    </div>
  }

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">VIN/chassis number</dt>
    <dd id="vehicleType" class="govuk-summary-list__value">{{ techRecord?.vin | defaultNullOrEmpty }}</dd>
  </div>
</dl>

<form [formGroup]="form">
  <app-select
    #selectVehicleType
    formControlName="selectVehicleType"
    name="change-vehicle-type-select"
    label="Select a new vehicle type"
    [options]="vehicleTypeOptions"
  ></app-select>

  @if (selectVehicleType.value) {
    <h1 class="govuk-heading-xl">Are you sure you want to change this Vehicle type?</h1>
    <p class="govuk-body">
      You are about to change a {{ vehicleType | uppercase }} to a {{ selectVehicleType.value | uppercase }} provisional technical record.
    </p>
  }

  <div class="buttons-row">
    <app-button id="confirm-and-continue-button" (clicked)="handleSubmit(selectVehicleType.value)">Confirm and continue</app-button>

    <app-button design="link" data-module="govuk-button" (clicked)="navigateBack()">Back</app-button>
  </div>
</form>
