<table class="govuk-table table-details">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header">GB weight (kg)</th>
    <th scope="col" class="govuk-table__header">Design weight (kg)</th>
    <th class="govuk-table__cell"></th>
    <th class="govuk-table__cell"></th>
    <th class="govuk-table__cell"></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th class="govuk-table__cell govuk-!-font-weight-bold">Gross</th>
    <td id="test-grossGbWeight" class="govuk-table__cell">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.grossGbWeight) ? "-" : activeRecord.grossGbWeight }}
    </td>
    <td id="test-grossDesignWeight" class="govuk-table__cell">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.grossDesignWeight) ? "-" : activeRecord.grossDesignWeight }}
    </td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row" *ngIf="activeRecord.vehicleType == 'hgv'">
    <th class="govuk-table__cell govuk-!-font-weight-bold">Train</th>
    <td id="test-trainGbWeight" class="govuk-table__cell">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.trainGbWeight) ? "-" : activeRecord.trainGbWeight }}
    </td>
    <td id="test-trainDesignWeight" class="govuk-table__cell">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.trainDesignWeight) ? "-" : activeRecord.trainDesignWeight }}
    </td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row" *ngIf="activeRecord.vehicleType == 'hgv'">
    <th class="govuk-table__cell govuk-!-font-weight-bold">Max train</th>
    <td id="test-maxTrainGbWeight" class="govuk-table__cell">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.maxTrainGbWeight) ? "-" : activeRecord.maxTrainGbWeight }}
    </td>
    <td id="test-minTrainGbWeight" class="govuk-table__cell">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.maxTrainDesignWeight) ? "-" : activeRecord.maxTrainDesignWeight }}
    </td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row" *ngFor="let axelNo of activeRecord.axles">
    <th class="govuk-table__cell govuk-!-font-weight-bold">Axle
      {{ techRecHelpers.isNullOrEmpty(axelNo.axleNumber) ? "-" : axelNo.axleNumber }}</th>
    <td id="{{ 'test-gbWeight-' + axelNo.axleNumber }}" class="govuk-table__cell">
      {{ techRecHelpers.isNullOrEmpty(axelNo.weights.gbWeight) ? "-" : axelNo.weights.gbWeight }}</td>
    <td id="{{ 'test-designWeight-' + axelNo.axleNumber }}" class="govuk-table__cell">
      {{ techRecHelpers.isNullOrEmpty(axelNo.weights.designWeight) ? "-" : axelNo.weights.designWeight}}</td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
  </tr>
  </tbody>
</table>
