<div [formGroup]="form">

  <!-- Vehicle Type -->
  <div govukFormGroup>
    <h1>
      <label tag for="techRecord_vehicleType"> Vehicle type <div>
        <app-tag [type]="TagType.RED">{{ TagTypeLabels.REQUIRED }}</app-tag>
      </div></label>
    </h1>
    <input id="techRecord_vehicleType" [width]="FormNodeWidth.XS" govukInput formControlName="techRecord_vehicleType" />
  </div>

  <!--  Date of First Registration Here -->

  <div govukFormGroup>
    <h1>
      <label tag for="techRecord_manufactureYear"> Year of manufacture <div>
        <app-tag [type]="TagType.PURPLE">{{ TagTypeLabels.PLATES }}</app-tag>
      </div></label>
    </h1>
    <p
      id="techRecord_manufactureYear-error"
      class="govuk-error-message"
      *ngIf="isInvalid('techRecord_manufactureYear')"
    >
      <span class="govuk-visually-hidden">Error:</span>
      <span *ngIf="form.get('techRecord_manufactureYear')?.getError('min') as error">{{ error }}</span>
      <span *ngIf="form.get('techRecord_manufactureYear')?.getError('pastYear') as error">{{ error }}</span>
    </p>
    <input appNumberOnly inputmode="numeric" type="number" spellcheck="false" id="techRecord_manufactureYear" [width]="FormNodeWidth.XS" govukInput formControlName="techRecord_manufactureYear" />
  </div>

  <!-- Number of Axles -->
  <div govukFormGroup>
    <h1>
      <label tag for="techRecord_noOfAxles"> Number of axles <div>
        <app-tag [type]="TagType.RED">{{ TagTypeLabels.REQUIRED }}</app-tag>
      </div></label>
    </h1>
    <input id="techRecord_noOfAxles" [width]="FormNodeWidth.XXS" govukInput formControlName="techRecord_noOfAxles" />
  </div>

  <div class="flex-row">
    <!-- Speed limiter exempt -->
    <div govukFormGroup>
      <h1>
        <label tag>
          Speed limiter exempt
          <div>
            <app-tag [type]="TagType.PURPLE">{{ TagTypeLabels.PLATES }}</app-tag>
          </div>
        </label>
      </h1>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item" *ngFor="let option of ExemptOrNotOptions">
          <input
            type="radio"
            id="techRecord_speedLimiterMrk-{{ option.value }}-radio"
            formControlName="techRecord_speedLimiterMrk"
            class="govuk-radios__input"
            [value]="option.value"
          />
          <label
            class="govuk-label govuk-radios__label"
            for="techRecord_speedLimiterMrk-{{ option.value }}-radio'"
          >
            {{ option.label }}
          </label>
        </div>
      </div>
    </div>

    <!-- Tacho exempt -->
    <div govukFormGroup>
      <h1>
        <label>
          Tacho exempt
        </label>
      </h1>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item" *ngFor="let option of ExemptOrNotOptions">
          <input
            type="radio"
            id="techRecord_tachoExemptMrk-{{ option.value }}-radio"
            formControlName="techRecord_tachoExemptMrk"
            class="govuk-radios__input"
            [value]="option.value"
          />
          <label
            class="govuk-label govuk-radios__label"
            for="techRecord_tachoExemptMrk-{{ option.value }}-radio'"
          >
            {{ option.label }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- Euro standard -->
  <div govukFormGroup>
    <h1>
      <label>
        Euro standard
      </label>
    </h1>
    <div data-module="govuk-radios" class="govuk-radios">
      <div class="govuk-radios__item" *ngFor="let option of euroStandardOptions">
        <input
          class="govuk-radios__input"
          type="radio"
          id="techRecord_euroStandard-{{ option.value }}-radio"
          formControlName="techRecord_euroStandard"
          [value]="option.value"
        />
        <label
          class="govuk-label govuk-radios__label"
          for="techRecord_euroStandard-{{ option.value }}-radio'"
        >
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>


  <!-- Speed limiter exempt -->
  <div govukFormGroup>
    <h1>
      <label tag>
        Road friendly suspension
        <div>
          <app-tag [type]="TagType.PURPLE">{{ TagTypeLabels.PLATES }}</app-tag>
        </div>
      </label>
    </h1>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" *ngFor="let option of ExemptOrNotOptions">
        <input
          type="radio"
          id="techRecord_roadFriendly-{{ option.value }}-radio"
          formControlName="techRecord_roadFriendly"
          class="govuk-radios__input"
          [value]="option.value"
        />
        <label
          class="govuk-label govuk-radios__label"
          for="techRecord_roadFriendly-{{ option.value }}-radio'"
        >
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>

  <!-- Fuel / propulsion system -->
  <div govukFormGroup>
    <h1>
      <label> Fuel / propulsion system </label>
    </h1>
    <app-control-errors for="techRecord_fuelPropulsionSystem" />
    <select govukSelect formControlName="techRecord_fuelPropulsionSystem">
      <option [value]="option.value" *ngFor="let option of fuelPropulsionSystemOptions">{{ option.label }}</option>
    </select>
  </div>

  <!-- Drawbar coupling fitted -->
  <div govukFormGroup>
    <h1>
      <label>
        Drawbar coupling fitted
      </label>
    </h1>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" *ngFor="let option of YesNoOptions">
        <input
          type="radio"
          id="techRecord_drawbarCouplingFitted-{{ option.value }}-radio"
          formControlName="techRecord_drawbarCouplingFitted"
          class="govuk-radios__input"
          [value]="option.value"
        />
        <label
          class="govuk-label govuk-radios__label"
          for="techRecord_drawbarCouplingFitted-{{ option.value }}-radio'"
        >
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>

  <!--  Vehicle class -->
  <div govukFormGroup>
    <h1>
      <label tag>
        Vehicle class
        <div>
          <app-tag [type]="TagType.RED">{{ TagTypeLabels.REQUIRED }}</app-tag>
        </div>
      </label>
    </h1>
    <app-control-errors for="techRecord_vehicleClass_description" />
    <select govukSelect formControlName="techRecord_vehicleClass_description">
      <option [value]="option.value" *ngFor="let option of vehicleClassDescriptionOptions">{{ option.label }}</option>
    </select>
  </div>

  <!--  Vehicle configuration-->
  <div govukFormGroup>
    <h1>
      <label tag>
        Vehicle configuration
        <div>
          <app-tag [type]="TagType.RED">{{ TagTypeLabels.REQUIRED }}</app-tag>
        </div>
        <div>
          <app-tag [type]="TagType.PURPLE">{{ TagTypeLabels.PLATES }}</app-tag>
        </div>
      </label>
    </h1>
    <app-control-errors for="techRecord_vehicleConfiguration" />
    <select govukSelect formControlName="techRecord_vehicleConfiguration">
      <option [value]="option.value" *ngFor="let option of vehicleConfigurationOptions">{{ option.label }}</option>
    </select>
  </div>

  <!-- Off road vehicle -->
  <div govukFormGroup>
    <h1>
      <label>
        Off road vehicle
      </label>
    </h1>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" *ngFor="let option of YesNoOptions">
        <input
          type="radio"
          id="techRecord_offRoad-{{ option.value }}-radio"
          formControlName="techRecord_offRoad"
          class="govuk-radios__input"
          [value]="option.value"
        />
        <label
          class="govuk-label govuk-radios__label"
          for="techRecord_offRoad-{{ option.value }}-radio'"
        >
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>

  <!-- EU Category -->
  <div govukFormGroup>
    <h1>
      <label>EU vehicle category</label>
    </h1>
    <app-control-errors for="techRecord_euVehicleCategory" />
    <select govukSelect [width]="FormNodeWidth.XXS" formControlName="techRecord_euVehicleCategory">
      <option [value]="option.value" *ngFor="let option of EUCategoryOptions">{{ option.label }}</option>
    </select>
  </div>

  <!-- Emission Limit -->
  <div govukFormGroup>
    <h1>
      <label tag for="techRecord_emissionsLimit">Emission limit (m-1) (plate value)</label>
    </h1>
    <app-control-errors for="techRecord_emissionsLimit" />
    <input type="number" spellcheck="false" id="techRecord_emissionsLimit" [width]="FormNodeWidth.XXS" govukInput formControlName="techRecord_emissionsLimit" />
  </div>

  <!-- PSV Only Fields -->
  <div govukFormGroup *ngIf="techRecord()?.techRecord_vehicleType === VehicleTypes.PSV">
    <h1>
      <label>Seats:</label>
    </h1>
    <div class="flex-row">
      <!-- Upper Deck -->
      <div govukFormGroup>
        <h1>
          <label tag for="techRecord_seatsUpperDeck">
            Upper deck
            <div>
              <app-tag [type]="TagType.RED">{{ TagTypeLabels.REQUIRED }}</app-tag>
            </div>
          </label>
        </h1>
        <input appNumberOnly inputmode="numeric" type="number" spellcheck="false" id="techRecord_seatsUpperDeck" [width]="FormNodeWidth.XS" govukInput formControlName="techRecord_seatsUpperDeck" />
      </div>

      <!-- Lower Deck -->
      <div govukFormGroup>
        <h1>
          <label tag for="techRecord_seatsLowerDeck">
            Lower deck
            <div>
              <app-tag [type]="TagType.RED">{{ TagTypeLabels.REQUIRED }}</app-tag>
            </div>
          </label>
        </h1>
        <input appNumberOnly inputmode="numeric" type="number" spellcheck="false" id="techRecord_seatsLowerDeck" [width]="FormNodeWidth.XS" govukInput formControlName="techRecord_seatsLowerDeck" />
      </div>
    </div>
  </div>

  <!-- Departmental vehicle marker -->
  <div govukFormGroup>
    <h1>
      <label>
        Departmental vehicle marker
      </label>
    </h1>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" *ngFor="let option of YesNoOptions">
        <input
          type="radio"
          id="techRecord_departmentalVehicleMarker-{{ option.value }}-radio"
          formControlName="techRecord_departmentalVehicleMarker"
          class="govuk-radios__input"
          [value]="option.value"
        />
        <label
          class="govuk-label govuk-radios__label"
          for="techRecord_departmentalVehicleMarker-{{ option.value }}-radio'"
        >
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>

  <!-- Alteration marker -->
  <div govukFormGroup>
    <h1>
      <label>
        Alteration marker
      </label>
    </h1>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" *ngFor="let option of YesNoOptions">
        <input
          type="radio"
          id="techRecord_alterationMarker-{{ option.value }}-radio"
          formControlName="techRecord_alterationMarker"
          class="govuk-radios__input"
          [value]="option.value"
        />
        <label
          class="govuk-label govuk-radios__label"
          for="techRecord_alterationMarker-{{ option.value }}-radio'"
        >
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>
</div>
