<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Make
    </dt>
    <dd id="test-bodyMake" class="govuk-summary-list__value">
      {{ activeRecord.bodyMake | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Model
    </dt>
    <dd id="test-bodyModel" class="govuk-summary-list__value">
      {{ activeRecord.bodyModel | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Model literal
    </dt>
    <dd id="test-modelLiteral" class="govuk-summary-list__value">
      {{ activeRecord.modelLiteral | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Chassis make
    </dt>
    <dd id="test-chassisMake" class="govuk-summary-list__value">
      {{ activeRecord.chassisMake | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Chassis model
    </dt>
    <dd id="test-chassisModel" class="govuk-summary-list__value">
      {{ activeRecord.chassisModel | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>
