<form [formGroup]="form">
  <h1 class="govuk-heading-l title">Select the vehicle type to process a batch</h1>

  <app-radio-group
    #vehicleType
    name="vehicle-type"
    label="Vehicle type"
    formControlName="vehicleType"
    [options]="vehicleTypeOptions"
  ></app-radio-group>

  @if (vehicleType.value === 'trl') {
    <app-radio-group
      name="tes1-tes2"
      label="Trailer form type"
      formControlName="tes1Tes2"
      [options]="tes1Tes2Options"
    ></app-radio-group>
  }

  <app-button id="create-batch-continue" (clicked)="handleSubmit(vehicleType.value)">Continue</app-button>

  <app-button design="link" data-module="govuk-button" (clicked)="cancel()">Back</app-button>
</form>
