{
  "root": true,
  "ignorePatterns": ["projects/**/*", "**.stories.ts"],
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["tsconfig.json"],
        "createDefaultProgram": true
      },
      "extends": [
        "plugin:import/errors", 
        "plugin:import/warnings", 
        "plugin:import/typescript",
        "plugin:deprecation/recommended",
        "@dvsa/eslint-config-ts"
      ],
      "rules": {
        "import/no-named-default": "off",
        "no-param-reassign": "off",
        "@typescript-eslint/lines-between-class-members": "off",
        "@typescript-eslint/naming-convention": "off",
        "@typescript-eslint/dot-notation": "off",
        "implicit-arrow-linebreak": "off",
        "no-unused-expressions": "warn",
        "@typescript-eslint/no-unused-expressions": "warn",
        "class-methods-use-this": "off",
        "consistent-return": "off",
        "arrow-body-style": "off",
        "padded-blocks": "off",
        "array-callback-return": "off",
        "no-console": ["warn", { "allow": ["error"] }],
        "no-confusing-arrow": "off",
        "import/prefer-default-export": "off",
        "quotes": ["error", "single"],
        "max-len": ["error", { "code": 150 }],
        "@typescript-eslint/no-unsafe-argument": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-unsafe-return": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/restrict-template-expressions": "off",
        "no-void": ["error", { "allowAsStatement": true }],
        "@typescript-eslint/no-unsafe-enum-comparison": "off"
      }
    },
    {
      "files": ["*.spec.ts"],
      "parserOptions": {
        "project": ["tsconfig.json"],
        "createDefaultProgram": true
      },
      "extends": ["plugin:import/errors", "plugin:import/warnings", "plugin:import/typescript", "@dvsa/eslint-config-ts"],
      "rules": {
        "import/no-named-default": "off",
        "no-param-reassign": "off",
        "@typescript-eslint/lines-between-class-members": "off",
        "@typescript-eslint/naming-convention": "off",
        "@typescript-eslint/dot-notation": "off",
        "implicit-arrow-linebreak": "off",
        "no-unused-expressions": "warn",
        "@typescript-eslint/no-unused-expressions": "warn",
        "class-methods-use-this": "off",
        "consistent-return": "off",
        "arrow-body-style": "off",
        "padded-blocks": "off",
        "array-callback-return": "off",
        "no-console": ["warn", { "allow": ["error"] }],
        "no-confusing-arrow": "off",
        "import/prefer-default-export": "off",
        "quotes": ["error", "single"],
        "max-len": ["error", { "code": 150 }],
        "@typescript-eslint/no-unsafe-argument": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "jest/no-done-callback": "off",
        "jest/expect-expect": ["error", { "assertFunctionNames": ["expect", "expectObservable"]}],
        "@typescript-eslint/no-unsafe-return": "off",
        "@typescript-eslint/restrict-template-expressions": "off"
      }
    },
    {
      "files": ["*.html", "*.scss"],
      "extends": ["plugin:@angular-eslint/template/recommended", "prettier"],
      "plugins": ["prettier"],
      "rules": {
        "prettier/prettier": ["error", {}, {}]
      }
    }
  ]
}
