{
  "root": true,
  "ignorePatterns": ["projects/**/*", "**.spec.ts"],
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["tsconfig.json"],
        "createDefaultProgram": true
      },
      "extends": ["plugin:import/errors", "plugin:import/warnings", "plugin:import/typescript", "@dvsa/eslint-config-ts"],
      "rules": {
        "@typescript-eslint/lines-between-class-members": "off",
        "no-return-assign": "off",
        "consistent-return": "off",
        "no-param-reassign": "off"
      }
    },
    {
      "files": ["*.html", "*.scss"],
      "extends": ["plugin:@angular-eslint/template/recommended", "prettier"],
      "plugins": ["prettier"],
      "rules": {
        "prettier/prettier": ["error", {}, {}]
      }
    }
  ]
}
