<div [formGroup]="form">
  <govuk-form-group-date
    label="COC issue date"
    formControlName="techRecord_authIntoService_cocIssueDate"
  ></govuk-form-group-date>

  <govuk-form-group-date
    label="Date received"
    formControlName="techRecord_authIntoService_dateReceived"
  ></govuk-form-group-date>

  <govuk-form-group-date
    label="Date pending"
    formControlName="techRecord_authIntoService_datePending"
  ></govuk-form-group-date>

  <govuk-form-group-date
    label="Date authorised"
    formControlName="techRecord_authIntoService_dateAuthorised"
  ></govuk-form-group-date>

  <govuk-form-group-date
    label="Date rejected"
    formControlName="techRecord_authIntoService_dateRejected"
  ></govuk-form-group-date>
</div>
