<section *ngIf="testResult$ | async as testResult">
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">Amended Test Record - created at {{ testResult.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
    </div>
  </div>

  <app-base-test-record [edit]="(edit$ | async) || false" [testResult]="testResult"></app-base-test-record>

  <section class="section">
    <app-defects [isEditing]="(edit$ | async) || false" [data$]="defectsData$"></app-defects>
  </section>
</section>
