@if (amendedTechRecord(); as vm) {
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Axle weights (kg)
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
          <th scope="col" class="govuk-table__header">Kerb</th>
          <th scope="col" class="govuk-table__header">Laden</th>
          <th scope="col" class="govuk-table__header">GB max</th>
          <th scope="col" class="govuk-table__header">Design</th>
        } @else {
          <th scope="col" class="govuk-table__header">GB weight</th>
          <th scope="col" class="govuk-table__header">EEC (optional)</th>
          <th scope="col" class="govuk-table__header">Design weight</th>
        }
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <!-- Normal Axles -->
      @for (axle of vm.techRecord_axles; track axle) {
        @if (hasAxleChanged(axle)) {
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Axle {{ axle.axleNumber }}</th>
            @if (vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL) {
              <td class="govuk-table__cell">{{ axle.weights_gbWeight | defaultNullOrEmpty  }}</td>
              <td class="govuk-table__cell">{{ $any(axle).weights_eecWeight | defaultNullOrEmpty  }}</td>
              <td class="govuk-table__cell">{{ axle.weights_designWeight | defaultNullOrEmpty  }}</td>
            }
            @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
              <td class="govuk-table__cell">{{ $any(axle).weights_kerbWeight | defaultNullOrEmpty  }}</td>
              <td class="govuk-table__cell">{{ $any(axle).weights_ladenWeight | defaultNullOrEmpty  }}</td>
              <td class="govuk-table__cell">{{ axle.weights_gbWeight | defaultNullOrEmpty  }}</td>
              <td class="govuk-table__cell">{{ axle.weights_designWeight | defaultNullOrEmpty  }}</td>
            }
          </tr>
        }
      }
      @if (vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL) {
        @if (hasHGVOrTRLGrossAxleChanged()) {
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Gross</th>
            <td class="govuk-table__cell">{{ vm.techRecord_grossGbWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_grossEecWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_grossDesignWeight | defaultNullOrEmpty  }}</td>
          </tr>
        }
      }
      @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
        @if (hasPsvGrossAxleChanged()) {
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Gross</th>
            <td class="govuk-table__cell">{{ vm.techRecord_grossKerbWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_grossLadenWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_grossGbWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_grossDesignWeight | defaultNullOrEmpty  }}</td>
          </tr>
        }
      }
      @if (vm.techRecord_vehicleType === VehicleTypes.HGV) {
        @if (hasHgvTrainAxleChanged()) {
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Train</th>
            <td class="govuk-table__cell">{{ vm.techRecord_trainGbWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_trainEecWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_trainDesignWeight | defaultNullOrEmpty  }}</td>
          </tr>
        }
      }
      @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
        @if (hasPsvTrainAxleChanged()) {
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Train</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">{{ vm.techRecord_maxTrainGbWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_trainDesignWeight | defaultNullOrEmpty  }}</td>
          </tr>
        }
      }
      @if (vm.techRecord_vehicleType === VehicleTypes.HGV) {
        @if (hasMaxTrainAxleChanged()) {
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Max Train</th>
            <td class="govuk-table__cell">{{ vm.techRecord_maxTrainGbWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_maxTrainEecWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_maxTrainDesignWeight | defaultNullOrEmpty  }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
  @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
    @if (tcs.hasChanged('techRecord_unladenWeight')) {
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Unladen weight
          </dt>
          <dd class="govuk-summary-list__value">
            {{ vm.techRecord_unladenWeight | defaultNullOrEmpty:'kg' }}
          </dd>
        </div>
      </dl>
    }
  }
}
