<ng-container *ngIf="breadcrumbs$ | async as breadcrumbs">
  <div *ngIf="breadcrumbs.length" class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" [routerLink]="['']">Home</a>
      </li>
      <li *ngFor="let breadcrumb of breadcrumbs; let last = last; trackBy: trackByFn" class="govuk-breadcrumbs__list-item">
        <a *ngIf="!last; else current" class="govuk-breadcrumbs__link" [routerLink]="'/' + breadcrumb.path">{{ breadcrumb.label }}</a>
        <ng-template #current>
          <a class="govuk-breadcrumbs__link govuk-breadcrumbs__link--current">{{ breadcrumb.label }}</a>
        </ng-template>
      </li>
    </ol>
  </div>
</ng-container>
