@import 'node_modules/govuk-frontend/govuk/all';

.govuk-breadcrumbs__link {
  &:hover:not(.govuk-breadcrumbs__link--current) {
    color: govuk-colour('black');
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
  }
}
