<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" [routerLink]="['']">Home</a>
    </li>
    <ng-container *ngFor="let breadcrumb of breadcrumbs$ | async; let last = last">
      <li class="govuk-breadcrumbs__list-item">
        <a *ngIf="!last; else current" class="govuk-breadcrumbs__link" [routerLink]="breadcrumb.path">{{ breadcrumb.label }}</a>
      </li>
      <ng-template #current>
        <a class="govuk-breadcrumbs__link">{{ breadcrumb.label }}</a>
      </ng-template>
    </ng-container>
  </ol>
</div>
