<div class="govuk-grid-row search-page" *appRoleRequired="roles.TechRecordView">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-xl govuk-!-font-weight-bold">Search for a technical record</p>
  </div>

  <div class="govuk-grid-column-full">
    <div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': getInlineErrorMessage('search-term') | async }">
      <label class="govuk-label govuk-!-font-weight-bold" for="search-term">
        Vehicle registration mark, trailer ID or vehicle identification number
      </label>

      <ng-container *ngTemplateOutlet="error; context: { $implicit: 'search-term' }"></ng-container>

      <input
        #searchTerm
        appToUppercase
        appNoSpace
        appTrimWhitespace
        id="search-term"
        name="search-term"
        aria-describedby="search-term"
        type="text"
        class="govuk-input govuk-!-width-two-thirds"
        [ngClass]="{ 'govuk-input--error': getInlineErrorMessage('search-term') | async }"
        (keyup.enter)="navigateSearch(searchTerm.value, searchType.value)"
        />
    </div>

    <div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': getInlineErrorMessage('search-type') | async }">
      <label class="govuk-label govuk-!-font-weight-bold" for="type">Search criteria</label>

      <ng-container *ngTemplateOutlet="error; context: { $implicit: 'search-type' }"></ng-container>

      <select
        #searchType
        id="type"
        name="type"
        class="govuk-select govuk-!-width-two-thirds"
        [ngClass]="{ 'govuk-input--error': getInlineErrorMessage('search-term') | async }"
        >
        <option value="all" selected>Vehicle registration mark, trailer ID or vehicle identification number</option>
        <option value="vin">Vehicle identification number (VIN)</option>
        <option value="partialVin">Partial vehicle identification number (Partial VIN)</option>
        <option value="primaryVrm">Vehicle registration mark (VRM)</option>
        <option value="trailerId">Trailer ID</option>
      </select>
    </div>

    <app-button (clicked)="navigateSearch(searchTerm.value, searchType.value)">Search</app-button>
  </div>
</div>

<ng-template #error let-name>
  @if (globalErrorService.errors$ | async; as errorMessages) {
    @if (getErrorByName(errorMessages, name); as errorMessage) {
      <span id="search-term-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>
        <p class="white-space--normal">{{ errorMessage.error }}</p>
      </span>
    }
  }
</ng-template>
