@if (test(); as test) {
  @if (techRecord(); as techRecord) {
    @if (testTypesService.canTestTypeBeCreated(test.id)) {
      <app-banner>
        <ng-container title>Important</ng-container>
        <ng-container content>
          <p>Creating this type of test is not currently supported</p>
          <app-button id="test-back" type="link" design="link" [routerLink]="['..']">Back</app-button>
        </ng-container>
      </app-banner>
    }

    <app-vehicle-header [testResult]="form.getRawValue()" [isEditing]="true" />

    <form [formGroup]="form">
      <app-accordion-control>
        <!-- Vehicle Details -->
        @if (testTypesService.canHaveVehicleDetails(form.getRawValue())) {
          <app-accordion id="vehicleDetails" title="Vehicle Details">
            <app-vehicle-details [form]="form" [techRecord]="techRecord" />
          </app-accordion>
        }

        <!-- Test -->
        @if (testTypesService.canHaveTestDetails(form.getRawValue())) {
          <app-accordion id="testSection" title="Test">
            <app-test [form]="form" />
          </app-accordion>
        }

        <!-- Visit -->
        @if (testTypesService.canHaveVisitDetails(form.getRawValue())) {
          <app-accordion id="visitSection" title="Visit">
            <app-visit [form]="form" />
          </app-accordion>
        }

        <!-- Seatbelt (select PSV tests only) -->
        @if (testTypesService.canHaveSeatbeltDetails(form.getRawValue())) {
          <app-accordion id="seatbeltSection" title="Seatbelt">
            <app-seatbelt [form]="form" />
          </app-accordion>
        }

        <!-- Notes -->
        @if (testTypesService.canHaveNotes(form.getRawValue())) {
          <app-accordion id="notesSection" title="Notes">
            <app-notes [form]="form" />
          </app-accordion>
        }

        <!-- Defects -->
        @if (testTypesService.canHaveDefects(form.getRawValue())) {
          <app-accordion id="defects" title="Defects">
            <app-defects [form]="form" />
          </app-accordion>
        }

        <!-- Emissions (select PSV tests only) -->
        @if (testTypesService.canHaveEmissions(form.getRawValue())) {
          <app-accordion id="emissionsSection" title="Emissions">
            <app-emissions [form]="form" />
          </app-accordion>
        }

        <!-- Required Standards (IVA/MSVSA tests only) -->
        @if (testTypesService.canHaveRequiredStandards(form.getRawValue())) {
          <app-accordion id="requiredStandards" title="Required Standards">
            <app-required-standards [form]="form" />
          </app-accordion>
        }

        <!-- Custom Defects (COIF tests only) -->
        @if (testTypesService.canHaveCustomDefects(form.getRawValue())) {
          <app-accordion id="customDefectsSection" title="Custom Defects">
            <app-custom-defects [form]="form" />
          </app-accordion>
        }

        <!-- Additional Defects -->
        @if (testTypesService.canHaveAdditionalDefects(form.getRawValue())) {
          <app-accordion id="additionalDefectsSection" title="Additional Defects">
            <app-additional-defects [form]="form" />
          </app-accordion>
        }

        <!-- Reason for creation -->
        @if (testTypesService.canHaveReasonForCreation(form.getRawValue())) {
          <app-accordion id="reasonForCreationSection" title="Reason for creation">
            <app-reason-for-creation [form]="form" />
          </app-accordion>
        }
      </app-accordion-control>

      <div class="govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-6"></div>

      <app-button-group>
        <app-button id="review-test-result" (clicked)="review()">Review</app-button>
        <app-button id="abandon-test-result" type="button" design="secondary" (clicked)="abandon()">
          Mark as abandoned
        </app-button>
      </app-button-group>
    </form>
  }
}