<dl class="technical-record-sub-details govuk-summary-list ">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Make
    </dt>
    <dd id="test-make" class="govuk-summary-list__value">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.make) ? "-" : activeRecord.make}}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Model
    </dt>
    <dd id="test-model" class="govuk-summary-list__value">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.model) ? "-" : activeRecord.model}}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Body type
    </dt>
    <dd id="test-bodyTypeDescription" class="govuk-summary-list__value">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.bodyType.description) ? "-" : activeRecord.bodyType.description | titlecase}}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row" *ngIf="activeRecord.vehicleType == 'hgv'">
    <dt class="govuk-summary-list__key">
      Function
    </dt>
    <dd id="test-functionCode" class="govuk-summary-list__value">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.functionCode) ? "-" : activeRecord.functionCode }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Conversion reference number
    </dt>
    <dd id="test-conversionRefNo" class="govuk-summary-list__value">
      {{ techRecHelpers.isNullOrEmpty(activeRecord.conversionRefNo) ? "-" : activeRecord.conversionRefNo }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>
