<div class="records-container mat-elevation-z8">
  <div class="records-container-title">
    <div class="records-container-title-spacer">
      <div class="record-search-title-text">Technical records from searched (vin/vrm) {{searchIdentifier}}</div>
      <div>
        <ion-searchbar #q placeholder="Search (vin/vrm)" (keyup.enter)="searchTechRecords(q.value)">
        </ion-searchbar>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(techRecordsJson$ | async) as techRecordsJson; else loading">
  <div *ngIf="(testResultJson$ | async) as testResultJson; else loading">

    <div class="govuk-width-container left-pad">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-thirds float-left">
            <h1 class="govuk-heading-xl title">Technical record</h1>
            <div class="grid-container-technical-record-status">
              <div class="grid-item-technical-record-status rectangle"></div>
              <div class="grid-item-technical-record-status govuk-!-font-weight-bold govuk-!-font-size-19 ">Status</div>
              <div
                class="grid-item-technical-record-status govuk-!-font-weight-regular govuk-body govuk-!-font-size-19 grid-item-technical-record-status-value">
                {{techRecordsJson.techRecord[0].statusCode | titlecase}}
              </div>
              <div class="grid-item-technical-record-status"></div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="auto-pad">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key main-details">
            Vehicle identification number (VIN)
          </dt>
          <dd class="govuk-summary-list__value">
            {{techRecordsJson.vin}}
          </dd>
          <dd class="govuk-summary-list__value"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key main-details">
            Vehicle registration mark (VRM)
          </dt>
          <dd class="govuk-summary-list__value">
            <ul *ngFor="let vrmItem of techRecordsJson.vrms | IsPrimaryVrm: true  ">
              {{vrmItem.vrm}}
            </ul>
          </dd>
          <dd class="govuk-summary-list__value"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key main-details">
            Previous VRM
          </dt>
          <dd class="govuk-summary-list__value">
            <ul *ngFor="let vrmItem of techRecordsJson.vrms | IsPrimaryVrm: false  ">
              {{vrmItem.vrm}}
            </ul>
          </dd>
          <dd class="govuk-summary-list__value"></dd>
        </div>
      </dl>
    </div>
    <div class="auto-pad">
      <div class="open-close-all">
        <div></div>
        <div>
          <a class="govuk-link" (click)='togglePanel()'>{{panelOpenState ? 'Close' : 'Open'}} all</a>
        </div>
      </div>
    </div>

    <mat-accordion multi="true" [@.disabled]="true">
      <div class="auto-pad" [@.disabled]="true">
        <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #summary
                             [(expanded)]="panelOpenState" [@.disabled]="true">
          <mat-expansion-panel-header class="disable_ripple no-animate" [@.disabled]="true" expandedHeight="80px"
                                      collapsedHeight="80px">
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Vehicle summary
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon *ngIf="!summary.expanded" [icon]="['fa', 'plus'] " size="lg" class="expander-icon"></fa-icon>
                <fa-icon *ngIf="summary.expanded" [icon]="['fa', 'minus'] " size="lg" class="expander-icon"></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <dl class="technical-record-sub-details govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Vehicle type
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].vehicleType == null ? "-" : techRecordsJson.techRecord[0].vehicleType}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National type approval number
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].ntaNumber == null ? "-" : techRecordsJson.techRecord[0].ntaNumber}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of first registration
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].regnDate == null ? "-" : techRecordsJson.techRecord[0].regnDate | date:'dd/MM/y'}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Year of manufacture
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].manufactureYear == null ? "-" : techRecordsJson.techRecord[0].manufactureYear }}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of axles
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].noOfAxles == null ? "-" : techRecordsJson.techRecord[0].noOfAxles }}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                DTp number
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].dtpNumber == null ? "-" : techRecordsJson.techRecord[0].dtpNumber}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Parking brake fitted
              </dt>
              <dd class="govuk-summary-list__value">
                <div *ngIf="techRecordsJson.techRecord[0].parkingBrakeMrk; then thenTemplateName else elseTemplateName">
                </div>
                <ng-template #thenTemplateName>
                  <p *ngFor="let axelNo of techRecordsJson.techRecord[0].axles"> Axle {{axelNo.axleNumber}}</p>
                </ng-template>
                <ng-template #elseTemplateName>
                  <p> - </p>
                </ng-template>
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Speed limiter exempt
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].speedLimiterMrk == null ? "-" : techRecordsJson.techRecord[0].speedLimiterMrk}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tacho exempt
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].tachoExemptMrk == null ? "-" : techRecordsJson.techRecord[0].tachoExemptMrk}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Euro standard
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].euroStandard == null ? "-" : techRecordsJson.techRecord[0].euroStandard}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Road friendly suspension
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].roadFriendly == null ? "-" : techRecordsJson.techRecord[0].roadFriendly}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Drawbar coupling fitted
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].drawbarCouplingFitted == null ? "-" : techRecordsJson.techRecord[0].drawbarCouplingFitted}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Vehicle class
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].vehicleClass.description == null ? "-" : techRecordsJson.techRecord[0].vehicleClass.description}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Vehicle configuration
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].vehicleConfiguration == null ? "-" : techRecordsJson.techRecord[0].vehicleConfiguration}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
          </dl>
        </mat-expansion-panel>
      </div>
      <div class="auto-pad" [@.disabled]="true">
        <mat-expansion-panel class="custom-header mat-elevation-z0" hideToggle="true" #body
                             [(expanded)]="panelOpenState2" [@.disabled]="true"
                             [class.mat-expansion-panel-spacing]="false">
          <mat-expansion-panel-header class="disable_ripple no-animate" [@.disabled]="true" expandedHeight="80px"
                                      collapsedHeight="80px">
            <mat-panel-title [@.disabled]="true" class="no-animate mat-elevation-z0">
              <div class="item-technical-record govuk-!-font-weight-bold no-animate" [@.disabled]="true">
                Body
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon *ngIf="!body.expanded" [icon]="['fa', 'plus']" size="lg" class="expander-icon"></fa-icon>
                <fa-icon *ngIf="body.expanded" [icon]="['fa', 'minus']" size="lg" class="expander-icon"></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <dl class="technical-record-sub-details govuk-summary-list ">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Make
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].bodyMake == null ? "-" : techRecordsJson.techRecord[0].bodyMake}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Model
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].bodyModel == null ? "-" : techRecordsJson.techRecord[0].bodyModel}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Body type
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].bodyType.description == null ? "-" : techRecordsJson.techRecord[0].bodyType.description | titlecase}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'hgv'">
              <dt class="govuk-summary-list__key">
                Function
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].functionCode == null ? "-" : techRecordsJson.techRecord[0].functionCode}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Conversion reference number
              </dt>
              <dd class="govuk-summary-list__value">
                {{techRecordsJson.techRecord[0].conversionRefNo == null ? "-" : techRecordsJson.techRecord[0].conversionRefNo}}
              </dd>
              <dd class="govuk-summary-list__value"></dd>
            </div>
          </dl>
        </mat-expansion-panel>
      </div>
      <div class="auto-pad" [@.disabled]="true">
        <mat-expansion-panel class="custom-header mat-elevation-z0" hideToggle="true" #weights
                             [(expanded)]="panelOpenState3" [@.disabled]="true">
          <mat-expansion-panel-header class="disable_ripple no-animate" [@.disabled]="true" expandedHeight="80px"
                                      collapsedHeight="80px">
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold no-animate">
                Weights
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon *ngIf="!weights.expanded" [icon]="['fa', 'plus']" size="lg" class="expander-icon"></fa-icon>
                <fa-icon *ngIf="weights.expanded" [icon]="['fa', 'minus']" size="lg" class="expander-icon"></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <table class="govuk-table table-details">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header">GB weight (kg)</th>
              <th scope="col" class="govuk-table__header">Design weight (kg)</th>
              <th class="govuk-table__cell"></th>
              <th class="govuk-table__cell"></th>
              <th class="govuk-table__cell"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Gross</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].grossGbWeight == null ? "-" : techRecordsJson.techRecord[0].grossGbWeight }}</td>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].grossDesignWeight == null ? "-" : techRecordsJson.techRecord[0].grossDesignWeight }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'hgv'">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Train</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].trainGbWeight == null ? "-" : techRecordsJson.techRecord[0].trainGbWeight }}</td>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].trainDesignWeight == null ? "-" : techRecordsJson.techRecord[0].trainDesignWeight }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'hgv'">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Max train</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].maxTrainGbWeight == null ? "-" : techRecordsJson.techRecord[0].maxTrainGbWeight }}</td>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].maxTrainDesignWeight == null ? "-" : techRecordsJson.techRecord[0].maxTrainDesignWeight }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row" *ngFor="let axelNo of techRecordsJson.techRecord[0].axles">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Axle {{axelNo.axleNumber == null ? "-" : axelNo.axleNumber}}</th>
                <td class="govuk-table__cell">{{axelNo.weights.gbWeight == null ? "-" : axelNo.weights.gbWeight}}</td>
                <td class="govuk-table__cell">{{axelNo.weights.designWeight == null ? "-" : axelNo.weights.designWeight}}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </div>
      <div class="auto-pad" [@.disabled]="true">
        <mat-expansion-panel class="custom-header mat-elevation-z0" hideToggle="true" #tyres
                             [(expanded)]="panelOpenState4" [@.disabled]="true">
          <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                      collapsedHeight="80px">
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Tyres
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon *ngIf="!tyres.expanded" [icon]="['fa', 'plus']" size="lg" class="expander-icon"></fa-icon>
                <fa-icon *ngIf="tyres.expanded" [icon]="['fa', 'minus']" size="lg" class="expander-icon"></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <table class="govuk-table table-details">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Tyre use code</th>
                <th class="govuk-table__cell">{{ techRecordsJson.techRecord[0].tyreUseCode == null ? "-" : techRecordsJson.techRecord[0].tyreUseCode }}</th>
                <th class="govuk-table__cell"></th>
                <th class="govuk-table__cell"></th>
                <th class="govuk-table__cell"></th>
                <th class="govuk-table__cell"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Tyre code</td>
                <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Tyre size</td>
                <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Ply rating</td>
                <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Fitment code</td>
                <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Load index</td>
              </tr>
              <tr class="govuk-table__row" *ngFor="let axelNo of techRecordsJson.techRecord[0].axles">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Axle {{axelNo.axleNumber == null ? "-" : axelNo.axleNumber}}</th>
                <td class="govuk-table__cell">{{axelNo.tyres.tyreCode == null ? "-" : axelNo.tyres.tyreCode}}</td>
                <td class="govuk-table__cell">{{axelNo.tyres.tyreSize == null ? "-" : axelNo.tyres.tyreSize}}</td>
                <td class="govuk-table__cell">{{axelNo.tyres.plyRating == null ? "-" : axelNo.tyres.plyRating}}</td>
                <td class="govuk-table__cell">{{axelNo.tyres.fitmentCode == null ? "-" : axelNo.tyres.fitmentCode}}</td>
                <td class="govuk-table__cell">{{axelNo.tyres.dataTrAxles == null ? "-" : axelNo.tyres.dataTrAxles}}</td>
              </tr>
            </tbody>
          </table>

        </mat-expansion-panel>
      </div>
      <div class="auto-pad" [@.disabled]="true">
        <mat-expansion-panel class="custom-header mat-elevation-z0" hideToggle="true" #dimensions
                             [(expanded)]="panelOpenState5" [@.disabled]="true">
          <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                      collapsedHeight="80px">
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Dimensions
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon *ngIf="!dimensions.expanded" [icon]="['fa', 'plus']" size="lg" class="expander-icon"></fa-icon>
                <fa-icon *ngIf="dimensions.expanded" [icon]="['fa', 'minus']" size="lg" class="expander-icon"></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <table class="govuk-table table-details">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Length (mm)</th>
                <th class="govuk-table__cell">{{ techRecordsJson.techRecord[0].dimensions.length == null ? "-" : techRecordsJson.techRecord[0].dimensions.length}}</th>
                <th class="govuk-table__cell"></th>
                <th class="govuk-table__cell"></th>
                <th class="govuk-table__cell"></th>
                <th class="govuk-table__cell"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Width (mm)</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].dimensions.width == null ? "-" : techRecordsJson.techRecord[0].dimensions.width}}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Front axle to rear axle</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].frontAxleToRearAxle == null ? "-" : techRecordsJson.techRecord[0].frontAxleToRearAxle }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Rear axle to rear trailer</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].rearAxleToRearTrl == null ? "-" : techRecordsJson.techRecord[0].rearAxleToRearTrl }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell"></th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Minimum (mm)</td>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Maximum (mm)</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell govuk-!-font-weight-bold"> Front of vehicle to 5th wheel coupling</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].frontVehicleTo5thWheelCouplingMin == null ? "-" : techRecordsJson.techRecord[0].frontVehicleTo5thWheelCouplingMin }}</td>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].frontVehicleTo5thWheelCouplingMax == null ? "-" : techRecordsJson.techRecord[0].frontVehicleTo5thWheelCouplingMax }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell govuk-!-font-weight-bold"> Front axle to 5th wheel</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].frontAxleTo5thWheelMin == null ? "-" : techRecordsJson.techRecord[0].frontAxleTo5thWheelMin }}</td>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].frontAxleTo5thWheelMax == null ? "-" : techRecordsJson.techRecord[0].frontAxleTo5thWheelMax }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <th class="govuk-table__cell govuk-!-font-weight-bold"> Coupling center to rear axle</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].couplingCenterToRearAxleMin == null ? "-" : techRecordsJson.techRecord[0].couplingCenterToRearAxleMin}}</td>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].couplingCenterToRearAxleMax == null ? "-" : techRecordsJson.techRecord[0].couplingCenterToRearAxleMax}}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <th class="govuk-table__cell govuk-!-font-weight-bold">Coupling center to rear trailer</th>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].couplingCenterToRearTrlMin == null ? "-" : techRecordsJson.techRecord[0].couplingCenterToRearTrlMin }}</td>
                <td class="govuk-table__cell">{{ techRecordsJson.techRecord[0].couplingCenterToRearTrlMax == null ? "-" : techRecordsJson.techRecord[0].couplingCenterToRearTrlMax }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </div>
      <div class="auto-pad" [@.disabled]="true">
        <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #notes
                             [(expanded)]="panelOpenState6" [@.disabled]="true">
          <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                      collapsedHeight="80px">
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Notes
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon *ngIf="!notes.expanded" [icon]="['fa', 'plus'] " size="lg" class="expander-icon"></fa-icon>
                <fa-icon *ngIf="notes.expanded" [icon]="['fa', 'minus'] " size="lg" class="expander-icon"></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <dl class="technical-record-sub-details govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <span
                  class="notes-section">{{techRecordsJson.techRecord[0].notes == null ? "-" : techRecordsJson.techRecord[0].notes}}</span>
              </dt>
            </div>
          </dl>
        </mat-expansion-panel>
      </div>
      <div class="auto-pad" [@.disabled]="true">
        <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #testHistory
                             [(expanded)]="panelOpenState7" [@.disabled]="true">
          <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                      collapsedHeight="80px">
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Test history
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon *ngIf="!testHistory.expanded" [icon]="['fa', 'plus'] " size="lg"
                         class="expander-icon"></fa-icon>
                <fa-icon *ngIf="testHistory.expanded" [icon]="['fa', 'minus'] " size="lg"
                         class="expander-icon"></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <table class="govuk-table t-history">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Test type</th>
              <th scope="col" class="govuk-table__header">Test date</th>
              <th scope="col" class="govuk-table__header">Expiry date</th>
              <th scope="col" class="govuk-table__header">Certificate number</th>
              <th scope="col" class="govuk-table__header">Result</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row" *ngFor="let testRes of testResultJson">
              <td
                class="govuk-table__cell">{{ testRes.testTypes[0].testCode == null ? "-" : testRes.testTypes[0].testCode }}</td>
              <td
                class="govuk-table__cell">{{ testRes.testTypes[0].testTypeEndTimestamp == null ? "-" : testRes.testTypes[0].testTypeEndTimestamp | date :'dd/MM/y'}}</td>
              <td
                class="govuk-table__cell">{{ testRes.testTypes[0].testExpiryDate == null ? "-" : testRes.testTypes[0].testExpiryDate | date :'dd/MM/y'}}</td>
              <td
                class="govuk-table__cell">{{ testRes.testTypes[0].certificateNumber == null ? "-" : testRes.testTypes[0].certificateNumber }}</td>
              <td class="govuk-table__cell govuk-!-font-weight-bold"
                  [ngStyle]="testRes.testTypes[0].testResult=='pass' ? { color:'green' } : testRes.testTypes[0].testResult=='prs' ? {color: 'blue'} : (testRes.testTypes[0].testResult=='fail' || testRes.testTypes[0].testResult=='abandoned') ? {color: 'red'} : {color: ''}">
                {{ testRes.testTypes[0].testResult == null ? "-" : testRes.testTypes[0].testResult | uppercase }}
              </td>
            </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </div>
      <div class="auto-pad" [@.disabled]="true">
        <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #techRecHistory
                             [(expanded)]="panelOpenState8" [@.disabled]="true">
          <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                      collapsedHeight="80px">
            <mat-panel-title>
              <div class="item-technical-record govuk-!-font-weight-bold">
                Technical record history
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="expansion-icon">
                <fa-icon *ngIf="!techRecHistory.expanded" [icon]="['fa', 'plus'] " size="lg"
                         class="expander-icon"></fa-icon>
                <fa-icon *ngIf="techRecHistory.expanded" [icon]="['fa', 'minus'] " size="lg"
                         class="expander-icon"></fa-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table class="govuk-table t-history">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Reason for creation</th>
              <th scope="col" class="govuk-table__header">Created by</th>
              <th scope="col" class="govuk-table__header">Created at</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row" *ngFor="let techRec of techRecordsJson.techRecord">
              <td class="govuk-table__cell">{{techRec.statusCode == null ? "-" : techRec.statusCode | titlecase}}</td>
              <td
                class="govuk-table__cell">{{techRec.reasonForCreation == null ? "-" : techRec.reasonForCreation | titlecase}}</td>
              <td class="govuk-table__cell">{{techRec.createdBy == null ? "-" : techRec.createdBy | titlecase}}</td>
              <td
                class="govuk-table__cell">{{techRec.createdAt == null ? "-" : techRec.createdAt | date :'dd/MM/y' }}</td>
            </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </div>
    </mat-accordion>

  </div>
</div>

<ng-template #loading>
  Loading stuff...
</ng-template>

<br>
<br>

<div class="auto-pad">
  <mat-accordion>
    <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #sam>
      <mat-expansion-panel-header class="disable_ripple">
        <mat-panel-title>
          <div class="item-technical-record govuk-!-font-weight-bold govuk-!-font-size-19">
            Sam's Testing Utility
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="expansion-icon">
            <fa-icon *ngIf="!sam.expanded" [icon]="['fa', 'plus'] " size="lg"></fa-icon>
            <fa-icon *ngIf="sam.expanded" [icon]="['fa', 'minus'] " size="lg"></fa-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <pre>{{techRecordsJson$ | async | json }}</pre>
      <pre>{{testResultJson$ | async | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>

