<div class="records-container mat-elevation-z8">
  <div class="records-container-title">
    <div class="records-container-title-spacer">
      <div class="record-search-title-text">Technical records from searched (vin/vrm) {{searchIdentifier}}</div>
      <div>
        <ion-searchbar #q placeholder="Search (vin/vrm)" (keyup.enter)="searchTechRecords(q.value)">
        </ion-searchbar>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(techRecordsJson$ | async) as techRecordsJson; else loading">
    <div *ngIf="techRecordsJson.techRecord[0].vehicleType =='hgv' || techRecordsJson.techRecord[0].vehicleType =='trl'  else ifPSV">
      <div class="govuk-width-container left-pad">
        <main class="govuk-main-wrapper">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-thirds float-left">
              <h1 class="govuk-heading-xl title">Technical record</h1>
              <div class="grid-container-technical-record-status">
                <div class="grid-item-technical-record-status rectangle"></div>
                <div class="grid-item-technical-record-status govuk-!-font-weight-bold govuk-!-font-size-19 ">Status</div>
                <div
                  id="test-status" class="grid-item-technical-record-status govuk-!-font-weight-regular govuk-body govuk-!-font-size-19 grid-item-technical-record-status-value">
                  {{techRecordsJson.techRecord[0].statusCode | titlecase}}
                </div>
                <div class="grid-item-technical-record-status"></div>
              </div>
            </div>
          </div>
        </main>
      </div>

      <div class="auto-pad">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key main-details">
              Vehicle identification number (VIN)
            </dt>
            <dd class="govuk-summary-list__value">
              {{techRecordsJson.vin}}
            </dd>
            <dd class="govuk-summary-list__value"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key main-details">
              Vehicle registration mark (VRM)
            </dt>
            <dd id="test-vrm" class="govuk-summary-list__value">
              <ul *ngFor="let vrmItem of techRecordsJson.vrms | IsPrimaryVrm: true  ">
                {{vrmItem.vrm}}
              </ul>
            </dd>
            <dd class="govuk-summary-list__value"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key main-details">
              Previous VRM
            </dt>
            <dd id="test-secondaryVrms" class="govuk-summary-list__value">
              <ul *ngFor="let vrmItem of techRecordsJson.vrms | IsPrimaryVrm: false  ">
                {{vrmItem.vrm}}
              </ul>
            </dd>
            <dd class="govuk-summary-list__value"></dd>
          </div>
        </dl>
      </div>
      <div class="auto-pad">
        <div class="open-close-all">
          <div></div>
          <div>
            <a class="govuk-link" (click)='togglePanel()'>{{allOpened ? 'Close' : 'Open'}} all</a>
          </div>
        </div>
      </div>

      <mat-accordion multi="true" [@.disabled]="true">
        <div class="auto-pad" [@.disabled]="true">
          <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #summary
                               [(expanded)]="panels[0].isOpened" [@.disabled]="true">
            <mat-expansion-panel-header class="disable_ripple no-animate" [@.disabled]="true" expandedHeight="80px"
                                        collapsedHeight="80px">
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  Vehicle summary
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon *ngIf="!summary.expanded" [icon]="['fa', 'plus'] " size="lg" class="expander-icon"></fa-icon>
                  <fa-icon *ngIf="summary.expanded" [icon]="['fa', 'minus'] " size="lg" class="expander-icon"></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <dl class="technical-record-sub-details govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Vehicle type
                </dt>
                <dd id="test-vehicleType" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].vehicleType) ? "-" : techRecordsJson.techRecord[0].vehicleType | uppercase }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  National type approval number
                </dt>
                <dd id="test-ntaNumber" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].ntaNumber) ? "-" : techRecordsJson.techRecord[0].ntaNumber}}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of first registration
                </dt>
                <dd id="test-regnDate" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].regnDate) ? "-" : techRecordsJson.techRecord[0].regnDate | date:'dd/MM/y' }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Year of manufacture
                </dt>
                <dd id="test-manufactureYear" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].manufactureYear) ? "-" : techRecordsJson.techRecord[0].manufactureYear }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of axles
                </dt>
                <dd id="test-noOfaxles" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].noOfAxles) ? "-" : techRecordsJson.techRecord[0].noOfAxles }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  DTp number
                </dt>
                <dd id="test-dtpNumber" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].brakes.dtpNumber) ? "-" : techRecordsJson.techRecord[0].brakes.dtpNumber }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Parking brake fitted
                </dt>
                <dd class="govuk-summary-list__value">
                  <div *ngIf="!isNullOrEmpty(techRecordsJson.techRecord[0].axles) else hyphen">
                    <div *ngFor="let axel of techRecordsJson.techRecord[0].axles">
                      <div *ngIf="axel.parkingBrakeMrk">
                        <span>Axle {{axel.axleNumber}}</span>
                      </div>
                    </div>
                  </div>
                  <ng-template #hyphen>
                    <span>-</span>
                  </ng-template>
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Speed limiter exempt
                </dt>
                <dd id="test-speedLimiterMrk" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].speedLimiterMrk) ? "-" : techRecordsJson.techRecord[0].speedLimiterMrk == true ? "YES":"NO" }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tacho exempt
                </dt>
                <dd id="test-tachoExemptMrk" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].tachoExemptMrk) ? "-" : techRecordsJson.techRecord[0].tachoExemptMrk == true ? "YES":"NO" }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'hgv'">
                <dt class="govuk-summary-list__key">
                  Euro standard
                </dt>
                <dd id="test-euroStandard" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].euroStandard) ? "-" : techRecordsJson.techRecord[0].euroStandard }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Road friendly suspension
                </dt>
                <dd id="test-roadFriendly" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].roadFriendly) ? "-" : techRecordsJson.techRecord[0].roadFriendly == true ? "YES":"NO" }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Drawbar coupling fitted
                </dt>
                <dd id="test-drawbarCouplingFitted" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].drawbarCouplingFitted) ? "-" : techRecordsJson.techRecord[0].drawbarCouplingFitted == true ? "YES":"NO" }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Vehicle class
                </dt>
                <dd id="test-vehicleClassDescription" class="govuk-summary-list__value">
                  {{ techRecordsJson.techRecord[0].vehicleClass==null ? "-" :
                    isNullOrEmpty(techRecordsJson.techRecord[0].vehicleClass.description) ? "-" :
                        techRecordsJson.techRecord[0].vehicleClass.description.charAt(0).toUpperCase() + techRecordsJson.techRecord[0].vehicleClass.description.substr(1).toLowerCase() }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Vehicle configuration
                </dt>
                <dd id="test-vehicleConfiguration" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].vehicleConfiguration) ? "-" : techRecordsJson.techRecord[0].vehicleConfiguration.charAt(0).toUpperCase() + techRecordsJson.techRecord[0].vehicleConfiguration.substr(1).toLowerCase()}}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  First use date
                </dt>
                <dd id="test-firstUseDate" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].firstUseDate) ? "-" : techRecordsJson.techRecord[0].firstUseDate | date :'dd/MM/y' }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  Coupling type
                </dt>
                <dd id="test-couplingType" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].couplingType) ? "-" : techRecordsJson.techRecord[0].couplingType }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  Load sensing valve
                </dt>
                <dd id="test-loadSensingValve" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].brakes.loadSensingValve) ? "-" : techRecordsJson.techRecord[0].brakes.loadSensingValve ? "YES":"NO" }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  Antilock braking system
                </dt>
                <dd id="test-antilockBrakingSystem" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].brakes.antilockBrakingSystem) ? "-" : techRecordsJson.techRecord[0].brakes.antilockBrakingSystem ? "YES":"NO" }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  Brake actuator
                </dt>
                <dd id="test-brakeActuator" class="govuk-summary-list__value">
                  <div *ngIf="techRecordsJson.techRecord[0].axles[1] != null; else hyphen">
                    <span>{{ isNullOrEmpty(techRecordsJson.techRecord[0].axles[1].brakes.brakeActuator) ? "-" : techRecordsJson.techRecord[0].axles[1].brakes.brakeActuator }}</span>
                  </div>
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  Lever length
                </dt>
                <dd id="test-leverLength" class="govuk-summary-list__value">
                  <div *ngIf="techRecordsJson.techRecord[0].axles[1] != null; else hyphen">
                    <span>{{ isNullOrEmpty(techRecordsJson.techRecord[0].axles[1].brakes.leverLength) ? "-" : techRecordsJson.techRecord[0].axles[1].brakes.leverLength }}</span>
                  </div>
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  Spring brake parking
                </dt>
                <dd id="test-springBrakeParking" class="govuk-summary-list__value">
                  <div *ngIf="techRecordsJson.techRecord[0].axles[1] != null; else hyphen">
                    <span>{{ isNullOrEmpty(techRecordsJson.techRecord[0].axles[1].brakes.springBrakeParking) ? "-" : techRecordsJson.techRecord[0].axles[1].brakes.springBrakeParking ? "YES":"NO" }}</span>
                  </div>
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  Max load on coupling
                </dt>
                <dd id="test-maxLoadOnCoupling" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].maxLoadOnCoupling) ? "-" : techRecordsJson.techRecord[0].maxLoadOnCoupling }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                <dt class="govuk-summary-list__key">
                  Suspension type
                </dt>
                <dd id="test-suspensionType" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].suspensionType) ? "-" : techRecordsJson.techRecord[0].suspensionType }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>

            </dl>
          </mat-expansion-panel>
        </div>
        <div class="auto-pad" [@.disabled]="true">
          <mat-expansion-panel class="custom-header mat-elevation-z0" hideToggle="true" #body
                               [(expanded)]="panels[1].isOpened" [@.disabled]="true"
                               [class.mat-expansion-panel-spacing]="false">
            <mat-expansion-panel-header class="disable_ripple no-animate" [@.disabled]="true" expandedHeight="80px"
                                        collapsedHeight="80px">
              <mat-panel-title [@.disabled]="true" class="no-animate mat-elevation-z0">
                <div class="item-technical-record govuk-!-font-weight-bold no-animate" [@.disabled]="true">
                  Body
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon *ngIf="!body.expanded" [icon]="['fa', 'plus']" size="lg" class="expander-icon"></fa-icon>
                  <fa-icon *ngIf="body.expanded" [icon]="['fa', 'minus']" size="lg" class="expander-icon"></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <dl class="technical-record-sub-details govuk-summary-list ">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Make
                </dt>
                <dd id="test-make" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].make)? "-" : techRecordsJson.techRecord[0].make}}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Model
                </dt>
                <dd id="test-model" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].model) ? "-" : techRecordsJson.techRecord[0].model}}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Body type
                </dt>
                <dd id="test-bodyTypeDescription" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].bodyType.description) ? "-" : techRecordsJson.techRecord[0].bodyType.description | titlecase}}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'hgv'">
                <dt class="govuk-summary-list__key">
                  Function
                </dt>
                <dd id="test-functionCode" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].functionCode) ? "-" : techRecordsJson.techRecord[0].functionCode }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Conversion reference number
                </dt>
                <dd id="test-conversionRefNo" class="govuk-summary-list__value">
                  {{ isNullOrEmpty(techRecordsJson.techRecord[0].conversionRefNo) ? "-" : techRecordsJson.techRecord[0].conversionRefNo }}
                </dd>
                <dd class="govuk-summary-list__value"></dd>
              </div>
            </dl>
          </mat-expansion-panel>
        </div>
        <div class="auto-pad" [@.disabled]="true">
          <mat-expansion-panel class="custom-header mat-elevation-z0" hideToggle="true" #weights
                               [(expanded)]="panels[2].isOpened" [@.disabled]="true">
            <mat-expansion-panel-header class="disable_ripple no-animate" [@.disabled]="true" expandedHeight="80px"
                                        collapsedHeight="80px">
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold no-animate">
                  Weights
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon *ngIf="!weights.expanded" [icon]="['fa', 'plus']" size="lg" class="expander-icon"></fa-icon>
                  <fa-icon *ngIf="weights.expanded" [icon]="['fa', 'minus']" size="lg" class="expander-icon"></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="govuk-table table-details">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">GB weight (kg)</th>
                <th scope="col" class="govuk-table__header">Design weight (kg)</th>
                <th class="govuk-table__cell"></th>
                <th class="govuk-table__cell"></th>
                <th class="govuk-table__cell"></th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Gross</th>
                  <td id="test-grossGbWeight" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].grossGbWeight) ? "-" : techRecordsJson.techRecord[0].grossGbWeight }}</td>
                  <td id="test-grossDesignWeight" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].grossDesignWeight) ? "-" : techRecordsJson.techRecord[0].grossDesignWeight }}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'hgv'">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Train</th>
                  <td id="test-trainGbWeight" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].trainGbWeight) ? "-" : techRecordsJson.techRecord[0].trainGbWeight }}</td>
                  <td id="test-trainDesignWeight" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].trainDesignWeight) ? "-" : techRecordsJson.techRecord[0].trainDesignWeight }}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'hgv'">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Max train</th>
                  <td id="test-maxTrainGbWeight" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].maxTrainGbWeight) ? "-" : techRecordsJson.techRecord[0].maxTrainGbWeight }}</td>
                  <td id="test-minTrainGbWeight" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].maxTrainDesignWeight) ? "-" : techRecordsJson.techRecord[0].maxTrainDesignWeight }}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row" *ngFor="let axelNo of techRecordsJson.techRecord[0].axles">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Axle {{ isNullOrEmpty(axelNo.axleNumber) ? "-" : axelNo.axleNumber }}</th>
                  <td [id]="'test-gbWeight-'+axelNo.axleNumber" class="govuk-table__cell">{{ isNullOrEmpty(axelNo.weights.gbWeight) ? "-" : axelNo.weights.gbWeight }}</td>
                  <td [id]="'test-designWeight-'+axelNo.axleNumber" class="govuk-table__cell">{{ isNullOrEmpty(axelNo.weights.designWeight) ? "-" : axelNo.weights.designWeight}}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </div>
        <div class="auto-pad" [@.disabled]="true">
          <mat-expansion-panel class="custom-header mat-elevation-z0" hideToggle="true" #tyres
                               [(expanded)]="panels[3].isOpened" [@.disabled]="true">
            <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                        collapsedHeight="80px">
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  Tyres
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon *ngIf="!tyres.expanded" [icon]="['fa', 'plus']" size="lg" class="expander-icon"></fa-icon>
                  <fa-icon *ngIf="tyres.expanded" [icon]="['fa', 'minus']" size="lg" class="expander-icon"></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="govuk-table table-details">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Tyre use code</th>
                  <td id="test-tyreUseCode" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].tyreUseCode) ? "-" : techRecordsJson.techRecord[0].tyreUseCode }}</td>
                  <th class="govuk-table__cell"></th>
                  <th class="govuk-table__cell"></th>
                  <th class="govuk-table__cell"></th>
                  <th class="govuk-table__cell"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header"></th>
                  <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Tyre code</td>
                  <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Tyre size</td>
                  <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Ply rating</td>
                  <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Fitment code</td>
                  <td scope="col" class="govuk-table__header govuk-!-font-weight-bold">Load index</td>
                </tr>
                <tr class="govuk-table__row" *ngFor="let axelNo of techRecordsJson.techRecord[0].axles">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Axle {{ isNullOrEmpty(axelNo.axleNumber) ? "-" : axelNo.axleNumber }}</th>
                  <td [id]="'test-tyreCode-'+axelNo.axleNumber" class="govuk-table__cell">{{ isNullOrEmpty(axelNo.tyres.tyreCode) ? "-" : axelNo.tyres.tyreCode }}</td>
                  <td [id]="'test-tyreSize-'+axelNo.axleNumber" class="govuk-table__cell">{{ isNullOrEmpty(axelNo.tyres.tyreSize) ? "-" : axelNo.tyres.tyreSize }}</td>
                  <td [id]="'test-plyRating-'+axelNo.axleNumber" class="govuk-table__cell">{{ isNullOrEmpty(axelNo.tyres.plyRating) ? "-" : axelNo.tyres.plyRating }}</td>
                  <td [id]="'test-fitmentCode-'+axelNo.axleNumber" class="govuk-table__cell">{{ isNullOrEmpty(axelNo.tyres.fitmentCode) ? "-" : axelNo.tyres.fitmentCode }}</td>
                  <td [id]="'test-dataTrAxles-'+axelNo.axleNumber" class="govuk-table__cell">{{ isNullOrEmpty(axelNo.tyres.dataTrAxles) ? "-" : axelNo.tyres.dataTrAxles }}</td>
                </tr>
              </tbody>
            </table>

          </mat-expansion-panel>
        </div>
        <div class="auto-pad" [@.disabled]="true">
          <mat-expansion-panel class="custom-header mat-elevation-z0" hideToggle="true" #dimensions
                               [(expanded)]="panels[4].isOpened" [@.disabled]="true">
            <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                        collapsedHeight="80px">
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  Dimensions
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon *ngIf="!dimensions.expanded" [icon]="['fa', 'plus']" size="lg" class="expander-icon"></fa-icon>
                  <fa-icon *ngIf="dimensions.expanded" [icon]="['fa', 'minus']" size="lg" class="expander-icon"></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="govuk-table table-details">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Length (mm)</th>
                  <td id="test-length" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].dimensions.length) ? "-" : techRecordsJson.techRecord[0].dimensions.length}}</td>
                  <th class="govuk-table__cell"></th>
                  <th class="govuk-table__cell"></th>
                  <th class="govuk-table__cell"></th>
                  <th class="govuk-table__cell"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Width (mm)</th>
                  <td id="test-width" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].dimensions.width) ? "-" : techRecordsJson.techRecord[0].dimensions.width}}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Front axle to rear axle</th>
                  <td id="test-frontAxleToRearAxle" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].frontAxleToRearAxle) ? "-" : techRecordsJson.techRecord[0].frontAxleToRearAxle }}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Rear axle to rear trailer</th>
                  <td id="test-rearAxleToRearTrl" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].rearAxleToRearTrl) ? "-" : techRecordsJson.techRecord[0].rearAxleToRearTrl }}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell"></th>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">Minimum (mm)</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">Maximum (mm)</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-font-weight-bold"> Front of vehicle to 5th wheel coupling</th>
                  <td id="test-frontAxleTo5thWheelCouplingMin" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].frontVehicleTo5thWheelCouplingMin) ? "-" : techRecordsJson.techRecord[0].frontVehicleTo5thWheelCouplingMin }}</td>
                  <td id="test-frontAxleTo5thWheelCouplingMax" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].frontVehicleTo5thWheelCouplingMax) ? "-" : techRecordsJson.techRecord[0].frontVehicleTo5thWheelCouplingMax }}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-font-weight-bold"> Front axle to 5th wheel</th>
                  <td id="test-frontAxleTo5thWheelMin" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].frontAxleTo5thWheelMin) ? "-" : techRecordsJson.techRecord[0].frontAxleTo5thWheelMin }}</td>
                  <td id="test-frontAxleTo5thWheelMax" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].frontAxleTo5thWheelMax) ? "-" : techRecordsJson.techRecord[0].frontAxleTo5thWheelMax }}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                  <th class="govuk-table__cell govuk-!-font-weight-bold"> Coupling center to rear axle</th>
                  <td id="test-couplingCenterToRearAxleMin" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].couplingCenterToRearAxleMin) ? "-" : techRecordsJson.techRecord[0].couplingCenterToRearAxleMin}}</td>
                  <td id="test-couplingCenterToRearAxleMax" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].couplingCenterToRearAxleMax) ? "-" : techRecordsJson.techRecord[0].couplingCenterToRearAxleMax}}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row" *ngIf="techRecordsJson.techRecord[0].vehicleType == 'trl'">
                  <th class="govuk-table__cell govuk-!-font-weight-bold">Coupling center to rear trailer</th>
                  <td id="test-couplingCenterToRearTrlMin" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].couplingCenterToRearTrlMin) ? "-" : techRecordsJson.techRecord[0].couplingCenterToRearTrlMin }}</td>
                  <td id="test-couplingCenterToRearTrlMax" class="govuk-table__cell">{{ isNullOrEmpty(techRecordsJson.techRecord[0].couplingCenterToRearTrlMax) ? "-" : techRecordsJson.techRecord[0].couplingCenterToRearTrlMax }}</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </div>
        <div class="auto-pad" [@.disabled]="true">
          <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #notes
                               [(expanded)]="panels[5].isOpened" [@.disabled]="true">
            <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                        collapsedHeight="80px">
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  Notes
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon *ngIf="!notes.expanded" [icon]="['fa', 'plus'] " size="lg" class="expander-icon"></fa-icon>
                  <fa-icon *ngIf="notes.expanded" [icon]="['fa', 'minus'] " size="lg" class="expander-icon"></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <dl class="technical-record-sub-details govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <span id="test-notes"
                    class="notes-section">{{ isNullOrEmpty(techRecordsJson.techRecord[0].notes) ? "-" : techRecordsJson.techRecord[0].notes}}</span>
                </dt>
              </div>
            </dl>
          </mat-expansion-panel>
        </div>

        <div *ngIf="(testResultJson$ | async) as testResultJson; else loading">
          <div class="auto-pad" [@.disabled]="true">
            <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #testHistory
                                 [(expanded)]="panels[6].isOpened" [@.disabled]="true">
              <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                          collapsedHeight="80px">
                <mat-panel-title>
                  <div class="item-technical-record govuk-!-font-weight-bold">
                    Test history
                  </div>
                </mat-panel-title>
                <mat-panel-description>
                  <div class="expansion-icon">
                    <fa-icon *ngIf="!testHistory.expanded" [icon]="['fa', 'plus'] " size="lg"
                             class="expander-icon"></fa-icon>
                    <fa-icon *ngIf="testHistory.expanded" [icon]="['fa', 'minus'] " size="lg"
                             class="expander-icon"></fa-icon>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <table class="govuk-table t-history">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Test type</th>
                  <th scope="col" class="govuk-table__header">Test date</th>
                  <th scope="col" class="govuk-table__header">Expiry date</th>
                  <th scope="col" class="govuk-table__header">Certificate number</th>
                  <th scope="col" class="govuk-table__header">Result</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row" *ngFor="let testRes of testResultJson">
                      <td id="test-testCode" class="govuk-table__cell">
                        {{ isNullOrEmpty(testRes.testTypes[0].testCode) ? "-" : testRes.testTypes[0].testCode.charAt(0).toUpperCase() + testRes.testTypes[0].testCode.substr(1).toLowerCase() }}
                      </td>
                      <td id="test-testEndTimestamp" class="govuk-table__cell">
                        {{ isNullOrEmpty(testRes.testTypes[0].testTypeEndTimestamp) ? "-" : testRes.testTypes[0].testTypeEndTimestamp | date :'dd/MM/y'}}
                      </td>
                      <td id="test-expiryDate" class="govuk-table__cell">
                        {{ isNullOrEmpty(testRes.testTypes[0].testExpiryDate) ? "-" : testRes.testTypes[0].testExpiryDate | date :'dd/MM/y'}}
                      </td>
                      <td id="test-certificateNumber" class="govuk-table__cell">
                        {{ isNullOrEmpty(testRes.testTypes[0].certificateNumber) ? "-" : testRes.testTypes[0].certificateNumber }}
                      </td>
                      <td id="test-testResult" class="govuk-table__cell govuk-!-font-weight-bold"
                          [ngStyle]="testRes.testTypes[0].testResult=='pass' ? { color:'#00703C' } : testRes.testTypes[0].testResult=='prs' ? {color: '#1D70B8'} : (testRes.testTypes[0].testResult=='fail' || testRes.testTypes[0].testResult=='abandoned') ? {color: '#D4351C'} : {color: ''}">
                        {{ isNullOrEmpty(testRes.testTypes[0].testResult) ? "-" : testRes.testTypes[0].testResult | uppercase }}
                      </td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
          </div>
        </div>

        <div class="auto-pad" [@.disabled]="true">
          <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #techRecHistory
                               [(expanded)]="panels[7].isOpened" [@.disabled]="true">
            <mat-expansion-panel-header class="disable_ripple" [@.disabled]="true" expandedHeight="80px"
                                        collapsedHeight="80px">
              <mat-panel-title>
                <div class="item-technical-record govuk-!-font-weight-bold">
                  Technical record history
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="expansion-icon">
                  <fa-icon *ngIf="!techRecHistory.expanded" [icon]="['fa', 'plus'] " size="lg"
                           class="expander-icon"></fa-icon>
                  <fa-icon *ngIf="techRecHistory.expanded" [icon]="['fa', 'minus'] " size="lg"
                           class="expander-icon"></fa-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="govuk-table t-history">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Reason for creation</th>
                <th scope="col" class="govuk-table__header">Created by</th>
                <th scope="col" class="govuk-table__header">Created at</th>
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row" *ngFor="let techRec of techRecordsJson.techRecord">
                <td id="test-statusCode" class="govuk-table__cell">{{ isNullOrEmpty(techRec.statusCode) ? "-" : techRec.statusCode.charAt(0).toUpperCase() + techRec.statusCode.substr(1).toLowerCase()}}</td>
                <td id="test-reasonForCreation" class="govuk-table__cell">{{ isNullOrEmpty(techRec.reasonForCreation) ? "-" : techRec.reasonForCreation | titlecase}}</td>
                <td id="test-createdBy" class="govuk-table__cell">{{ isNullOrEmpty(techRec.createdBy) ? "-" : techRec.createdBy | titlecase}}</td>
                <td id="test-createdAt" class="govuk-table__cell">{{ isNullOrEmpty(techRec.createdAt) ? "-" : techRec.createdAt | date :'dd/MM/y' }}</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
    <ng-template #ifPSV>
      <div class="govuk-width-container left-pad">
        <main class="govuk-main-wrapper">
          <div class="govuk-grid-row">
              <h2 class="govuk-heading-l">Currenly only HGV/TRL is supported please try HGV/TRL only!</h2>
          </div>
        </main>
      </div>
    </ng-template>
  </div>

<ng-template #loading>
  Loading stuff...
</ng-template>

<br>
<br>

<div class="auto-pad">
  <mat-accordion>
    <mat-expansion-panel class="custom-header mat-elevation-z0 " hideToggle="true" #sam>
      <mat-expansion-panel-header class="disable_ripple">
        <mat-panel-title>
          <div class="item-technical-record govuk-!-font-weight-bold govuk-!-font-size-19">
            Sam's Testing Utility
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="expansion-icon">
            <fa-icon *ngIf="!sam.expanded" [icon]="['fa', 'plus'] " size="lg"></fa-icon>
            <fa-icon *ngIf="sam.expanded" [icon]="['fa', 'minus'] " size="lg"></fa-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <pre>{{techRecordsJson$ | async | json }}</pre>
      <pre>{{testResultJson$ | async | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>

