<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label govuk-!-font-weight-bold">
                Test facility name/number
              </label>
              <vtm-autocomplete
                [autocompleteData]="testStationsOptions"
                id="testStationNameNumber"
                ariaDescribedBy="testStationNameNumber"
                formControlName="testStationNameNumber"
                ngDefaultControl
              ></vtm-autocomplete>
            </div>
          </div>
          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-full">
              <div class="govuk-inset-text govuk-!-padding-bottom-0">
                <div class="govuk-grid-row">
                  <div
                    class="govuk-grid-column-one-third govuk-!-font-weight-bold govuk-!-padding-right-0"
                  >
                    Type of test facility
                  </div>
                  <div
                    class="govuk-grid-column-one-half govuk-!-padding-left-0 section--test-station"
                  >
                    <span> {{ this.testStationType }} </span>
                    <input
                      type="hidden"
                      class="govuk-input govuk-!-padding-bottom-5 border--none"
                      id="test-testStationType"
                      formControlName="testStationType"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label govuk-!-font-weight-bold">
                Tester name
              </label>
              <input
                class="govuk-input"
                id="test-testerName"
                formControlName="testerName"
                type="text"
              />
            </div>
          </div>

          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label govuk-!-font-weight-bold">
                Email address
              </label>
              <input
                class="govuk-input"
                id="test-testerEmailAddress"
                formControlName="testerEmailAddress"
              />
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
