<ng-container [formGroup]="form">
  <ng-container formGroupName="testTypes">
    <ng-container formGroupName="0">
      <!-- Reason for abandoning -->
      <govuk-checkbox-group
        name="reasonForAbandoning"
        label="Why was this test abandoned?"
        hint="Select all that apply."
        formControlName="reasonForAbandoning"
        [options]="abandonReasons()"
      ></govuk-checkbox-group>

      <!-- Additional comments for abandon -->
      <govuk-form-group-textarea
        name="additionalCommentsForAbandon"
        label="Additional notes as to why this test was abandoned (optional)"
        formControlName="additionalCommentsForAbandon"
        [maxLength]="500"
      ></govuk-form-group-textarea>
    </ng-container>
  </ng-container>
</ng-container>