<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">DDA certificate issued (Yes/No)</dt>
    <dd id="dda-certificateIssued" class="govuk-summary-list__value">
      {{ ddaDetails?.certificateIssued | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Wheelchair capacity</dt>
    <dd id="dda-wheelchairCapacity" class="govuk-summary-list__value">
      {{ ddaDetails?.wheelchairCapacity | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Wheelchair fittings</dt>
    <dd id="dda-wheelchairFittings" class="govuk-summary-list__value">
      {{ ddaDetails?.wheelchairFittings | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Wheelchair lift present</dt>
    <dd id="dda-wheelchairLiftPresent" class="govuk-summary-list__value">
      {{ ddaDetails?.wheelchairLiftPresent | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Wheelchair lift information</dt>
    <dd id="dda-wheelchairLiftInformation" class="govuk-summary-list__value">
      {{ ddaDetails?.wheelchairLiftInformation | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Wheelchair ramp present</dt>
    <dd id="dda-wheelchairRampInformation" class="govuk-summary-list__value">
      {{ ddaDetails?.wheelchairRampInformation | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Wheelchair ramp information</dt>
    <dd id="dda-wheelchairRampInformation" class="govuk-summary-list__value">
      {{ ddaDetails?.wheelchairRampInformation | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Minimum emergency exits needed</dt>
    <dd id="dda-minEmergencyExits" class="govuk-summary-list__value">
      {{ ddaDetails?.minEmergencyExits | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Outswing</dt>
    <dd id="dda-outswing" class="govuk-summary-list__value">
      {{ ddaDetails?.outswing | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">DDA schedules</dt>
    <dd id="dda-ddaSchedules" class="govuk-summary-list__value">
      {{ ddaDetails?.ddaSchedules | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Seatbelts fitted</dt>
    <dd id="dda-seatbeltsFitted" class="govuk-summary-list__value">
      {{ ddaDetails?.seatbeltsFitted | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">DDA notes</dt>
    <dd id="dda-ddaNotes" class="govuk-summary-list__value">
      {{ ddaDetails?.ddaNotes | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

</dl>
