<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Vehicle identification number (VIN)</dt>
        <dd id="vin" class="govuk-summary-list__value">
          {{ vehicleTechRecord?.vin | defaultNullOrEmpty }}
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Vehicle registration mark (VRM)</dt>
        <dd id="current-vrm" class="govuk-summary-list__value">
          {{ currentVrm | defaultNullOrEmpty }}
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Previous VRM</dt>
        <dd id="previous-vrm" class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-0" *ngFor="let secondaryVrm of otherVrms">{{ secondaryVrm.vrm | defaultNullOrEmpty }}</p>
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div *ngIf="(currentTechRecord$ | async)?.vehicleType === vehicleTypes.TRL" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Trailer ID</dt>
        <dd id="trailer-id" class="govuk-summary-list__value">
          {{ vehicleTechRecord?.trailerId | defaultNullOrEmpty }}
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Record status</dt>
        <dd id="status-code" class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-phase-banner__content__tag">{{ (currentTechRecord$ | async)?.statusCode | defaultNullOrEmpty }}</strong>
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>
    </dl>

    <app-edit-tech-record-button
      [vehicleTechRecord]="vehicleTechRecord"
      [viewableTechRecord]="(currentTechRecord$ | async) || undefined"
      [(isEditing)]="isEditable"
      [isDirty]="isDirty"
      (submitChange)="handleSubmit()"
      *appRoleRequired="roles.TechRecordAmend"
    ></app-edit-tech-record-button>

    <app-tech-record-summary
      *ngIf="currentTechRecord$ | async as currentTechRecord"
      [isEditing]="isEditable"
      [vehicleTechRecord]="currentTechRecord"
      (formChange)="handleFormState()"
    ></app-tech-record-summary>

    <app-tech-record-history
      [currentRecord]="(currentTechRecord$ | async) || undefined"
      [vehicleTechRecord]="vehicleTechRecord"
    ></app-tech-record-history>

    <app-test-record-summary *appRoleRequired="roles.TestResultView" [testRecords]="(records$ | async) || []" [vehicleTechRecord]="vehicleTechRecord">
    </app-test-record-summary>
  </div>
</div>
