<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Vehicle identification number (VIN)</dt>
        <dd id="vin" class="govuk-summary-list__value">
          {{ vehicleTechRecord?.vin | defaultNullOrEmpty }}
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Vehicle registration mark (VRM)</dt>
        <dd id="current-vrm" class="govuk-summary-list__value">
          {{ currentVrm | defaultNullOrEmpty }}
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Previous VRM</dt>
        <dd id="previous-vrm" class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-0" *ngFor="let secondaryVrm of otherVrms">{{ secondaryVrm.vrm | defaultNullOrEmpty }}</p>
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>

      <div *ngIf="(currentTechRecord$ | async)?.vehicleType === vehicleTypes.TRL" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Trailer ID</dt>
        <dd id="current-vrm" class="govuk-summary-list__value">
          {{ vehicleTechRecord?.trailerId | defaultNullOrEmpty }}
        </dd>
        <dd class="govuk-summary-list__value"></dd>
      </div>
    </dl>

    <app-tech-record-summary [vehicleTechRecord]="(currentTechRecord$ | async) || undefined"></app-tech-record-summary>

    <app-tech-record-history
      [currentRecord]="(currentTechRecord$ | async) || undefined"
      [vehicleTechRecord]="vehicleTechRecord || undefined"
    ></app-tech-record-history>

    <app-test-record-summary *appRoleRequired="roles.TestResultView" [testRecords]="(records$ | async) || []"> </app-test-record-summary>
  </div>
</div>
