<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-tech-record-title [vehicleTechRecord]="(vehicleTechRecord$ | async) || undefined" [hideActions]="true"></app-tech-record-title>

    <form [formGroup]="form" (submit)="handleSubmit(form.value)">
      <app-text-area name="reason" [label]="label" formControlName="reason"></app-text-area>

      <dl class="govuk-summary-list">
        <dd class="govuk-summary-list__value">
          <button
            class="govuk-button govuk-button--primary"
            id="submit-change-record-status-to-archived-button"
            type="submit"
            data-module="govuk-button"
            data-prevent-double-click="true"
          >
            {{ buttonLabel }} record
          </button>
        </dd>
        <dd class="govuk-summary-list__value back-button">
          <a class="govuk-link" id="tech-record-back-link" (click)="goBack()">Back</a>
        </dd>
      </dl>
    </form>
  </div>
</div>
