<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-tech-record-title [vehicle]="(vehicle$ | async) || undefined" [hideActions]="true"></app-tech-record-title>

    <form [formGroup]="form">
      <app-text-area name="reason" [label]="label" formControlName="reason"></app-text-area>

      <app-button id="submit-change-status" data-prevent-double-click="true" (clicked)="handleSubmit(form.value)">
        {{ buttonLabel }} record
      </app-button>
      <app-button design="link" id="tech-record-back-link" (clicked)="goBack()">Back</app-button>
    </form>
  </div>
</div>
