@import "node_modules/govuk-frontend/govuk/all";

::ng-deep .govuk-width-container {

  #header-nav-item{
    margin-left:-9rem;
    margin-top:0.3rem;
  }

  .govuk-header__link--homepage {
    font-size: 24px !important;
    color: govuk-colour("white");
    font-weight: 700;
    letter-spacing: 0.86px;
    line-height: 29px;
  }

  ul {
    position:absolute!important;
    right:-10rem!important;
    top:1rem!important;

    a {
      font-size: 16px !important;
      color: govuk-colour("white");
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.57px;
      line-height: 19px !important;
    }

  }

  .govuk-header__logo {
    width: 50% !important;
  }

}

.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 2.5rem;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.active {
  color: white;
}

@media (max-width: 1313px) {
  .topnav {
    display: block !important;
  }

  .govuk-header__container {
    display: none;
  }
}

