<table class="govuk-table t-history">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Serial number</th>
      <th scope="col" class="govuk-table__header">Reason for creation</th>
      <th scope="col" class="govuk-table__header">Created by</th>
      <th scope="col" class="govuk-table__header">Created at</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body" *ngIf="plates; else noPlates">
    <tr
      class="govuk-table__row"
      *ngFor="let plate of plates | SortByDatePipe: 'plateIssueDate'; let i = index"
    >
      <td id="test-plateSerialNumber-{{i}}" class="govuk-table__cell">
        {{ plate.plateSerialNumber | DefaultNullOrEmpty }}
      </td>
      <td id="test-plateReasonForIssue-{{i}}" class="govuk-table__cell">
        {{ plate.plateReasonForIssue | DefaultNullOrEmpty }}
      </td>
      <td id="test-plateIssuer-{{i}}" class="govuk-table__cell">
        {{ plate.plateIssuer | DefaultNullOrEmpty }}
      </td>
      <td id="test-plateIssueDate-{{i}}" class="govuk-table__cell">
        <span *ngIf="plate.plateIssueDate; else hyphen">
          {{ plate.plateIssueDate | date: 'dd/MM/yyyy' }}
        </span>
      </td>
    </tr>
  </tbody>
  <ng-template #noPlates>
    <tbody class="govuk-table__body">
      <tr>
        <td id="test-plateSerialNumber-0">-</td>
        <td id="test-plateReasonForIssue-0">-</td>
        <td id="test-plateIssuer-0">-</td>
        <td id="test-plateIssueDate-0">-</td>
      </tr>
    </tbody>
  </ng-template>
</table>
<ng-template #hyphen><span>-</span></ng-template>
