<ng-container *ngIf="plates; else hyphen">
  
  <dl class="govuk-summary-list">
    <ng-container *ngFor="let plate of (plates | SortByDatePipe :'plateIssueDate')">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Serial number</dt>
      <dd id="test-plate-plateSerialNumber" class="govuk-summary-list__value">
        {{  plate.plateSerialNumber | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Reason for creation</dt>
      <dd id="test-plate-plateReasonForIssue" class="govuk-summary-list__value">
        {{ plate.plateReasonForIssue | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Created by</dt>
      <dd id="test-plate-plateIssuer" class="govuk-summary-list__value">
        {{ plate.plateIssuer | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Created at</dt>
      <dd id="test-plate-plateIssueDate" class="govuk-summary-list__value">
        {{ plate.plateIssueDate | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    </ng-container>
    </dl>
</ng-container>
<ng-template #hyphen><span>-</span></ng-template>
