<div [ngClass]="{ 'govuk-form-group': !noBottomMargin }">
  <div>
    <label *ngIf="label" class="govuk-label govuk-label--m" for="{{ name }}"> {{ label }} </label>
    <app-tag *ngFor="let tag of control?.meta?.customTags" type="{{ tag.colour }}">{{ tag.label }}</app-tag>
  </div>

  <div *ngIf="hint" id="{{ name }}-hint" class="govuk-hint">{{ hint }}</div>

  <app-field-error-message [error]="error" [name]="name"></app-field-error-message>

  <select
    [class]="style"
    class="govuk-select"
    [id]="customId || name"
    name="{{ name }}"
    [(ngModel)]="value"
    [disabled]="disabled"
    attr.aria-describedby="{{ name }}-hint"
    (ngModelChange)="onChange($event)"
    (blur)="onTouched(); handleEvent($event)"
    (focus)="handleEvent($event)"
  >
    <option value="" selected disabled hidden></option>
    <option *ngFor="let option of options; trackBy: trackBy" [ngValue]="option.value" [selected]="value === option.value">{{ option.label }}</option>
  </select>
</div>
