<div class="govuk-width-container left-pad">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-thirds float-left">
        <h1 class="govuk-heading-xl title">Technical record</h1>
        <div>
          <button id="test-save-btn" class="govuk-button" data-module="govuk-button">
            Save technical record
          </button>
          <a id="cancel2">
            <span>Cancel</span>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
<div class="govuk-width-container left-pad">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key main-details">
        Vehicle identification number (VIN)
      </dt>
      <dd id="test-vin" class="govuk-summary-list__value">
        1234567
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key main-details">
        Vehicle registration mark (VRM)
      </dt>
      <dd id="test-vrm" class="govuk-summary-list__value">
        123WXM
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
  </dl>
</div>

<!-- <div class="auto-pad">
  <div class="open-close-all">
    <div></div>
    <div>
      <a class="govuk-link" (click)='togglePanel()'>{{allOpened ? 'Close' : 'Open'}} all</a>
    </div>
  </div>
</div> -->

<div class="govuk-width-container left-pad">
  <form [formGroup]="technicalRecord">
    <!-- <vtm-vehicle-summary-fields></vtm-vehicle-summary-fields> -->
    <vtm-body-fields></vtm-body-fields>
    <vtm-weights-fields></vtm-weights-fields>
    <vtm-tyres-fields></vtm-tyres-fields>
    <vtm-dimensions-fields></vtm-dimensions-fields>
    <vtm-applicant-fields></vtm-applicant-fields>
    <vtm-documents-fields></vtm-documents-fields>
  </form>
</div>
