@import 'node_modules/govuk-frontend/govuk/all';

.home-button {
  background: govuk-colour('light-grey');
  margin: 0 0 10px 18px;
  width: 312px !important;
  border-color: $govuk-link-colour !important;
  border-bottom: solid;
  min-height: 186px;
  padding-top: 0.5rem;
}
