@if (testResult(); as testResult) {
  @if (defectMediaService?.hasRententionPeriodExpired(testResult)) {
    <td id="media-expired">
      Expired
    </td>
  } @else if (defectMediaService?.canDownloadMediaItems(defect)) {
    <td id="media-download-link">
      <button class="link" (click)="defectMediaService?.downloadMediaItems(testResult, defect)">
        Download media
      </button>
    </td>
  } @else {
    <td id="media-failure-to-capture-reason">
      {{ getFailureToCaptureDefectMediaReason() }}
    </td>
  }
}
