<div class="govuk-grid-row" *ngIf="showMemoEdit">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div [formGroup]="adrForm">
          <h2 class="govuk-heading-m">Memo 07/09 (3 month extension) applied (optional)</h2>
          <div class="govuk-radios govuk-radios--inline">
            <div
              class="govuk-radios__item"
              *ngFor="let option of displayOptions | keyvalue: unsorted"
            >
              <input
                class="govuk-radios__input"
                id="memosApply-{{ option.key }}"
                name="memosApply"
                type="radio"
                [value]="option.value"
                formControlName="memosApply"
              />
              <label class="govuk-label govuk-radios__label" for="memosApply-{{ option.key }}">
                {{ option.key }}
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
