.govuk-link,
.govuk-link:visited {
  color: #1d70b8 !important;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
  line-height: 2rem;
  float: right;
}

.govuk-checkboxes__label {
  word-break: break-word;
}
