@if (techRecord(); as vm) {
  <dl class="govuk-summary-list">
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">DDA certificate issued</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_certificateIssued">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_certificateIssued | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Wheelchair capacity</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_wheelchairCapacity">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_wheelchairCapacity | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Wheelchair fittings</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_wheelchairFittings">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_wheelchairFittings | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Wheelchair lift present</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_wheelchairLiftPresent">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_wheelchairLiftPresent | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Wheelchair lift information</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_wheelchairLiftInformation">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_wheelchairLiftInformation | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Wheelchair ramp present</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_wheelchairRampPresent">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_wheelchairRampPresent | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Wheelchair ramp information</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_wheelchairRampInformation">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_wheelchairRampInformation | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Minimum emergency exits needed</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_minEmergencyExits">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_minEmergencyExits | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Outswing</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_outswing">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_outswing | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">DDA schedules</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_ddaSchedules">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_ddaSchedules | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Seatbelts fitted</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_seatbeltsFitted">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_seatbeltsFitted | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
    @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">DDA notes</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_dda_ddaNotes">
          <p class="whitespace-pre-line">{{ vm.techRecord_dda_ddaSchedules | defaultNullOrEmpty }}</p>
        </dd>
      </div>
    }
  </dl>
}
