<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div [formGroup]="technicalRecord">
          <h2 class="govuk-heading-m">Body</h2>

          <div class="govuk-form-group" formGroupName="body">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="make">
                Make
              </label>
              <input id="make" formControlName="make" type="text" class="govuk-input govuk-input--width-20" />
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="model">
                Model
              </label>
              <input id="model" type="text" formControlName="model" class="govuk-input govuk-input--width-20" />
            </div>

            <div class="govuk-form-group">
              <label for="bodyType" class="govuk-label govuk-!-font-weight-bold">
                Body type
              </label>
              <select id="bodyType" formControlName="bodyType" class="govuk-select govuk-!-width-one-half">

                <option *ngFor="let body of bodyTypeOption" [ngValue]="body.value">
                  {{ body.key }}
                </option>
              </select>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="conversionRefNo">
                Conversion rference number(optional)
              </label>
              <input id="conversionRefNo" type="number" formControlName="conversionRefNo"
                class="govuk-input govuk-input--width-4" />
            </div>

          </div>
        </div>

      </fieldset>
    </div>
  </div>
</div>
