<ng-container>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd id="test-manufacturer-name" class="govuk-summary-list__value">
        {{  manufacturer?.name | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Building and street</dt>
      <dd id="test-manufacturer-address" class="govuk-summary-list__value">
        {{ address1And2 | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Town or city</dt>
      <dd id="test-manufacturer-postTown" class="govuk-summary-list__value">
        {{ manufacturer?.postTown | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">County</dt>
      <dd id="test-manufacturer-address3" class="govuk-summary-list__value">
        {{ manufacturer?.address3 | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Postcode</dt>
      <dd id="test-manufacturer-postCode" class="govuk-summary-list__value">
        {{ manufacturer?.postCode | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Telephone number</dt>
      <dd id="test-manufacturer-telephoneNumber" class="govuk-summary-list__value">
        {{ manufacturer?.telephoneNumber | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Email address</dt>
      <dd id="test-manufacturer-emailAddress" class="govuk-summary-list__value">
        {{ manufacturer?.emailAddress | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Fax Number</dt>
      <dd id="test-manufacturer-faxNumber" class="govuk-summary-list__value">
        {{ manufacturer?.faxNumber | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Manufacturer Notes</dt>
      <dd id="test-manufacturer-manufacturerNotes" class="govuk-summary-list__value">
        {{ manufacturer?.manufacturerNotes | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
  </dl>
</ng-container>