<div class="govuk-form-group">
  @if (label()) {
    <label class="govuk-label govuk-label--m" for="{{ name() }}">
      {{ label() }}
      @for (tag of control?.meta?.customTags; track tag) {
        <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
      }
    </label>
  }

  <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
  <app-field-error-message [error]="warning()" [name]="name()"></app-field-error-message>

  @if (hint()) {
    <div id="{{ name() }}-hint" class="govuk-hint">{{ hint() }}</div>
  }

  @let id = customId() ?? name();

  <textarea
    appNoEmojis
    rows="5"
    id="{{ id }}"
    [name]="name()"
    [attr.data-testid]="id"
    [attr.data-module]="'govuk-character-count'" 
    [attr.data-maxlength]="maxLength"
    [(ngModel)]="value"
    [disabled]="disabled"
    (ngModelChange)="onChange($event); valueSub.next($event)"
    (blur)="onTouched(); handleEvent($event)"
    (focus)="handleEvent($event)"
    [ngClass]="{ 'govuk-!-margin-bottom-2': maxLength }"
    [class]="`govuk-textarea govuk-js-character-count govuk-textarea--width-${width()}`"
    [class.govuk-textarea--error]="errorMessage"
  ></textarea>

  @if (maxLength) {
    @let length = value?.length ?? 0;
    @let diff = maxLength - length;

    @if (diff >= 0) {
      <div [id]="`${ id }-max-length`" class="govuk-character-count__message govuk-hint" aria-hidden="true">
        {{ getCharacterCountMessage() }}
      </div>
    } @else {
      <div [id]="`${ id }-max-length-error`" class="govuk-character-count__message govuk-error-message" aria-hidden="true">
        {{ getCharacterCountMessage() }}
      </div>
    }
  }
</div>

<!-- Screen reader only -->
<div [id]="`${ id }-max-length-sr`" class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">
  {{ screenReaderCharacterCountMessage | async }}
</div>

