<div class="govuk-form-group">
  @if (label()) {
    <label class="govuk-label govuk-label--m" for="{{ name() }}">
      {{ label() }}
      @for (tag of control?.meta?.customTags; track tag) {
        <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
      }
    </label>
  }

  <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
  <app-field-error-message [error]="warning()" [name]="name()"></app-field-error-message>

  @if (hint()) {
    <div id="{{ name() }}-hint" class="govuk-hint">{{ hint() }}</div>
  }

  <textarea
    appNoEmojis
    class="govuk-textarea"
    rows="5"
    [id]="customId() ?? name()"
    name="{{ name() }}"
    [(ngModel)]="value"
    [disabled]="disabled"
    (ngModelChange)="onChange($event)"
    (blur)="onTouched(); handleEvent($event)"
    (focus)="handleEvent($event)"
    attr.aria-describedby="{{ name() }}"
    [ngClass]="{ 'govuk-!-margin-bottom-2': maxLength }"
  ></textarea>

  @if (maxLength) {
    @if (maxLength - value?.length >= 0) {
      <div id="{{ name() }}-max-length" class="govuk-character-count__message govuk-hint">
        You have {{ maxLength - value?.length }} character{{ maxLength - value?.length !== 1 ? 's' : '' }} remaining
      </div>
    } @else {
      @if (maxLength) {
        <div id="{{ name() }}-max-length" class="govuk-error-message">
          You have {{ -(maxLength - value?.length) }} character{{ -(maxLength - value?.length) !== 1 ? 's' : '' }} too many
        </div>
      }
    }
  }
</div>

