@if (isEditing()) {
  @let defect = form.getRawValue();

  <h1 class="govuk-heading-l">Defect details</h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">{{ defect.imDescription }}</span>
      <h2 class="govuk-heading-s">
        {{ defect.imNumber }}.{{ defect.itemNumber }} {{ defect.deficiencyId ? `(${defect.deficiencyId})` : '' }}
        {{ defect.deficiencySubId ? `${defect.deficiencySubId}` : '' }}{{ isDangerousAsterisk() ? '*' : '' }} - {{ defect.itemDescription }}
        {{ defect.deficiencyText }}
      </h2>
      <app-tag [type]="getCategoryColor(defect.deficiencyCategory)">
        {{ defect.deficiencyCategory }}
      </app-tag>
      @if (defect.prs) {
        <app-tag id="prs-display" [type]="'blue'">PRS</app-tag>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Defect details</h3>
      <p class="govuk-hint">Fill any defect details that apply</p>
    </div>
  </div>
  <ng-container [formGroup]="form">
    <ng-container formGroupName="additionalInformation">
      @if (!isAdvisory()) {
        <ng-container formGroupName="location">
          @for (item of additionalInfoMultiOptions | keyvalue; track index; let index = $index) {
            @if (item.value.length <= 4) {
              <govuk-form-group-radio
                [id]="`${item.key}-${index}`"
                [label]="toPascalCase(item.key)"
                [formControlName]="item.key"
                [options]="item.value"
                [orientation]="item.value.length <= 2 ? 'horizontal' : 'vertical'"
                />
            }
            @if (item.value.length >= 5) {
              <govuk-form-group-select
                [id]="`${item.key}-${index}`"
                [label]="toPascalCase(item.key)"
                [formControlName]="item.key"
                [options]="item.value"
                />
            }
          }
        </ng-container>
      }

      <govuk-form-group-textarea name="notes" label="Notes" formControlName="notes" />
    </ng-container>

    @if (isDangerous()) {
      <govuk-form-group-radio
        id="prohibitionIssued"
        label="Prohibition issued in mobile compliance"
        formControlName="prohibitionIssued"
        [options]="YES_NO_OPTIONS"
        [hint]="isDangerousAsterisk() ? '' : 'You must issue a prohibition notice in search before adding this defect'"
      ></govuk-form-group-radio>
    }
      @if (!isAdvisory()) {
        <govuk-form-group-checkbox
          id="prs"
          label="Defect repaired during test"
          formControlName="prs"
        ></govuk-form-group-checkbox>
      }
  </ng-container>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-button-group>
        <app-button id="confirm-defect" (clicked)="onConfirm()">
          Confirm
        </app-button>
        @if (isEditingDefect()) {
          <app-button id="remove-defect" design="warning" (clicked)="onRemove()">
            Remove defect
          </app-button>
        }
        <app-button id="remove-nav-back" design="link" (clicked)="onCancel()">
          Cancel  
        </app-button>
      </app-button-group>
    </div>
  </div>
}

@if (!isEditing()) {
<p>View mode</p>
  
}