@if (isEditing()) {
  @let defect = form.getRawValue();

  <h1 class="govuk-heading-l">Defect details</h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">{{ defect.imDescription }}</span>
      <h2 class="govuk-heading-s">
        {{ defect.imNumber }}.{{ defect.itemNumber }} {{ defect.deficiencyId ? `(${defect.deficiencyId})` : '' }}
        {{ defect.deficiencySubId ? `${defect.deficiencySubId}` : '' }}{{ isDangerousAsterisk() ? '*' : '' }} - {{ defect.itemDescription }}
        {{ defect.deficiencyText }}
      </h2>
      <app-tag [type]="getCategoryColor(defect.deficiencyCategory)">
        {{ defect.deficiencyCategory }}
      </app-tag>
      @if (defect.prs) {
        <app-tag id="prs-display" [type]="'blue'">PRS</app-tag>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Defect details</h3>
      <p class="govuk-hint">Fill any defect details that apply</p>
    </div>
  </div>
  <ng-container [formGroup]="form">
    <ng-container formGroupName="additionalInformation">
      @if (!isAdvisory()) {
        <ng-container formGroupName="location">
          @for (item of additionalInfoMultiOptions | keyvalue; track index; let index = $index) {
            @if (item.value.length <= 4) {
              <govuk-form-group-radio
                [id]="`${item.key}-${index}`"
                [label]="toPascalCase(item.key)"
                [formControlName]="item.key"
                [options]="item.value"
                [orientation]="item.value.length <= 2 ? 'horizontal' : 'vertical'"
                />
            }
            @if (item.value.length >= 5) {
              <govuk-form-group-select
                [id]="`${item.key}-${index}`"
                [label]="toPascalCase(item.key)"
                [formControlName]="item.key"
                [options]="item.value"
                />
            }
          }
        </ng-container>
      }

      <govuk-form-group-textarea name="notes" label="Notes" formControlName="notes" />
    </ng-container>

    @if (isDangerous()) {
      <govuk-form-group-radio
        id="prohibitionIssued"
        label="Prohibition issued in mobile compliance"
        formControlName="prohibitionIssued"
        [options]="YES_NO_OPTIONS"
        [hint]="isDangerousAsterisk() ? '' : 'You must issue a prohibition notice in search before adding this defect'"
      ></govuk-form-group-radio>
    }
      @if (!isAdvisory()) {
        <govuk-form-group-checkbox
          id="prs"
          label="Defect repaired during test"
          formControlName="prs"
        ></govuk-form-group-checkbox>
      }
  </ng-container>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-button-group>
        <app-button id="confirm-defect" (clicked)="onConfirm()">
          Confirm
        </app-button>
        @if (isEditingDefect()) {
          <app-button id="remove-defect" design="warning" (clicked)="onRemove()">
            Remove defect
          </app-button>
        }
        <app-button id="remove-nav-back" design="link" (clicked)="onCancel()">
          Cancel
        </app-button>
      </app-button-group>
    </div>
  </div>
} @else if (defect(); as defect) {
  <h1 class="govuk-heading-l">Defect details</h1>
    <div class="govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">{{ defect.imDescription }}</span>
        <h2 class="govuk-heading-s">
        {{ defect.imNumber }}.{{ defect.itemNumber }} {{ defect.deficiencyId ? `(${defect.deficiencyId})` : '' }}
        {{ defect.deficiencySubId ? `${defect.deficiencySubId}` : '' }}{{ isDangerousAsterisk() ? '*' : '' }} - {{ defect.itemDescription }}
        {{ defect.deficiencyText }}
        </h2>
        <app-tag [type]="getCategoryColor(defect.deficiencyCategory)">{{ defect.deficiencyCategory }}</app-tag>
        @if (defect.prs) {
          <app-tag id="prs-display" [type]="'blue'">PRS</app-tag>
        }
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Defect location</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Vertical</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-vertical">
            {{ defect.additionalInformation?.location?.vertical | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Horizontal</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-horizontal">
            {{ defect.additionalInformation?.location?.horizontal | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Lateral</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-lateral">
            {{ defect.additionalInformation?.location?.lateral | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Longitudinal</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-longitudinal">
            {{ defect.additionalInformation?.location?.longitudinal | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Row Number</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-row-number">
            {{ defect.additionalInformation?.location?.rowNumber | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Seat Number</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-seat-number">
            {{ defect.additionalInformation?.location?.seatNumber | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Axle Number</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-axle-number">
            {{ defect.additionalInformation?.location?.axleNumber | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Notes</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-notes">
            {{ defect.additionalInformation?.notes | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">PRS?</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-prs">
            {{ defect.prs | defaultNullOrEmpty }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Prohibition Issued?</dt>
          <dd class="govuk-summary-list__value" id="defect-additional-information-prohibition-issued">
            {{ defect.prohibitionIssued | defaultNullOrEmpty }}
          </dd>
        </div>
      </dl>
    </div>
  </div>
  @if (testResult(); as testResult) {
    @if (defect.deficiencyCategory === 'dangerous' || defect.imNumber === 29) {
      <div>
        <h2 class="govuk-heading-m">Defect media</h2>
        @if (defectMediaService) {
          @if (loading) {
            <div class="spinner-group">
              <p class="govuk-body fetching-label">Fetching media</p>
              <div class="govuk-box spinner-wrapper" aria-busy="true">
                <div id="loader" class="govuk-c-loader" role="progressbar" aria-label="Loading, please wait." tabindex="0">
                  <div class="spinner-container">
                    <div class="spinner">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          } @else if (defectMediaService.hasRententionPeriodExpired(testResult)) {
              <div class="govuk-heading-s underline">Photos</div>
              <p class="govuk-body">
                No media available - media was deleted as the retention period had passed
              </p>
          } @else {
            @if (testResult && defectMediaService.canDownloadMediaItems(defect) && defectMediaService.getMediaFetchError(testResult.testResultId) === undefined) {
              <app-button [id]="'download-all-media-button'" (clicked)="defectMediaService.downloadMediaItems(testResult, defect)">
                Download all media for this defect
              </app-button>
            }
            @if (defectMediaService.hasMediaInCache(defect)) {
              @let images = defectMediaService.getImages(defect);
              @if (images.length > 0) {
                <div class="govuk-heading-s underline">Photos</div>
              }
              @for (media of images; track media) {
                @if (testResult && media.type === 'image' && defectMediaService.fileCache[media.path]) {
                  <div style="display: inline-flex" class="defect-container">
                    <img class="media-image" [src]="defectMediaService.fileCache[media.path]" [alt]="media.path" />
                    <button class="link download-image-link" (click)="defectMediaService.downloadMediaItem(testResult, defect, media)">
                      Download photo
                    </button>
                  </div>
                }
              }
              @let videos = defectMediaService.getVideos(defect);
              @if (videos.length > 0) {
                <div class="govuk-heading-s underline">Video</div>
              }
              @for (media of videos; track media) {
                @if (testResult && media.type === 'video' && defectMediaService.fileCache[media.path]) {
                  <div style="display: inline-flex" class="defect-container">
                    <video controls class="media-video" [src]="defectMediaService.fileCache[media.path]"></video>
                    <button class="link download-video-link" (click)="defectMediaService.downloadMediaItem(testResult, defect, media)">
                      Download video
                    </button>
                  </div>
                }
              }
            } @else {
              <p class="govuk-body">
                {{ getFailureToCaptureDefectMediaReason() }}
              </p>
            }
          }
        }
      </div>
    }
  }
}
