<ng-container *ngIf="testResult$ | async as testResult">
  <app-base-test-record
    [isEditing]="true"
    [testResult]="testResult"
    [sectionTemplates]="(sectionTemplates$ | async) || []"
    (newTestResult)="handleNewTestResult($event)"
  ></app-base-test-record>

  <div class="govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-6"></div>

  <app-button-group>
    <app-button id="save-test-result" (clicked)="handleSave()">Review and submit</app-button>
  </app-button-group>
</ng-container>
