<div class="main-div">
<mat-card class="form-card">
    <mat-card-title>
      Create New Vehicle
    </mat-card-title>
    <form class="createVehicleForm form-container" [formGroup]="createVehicleForm" (ngSubmit)="onSubmit(createVehicleForm.value)">
      <mat-form-field>
        <input matInput #input maxlength="20" placeholder="Full VIN" id="vin" formControlName="vin">
        <span *ngIf="!createVehicleForm.get('vin').valid && createVehicleForm.get('vin').touched" class="error">Please enter a valid vin!</span>
      </mat-form-field>

      <mat-form-field>
        <input matInput #input maxlength="20" placeholder="Primary VRM" id="vrm" formControlName="vrm">
        <span *ngIf="!createVehicleForm.get('vrm').valid && createVehicleForm.get('vrm').touched" class="error">Please enter a valid vrm!</span>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Vehicle type" id="vehicleType" formControlName="vehicleType">
          <mat-option value="{{ vehicleTypes.PSV }}">{{ vehicleTypes.PSV | uppercase }}</mat-option>
          <mat-option value="{{ vehicleTypes.HGV }}">{{ vehicleTypes.HGV | uppercase }}</mat-option>
          <mat-option value="{{ vehicleTypes.TRL }}">{{ vehicleTypes.TRL | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field>

        <span *ngIf="!createVehicleForm.valid && createVehicleForm.touched" class="error">Please enter valid data!</span><br>
        <button mat-button type="submit" class="btn btn-primary" [disabled]="!createVehicleForm.valid">Submit<i class="material-icons">keyboard_arrow_right</i></button>
    </form>
</mat-card>
</div>
