<table *ngIf="!editState" class="govuk-table t-history">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Status</th>
    <th scope="col" class="govuk-table__header">Reason for creation</th>
    <th scope="col" class="govuk-table__header">Created by</th>
    <th scope="col" class="govuk-table__header">Created at</th>
    <th scope="col" class="govuk-table__header">Last updated by</th>
    <th scope="col" class="govuk-table__header">Last updated at</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td id="test-testVersion-curr" class="govuk-table__cell">
        {{ (testRecord.testVersion | titlecase) | DefaultNullOrEmpty }}
      </td>
      <td id="test-reasonForCreation-curr" class="govuk-table__cell">
        {{ testRecord.reasonForCreation | DefaultNullOrEmpty }}
      </td>
      <td id="test-createdByName-curr" class="govuk-table__cell">
        {{ testRecord.createdByName?.split('@')[0] | DefaultNullOrEmpty }}
      </td>
      <td id="test-createdAt-curr" class="govuk-table__cell">
        {{ testRecord.createdAt | DefaultNullOrEmpty }}
      </td>
      <td id="test-lastUpdatedByName-curr" class="govuk-table__cell">
        {{ testRecord.lastUpdatedByName?.split('@')[0] | DefaultNullOrEmpty }}
      </td>
      <td id="test-lastUpdatedAt-curr" class="govuk-table__cell">
        {{ testRecord.lastUpdatedAt | DefaultNullOrEmpty }}
      </td>
    </tr>
    <ng-container *ngFor="let archivedTestRecord of (testRecord.testHistory | SortByDatePipe :'createdAt'); let i = index">
      <tr class="govuk-table__row">
        <td id="{{ 'test-testVersion-arch-' + i}}" class="govuk-table__cell">
          {{ (archivedTestRecord.testVersion | titlecase) | DefaultNullOrEmpty }}
        </td>
        <td id="{{ 'test-reasonForCreation-arch-' + i }}" class="govuk-table__cell">
          {{ archivedTestRecord.reasonForCreation | DefaultNullOrEmpty }}
        </td>
        <td id="{{ 'test-createdByName-arch-' + i }}" class="govuk-table__cell">
          {{ archivedTestRecord.createdByName?.split('@')[0] | DefaultNullOrEmpty }}
        </td>
        <td id="{{ 'test-createdAt-arc-' + i }}" class="govuk-table__cell">
          {{ archivedTestRecord.createdAt | DefaultNullOrEmpty }}
        </td>
        <td id="{{ 'test-lastUpdatedByName-arch-' + i }}" class="govuk-table__cell">
          {{ archivedTestRecord.lastUpdatedByName?.split('@')[0] | DefaultNullOrEmpty }}
        </td>
        <td id="{{ 'test-lastUpdatedAt-arc-' + i }}" class="govuk-table__cell">
          {{ archivedTestRecord.lastUpdatedAt | DefaultNullOrEmpty }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
