<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <form class="govuk-form-group" formGroupName="testType">
          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-three-quarters">
              <label class="govuk-label govuk-!-font-weight-bold">
                Carried out during test
              </label>

              <div class="govuk-radios govuk-radios--inline">
                <div *ngFor="let option of seatbeltInstallationCheckDateOptions" class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="test-seatbelt-{{option.id}}"
                    formControlName="seatbeltInstallationCheckDate"
                    type="radio"
                    value="{{option.name}}"
                    [checked]="option.selected"
                  />
                  <label class="govuk-label govuk-radios__label">
                    {{option.name}}
                  </label>
                </div>
              </div>

              <div class="govuk-grid-row govuk-!-margin-bottom-3">
                <div class="govuk-grid-column-three-quarters">
                  <label class="govuk-label govuk-!-font-weight-bold">
                    Number of seatbelts fitted
                  </label>
                </div>
              </div>
              <div class="govuk-grid-row govuk-!-margin-bottom-3">
                <div class="govuk-grid-column-one-third">
                  <input
                    class="govuk-input"
                    id="test-numberOfSeatbeltsFitted"
                    formControlName="numberOfSeatbeltsFitted"
                    type="text"
                  />
                </div>
              </div>

              <div class="govuk-grid-row govuk-!-margin-bottom-3">
                <div
                  class="govuk-grid-column-three-quarters"
                >
                  <label class="govuk-label govuk-!-font-weight-bold">
                    Most recent installation check
                  </label>
                  <vtm-date-input
                    id="test-lastSeatbeltInstallationCheckDate"
                    ariaDescribedBy="lastSeatbeltInstallationCheckDate"
                    formControlName="lastSeatbeltInstallationCheckDate"
                  >
                  </vtm-date-input>
                </div>
              </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>
