<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Seats lower deck
    </dt>
    <dd id="test-vehicleSummary-seatsLowerDeck" class="govuk-summary-list__value">
      {{ activeRecord.seatsLowerDeck | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Seats upper deck
    </dt>
    <dd id="test-vehicleSummary-seatsUpperDeck" class="govuk-summary-list__value">
      {{ activeRecord.seatsUpperDeck | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Standing capacity
    </dt>
    <dd id="test-vehicleSummary-standingCapacity" class="govuk-summary-list__value">
      {{ activeRecord.standingCapacity | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Vehicle size
    </dt>
    <dd id="test-vehicleSummary-vehicleSize" class="govuk-summary-list__value">
      {{ activeRecord.vehicleSize | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Number of seat belts
    </dt>
    <dd id="test-vehicleSummary-numberOfSeatbelts" class="govuk-summary-list__value">
      {{ activeRecord.numberOfSeatbelts | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Seatbelt installation approval date / type approved
    </dt>
    <dd
      id="test-vehicleSummary-seatbeltInstallationApprovalDate"
      class="govuk-summary-list__value"
    >
      {{ activeRecord.seatbeltInstallationApprovalDate | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <dl class="govuk-summary-list"></dl>
</dl>
