<div class="govuk-!-padding-4" [formGroup]="form">
  <!--  Date of First Registration -->
  @if (shouldDisplayFormControl('techRecord_regnDate')) {
    <govuk-form-group-date
      label="Date of first registration"
      [hint]="'For example, 27 3 2024'"
      formControlName="techRecord_regnDate"
    ></govuk-form-group-date>
  }
  @if (shouldDisplayFormControl('techRecord_manufactureYear')) {
    <govuk-form-group-input
      label="Year of manufacture"
      formControlName="techRecord_manufactureYear"
      [width]="FormNodeWidth.XS"
      type="number"
    ></govuk-form-group-input>
  }
  @if (shouldDisplayFormControl('techRecord_brakes_dtpNumber')) {
    <govuk-form-group-input
      type="text"
      formControlName="techRecord_brakes_dtpNumber"
      label="DTp number"
      [width]="FormNodeWidth.L"
    ></govuk-form-group-input>
  }

  @if (shouldDisplayFormControl('techRecord_vehicleConfiguration')) {
    <govuk-form-group-select
      label="Vehicle configuration"
      [defaultOption]="'Select configuration'"
      [options]="vehicleConfigurationOptions"
      formControlName="techRecord_vehicleConfiguration"
    ></govuk-form-group-select>
  }


  @if (shouldDisplayFormControl('techRecord_make')) {
    <govuk-form-group-select
      type="text"
      formControlName="techRecord_make"
      label="Body make"
      [defaultOption]="'Select body make'"
      [options]="$any(bodyMakes$ | async) ?? []"
      [width]="FormNodeWidth.L"
    >
    </govuk-form-group-select>
  }

  @if (shouldDisplayFormControl('techRecord_model')) {
    <govuk-form-group-input
      type="text"
      formControlName="techRecord_model"
      label="Body model"
      [width]="FormNodeWidth.L"
    >
    </govuk-form-group-input>
  }

  @if (shouldDisplayFormControl('techRecord_bodyType_description')) {
    <govuk-form-group-select
      type="text"
      formControlName="techRecord_bodyType_description"
      label="Body type"
      [defaultOption]="'Select body type'"
      [width]="FormNodeWidth.L"
      [options]="bodyTypes"
    >
    </govuk-form-group-select>
  }

  @if (shouldDisplayFormControl('techRecord_functionCode')) {
    <govuk-form-group-select
      type="text"
      formControlName="techRecord_functionCode"
      label="Function code"
      [defaultOption]="'Select function code'"
      [width]="FormNodeWidth.L"
      [options]="FUNCTION_CODE_OPTIONS"
    >
    </govuk-form-group-select>
  }

  @if (shouldDisplayFormControl('techRecord_conversionRefNo')) {
    <govuk-form-group-input
      formControlName="techRecord_conversionRefNo"
      label="Conversion reference number"
      type="text"
      appToUppercase
      [width]="FormNodeWidth.L"
    ></govuk-form-group-input>
  }

  @if (shouldDisplayFormControl('techRecord_euVehicleCategory')) {
    <govuk-form-group-radio
      label="EU vehicle category"
      formControlName="techRecord_euVehicleCategory"
      [width]="FormNodeWidth.S"
      [options]="EUCategoryOptions"
    ></govuk-form-group-radio>
  }

  @if (shouldDisplayFormControl('techRecord_noOfAxles')) {
    <govuk-form-group-input
      label="Number of axles"
      [hint]="'This will affect how many axle-related fields appear in the record'"
      formControlName="techRecord_noOfAxles"
      [width]="FormNodeWidth.XXS"
      type="number"
    ></govuk-form-group-input>
  }
</div>
