@if (control) {
  <section class="govuk-!-margin-top-4">
    @for (inspection of control.value; track inspection; let i = $index) {
      <h4 class="govuk-heading-s">Subsequent {{ i + 1 }}</h4>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header break-words" [style.width.%]="30">Inspection type:</th>
            <td class="govuk-table__cell break-words">{{ inspection.tc3Type | defaultNullOrEmpty }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header break-words" [style.width.%]="30">Certificate number:</th>
            <td class="govuk-table__cell break-words">{{ inspection.tc3PeriodicNumber | defaultNullOrEmpty }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header break-words" [style.width.%]="30">Expiry Date:</th>
            <td class="govuk-table__cell break-words">{{ inspection.tc3PeriodicExpiryDate | date : 'dd/MM/yyyy' | defaultNullOrEmpty }}</td>
          </tr>
        </tbody>
      </table>
    }
  </section>
}
