<div class="govuk-form-group">
  <div class="govuk-label-wrapper">
    <label class="govuk-label tags" id="{{ labelId}}" for="{{ id }}">
      {{ controlLabel() }}
      @if (tags().length) {
        <div class="tags">
          @for (tag of tags(); track tag) {
            <app-tag [type]="tag.colour">{{ tag.label }}</app-tag>
          }
        </div>
      }
    </label>
  </div>

  @if (controlHint() && !disabled()) {
    <div class="govuk-hint" id="{{ hintId }}"> {{ controlHint() }} </div>
  }

  @if (hasError) {
    @let firstError = (control?.errors | keyvalue)?.[0]?.value;
    @if (firstError) {
      <p class="govuk-error-message" [id]="errorId">
        <span class="govuk-visually-hidden">Error: </span>
        <span>{{ (typeof firstError === 'string' ? firstError : firstError.error) }}</span>
      </p>
    }
  }

  @let max = maxLength();

  <textarea
    appNoEmojis
    appSanitiseUnicode
    rows="5"
    id="{{ id }}"
    name="{{ id }}"
    [attr.aria-labelledby]="labelId"
    [attr.data-testid]="id"
    [attr.data-module]="'govuk-character-count'"
    [attr.data-maxlength]="max"
    [(ngModel)]="value"
    [disabled]="disabled()"
    (ngModelChange)="onChange($event)"
    (blur)="onTouched();"
    [ngClass]="{ 'govuk-!-margin-bottom-2': max && !disabled() }"
    [class]="`govuk-textarea govuk-js-character-count govuk-input--width-${width()}`"
    [class.govuk-textarea--error]="hasError"
  ></textarea>

  @if (max && !disabled()) {
    @let length = value()?.length ?? 0;
    @let diff = max - length;

    @if (diff >= 0) {
      <div [id]="`${ id }-max-length`" class="govuk-character-count__message govuk-hint" aria-hidden="true">
        {{ getCharacterCountMessage() }}
      </div>
    } @else {
      <div [id]="`${ id }-max-length-error`" class="govuk-character-count__message govuk-error-message" aria-hidden="true">
        {{ getCharacterCountMessage() }}
      </div>
    }
  }
</div>

<!-- Screen reader only -->
<div [id]="`${ id }-max-length-sr`" class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">
  {{ screenReaderCharacterCountMessage | async }}
</div>

