@import 'node_modules/govuk-frontend/govuk/all';

.govuk-label {
  /* Default to .govuk-label--m */
  @include govuk-font($size: 24, $weight: bold);
  margin-bottom: govuk-spacing(2);
}

:host-context(.govuk-label--s) .govuk-label {
  @include govuk-font($size: 19, $weight: bold);
}

:host-context(.govuk-label--m) .govuk-label {
  @include govuk-font($size: 24, $weight: bold);
  margin-bottom: govuk-spacing(2);
}

:host-context(.govuk-label--l) .govuk-label {
  @include govuk-font($size: 36, $weight: bold);
  margin-bottom: govuk-spacing(3);
}

:host-context(.govuk-label--xl) .govuk-label {
  @include govuk-font($size: 48, $weight: bold);
  margin-bottom: govuk-spacing(3);
}
