<h1 class="govuk-heading-l title">Add batch of trailers</h1>
<form [formGroup]="form">
  <app-number-input formControlName="numberOfVehicles" label="Number of vehicles" [width]="width.XS"></app-number-input>
  <ng-container formArrayName="vehicles">
    <div class="flex flex--wrap flex_gap--7 justify--flex-start">
      <ng-container *ngFor="let control of vehicles.controls; let i = index" [formGroupName]="i">
        <app-text-input formControlName="vin" name="input-vin{{ i }}" [label]="'Vehicle ' + (i + 1)" hint="VIN" [width]="width.L">
          <ng-template appPrefix>
            <button id="remove-vehicle-{{ i + 1 }}" class="button button--no-style" (click)="removeAt(i)">&#88;</button>
          </ng-template>
          <ng-container *ngIf="control.status === 'VALID' || control.status === 'PENDING'">
            <ng-template appSuffix>
              <app-input-spinner [isValid]="control.status"></app-input-spinner>
            </ng-template>
          </ng-container>
        </app-text-input>
      </ng-container>
    </div>
  </ng-container>
</form>

<pre>form valid: {{ form.valid }}</pre>
<pre>form status: {{ form.status }}</pre>
<pre>form errors: {{ form.errors | json }}</pre>

<app-button-group>
  <app-button id="add-vehicles" (clicked)="handleSubmit()">Add vehicles</app-button>
  <app-button id="back" design="link" (clicked)="back()">Back</app-button>
</app-button-group>
