<div class="govuk-grid-row search-page">
  <div class="govuk-grid-column-full">
    <app-vehicle-header 
      [isEditing]="true" 
      [isReview]="false" 
      [testResult]="$any(form.getRawValue())" 
    ></app-vehicle-header>

    <app-accordion-control>
      <ng-template #template>
        <app-accordion
          [id]="'vehicle'"
          [title]="'Vehicle details'"
          [description]="''"
          [isExpanded]="true"
        >
          <form ngNoForm>
            <app-test-vehicle [mode]="Modes.CREATE"></app-test-vehicle>
          </form>
        </app-accordion>
        <app-accordion
          [id]="'test'"
          [title]="'Test'"
          [description]="''"
          [isExpanded]="true"
        >
          <form ngNoForm>
            <app-test [mode]="Modes.CREATE"></app-test>
          </form>
        </app-accordion>
        <app-accordion
          [id]="'visit'"
          [title]="'Visit'"
          [description]="''"
          [isExpanded]="true"
        >
          <form ngNoForm>
            <app-test-visit [mode]="Modes.CREATE"></app-test-visit>
          </form>
        </app-accordion>
        <app-accordion
          [id]="'notes'"
          [title]="'Notes'"
          [description]="''"
          [isExpanded]="true"
        >
          <form ngNoForm>
            <app-test-notes [mode]="Modes.CREATE"></app-test-notes>
          </form>
        </app-accordion>
        <app-accordion
          [id]="'defects'"
          [title]="'Defects'"
          [description]="''"
          [isExpanded]="true"
        >
          <form ngNoForm>
            <app-test-defects [mode]="Modes.CREATE"></app-test-defects>
          </form>
        </app-accordion>
        <app-accordion
          [id]="'reason-for-creation'"
          [title]="'Reason for creation'"
          [description]="''"
          [isExpanded]="true"
        >
          <form ngNoForm>
            <app-test-reason-for-creation [mode]="Modes.CREATE"></app-test-reason-for-creation>
          </form>
        </app-accordion>
      </ng-template>
    </app-accordion-control>

    <!-- Accordions appear here -->
    <ng-container [ngTemplateOutlet]="template"></ng-container>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  
    <app-button-group>
      <app-button (clicked)="onReview()">Review</app-button>
      <app-button [design]="'secondary'" (clicked)="onMarkAsAbandoned()">Mark as abandoned</app-button>
    </app-button-group>
  </div>
</div>
