<ng-container>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle type</dt>
      <dd id="vehicle-type" class="govuk-summary-list__value">{{ techRecord.vehicleType | uppercase | defaultNullOrEmpty }}</dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">{{ techRecord && techRecord.vehicleType === 'trl' ? 'Trailer ID' : 'VRM' }}</dt>
      <dd id="vehicle-vrm" class="govuk-summary-list__value">
        {{ vrmOrTrailerId | uppercase | defaultNullOrEmpty }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VIN/chassis number</dt>
      <dd id="vehicle-vin" class="govuk-summary-list__value">{{ vehicleRecord.vin | uppercase | defaultNullOrEmpty }}</dd>
    </div>
  </dl>
</ng-container>
<app-button id="submit-record-continue" (clicked)="handleSubmit()">Submit new record</app-button>

<app-tech-record-summary [isEditing]="true" [vehicleTechRecord]="techRecord"></app-tech-record-summary>
