.input-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.govuk-\!-margin-bottom-15 {
  margin-bottom: 15px !important;
}

.govuk-\!-margin-bottom-12::ng-deep > .govuk-form-group {
  margin-bottom: 12px !important;
}

.select-width::ng-deep .govuk-select {
  min-width: 10.5rem;
  max-width: 10.5rem;
}
