<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header">Brake actuator</th>
      <th scope="col" class="govuk-table__header">Lever length</th>
      <th scope="col" class="govuk-table__header">Spring brake parking</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    @for (axle of axles.controls; track axle; let i = $index) {
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Axle {{ axle.value.axleNumber }}</th>
        <td class="govuk-table__cell">
          <app-switchable-input
            [form]="getAxleForm(i)"
            [type]="types.NUMBER"
            name="brakes_brakeActuator"
            [isEditing]="isEditing()"
          ></app-switchable-input>
        </td>
        <td class="govuk-table__cell">
          <app-switchable-input [form]="getAxleForm(i)" [type]="types.NUMBER" name="brakes_leverLength" [isEditing]="isEditing()"></app-switchable-input>
        </td>
        <td class="govuk-table__cell">
          <app-switchable-input
            [form]="getAxleForm(i)"
            [type]="types.DROPDOWN"
            name="brakes_springBrakeParking"
            [isEditing]="isEditing()"
            [options]="booleanOptions"
          ></app-switchable-input>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="radio-buttons">
  <ng-template [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{ name: 'techRecord_brakes_loadSensingValve' }"></ng-template>

  <ng-template [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{ name: 'techRecord_brakes_antilockBrakingSystem' }"></ng-template>

  <ng-template #radio let-name="name">
    <app-switchable-input
      [form]="form"
      [type]="types.RADIO"
      [name]="name"
      [label]="stripName(name)"
      [isEditing]="isEditing()"
      [options]="booleanOptions"
    ></app-switchable-input>
  </ng-template>
</div>

<div class="checkboxes">
  <label class="govuk-label govuk-label--m" for="parking-brake">Parking Brake</label>

  <div id="parking-brake" class="govuk-checkboxes">
    @for (axle of axles.controls; track axle; let i = $index) {
      <app-switchable-input
        [form]="getAxleForm(i)"
        [type]="types.CHECKBOX"
        [customId]="'parkingBrakeMrk' + (i + 1)"
        name="parkingBrakeMrk"
        [label]="'Axle ' + (i + 1)"
        [isEditing]="isEditing()"
      ></app-switchable-input>
    }
  </div>
</div>
