@if (showTable()) {
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      ADR Certificates History
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Time Generated</th>
        <th scope="col" class="govuk-table__header">Created By</th>
        <th scope="col" class="govuk-table__header">Certificate Type</th>
        <th scope="col" class="govuk-table__header">Certificate Link</th>
      </tr>
    </thead>
    <tbody>
      @for (certificate of adrCertificateHistory; track i; let i = $index) {
        <tr>
          <td class="govuk-table__cell" [id]="'adr-generated-timestamp-' + i">{{certificate.generatedTimestamp | date : 'dd/MM/yyyy HH:mm' }}</td>
          <td class="govuk-table__cell" [id]="'adr-created-by-name-' + i">{{certificate.createdByName}}</td>
          <td class="govuk-table__cell" [id]="'adr-certificate-type-' + i">{{certificate.certificateType}}</td>
          <td class="govuk-table__cell" [id]="'adr-view-certificate-link-' + i">
            <button [params]="documentParams(certificate)" [fileName]="getFileName(certificate)" appRetrieveDocument class="link">View</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <app-pagination tableName="adr-certificate-history"
    [numberOfItems]="numberOfADRCertificates"
    (paginationOptionsChange)="handlePaginationChange($event)"
    />
} @else {
  <dl class="govuk-summary-list">
    <div>
      <dt class="govuk-summary-list__key">{{ reasonForNoRecords }}</dt>
    </div>
  </dl>
}


@if (!isEditing && !isArchived) {
  <div class="govuk-button-group">
    <a
      id="generate-adr-cert"
      *appRoleRequired="[roles.TestResultCreateContingency, roles.TestResultCreateDeskAssessment]"
      class="govuk-button"
      (click)="validateADRDetailsAndNavigate()"
      >Generate an ADR Certificate for this vehicle</a
      >
    </div>
  }
