<div class="govuk-form-group">
  <fieldset [disabled]="disabled" class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">{{ label }}</h1>
    </legend>

    <p *ngIf="errorMessage" id="{{ name }}-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ errorMessage }}</p>
    <div [id]="name + '-hint'" class="govuk-hint">{{ hint }}</div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div *ngFor="let option of options" class="govuk-checkboxes__item">
        <input type="checkbox" class="govuk-checkboxes__input" id="{{ name + '-' + option.value + '-checkbox' }}" [name]="name" [value]="option.value" [ngModel]="isChecked(option.value)" (ngModelChange)="handleChange($event, option)" (blur)="onTouched(); handleEvent($event)" (focus)="handleEvent($event)" />
        <label class="govuk-label govuk-checkboxes__label" [for]="name"> {{ option.label }} </label>
      </div>
    </div>
  </fieldset>
</div>
