<div [formGroup]="form">
  @if (mode() === Modes.EDIT) {
  <!--  Test station details -->
  <govuk-form-group-autocomplete
    label="Test station details"
    [options$]="testStations$"
    formControlName="testStationPNumber"
  />
  <govuk-form-group-input
    label="Type of test facility"
    formControlName="testStationType"
  />
  <govuk-form-group-autocomplete
    label="Tester details"
    [options$]="users$"
    formControlName="testerStaffId"
  />
  } @else {
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Tester station details</td>
          <td class="govuk-table__cell">{{ form.controls.testStationName.value }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Tester details</td>
          <td class="govuk-table__cell">{{ form.controls.testStationType.value }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Tester details</td>
          <td class="govuk-table__cell">{{ form.controls.testerName.value }}</td>
        </tr>
      </tbody>
    </table>
  }
</div>
