<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-tech-record-title [vehicle]="techRecord()" [hideActions]="true"></app-tech-record-title>

    <form [formGroup]="form" (submit)="handleSubmit()">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <govuk-form-group-textarea
        label="Why are you making this change?" 
        formControlName="reason"
        [maxLength]="100"
      ></govuk-form-group-textarea>

      <dl class="govuk-summary-list">
        <dd class="govuk-summary-list__value">
          <button class="govuk-button govuk-button--primary" id="submit" type="submit" data-module="govuk-button" data-prevent-double-click="true">
            {{ buttonLabel }}
          </button>
        </dd>
        <dd class="govuk-summary-list__value back-button">
          <a class="govuk-link" href="javascript:void(0)" id="back-from-record-visibility-link" (click)="goBack()">Back</a>
        </dd>
      </dl>
    </form>
  </div>
</div>
