<div *ngIf="!testRecords || !testRecords.length">
  <h2 class="govuk-heading-m">Test Records</h2>
  <h3 class="govuk-heading-s">No test records found.</h3>
</div>
<ng-container *ngIf="testRecords && testRecords.length">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Test Records
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Test Type</th>
        <th scope="col" class="govuk-table__header">Result</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr *ngFor="let test of paginatedTestFields; trackBy: trackByFn">
        <th scope="row" class="govuk-table__header">{{ test.testTypeStartTimestamp | date: 'dd/MM/yyyy HH:mm' }}</th>
        <td class="govuk-table__cell">{{ test.testTypeName }}</td>
        <td class="govuk-table__cell">{{ test.testResult }}</td>
        <td class="govuk-table__cell">
          <a id="view-test-{{ test.testResultId }}" routerLink="test-records/test-result/{{ test.testResultId }}/{{ test.testNumber }}">View</a>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination tableName="test-history" [numberOfItems]="numberOfRecords" (paginationOptions)="handlePaginationChange($event)"></app-pagination>
</ng-container>
