@if (testResults().length) {
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Test Records
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Test Type</th>
        <th scope="col" class="govuk-table__header">Result</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      @for (test of paginatedTestFields; track i; let i = $index) {
        <tr>
          <th scope="row" class="govuk-table__header" [id]="'test-record-summary-date-' + i">
            {{ test.testTypeStartTimestamp | date : 'dd/MM/yyyy HH:mm' }}
          </th>
          <td class="govuk-table__cell" [id]="'test-record-summary-name-' + i">{{ test.testTypeName }}</td>
          <td class="govuk-table__cell" [id]="'test-record-summary-result-' + i">{{ getResult(test) }}</td>
          @if (!isEditing()) {
            <td class="govuk-table__cell">
              <a id="view-test-{{ i + 1 }}" routerLink="test-records/test-result/{{ test.testResultId }}/{{ test.testNumber }}">View</a>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
  <app-pagination tableName="test-history" [numberOfItems]="numberOfRecords" (paginationOptionsChange)="handlePaginationChange($event)" />
} @else {
  <h2 class="govuk-heading-m">Test Records</h2>
  <h3 class="govuk-heading-s">No test records found.</h3>
}

