<div *ngIf="vehicle">
  <h2 class="govuk-heading-l">{{ makeAndModel | defaultNullOrEmpty }}</h2>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle type</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">
        {{ techRecord?.vehicleType | defaultNullOrEmpty | uppercase }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VRM</dt>
      <app-number-plate *ngIf="vrm" [vrm]="vrm"></app-number-plate>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VIN/chassis number</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">{{ vehicle.vin | defaultNullOrEmpty }}</dd>
    </div>
  </dl>

  <form [formGroup]="form">
    <app-text-input #inputVin formControlName="vin" name="input-vin" label="New VIN" [width]="width"></app-text-input>

    <app-button-group>
      <app-button id="submit-vrm" (clicked)="handleSubmit()">Save</app-button>
      <app-button design="link" data-module="govuk-button" (clicked)="navigateBack()">Back</app-button>
    </app-button-group>
  </form>
</div>
