<div *ngIf="vehicle">
  <h2 class="govuk-heading-l">{{ makeAndModel }}</h2>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle type</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">
        {{ vehicleType | defaultNullOrEmpty | uppercase }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VRM</dt>
      <app-number-plate *ngIf="vrm" [vrm]="vrm"></app-number-plate>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VIN/chassis number</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">{{ vehicle.vin | defaultNullOrEmpty }}</dd>
    </div>
  </dl>

  <form [formGroup]="form">
    <app-text-input formControlName="vin" name="vin" label="New VIN" (blur)="isFormValid()" [width]="width">
      <ng-container *ngIf="form.controls['vin'].status === 'VALID' || form.controls['vin'].status === 'PENDING'">
        <ng-template appSuffix>
          <ng-container [ngSwitch]="form.controls['vin'].status">
            <div id="checkmark" *ngSwitchCase="'VALID'">&#10003;</div>
            <div *ngSwitchCase="'PENDING'" class="spinner"></div>
          </ng-container>
        </ng-template>
      </ng-container>
    </app-text-input>
  </form>

  <app-button-group>
    <app-button id="submit-vim" (clicked)="handleSubmit()">Save</app-button>
    <app-button id="back-button" design="link" data-module="govuk-button" (clicked)="navigateBack()">Back</app-button>
  </app-button-group>
</div>
