<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">
    @if (controlLabel()) {
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading tags">
          {{ controlLabel() }}
          @if (tags().length) {
            <div class="tags">
              @for (tag of tags(); track tag) {
                <app-tag [type]="tag.colour">{{ tag.label }}</app-tag>
              }
            </div>
          }
        </h1>
      </legend>
    }

    @if (controlHint()) {
      <div class="govuk-hint" id="{{ hintId }}"> {{ controlHint() }} </div>
    }

    @if (hasError) {
      @let firstError = (control?.errors | keyvalue)?.[0]?.value;
      @if (firstError) {
        <p class="govuk-error-message" [id]="errorId">
          <span class="govuk-visually-hidden">Error: </span>
          <span>{{ (typeof firstError === 'string' ? firstError : firstError.error) }}</span>
        </p>
      }
    }

    <div [formGroup]="form" id="{{ id }}">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ id }}-day"> Day </label>
          <input
            class="govuk-input--width-2 govuk-input govuk-date-input__input"
            id="{{ id }}-day"
            type="number"
            inputmode="numeric"
            formControlName="day"
            appFocusNext
            appNumberOnly
            [disabled]="disabled()"
            [class]="style"
            />
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ id }}-month"> Month </label>
          <input
            class="govuk-input--width-2 govuk-input govuk-date-input__input"
            id="{{ id }}-month"
            type="number"
            inputmode="numeric"
            formControlName="month"
            appFocusNext
            appNumberOnly
            [disabled]="disabled()"
            [class]="style"
            />
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ id }}-year"> Year </label>
          <input
            class="govuk-input--width-4 govuk-input govuk-date-input__input"
            id="{{ id }}-year"
            type="number"
            inputmode="numeric"
            formControlName="year"
            appFocusNext
            appNumberOnly
            [disabled]="disabled()"
            [class]="style"
            />
        </div>
      </div>
    </div>
  </fieldset>
</div>
