<app-switchable-input
  [form]="form"
  [type]="editTypes.RADIO"
  name="dangerous_goods"
  label="Able to carry dangerous goods"
  [isEditing]="isEditing"
  [options]="[
    { value: true, label: 'Yes' },
    { value: false, label: 'No' }
  ]"
  [width]="widths.XS"
></app-switchable-input>
<div *ngIf="canCarry">
  <app-switchable-input
    [form]="form"
    [type]="editTypes.TEXT"
    name="techRecord_adrDetails_applicantDetails_name"
    label="Name"
    [isEditing]="isEditing"
    [width]="widths.XXL"
  ></app-switchable-input>

  <app-switchable-input
    [form]="form"
    [type]="editTypes.TEXT"
    name="techRecord_adrDetails_applicantDetails_street"
    label="Street"
    [isEditing]="isEditing"
    [width]="widths.XXL"
  ></app-switchable-input>

  <app-switchable-input
    [form]="form"
    [type]="editTypes.TEXT"
    name="techRecord_adrDetails_applicantDetails_town"
    label="Town"
    [isEditing]="isEditing"
    [width]="widths.XXL"
  ></app-switchable-input>

  <app-switchable-input
    [form]="form"
    [type]="editTypes.TEXT"
    name="techRecord_adrDetails_applicantDetails_city"
    label="City"
    [isEditing]="isEditing"
    [width]="widths.XXL"
  ></app-switchable-input>

  <app-switchable-input
    [form]="form"
    [type]="editTypes.TEXT"
    name="techRecord_adrDetails_applicantDetails_postcode"
    label="Postcode"
    [isEditing]="isEditing"
    [width]="widths.L"
  ></app-switchable-input>
</div>

<!-- <app-dynamic-form-group [template]="template" [data]="techRecord" [edit]="isEditing"></app-dynamic-form-group> -->
