@if (techRecord(); as tr) {
  <div class="govuk-!-padding-4" [formGroup]="form">
    @if(
      (parent.get('techRecord_axles')?.value.length === 0 ||
      !parent.get('techRecord_axles')?.value) &&
      tr.techRecord_vehicleType !== VehicleTypes.PSV) {
      <span class="govuk-label govuk-label--s govuk-!-margin-bottom-4">
        Axle distance
      </span>
      <app-field-warning-message id="enter-number-of-axles-dimensions-warning-message" [warningMessage]="'Enter the number of axles to be able to add axle distances.'"></app-field-warning-message>
      <div class="govuk-!-padding-bottom-8"></div>
    }

    @if (hasEnoughAxlesToDisplay()) {
      <!-- Front axle to rear axle-->
        <govuk-form-group-input
          formControlName="techRecord_frontAxleToRearAxle"
          label="Front axle to rear axle"
          [width]="Widths.XS"
          suffix="mm"
          type="number"
        />

      @if (tr.techRecord_vehicleType === VehicleTypes.TRL) {
        <!-- Rear axle to rear of trailer -->
        <govuk-form-group-input
          formControlName="techRecord_rearAxleToRearTrl"
          label="Rear axle to rear of trailer"
          [width]="Widths.XS"
          suffix="mm"
          type="number"
        />
      }
    }


    <!-- Axles spacings (HGV and TRL) -->
    @if (tr.techRecord_vehicleType !== VehicleTypes.PSV && parent.get('techRecord_dimensions_axleSpacing')) {
      <ng-container [formGroup]="parent">
        <ng-container formArrayName="techRecord_dimensions_axleSpacing">
          @for (axle of axleSpacings?.controls; track axle; let i = $index) {
            <ng-container [formGroup]="axle">
              <govuk-form-group-input
                [id]="'techRecord_dimensions_axleSpacing_' + i + '_value'"
                formControlName="value"
                label="Axle {{ i + 1 }} to axle {{ i + 2 }}"
                [width]="Widths.XS"
                suffix="mm"
                type="number"
              ></govuk-form-group-input>
            </ng-container>
          }
        </ng-container>
      </ng-container>
    }

    <!-- Length-->
    <div>
      @if (shouldShowLengthWarning()) {
        <app-field-warning-message id="dimensions-length-warning" [warningMessage]="'This length dimension field value is greater than 12,000mm. Check your input before proceeding'"></app-field-warning-message>
      }
      <govuk-form-group-input
        formControlName="techRecord_dimensions_length"
        label="Length"
        [width]="Widths.XS"
        suffix="mm"
        type="number"
      ></govuk-form-group-input>
    </div>

    <!-- Width-->
    <div>
      @if (shouldShowWidthWarning()) {
        <app-field-warning-message id="dimensions-width-warning" [warningMessage]="'This width dimension field value is greater than 2,600mm. Check your input before proceeding'"></app-field-warning-message>
      }

      <govuk-form-group-input
        formControlName="techRecord_dimensions_width"
        label="Width"
        [width]="Widths.XS"
        suffix="mm"
        type="number"
      ></govuk-form-group-input>
    </div>

    @if (tr.techRecord_vehicleType === VehicleTypes.PSV) {
      <!--   Height (PSV Only)   -->
        <govuk-form-group-input
          formControlName="techRecord_dimensions_height"
          label="Height"
          [width]="Widths.XS"
          suffix="mm"
          type="number"
        />
    }

    @if (tr.techRecord_vehicleType === VehicleTypes.TRL) {
      <span class="govuk-label govuk-label--s govuk-!-margin-bottom-4">
        Coupling centre to rear axle
      </span>
      <div class="flex-row">
        <!-- Coupling centre to rear axle minimum -->
        <govuk-form-group-input
          formControlName="techRecord_couplingCenterToRearAxleMin"
          label="Minimum"
          [width]="Widths.XS"
          class="govuk-!-font-weight-regular"
          suffix="mm"
          type="number"
        />
        <!-- Coupling centre to rear axle maximum -->
        <govuk-form-group-input
          formControlName="techRecord_couplingCenterToRearAxleMax"
          label="Maximum"
          [width]="Widths.XS"
          class="govuk-!-font-weight-regular"
          suffix="mm"
          type="number"
        />
      </div>

      <span class="govuk-label govuk-label--s govuk-!-margin-bottom-4">
        Coupling centre to rear of trailer
      </span>
      <div class="flex-row">
        <!-- Coupling centre to rear axle minimum -->
        @if (couplingCenterToRearTrlMinWarning) {
          <app-field-warning-message id="coupling-centre-to-rear-of-trailer-minimum-warning" [warningMessage]="couplingCenterToRearTrlMinWarning"/>
        }
        <govuk-form-group-input
          formControlName="techRecord_couplingCenterToRearTrlMin"
          label="Minimum"
          [width]="Widths.XS"
          class="govuk-!-font-weight-regular"
          suffix="mm"
          type="number"
        />
        <!-- Coupling centre to rear axle maximum -->
        @if (couplingCenterToRearTrlMaxWarning) {
          <app-field-warning-message id="coupling-centre-to-rear-of-trailer-maximum-warning" [warningMessage]="couplingCenterToRearTrlMaxWarning"/>
        }
        <govuk-form-group-input
          formControlName="techRecord_couplingCenterToRearTrlMax"
          label="Maximum"
          [width]="Widths.XS"
          class="govuk-!-font-weight-regular"
          suffix="mm"
          type="number"
        />
      </div>

      <govuk-form-group-input
        formControlName="techRecord_centreOfRearmostAxleToRearOfTrl"
        label="Centre of rear axle to rear of trailer"
        [width]="Widths.XS"
        suffix="mm"
        type="number"
      />
    }

    <!-- HGV only fields -->
    @if (tr.techRecord_vehicleType === VehicleTypes.HGV) {
      <div class="min-max-container">
        <span class="govuk-label govuk-label--s govuk-!-margin-bottom-4">
          Front of vehicle to fifth wheel
        </span>
        <div class="flex-row">
          <!-- Front of vehicle to fifth wheel minimum -->
          <govuk-form-group-input
            formControlName="techRecord_frontVehicleTo5thWheelCouplingMin"
            label="Minimum"
            [width]="Widths.XS"
            suffix="mm"
            type="number"
            class="govuk-!-font-weight-regular"
          ></govuk-form-group-input>
          <!-- Front of vehicle to fifth wheel maximum -->
          <govuk-form-group-input
            formControlName="techRecord_frontVehicleTo5thWheelCouplingMax"
            label="Maximum"
            [width]="Widths.XS"
            suffix="mm"
            type="number"
            class="govuk-!-font-weight-regular"
          ></govuk-form-group-input>
        </div>
      </div>
      <div class="min-max-container">
        <span class="govuk-label govuk-label--s govuk-!-margin-bottom-4">
          Front of vehicle to coupling device
        </span>
        <div class="flex-row">
          <!-- Front of vehicle to coupling device minimum -->
          <govuk-form-group-input
            formControlName="techRecord_frontAxleTo5thWheelMin"
            label="Minimum"
            [width]="Widths.XS"
            suffix="mm"
            type="number"
            class="govuk-!-font-weight-regular"
          ></govuk-form-group-input>
          <!-- Front of vehicle to coupling device maximum -->
          <govuk-form-group-input
            formControlName="techRecord_frontAxleTo5thWheelMax"
            label="Maximum"
            [width]="Widths.XS"
            suffix="mm"
            type="number"
            class="govuk-!-font-weight-regular"
          ></govuk-form-group-input>
        </div>
      </div>
    }
  </div>
}
