<div class="filter-box">
  <dt class="govuk-summary-list__key-filter">
    Filter by
  </dt>
  <dd class="govuk-summary-list__value govuk-summary-list__value--filter">
    <a class="app-c-filter-summary__remove-filter" href="javascript:void(0)" id="plates">
      <span class="app-c-filter-summary__remove-filter-text">
        <span class="govuk-visually-hidden">Remove filter</span>
        Plates
      </span>
    </a>
  </dd>
  <dd class="govuk-summary-list__value govuk-summary-list__value--filter">
    <a class="app-c-filter-summary__remove-filter" href="javascript:void(0)" id="required">
      <span class="app-c-filter-summary__remove-filter-text">
        <span class="govuk-visually-hidden">Remove filter</span>
        Required
      </span>
    </a>
  </dd>
  <dd class="govuk-summary-list__value govuk-summary-list__value--filter">
    <a class="app-c-filter-summary__remove-filter" href="javascript:void(0)" id="adr">
      <span class="app-c-filter-summary__remove-filter-text">
        <span class="govuk-visually-hidden">Remove filter</span>
        ADR
      </span>
    </a>
  </dd>
</div>