.search-btn {
  background-color: #1d70b8;
  color: #fff;
  border: none;
  padding: 0.4rem 0.7rem 0.3rem 0.5rem;
  margin-bottom: 0rem;
}
.add-link {
  cursor: pointer;
}

@media (max-width: 640px) {
  .govuk-table__head {
    display: none;
  }

  .govuk-table__body .govuk-table__row {
    display: block;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #b1b4b6;
    padding-bottom: 1em;
  }

  .govuk-table__body .govuk-table__cell {
    display: block;
    text-align: left;
    padding: 0.5em 0;

    &::before {
      content: attr(data-label);
      font-weight: 700;
      display: block;
    }
  }
}
