<div [formGroup]="form">
  @if (mode() === Modes.EDIT || mode() === Modes.AMEND) {
    <!--  Notes -->
    <ng-container formGroupName="testTypes">
      <ng-container formGroupName="0">
          <govuk-form-group-textarea
            label="Additional Notes (optional)"
            [maxLength]="500"
            formControlName="additionalNotesRecorded"
          />
      </ng-container>
    </ng-container>
  } @else {
    @if (testResult(); as testResult) {
      <table class="govuk-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Additional Notes (optional):</td>
          <td class="govuk-table__cell" id="test-additionalNotesRecorded">
            {{ testResult.testTypes[0].additionalNotesRecorded | defaultNullOrEmpty }}
          </td>
        </tr>
        </tbody>
      </table>
    }
  }
</div>
