<div [formGroup]="form">
  @if (mode() === Modes.EDIT) {
  <!--  Notes -->
  <ng-container formGroupName="testTypes">
    <ng-container formGroupName="0">
        <govuk-form-group-textarea
          label="Additional notes (optional)"
          [maxLength]="500"
          formControlName="additionalNotesRecorded"
        />
    </ng-container>
  </ng-container>
  } @else {
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Additional notes (optional):</td>
        <td class="govuk-table__cell" id="test-additionalNotesRecorded">
          {{ form.controls.testTypes.at(0).controls.additionalNotesRecorded.value | defaultNullOrEmpty }}
        </td>
      </tr>
      </tbody>
    </table>
  }
</div>
