<!--  <dl class="technical-record-sub-details govuk-summary-list adr-details">-->
<!--    <div class="govuk-summary-list__row">-->
<!--      <dt class="govuk-summary-list__key">-->
<!--        Able to carry dangerous goods-->
<!--        <span *ngIf="showCheck">-->
<!--          <div class="govuk-radios govuk-radios&#45;&#45;inline" id="radioADR">-->
<!--            <div class="govuk-radios__item">-->
<!--              <input class="govuk-radios__input" id="hasADR" name="hasADR" type="radio" [checked]="!isAdrNull"-->
<!--                     value="true" (change)="switchAdrDisplay($event)">-->
<!--              <label class="govuk-label govuk-radios__label" for="hasADR">-->
<!--                Yes-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="govuk-radios__item">-->
<!--              <input class="govuk-radios__input" id="hasNotADR" name="hasADR" type="radio"-->
<!--                     [checked]="isAdrNull" value="false" (change)="switchAdrDisplay($event)">-->
<!--              <label class="govuk-label govuk-radios__label" for="hasNotADR">-->
<!--                No-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </span>-->
<!--      </dt>-->

<!--      <dd id="test-ableToCarry" class="govuk-summary-list__value">-->
<!--        <div *ngIf="!showCheck">-->
<!--          <span> {{ activeRecord.adrDetails == null ? "No" : "Yes"  }}</span>-->
<!--        </div>-->
<!--      </dd>-->
<!--      <dd class="govuk-summary-list__value"></dd>-->
<!--    </div>-->

<!--    <vtm-adr-details-view>-->
<!--        [activeRecord]="activeRecord"-->
<!--        [techRecordsJson]="techRecordsJson"-->
<!--        [hideForm]="hideForm">-->
<!--    </vtm-adr-details-view>-->

<!--&lt;!&ndash;    <ng-template #adrForm>&ndash;&gt;-->
<!--&lt;!&ndash;        <vtm-adr-details-form *ngIf="!hideForm"&ndash;&gt;-->
<!--&lt;!&ndash;          [vehicletypes$]="vehicletypes$"&ndash;&gt;-->
<!--&lt;!&ndash;          [permittedDangerousGoodsFe$]="permittedDangerousGoodsFe$"&ndash;&gt;-->
<!--&lt;!&ndash;          [guidanceNotesFe$]="guidanceNotesFe$"&ndash;&gt;-->
<!--&lt;!&ndash;          [initialAdrDetails]="activeRecord?.adrDetails">&ndash;&gt;-->
<!--&lt;!&ndash;        </vtm-adr-details-form>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-template>&ndash;&gt;-->

<!--  </dl>-->
