<ng-container *ngIf="testResult$ | async as testResult">
  <app-button-group *ngIf="isTestTypeGroupEditable$ | async; else notSupported">
    <app-button *ngIf="(isEditing$ | async) === false; else editing" id="edit-test-result" (clicked)="handleEdit()">Edit</app-button>

    <ng-template #editing>
      <app-button id="save-test-result" (clicked)="handleSave()">Submit</app-button>
      <app-button id="cancel-edit-test-result" type="secondary" (clicked)="handleCancel()">Cancel</app-button>
    </ng-template>
  </app-button-group>

  <app-base-test-record
    [isEditing]="(isEditing$ | async) || false"
    [testResult]="testResult"
    [sectionTemplates]="(sectionTemplates$ | async) || []"
    (newTestResult)="handleNewTestResult($event)"
  ></app-base-test-record>

  <app-test-amendment-history class="section" [testRecord]="testResult"></app-test-amendment-history>
</ng-container>

<ng-template #notSupported>
  <app-banner>
    <ng-container title>Important</ng-container>

    <ng-container content>Editing this record is not currently supported</ng-container>
  </app-banner>
</ng-template>
