<ng-container *ngIf="control && formArray.controls.length">
  <app-field-error-message [error]="control.touched ? control.getError('custom')?.message : ''"></app-field-error-message>

  <ng-container *ngIf="formArray.controls.length === 1; else multiple">
    <app-text-input
      [id]="'UN_number_1'"
      [name]="'UN number 1'"
      [label]="'UN number 1'"
      [customId]="'UN number 1'"
      [formControl]="formArray.controls[0]"
      [minlength]="1"
      [maxlength]="1500"
      (blur)="formArray.controls[0].markAsTouched(); control.markAsTouched()"
    ></app-text-input>
  </ng-container>

  <ng-template #multiple>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <ng-container *ngFor="let child of formArray.controls; let i = index">
          <tr>
            <td class="govuk-table__cell">
              <app-text-input
                [id]="'UN_number_' + (i + 1)"
                [name]="'UN number ' + (i + 1)"
                [label]="'UN number ' + (i + 1)"
                [customId]="'UN number ' + (i + 1)"
                [formControl]="child"
                [minlength]="1"
                [maxlength]="1500"
                (blur)="child.markAsTouched(); control.markAsTouched()"
              ></app-text-input>
            </td>
            <td class="govuk-table__cell align-middle">
              <a class="govuk-link" role="button" href="javascript:void(0)" (click)="removeControl(i)">Remove</a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ng-template>

  <p class="govuk-body">
    <a role="button" class="govuk-link" href="javascript:void(0)" (click)="addControl()"> Add UN Number </a>
  </p>
</ng-container>
