@if (control && formArray.controls.length) {
  <app-field-error-message [error]="control.touched ? control.getError('custom')?.message : ''" />
  @if (formArray.controls.length === 1) {
    <app-text-input [id]="'UN_number_1'"
      [name]="'UN number 1'"
      [label]="'UN number 1'"
      [customId]="'UN number 1'"
      [formControl]="formArray.controls[0]"
      [minlength]="1"
      [maxlength]="1500"
      (blur)="formArray.controls[0].markAsTouched(); control.markAsTouched()"
      />
  } @else {
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        @for (child of formArray.controls; track child; let i = $index) {
          <tr>
            <td class="govuk-table__cell">
              <app-text-input
                [id]="'UN_number_' + (i + 1)"
                [name]="'UN number ' + (i + 1)"
                [label]="'UN number ' + (i + 1)"
                [customId]="'UN number ' + (i + 1)"
                [formControl]="child"
                [minlength]="1"
                [maxlength]="1500"
                (blur)="child.markAsTouched(); control.markAsTouched()"
              ></app-text-input>
            </td>
            <td class="govuk-table__cell align-middle">
              <a class="govuk-link link" (click)="removeControl(i)">Remove</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
  <p class="govuk-body">
    <a class="govuk-link link" (click)="addControl()">Add UN Number</a>
  </p>
}
