<div class="govuk-form-group">
  @if (controlLabel()) {
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m tags" [htmlFor]="id">
        {{ controlLabel() }}
        @if (tags().length) {
          <div class="tags">
            @for (tag of tags(); track tag) {
              <app-tag [type]="tag.colour">{{ tag.label }}</app-tag>
            }
          </div>
        }
      </label>
    </h1>
  }

  @if (controlHint()) {
    <div class="govuk-hint" [id]="hintId"> {{ controlHint() }} </div>
  }

  @if (hasError && showErrors()) {
    @let firstError = (control?.errors | keyvalue)?.[0]?.value;
    @if (firstError) {
      <p class="govuk-error-message" [id]="errorId">
        <span class="govuk-visually-hidden">Error: </span>
        <span>{{ (typeof firstError === 'string' ? firstError : firstError.error) }}</span>
      </p>
    }
  }

  <div class="govuk-input__wrapper">
    @if (controlType() === 'text') {
      <input
        appNoEmojis
        [id]="id"
        [name]="id"
        [attr.aria-describedby]="hintId"
        [attr.aria-labelledby]="labelId"
        [attr.data-testid]="id"
        [class.govuk-radios__input--error]="hasError"
        [(ngModel)]="value"
        (ngModelChange)="writeValue($event)"
        (blur)="onTouched(); onBlur($event)"
        [class]="style"
        [disabled]="control?.disabled || false"
        [maxlength]="maxlength()"
        />
    }

    @if (controlType() === 'number') {
      <input
        [id]="id"
        [name]="id"
        [attr.aria-describedby]="hintId"
        [attr.aria-labelledby]="labelId"
        [attr.data-testid]="id"
        [class.govuk-radios__input--error]="hasError"
        [(ngModel)]="value"
        (ngModelChange)="writeValue($event)"
        type="number"
        appNumberOnly
        inputmode="numeric"
        (blur)="onTouched(); onBlur($event)"
        [class]="style"
        [disabled]="control?.disabled || false"
        />
    }

    @if (controlType() === 'numericString') {
      <input
        appNoEmojis
        [id]="id"
        [name]="id"
        [attr.aria-describedby]="hintId"
        [attr.aria-labelledby]="labelId"
        [attr.data-testid]="id"
        [class.govuk-radios__input--error]="hasError"
        [(ngModel)]="value"
        (ngModelChange)="writeValue($event)"
        appNumberOnly
        (blur)="onTouched(); onBlur($event)"
        [class]="style"
        [disabled]="control?.disabled || false"
        />
    }

    @if (controlType() === 'decimal') {
      <input
        [id]="id"
        [name]="id"
        [attr.aria-describedby]="hintId"
        [attr.aria-labelledby]="labelId"
        [attr.data-testid]="id"
        [class.govuk-radios__input--error]="hasError"
        [(ngModel)]="value"
        (ngModelChange)="writeValue($event)"
        type="number"
        inputmode="decimal"
        pattern="^\d*\.?\d*$"
        (blur)="onTouched(); onBlur($event)"
        [class]="style"
        [disabled]="control?.disabled || false"
        />
    }

    <!-- Provide suffix via string input -->
    @if (suffix()) {
      <div class="govuk-input__suffix" aria-hidden="true">{{ suffix() }}</div>
    }

    <!-- Also allow providing of suffix via content projection for more complex suffixes -->
    <ng-content select=".govuk-input__suffix"></ng-content>
  </div>
</div>
