<div class="govuk-form-group-input">
  <h1 *ngIf="controlLabel">
    <label tag >
      {{ controlLabel }}
      <ng-container *ngIf="tags?.length">
        <div>
          <app-tag *ngFor="let tag of tags" [type]="tag.colour">{{ tag.label }}</app-tag>
        </div>
      </ng-container>
    </label>
  </h1>

  <ng-container *ngIf="controlHint">
    <div class="govuk-hint" id="{{ hintId }}"> {{ controlHint }} </div>
  </ng-container>

  <ng-container *ngIf="hasError">
    <p class="govuk-error-message" id="{{ errorId }}">
      <span class="govuk-visually-hidden">Error: </span>
      <span>{{ (control?.errors | keyvalue)?.[0]?.value }}</span>
    </p>
  </ng-container>

  <ng-container *ngIf="controlType === 'text'">
    <input
      id="{{ id }}"
      name="{{ id }}"
      [attr.aria-describedby]="hintId"
      [attr.aria-labelledby]="labelId"
      [attr.data-testid]="id"
      [class.govuk-radios__input--error]="hasError"
      [(ngModel)]="value"
      (ngModelChange)="onChange($event)"
      (blur)="onTouched(); onBlur($event)"
      [class]="style"
      [disabled]="control?.disabled || false"
      [maxlength]="maxlength"
    />
  </ng-container>

  <ng-container *ngIf="controlType === 'number'">
    <input
      id="{{ id }}"
      name="{{ id }}"
      [attr.aria-describedby]="hintId"
      [attr.aria-labelledby]="labelId"
      [attr.data-testid]="id"
      [class.govuk-radios__input--error]="hasError"
      [(ngModel)]="value"
      (ngModelChange)="onChange($event)"
      type="number"
      appNumberOnly
      inputmode="numeric"
      (blur)="onTouched(); onBlur($event)"
      [class]="style"
      [disabled]="control?.disabled || false"
    />
  </ng-container>

  <ng-container *ngIf="controlType === 'numericString'">
    <input
      id="{{ id }}"
      name="{{ id }}"
      [attr.aria-describedby]="hintId"
      [attr.aria-labelledby]="labelId"
      [attr.data-testid]="id"
      [class.govuk-radios__input--error]="hasError"
      [(ngModel)]="value"
      (ngModelChange)="onChange($event)"
      appNumberOnly
      (blur)="onTouched(); onBlur($event)"
      [class]="style"
      [disabled]="control?.disabled || false"
    />
  </ng-container>

  <ng-container *ngIf="controlType === 'decimal'">
    <div class="govuk-input__wrapper">
      <input
        id="{{ id }}"
        name="{{ id }}"
        [attr.aria-describedby]="hintId"
        [attr.aria-labelledby]="labelId"
        [attr.data-testid]="id"
        [class.govuk-radios__input--error]="hasError"
        [(ngModel)]="value"
        (ngModelChange)="onChange($event)"
        type="number"
        inputmode="decimal"
        pattern="^\d*\.?\d*$"
        (blur)="onTouched(); onBlur($event)"
        [class]="style"
        [disabled]="control?.disabled || false"
      />
      <div class="govuk-input__suffix" aria-hidden="true" *ngIf="suffix">{{ suffix }}</div>
    </div>
  </ng-container>

</div>
