<div class="govuk-grid-row" *ngIf="showTankInspections">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <form [formGroup]="adrForm">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Tank inspections</h2>

          <div [formGroup]="tankDetails">
            <h4 class="govuk-heading-s">Initial</h4>
            <div [formGroup]="tc2Details" class="govuk-inset-text govuk-!-margin-top-0">
              <ng-container
                *ngTemplateOutlet="
                  tcDetails;
                  context: {
                    $implicit: {
                      certificateNumber: 'tc2IntermediateApprovalNo',
                      group: tc2Details,
                      expiryDate: 'tc2IntermediateExpiryDate'
                    }
                  }
                "
              >
              </ng-container>
            </div>

            <div formArrayName="tc3Details">
              <ng-container
                *ngFor="let subsequentTc3 of tc3Details.controls; let i = index"
                [formGroup]="subsequentTc3"
              >
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                    <h4 class="govuk-heading-s">Subsequent</h4>
                  </div>
                  <div class="govuk-grid-column-one-quarter">
                    <span class="govuk-label govuk-!-padding-left-9 govuk-!-margin-left-9">
                      <a
                        href="javascript:void(0)"
                        id="test-removeTc3-{{ i }}"
                        class="govuk-link govuk-link--no-visited-state "
                        (click)="removeSubsequentInspectionGroup(i)"
                      >
                        <span>Remove</span>
                      </a>
                    </span>
                  </div>
                </div>
                <div [formGroup]="subsequentTc3" class="govuk-inset-text govuk-!-margin-top-0">
                  <!-- Inspection type -->
                  <div class="govuk-form-group govuk-!-margin-left-3">
                    <label for="tc3Type-{{ i }}" class="govuk-label govuk-!-font-weight-bold">
                      Inspection type (optional)
                    </label>
                    <select
                      id="tc3Type-{{ i }}"
                      [formControl]="subsequentTc3.get('tc3Type')"
                      class="govuk-select govuk-!-width-one-half"
                    >
                      <!-- <option hidden [value]="subsequentTc3.get('tc3Type').value">
                        {{ subsequentTc3.get('tc3Type').value }}
                      </option> -->
                      <option
                        *ngFor="let inspectionType of inspectionTypeOptions"
                        [ngValue]="inspectionType.name.toLowerCase()"
                      >
                        {{ inspectionType.name }}
                      </option>
                    </select>
                  </div>

                  <ng-container
                    *ngTemplateOutlet="
                      tcDetails;
                      context: {
                        $implicit: {
                          index: '-' + i + 1,
                          certificateNumber: 'tc3PeriodicNumber',
                          group: subsequentTc3,
                          expiryDate: 'tc3PeriodicExpiryDate'
                        }
                      }
                    "
                  >
                  </ng-container>
                </div>
              </ng-container>
            </div>

            <div class="govuk-label govuk-!-margin-top-0 govuk-!-margin-bottom-5">
              <a
                href="javascript:void(0)"
                class="govuk-link govuk-link--no-visited-state"
                id="test-addTc3Details"
                (click)="addSubsequentInspectionGroup()"
              >
                Add a subsequent inspection
              </a>
            </div>
          </div>

          <ng-template let-tcDetail #tcDetails>
            <ng-container [formGroup]="tcDetail.group">
              <!-- Certificate number -->
              <div class="govuk-form-group govuk-!-margin-left-3">
                <label
                  class="govuk-label govuk-!-font-weight-bold"
                  for="{{ tcDetail.certificateNumber }}{{ tcDetail.index }}"
                >
                  Certificate number (optional)
                </label>
                <input
                  id="{{ tcDetail.certificateNumber }}{{ tcDetail.index }}"
                  type="text"
                  name="{{ tcDetail.certificateNumber }}{{ tcDetail.index }}"
                  formControlName="{{ tcDetail.certificateNumber }}"
                  class="govuk-input govuk-input--width-10"
                />
              </div>

              <!-- Expiry date -->
              <div class="govuk-form-group govuk-!-margin-left-3">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="approval-date">
                  <label
                    class="govuk-label govuk-!-font-weight-bold"
                    for="{{ tcDetail.expiryDate }}{{ tcDetail.index }}"
                  >
                    Expiry date (optional)
                  </label>
                  <vtm-date-input
                    id="{{ tcDetail.expiryDate }}{{ tcDetail.index }}"
                    ariaDescribedBy="tcDetail.expiryDate"
                    formControlName="{{ tcDetail.expiryDate }}"
                  ></vtm-date-input>
                </fieldset>
              </div>
            </ng-container>
          </ng-template>
        </form>
      </fieldset>
    </div>
  </div>
</div>
