@if (isCollapsed()) {
  <div class="break-all">{{ text() | slice: 0 : maxChars() }}@if (text().length > maxChars()) {
    <span>...</span>
  }</div>
  @if (text().length > maxChars()) {
    <button type="button" class="govuk-accordion__section-button" [attr.aria-expanded]="false" (click)="open()">
      <span class="govuk-accordion__section-toggle" data-nosnippet="">
        <span class="govuk-accordion__section-toggle-focus">
          <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
          <span class="govuk-accordion__section-toggle-text"> Show </span>
        </span>
      </span>
    </button>
  }
}
@if (!isCollapsed()) {
  <div class="break-all">
    {{ text() }}
  </div>
  <button type="button" class="govuk-accordion__section-button" [attr.aria-expanded]="true" (click)="close()">
    <span class="govuk-accordion__section-toggle" data-nosnippet="">
      <span class="govuk-accordion__section-toggle-focus">
        <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--up"></span>
        <span class="govuk-accordion__section-toggle-text"> Hide </span>
      </span>
    </span>
  </button>
}
