<h1 class="govuk-heading-l">Select a defect</h1>

<div class="defects">
  <div class="list_container" [ngClass]="{ 'list_container--shrink': selectedItem }">
    <ol class="list">
      <li *ngFor="let defect of defects" class="list__item" [ngClass]="{ 'list__item--active': defect === selectedDefect }">
        <button (click)="handleSelect(defect, types.Defect)">
          {{ defect.imNumber }}: {{ defect.imDescription }} <span [ngClass]="{ 'list__item--more': hasItems(defect) }"></span>
        </button>
      </li>
    </ol>
  </div>

  <div *ngIf="selectedDefect" class="list_container">
    <ol class="list">
      <li *ngFor="let item of selectedDefect?.items" class="list__item" [ngClass]="{ 'list__item--active': item === selectedItem }">
        <button (click)="handleSelect(item, types.Item)">
          {{ item.itemDescription }} <span [ngClass]="{ 'list__item--more': hasDeficiencies(item) }"></span>
        </button>
      </li>
    </ol>
  </div>

  <div *ngIf="selectedItem" class="list_container">
    <ol class="list">
      <li *ngFor="let deficiency of selectedItem?.deficiencies">
        <a class="ref govuk-link--no-visited-state" (click)="handleSelect(deficiency, types.Deficiency)"
          >{{ selectedDefect?.imNumber }}.{{ selectedItem.itemNumber }} ({{ deficiency.deficiencyId }})
          {{ deficiency.deficiencySubId ? '(' + deficiency.deficiencySubId + ')' : '' }}</a
        >
        <span>
          <app-tag class="category" [type]="categoryColor(deficiency.deficiencyCategory)">{{ deficiency.deficiencyCategory }}</app-tag>
        </span>
        <span class="description">{{ deficiency.deficiencyText }}</span>
      </li>

      <li>
        <a class="ref govuk-link--no-visited-state" (click)="handleSelect()">{{ selectedDefect?.imNumber }}.{{ selectedItem.itemNumber }}</a>
        <span>
          <app-tag class="category" [type]="categoryColor('advisory')">advisory</app-tag>
        </span>
        <span class="description">Advisory defect.</span>
      </li>
    </ol>
  </div>
</div>
