<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Reason for creation</th>
      <th scope="col" class="govuk-table__header">Created by</th>
      <th scope="col" class="govuk-table__header">Created at</th>
      <th scope="col" class="govuk-table__header">Last updated by</th>
      <th scope="col" class="govuk-table__header">Last updated at</th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr
      class="govuk-table__row"
      *ngFor="let record of techRecords | OrderByStatusPipe; let i = index"
    >
      <td id="{{ 'test-statusCode-' + i }}" class="govuk-table__cell">
        {{
          (record.statusCode | DefaultNullOrEmpty).charAt(0).toUpperCase() +
            (record.statusCode | DefaultNullOrEmpty).substr(1).toLowerCase()
        }}
      </td>
      <td id="{{ 'test-reasonForCreation-' + i }}" class="govuk-table__cell">
        {{ record.reasonForCreation | DefaultNullOrEmpty | titlecase }}
      </td>
      <td id="{{ 'test-createdByName-' + i }}" class="govuk-table__cell">
        {{ record.createdByName | DefaultNullOrEmpty | titlecase }}
      </td>
      <td id="{{ 'test-createdAt-' + i }}" class="govuk-table__cell">
        <span *ngIf="record.createdAt; else hyphen">
          {{ record.createdAt | date: 'dd/MM/yyyy' }}
        </span>
      </td>
      <td id="{{ 'test-lastUpdatedByName-' + i }}" class="govuk-table__cell">
        {{ record.lastUpdatedByName | DefaultNullOrEmpty | titlecase }}
      </td>
      <td id="{{ 'test-lastUpdatedAt-' + i }}" class="govuk-table__cell">
        <span *ngIf="record.lastUpdatedAt; else hyphen">
          {{ record.lastUpdatedAt | date: 'dd/MM/yyyy' }}
        </span>
      </td>
      <td
        id="{{ 'test-view-link-' + i }}"
        class="govuk-table__cell"
        *ngIf="hideLinkForSelectedRecord(record, focusedRecord)"
      >
        <a
          class="govuk-link"
          id="{{ 'test-tech-rec-' + i }}"
          href="javascript:void(0)"
          (click)="onViewTechRecord(record)"
          >View
        </a>
      </td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>

<ng-template #hyphen>
  <span>-</span>
</ng-template>
