@if (refDataAdminType$ | async) {
  <div class="govuk-grid-row" *appRoleRequired="roles.ReferenceDataAmend">
    <div class="govuk-grid-column-full">
      <p class="govuk-heading-xl govuk-!-font-weight-bold">Add a new {{ (refDataAdminType$ | async).labelSingular }}</p>
      @if (refDataAdminType$ | async) {
        <app-dynamic-form-group
          [template]="(refDataAdminType$ | async).templateCreate"
          [data]="data"
          [edit]="true"
          (formChange)="handleFormChange($event)"
        ></app-dynamic-form-group>
      }
      <app-button-group>
        <app-button id="submit" (clicked)="handleSubmit()">Add</app-button>
        <app-button id="cancel" design="link" (clicked)="navigateBack()">Cancel</app-button>
      </app-button-group>
    </div>
  </div>
}
