<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <form [formGroup]="techRecordFg">
          <ng-container class="govuk-form-group" [formGroup]="applicantDetails">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="test-edit-name">
                Name
              </label>
              <input
                id="test-edit-name"
                formControlName="name"
                type="text"
                class="govuk-input govuk-input--width-20"
              />
            </div>

            <!-- common address form -->
            <vtm-address-form></vtm-address-form>
          </ng-container>
        </form>
      </fieldset>
    </div>
  </div>
</div>
