.detail-table {display: flex;flex-direction: column;display: block;margin: 10px;width: 100%;}
.expand-icon {color: rgba(0,0,0,.48);font-size: 12px; margin-right: 5px; cursor: pointer;}
.col-value:first-child span{margin-left: 15px;}
.mat-form-field {padding: 10px 10px 0 10px;width: calc(100% - 20px);}

// .mat-row, .mat-header-row {  
//     min-width: 2800px;  
//     width: 100%;  
//  } 
//  .mat-table {
//     overflow: auto;
//     max-height: 500px;
//   }
//   .container{
//       background-color: white;
//       border: 1.5px solid black;
//       border-radius: 10px;
//       text-align: center;
//   }
//   .mat-table{
//       background-color: rgba(255, 255, 255, 0.959);
//       height : 100vh;
//       overflow: auto;   
//       width: 1123px;
//   }
//   .mat-header-cell, .mat-cell {
//       min-width: 150px;
//   }
//   .mat-form-field-underline{
//       background-color:transparent;
//   }
  
//   .mat-form-field-flex{
//       font-size: 14px;
//       line-height: 1em;
//       color: #555;
//       background-image: none;
//       border: 1px solid #ccc;
//       border-radius: 4px;
//       margin-top: 8px;
//       padding: 2px;
//   }
//   .mat-form-field-wrapper{
//       padding-bottom: 1.25em;
//       padding-top: 1.25em;
//   }
//   .mat-form-field-infix{
//       border:0px;
//   }
//   .mat-paginator{
//       background-color: white;
//   }