<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Able to carry dangerous goods

      <div
        id="radioADR"
        class="govuk-radios govuk-radios--inline govuk-!-margin-top-4"
        [class.govuk-radios__conditional--hidden]="!editAdrDetails"
      >
        <div
          class="govuk-radios__item"
          *ngFor="let option of radioOptions() | keyvalue: unsorted"
        >
          <input
            class="govuk-radios__input"
            id="hasADR-{{ option.key }}"
            name="hasADR"
            type="radio"
            [checked]="showAdrView === option.value"
            [value]="option.value"
            (change)="switchAdrDisplay($event)"
          />
          <label class="govuk-label govuk-radios__label" for="hasADR-{{ option.key }}">
            {{ option.key }}
          </label>
        </div>
      </div>
    </dt>

    <dd id="test-ableToCarry" class="govuk-summary-list__value">
      <div *ngIf="!editAdrDetails">
        <span> {{ showAdrView ? 'Yes' : 'No' }}</span>
      </div>
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>

<ng-container *ngIf="showAdrView">
  <!-- Applicant Details -->
  <vtm-applicant-details
    [edit]="editAdrDetails"
    [applicantDetails]="activeRecord.adrDetails.applicantDetails"
  ></vtm-applicant-details>

  <!-- ADR Details -->
  <!-- TODO Rename back to <vtm-adr-details> -->
  <vtm-adr-new-details
    [edit]="editAdrDetails"
    [adrDetails]="activeRecord.adrDetails"
    [metaData]="vehicleMetaData"
  ></vtm-adr-new-details>

  <!-- Tank Details -->
  <vtm-tank-details
    [edit]="editAdrDetails"
    [tank]="activeRecord.adrDetails.tank"
  ></vtm-tank-details>

  <!-- Tank Inspections -->
  <vtm-tank-inpections
    [edit]="editAdrDetails"
    [adrDetails]="activeRecord.adrDetails"
    [tank]="activeRecord.adrDetails.tank"
  ></vtm-tank-inpections>

  <!-- Memo -->
  <vtm-memo [edit]="editAdrDetails" [adrDetails]="activeRecord.adrDetails"></vtm-memo>

  <!-- Tank Documents -->
  <vtm-tank-documents
    [edit]="editAdrDetails"
    [documents]="activeRecord.adrDetails.documents"
  ></vtm-tank-documents>

  <!-- Battery List Applicable -->
  <vtm-battery-list-applicable
    [edit]="editAdrDetails"
    [adrDetails]="activeRecord.adrDetails"
  ></vtm-battery-list-applicable>

  <!-- Declaration Seen -->
  <vtm-declaration-seen
    [edit]="editAdrDetails"
    [adrDetails]="activeRecord.adrDetails"
  ></vtm-declaration-seen>

  <!-- Certificate -->
  <vtm-certificate
    [edit]="editAdrDetails"
    [adrDetails]="activeRecord.adrDetails"
  ></vtm-certificate>

  <vtm-additional-adr-details
    [edit]="editAdrDetails"
    [adrDetails]="activeRecord.adrDetails"
  ></vtm-additional-adr-details>
</ng-container>
