<div class="govuk-!-padding-4"  [formGroup]="form">
  <!-- Upper Deck -->
  <govuk-form-group-input
    label="Upper deck seats"
    [width]="FormNodeWidth.XXS"
    formControlName="techRecord_seatsUpperDeck"
    type="number"
    class="govuk-label--s"
  ></govuk-form-group-input>

  <!-- Lower Deck -->
  <govuk-form-group-input
    label="Lower deck seats"
    [width]="FormNodeWidth.XXS"
    formControlName="techRecord_seatsLowerDeck"
    type="number"
    class="govuk-label--s"
  ></govuk-form-group-input>

  <!-- Standing Capacity -->
  <govuk-form-group-input
    label="Standing capacity"
    formControlName = 'techRecord_standingCapacity'
    type="number"
    [width]="FormNodeWidth.XXS"
    class="govuk-label--s"
  ></govuk-form-group-input>

  <!-- Wheelchair Capacity  -->
  <govuk-form-group-input
    formControlName="techRecord_dda_wheelchairCapacity"
    type="number"
    label="Wheelchair capacity"
    [width]="FormNodeWidth.XXS"
    class="govuk-label--s"
  ></govuk-form-group-input>

  <!--  Vehicle class-->
  <govuk-form-group-radio
    label="Vehicle class"
    [hint]="'Vehicle class is calculated based on the number of seats and standing capacity'"
    formControlName="techRecord_vehicleClass_description"
    [options]="VehicleClassOptions"
    class="govuk-label--s"
  ></govuk-form-group-radio>

  <!-- Vehicle size -->
  <govuk-form-group-radio
    label="Vehicle size"
    formControlName="techRecord_vehicleSize"
    [options]="VEHICLE_SIZE_OPTIONS"
    [hint]="'Vehicle size is calculated based on the number of seats and standing capacity'"
    class="govuk-label--s"
  ></govuk-form-group-radio>

  <!--  Number of Seatbelts -->
  <govuk-form-group-input
    label="Number of seatbelts"
    formControlName="techRecord_numberOfSeatbelts"
    type="numericString"
    [width]="FormNodeWidth.XXS"
    class="govuk-label--s"
  ></govuk-form-group-input>

  <!-- Seatbelt installation approval date -->
  <govuk-form-group-date
    label="Seatbelt installation approval date"
    formControlName="techRecord_seatbeltInstallationApprovalDate"
    class="govuk-label--s"
  ></govuk-form-group-date>
</div>
