@import '../../../../../../node_modules/govuk-frontend/govuk/all';

.buttons-row {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.input {
  width: 25%;
}
