<div *ngIf="techRecord">
  <h2 class="govuk-heading-l">{{ makeAndModel }}</h2>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle type</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">
        {{ vehicleType | defaultNullOrEmpty | uppercase }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VRM</dt>
      <app-number-plate *ngIf="techRecord.primaryVrm" [vrm]="techRecord.primaryVrm"></app-number-plate>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VIN/chassis number</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">{{ techRecord.vin | defaultNullOrEmpty }}</dd>
    </div>
  </dl>

  <ng-container [ngSwitch]="isCherishedTransfer">
    <ng-container *ngSwitchCase="false">
      <form [formGroup]="correctingAnErrorForm">
        <app-text-input #newVrm appToUppercase appNoSpace appTrimWhitespace formControlName="newVrm" [width]="width" label="New VRM"></app-text-input>
        <div *ngIf="newVrm.value.toUpperCase() !== techRecord.primaryVrm && newVrm.value.length">
          <p class="govuk-heading-l">Are you sure you want to change this VRM?</p>
          <p class="govuk-body">Amending this VRM will also amend the VRM for all other tech records present.</p>
        </div>
      </form>
    </ng-container>
    <ng-container *ngSwitchCase="true">
      <form [formGroup]="cherishedTransferForm">
        <app-text-input
          #recipientVrm
          appToUppercase
          appNoSpace
          appTrimWhitespace
          formControlName="donorVrm"
          [width]="width"
          label="Donor VRM"
        ></app-text-input>
        <app-text-input
          #recipientVrm
          appToUppercase
          appNoSpace
          appTrimWhitespace
          formControlName="recipientVrm"
          [disabled]="true"
          [width]="width"
          label="Recipient vehicle VRM"
        ></app-text-input>
        <app-text-input
          #recipientVrm
          appToUppercase
          appNoSpace
          appTrimWhitespace
          formControlName="newDonorVrm"
          [width]="width"
          label="New VRM for donor vehicle"
        ></app-text-input>
      </form>
    </ng-container>
  </ng-container>
  <app-button-group>
    <app-button id="submit-vrm" (clicked)="handleSubmit()">Save</app-button>
    <app-button id="cancel-amend-vrm" design="link" data-module="govuk-button" (clicked)="navigateBack()">Back</app-button>
  </app-button-group>
</div>
