@if (amendedTechRecord(); as vm) {
  @if (vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL || vm.techRecord_vehicleType === VehicleTypes.PSV) {
    <dl class="govuk-summary-list">
      <!-- DTp number -->
      @if (tcs.hasChanged('techRecord_brakes_dtpNumber')) {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">DTp number</dt>
          <dd class="govuk-summary-list__value" id="test-techRecord_brakes_dtpNumber">
            {{ vm.techRecord_brakes_dtpNumber | defaultNullOrEmpty }}
          </dd>
        </div>
      }
      <!-- HGV/TRL Only Body Fields -->
      @if (vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL) {
        <!-- Body make -->
        @if (tcs.hasChanged('techRecord_make')) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Body make</dt>
            <dd class="govuk-summary-list__value" id="test-techRecord_make">
              {{ vm.techRecord_make | defaultNullOrEmpty }}
            </dd>
          </div>
        }
        <!-- Body model -->
        @if (tcs.hasChanged('techRecord_model')) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Body model</dt>
            <dd class="govuk-summary-list__value" id="test-techRecord_model">
              {{ vm.techRecord_model | defaultNullOrEmpty }}
            </dd>
          </div>
        }
        <!-- Body type HGV/TRL -->
        <ng-container [ngTemplateOutlet]="bodyType"></ng-container>
      }
      <!--  PSV Only Body Fields -->
      @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
        <!-- Chassis Make -->
        @if (tcs.hasChanged('techRecord_chassisMake')) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Chassis make</dt>
            <dd class="govuk-summary-list__value" id="test-techRecord_chassisMake">
              {{ vm.techRecord_chassisMake | defaultNullOrEmpty }}
            </dd>
          </div>
        }
        <!-- Chassis Model -->
        @if (tcs.hasChanged('techRecord_chassisModel')) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Chassis model</dt>
            <dd class="govuk-summary-list__value" id="test-techRecord_chassisModel">
              {{ vm.techRecord_chassisModel | defaultNullOrEmpty }}
            </dd>
          </div>
        }
        <!-- Body Make -->
        @if (tcs.hasChanged('techRecord_bodyMake')) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Body make</dt>
            <dd class="govuk-summary-list__value" id="test-techRecord_bodyMake">
              {{ vm.techRecord_bodyMake | defaultNullOrEmpty }}
            </dd>
          </div>
        }
        <!-- Body Model -->
        @if (tcs.hasChanged('techRecord_bodyModel')) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Body model</dt>
            <dd class="govuk-summary-list__value" id="test-techRecord_bodyModel">
              {{ vm.techRecord_bodyModel | defaultNullOrEmpty }}
            </dd>
          </div>
        }
        <!-- Body Type PSV -->
        <ng-container [ngTemplateOutlet]="bodyType"></ng-container>
        <!-- Model literal -->
        @if (tcs.hasChanged('techRecord_modelLiteral')) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Model literal</dt>
            <dd class="govuk-summary-list__value" id="test-techRecord_modelLiteral">
              {{ vm.techRecord_modelLiteral | defaultNullOrEmpty }}
            </dd>
          </div>
        }
      }
      <!-- Function code -->
      @if (tcs.hasChanged('techRecord_functionCode')) {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Function code</dt>
          <dd class="govuk-summary-list__value" id="test-techRecord_functionCode">
            {{ vm.techRecord_functionCode | defaultNullOrEmpty }}
          </dd>
        </div>
      }
      <!-- Conversion reference number -->
      @if (tcs.hasChanged('techRecord_conversionRefNo')) {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Conversion reference number</dt>
          <dd class="govuk-summary-list__value" id="test-techRecord_conversionRefNo">
            {{ vm.techRecord_conversionRefNo | defaultNullOrEmpty }}
          </dd>
        </div>
      }
      <ng-template #bodyType>
        @if (tcs.hasChanged('techRecord_bodyType_description')) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Body type</dt>
            <dd class="govuk-summary-list__value" id="test-techRecord_bodyType_description">
              {{ vm.techRecord_bodyType_description | defaultNullOrEmpty }}
            </dd>
          </div>
        }
      </ng-template>
    </dl>
  }
}
