<div class="govuk-width-container">
  <a class="govuk-back-link" id="test-back-button" vtmBackButton>Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" id="test-heading">Test record</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <ng-container *ngIf="!editState">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-right-0 govuk-!-padding-right-0">
          <button
            id="test-change-test-record"
            class="govuk-button govuk-button--secondary govuk-!-padding-left-3 govuk-!-padding-right-3"
            data-module="govuk-button"
            (click)="switchCurrentState('edit')"
          >
            Change test record
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="editState">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-right-0 govuk-!-padding-right-0">
          <button
            id="test-save-test-record"
            class="govuk-button govuk-!-padding-left-3 govuk-!-padding-right-3"
            data-module="govuk-button"
            (click)="onSaveTestResult(testResultParentForm)"
          >
            Save test record
          </button>
        </div>
      </ng-container>
      <div
        *ngIf="editState"
        class="govuk-grid-column-one-quarter govuk-!-margin-top-1 govuk-!-margin-left-0 govuk-!-padding-left-0"
      >
        <a
          id="test-cancel-edit"
          class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-2 govuk-!-font-size-19"
          (click)="switchCurrentState('view')"
          href="javascript:void(0)"
          >Cancel</a
        >
      </div>
      <div
        *ngIf="!editState"
        class="govuk-grid-column-one-quarter govuk-!-margin-left-0 govuk-!-padding-left-0"
      >
        <button
          id="test-view-certificate"
          class="govuk-button govuk-button--secondary govuk-!-padding-left-3 govuk-!-padding-right-3"
          data-module="govuk-button"
          (click)="downloadCertificate()"
        >
          View certificate
        </button>
      </div>
    </div>
    <form
      [formGroup]="testResultParentForm"
      (ngSubmit)="onSaveTestResult(testResultParentForm)"
      vtmFormConnector="testResultParentForm"
    >
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <vtm-accordion>
            <vtm-accordion-item [title]="'Vehicle'">
              <vtm-vehicle
                [testRecord]="testResultObj.testRecord"
                [preparers]="preparers"
                [editState]="editState"
              ></vtm-vehicle>
            </vtm-accordion-item>
            <vtm-accordion-item [title]="'Test'">
              <vtm-test-section
                [testType]="testResultObj.testType"
                [testRecord]="testResultObj.testRecord"
                [testTypesApplicable]="testTypesApplicable"
                [editState]="editState"
              ></vtm-test-section>
            </vtm-accordion-item>
            <span [hidden]="hasDefectsApplicable">
              <vtm-accordion-item [title]="'Defects'">
                <vtm-defects
                  [testType]="testResultObj.testType"
                  [testRecord]="testResultObj.testRecord"
                ></vtm-defects>
              </vtm-accordion-item>
            </span>
            <span [hidden]="hasSeatBeltApplicable">
              <vtm-accordion-item [title]="'Seatbelt installation check'">
                <vtm-seatbelt-installation-check
                  [testType]="testResultObj.testType"
                  [editState]="editState"
                  [hasSeatBeltApplicable]="hasSeatBeltApplicable"
                ></vtm-seatbelt-installation-check>
              </vtm-accordion-item>
            </span>
            <span [hidden]="hasEmissionApplicable">
              <vtm-accordion-item [title]="'Emission details'">
                <vtm-emission-details
                  [testRecord]="testResultObj.testRecord"
                  [testType]="testResultObj.testType"
                  [editState]="editState"
                  [hasEmissionApplicable]="hasEmissionApplicable"
                ></vtm-emission-details>
              </vtm-accordion-item>
            </span>
            <vtm-accordion-item [title]="'Visit'">
              <vtm-visit
                [testRecord]="testResultObj.testRecord"
                [editState]="editState"
                [testStations]="testStations"
              ></vtm-visit>
            </vtm-accordion-item>
            <vtm-accordion-item [title]="'Notes'">
              <vtm-notes [testType]="testResultObj.testType" [editState]="editState"></vtm-notes>
            </vtm-accordion-item>
            <span [hidden]="editState">
              <vtm-accordion-item [title]="'Test record history'">
                <vtm-test-history
                  [testRecord]="testResultObj.testRecord"
                  [editState]="editState"
                ></vtm-test-history>
              </vtm-accordion-item>
            </span>
          </vtm-accordion>
        </div>
      </div>
    </form>
  </main>
</div>
