<div class="govuk-grid-row" *appRoleRequired="roles.ReferenceDataView">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-xl govuk-!-font-weight-bold" id="heading">Search for {{ (refDataAdminType$ | async)?.label }}</p>

    <div id="buttonsAndSearch">
      @if ((refDataAdminType$ | async)?.searchOptions; as searchOptions) {
        <div [formGroup]="form" class="govuk-form-group" id="searchForm">
          <div id="filterSelect">
            <label class="govuk-label" for="searchFilter">Search Filter</label>
            <app-select
              #searchFilter
              id="searchFilter"
              [formControlName]="form.meta.children![0].name"
              [name]="form.meta.children![0].name"
              [options]="searchOptions"
            ></app-select>
          </div>
          <div id="searchInput">
            <label class="govuk-label" for="searchFilter">Search Term</label>
            <input
              id="refSearch"
              #searchTerm
              appNoEmojis
              [formControlName]="form.meta.children![1].name"
              [name]="form.meta.children![1].name"
              aria-describedby="term"
              type="text"
              (keyup.enter)="search(searchTerm.value, searchFilter.value)"
              class="govuk-input govuk-!-width-two-thirds"
              />
            <button
              class="govuk-button margin-right search-btn"
              type="submit"
              data-module="govuk-button"
              enterkeyhint="search"
              data-gem-track-click-module-started="true"
              (click)="search(searchTerm.value, searchFilter.value)"
              >
              <svg
                class="gem-c-search__icon"
                width="20"
                height="20"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                >
                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
              </svg>
            </button>
          </div>
        </div>
      }
      <app-button-group id="addDeleteButtons">
        <app-button id="searchCancel" type="button" design="secondary" (clicked)="clear()">Clear filters</app-button>
        <app-button id="submit" (clicked)="addNew()">Add New</app-button>
        <app-button id="submit" [disabled]="disabled" (clicked)="navigateToDeletedItems()">Deleted Items</app-button>
      </app-button-group>
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          @for (column of (refDataAdminType$ | async)?.columns; track column) {
            <th scope="col" class="govuk-table__header">{{ column.heading }}</th>
          }
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        @for (item of paginatedItems$ | async; track item) {
          <tr class="govuk-table__row">
            @for (column of (refDataAdminType$ | async)?.columns; track column) {
              <td class="govuk-table__cell">{{ item[column.name] }}</td>
            }
            <td class="govuk-table__cell" id="buttons">
              <app-button-group>
                <app-button id="amend" design="link" (clicked)="amend(item)">Amend</app-button>
                <app-button id="delete" design="link" (clicked)="delete(item)">Delete</app-button>
              </app-button-group>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <app-pagination
      tableName="reference-data-items"
      [numberOfItems]="(numberOfRecords$ | async) ?? 0"
      (paginationOptionsChange)="handlePaginationChange($event)"
      [itemsPerPage]="25"
    ></app-pagination>
  </div>
</div>
