#buttons {
  width: 18%;
}

#buttonsAndSearch {
  display: flex;
  width: 100%;
}

#addCreateButtons {
  width: 50%;
}

#refSearch {
  width: 50% !important;
}

#searchForm {
  width: 50%;
  display: flex;
}
