<ng-container *ngIf="!editState">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Vehicle type
      </dt>
      <dd id="test-vehicleType" class="govuk-summary-list__value">
        {{ activeRecord.vehicleType | DefaultNullOrEmpty | uppercase }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of first registration
      </dt>
      <dd id="test-regnDate" class="govuk-summary-list__value">
        <span *ngIf="activeRecord.regnDate; else hyphen">
          {{ activeRecord.regnDate | date: 'dd/MM/yyyy' }}
        </span>
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Year of manufacture
      </dt>
      <dd id="test-manufactureYear" class="govuk-summary-list__value">
        {{ activeRecord.manufactureYear | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Number of axles
      </dt>
      <dd id="test-noOfaxles" class="govuk-summary-list__value">
        {{ activeRecord.noOfAxles | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="isStandardVehicle">
      <dt class="govuk-summary-list__key">
        DTP number
      </dt>
      <dd id="test-dtpNumber" class="govuk-summary-list__value">
        <div *ngIf="activeRecord.brakes; else hyphen">
          {{ activeRecord.brakes.dtpNumber | DefaultNullOrEmpty }}
        </div>
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="isStandardVehicle">
      <dt class="govuk-summary-list__key">
        Axles fitted with a parking brake
      </dt>
      <dd class="govuk-summary-list__value" id="test-parkingBrakeMrk">
        <ng-container *ngIf="axlesHasParkingBrakeMrk(); else hyphen">
          <div *ngFor="let axel of activeRecord.axles">
            <div *ngIf="axel.parkingBrakeMrk">
              <span id="{{ 'test-parkingBrakeMrkAxle-' + axel.axleNumber }}"
                >Axle {{ axel.axleNumber }}</span
              >
            </div>
          </div>
        </ng-container>
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Vehicle class
      </dt>
      <dd id="test-vehicleClassDescription" class="govuk-summary-list__value">
        {{ vehicleClassDescription | DefaultNullOrEmpty | CapitalizeString }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="isStandardVehicle">
      <dt class="govuk-summary-list__key">
        Vehicle configuration
      </dt>
      <dd id="test-vehicleConfiguration" class="govuk-summary-list__value">
        {{ activeRecord.vehicleConfiguration | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        EU vehicle category
      </dt>
      <dd id="test-euVehicleCategory" class="govuk-summary-list__value">
        {{ activeRecord.euVehicleCategory | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="isStandardVehicle">
      <dt class="govuk-summary-list__key">
        Departmental vehicle marker
      </dt>
      <dd id="test-departmentalVehicleMarker" class="govuk-summary-list__value">
        {{ activeRecord.departmentalVehicleMarker | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="isStandardVehicle">
      <dt class="govuk-summary-list__key">
        Alteration marker
      </dt>
      <dd id="test-alterationMarker" class="govuk-summary-list__value">
        {{ activeRecord.alterationMarker | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
  </dl>

  <ng-container *ngIf="activeRecord.vehicleType === 'hgv'">
    <vtm-vehicle-summary-hgv [activeRecord]="activeRecord"></vtm-vehicle-summary-hgv>
  </ng-container>

  <ng-container *ngIf="activeRecord.vehicleType === 'psv'">
    <vtm-vehicle-summary-psv [activeRecord]="activeRecord"></vtm-vehicle-summary-psv>
  </ng-container>

  <ng-container *ngIf="activeRecord.vehicleType === 'trl'">
    <vtm-vehicle-summary-trl [activeRecord]="activeRecord"></vtm-vehicle-summary-trl>
  </ng-container>

  <dl class="govuk-summary-list" *ngIf="isStandardVehicle">
    <h2 class="govuk-heading-m">Type Approval</h2>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Approval type</dt>
      <dd id="test-approvalType" class="govuk-summary-list__value">
        {{ activeRecord.approvalType | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Approval type number</dt>
      <dd id="test-approvalTypeNumber" class="govuk-summary-list__value">
        {{ activeRecord.approvalTypeNumber | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">National type approval number</dt>
      <dd id="test-ntaNumber" class="govuk-summary-list__value">
        {{ activeRecord.ntaNumber | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Variant number</dt>
      <dd id="test-variantNumber" class="govuk-summary-list__value">
        {{ activeRecord.variantNumber | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Variant version number</dt>
      <dd id="test-variantVersionNumber" class="govuk-summary-list__value">
        {{ activeRecord.variantVersionNumber | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="activeRecord.vehicleType === 'psv'">
      <dt class="govuk-summary-list__key">
        COIF serial number
      </dt>
      <dd id="test-coifSerialNumber" class="govuk-summary-list__value">
        {{ activeRecord?.coifSerialNumber | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="activeRecord.vehicleType === 'psv'">
      <dt class="govuk-summary-list__key">
        COIF certifier name
      </dt>
      <dd id="test-coifCertifierName" class="govuk-summary-list__value">
        {{ activeRecord?.coifCertifierName | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row" *ngIf="activeRecord.vehicleType === 'psv'">
      <dt class="govuk-summary-list__key">
        COIF date
      </dt>
      <dd id="test-coifDate" class="govuk-summary-list__value">
        {{ activeRecord.coifDate | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
  </dl>
</ng-container>

<ng-template #hyphen><span>-</span></ng-template>

<!-- Edit Vehicle Summary -->
<ng-container *ngIf="editState">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <vtm-vehicle-summary-edit
          [techRecord]="activeRecord"
          [viewState]="viewState"
        ></vtm-vehicle-summary-edit>
      </dt>
    </div>
  </dl>
</ng-container>
