@if (control && control.meta) {
  @if (getAdditionalExaminerNotes(); as adrNotes) {
    <section class="govuk-!-margin-top-4">
      @if (control.meta.label) {
        <label class="govuk-label govuk-label--m">
          {{ control.meta.label }}
        </label>
      }
      @if (adrNotes && adrNotes.length > 0) {
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header whitespace-nowrap">Notes</th>
              <th scope="col" class="govuk-table__header whitespace-nowrap">Created By</th>
              <th scope="col" class="govuk-table__header whitespace-nowrap">Date</th>
            </tr>
            @for (result of currentAdrNotesPage; track result; let i = $index; let isLast = $last) {
              @if (i < 3) {
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
                    @if ((isEditing$ | async) === false) {
                      <collapsible-text [text]="result.note ?? ''" [maxChars]="150"></collapsible-text>
                    }
                    @if ((isEditing$ | async) === true) {
                      {{ result.note }}
                    }
                  </td>
                  <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">{{ result.lastUpdatedBy }}</td>
                  <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
                    {{ result.createdAtDate | date: 'dd/MM/yyyy HH:mm' | defaultNullOrEmpty }}
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      } @else {
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row border-b-0">
            <dt class="govuk-summary-list__key">No additional examiner notes history available</dt>
          </div>
        </dl>
      }
      @if (adrNotes.length) {
        <app-pagination
          tableName="adr-notes-history"
          [numberOfItems]="adrNotes.length"
          [itemsPerPage]="3"
          (paginationOptionsChange)="handlePaginationChange($event)"
        ></app-pagination>
      }
    </section>
  }
}
