<ng-container *ngIf="control">
  <ng-container *ngIf="adrNotes">
    <section class="govuk-!-margin-top-4">
      <h3 class="govuk-heading-m">Additional Examiner Notes History</h3>
      <table class="govuk-table" *ngIf="adrNotes && adrNotes.length > 0; else empty">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header whitespace-nowrap">Notes</th>
            <th scope="col" class="govuk-table__header whitespace-nowrap">Created By</th>
            <th scope="col" class="govuk-table__header whitespace-nowrap">Date</th>
          </tr>
          <ng-container *ngFor="let result of currentAdrNotesPage; let i = index; let isLast = last">
            <tr class="govuk-table__row" *ngIf="i < 3">
              <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
                {{ result.note }}
              </td>
              <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">{{ result.lastUpdatedBy }}</td>
              <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
                {{ result.createdAtDate | date : 'dd/MM/yyyy' | defaultNullOrEmpty }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <app-pagination
        tableName="adr-notes-history"
        *ngIf="adrNotes.length"
        [numberOfItems]="adrNotes.length"
        [itemsPerPage]="3"
        (paginationOptions)="handlePaginationChange($event)"
      ></app-pagination>
      <ng-template #empty>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row border-b-0">
            <dt class="govuk-summary-list__key">No additional examiner notes history available</dt>
          </div>
        </dl>
      </ng-template>
    </section>
  </ng-container>
</ng-container>
