<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div mat-dialog-content [innerHtml]="data.context"></div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter govuk-!-margin-right-0 govuk-!-padding-right-0">
    <button
      class="govuk-button"
      id="test-{{ data.actionName }}"
      data-module="govuk-button"
      (click)="save()"
      cdkFocusInitial
    >
      {{ data.actionName }}
    </button>
  </div>

  <div class="govuk-grid-column-one-quarter govuk-!-margin-right-0 govuk-!-padding-right-0 govuk-!-padding-top-2">
    <a
      class="govuk-link govuk-link--no-visited-state"
      id="test-cancel"
      (click)="close()"
      href="javascript:void(0)"
    >
      <span>Cancel</span>
    </a>
  </div>
</div>
