.buttons {
  width: 18%;
}

.buttons-and-search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 0;
}

.ref-search {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
}

.search-filter::ng-deep .govuk-form-group {
  margin-bottom: 0;
}

.search-form {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-input {
  display: flex;
}

.search-btn {
  background-color: #1d70b8;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid black;
  border-left: 0;
  height: 2.5rem;
  box-shadow: none;
  margin-bottom: 0;
}

.add-delete-buttons {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 2px;

  app-button::ng-deep .govuk-button {
    margin-bottom: 0;
  }
}

@media (min-width: 40.0625em) {
  .search-form {
    flex-direction: row;
  }
}

.im-description {
  margin-bottom: 0.5rem;
}

.tags {
  display: inline-flex;
  gap: 0.25rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}