<ng-container *ngIf="techRecord() as vm">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" *ngIf="vm.techRecord_vehicleType !== VehicleTypes.PSV">
      <dt class="govuk-summary-list__key">Notes</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_notes">
        {{ vm.techRecord_notes | defaultNullOrEmpty  }}
      </dd>
    </div>
    <div class="govuk-summary-list__row" *ngIf="vm.techRecord_vehicleType === VehicleTypes.PSV">
      <dt class="govuk-summary-list__key">Notes</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_remarks">
        {{ vm.techRecord_remarks | defaultNullOrEmpty  }}
      </dd>
    </div>
    <div class="govuk-summary-list__row" *ngIf="vm.techRecord_vehicleType === VehicleTypes.PSV">
      <dt class="govuk-summary-list__key">Dispensations</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_dispensations">
        {{ vm.techRecord_dispensations | defaultNullOrEmpty  }}
      </dd>
    </div>
  </dl>
</ng-container>
