<h2 class="govuk-heading-m">Custom Defects</h2>

<ng-container *ngIf="form">
  <ng-container [formGroup]="form">
    <ng-container *ngIf="defectCount">
      <app-custom-defect
        *ngFor="let customDefect of customDefects; let i = index; trackBy: trackByFn"
        [isEditing]="isEditing"
        [form]="getCustomDefectForm(i)"
        [index]="i"
        (removeCustomDefect)="handleRemoveDefect($event)"
      ></app-custom-defect>
    </ng-container>
  </ng-container>
</ng-container>

<app-button *ngIf="isEditing" (click)="handleAddCustomDefect()">Add a custom defect</app-button>
