<ng-template [ngTemplateOutlet]="isEditing ? editDefect : viewDefect"></ng-template>

<ng-template #viewDefect let-data="data">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <dl class="govuk-summary-list" *ngFor="let defect of customDefects; let i = index">
        <ng-template
          [ngTemplateOutlet]="viewDefectRow"
          [ngTemplateOutletContext]="{ label: 'Vertical', data: defect?.referenceNumber | defaultNullOrEmpty }"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="viewDefectRow"
          [ngTemplateOutletContext]="{ label: 'Horizontal', data: defect?.defectName | defaultNullOrEmpty }"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="viewDefectRow"
          [ngTemplateOutletContext]="{ label: 'Lateral', data: defect?.defectNotes | defaultNullOrEmpty }"
        ></ng-template>
      </dl>
    </div>
  </div>
</ng-template>

<ng-template #viewDefectRow let-label="label" let-data="data">
  <dl class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">{{ label }}</dt>
    <dd class="govuk-summary-list__value">{{ data }}</dd>
  </dl>
</ng-template>

<ng-template #editDefect>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ng-container [formGroup]="form">
        <ng-container *ngFor="let defect of customDefects">
          <app-text-input [name]="'referenceNumber'" label="Reference number" formControlName="referenceNumber"></app-text-input>
          <app-text-input [name]="'defectName'" label="Defect name" formControlName="defectName"></app-text-input>
          <app-text-area [name]="'defectNotes'" label="Defect notes" formControlName="defectNotes"></app-text-area>
        </ng-container>
      </ng-container>
      <app-button id="save-test-result" (click)="handleAddDefect()">Add a custom defect</app-button>
    </div>
  </div>
</ng-template>
