@if (control && control.value) {
  <table class="govuk-table m-0">
    <tbody class="govuk-table__body">
      @for (unNumber of control.value; track unNumber; let i = $index; let isLast = $last) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" [style.width.%]="30" [class.border-b-0]="isLast">
            <b>UN Number {{ i + 1 }}</b>
          </td>
          <td class="govuk-table__cell break-words" [class.border-b-0]="isLast">{{ unNumber }}</td>
        </tr>
      }
    </tbody>
  </table>
}
