:host {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem 1rem;

  .ecta-template {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px; /* Add spacing between elements */
  }

  .separator {
    margin: 0 0;
  }

  .approvalTypeFormatting {
    padding-right: 0%;
    margin-right: 0%;
    font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;

    color: #0b0c0c;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .input--width-35 {
    max-width: 50.5em !important;
  }
}
