<ng-container [ngSwitch]="approvalType">
  <!-- NTA Template -->
  <div *ngSwitchCase="'NTA'">
    <div class="govuk-date-input" id="{{ name }}">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ name }}-day"> Approval type number </label>
          <input
            class="govuk-input govuk-date-input__input govuk-input--width-20"
            name="techRecord_approvalTypeNumber1"
            [(ngModel)]="techRecord_approvalTypeNumber1"
            (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- ECTA Template -->
  <div *ngSwitchCase="'ECTA'">
    <div class="govuk-date-input" id="{{ name }}">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ name }}-day"> Approval type number </label>
          <div class="ecta-template separator">
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              name="techRecord_approvalTypeNumber1"
              [(ngModel)]="techRecord_approvalTypeNumber1"
              (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"
            />
            <span class="separator approvalTypeFormatting">/</span>
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-5 separator"
              name="techRecord_approvalTypeNumber2"
              [(ngModel)]="techRecord_approvalTypeNumber2"
              (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"
            />
            <span class="separator approvalTypeFormatting">*</span>
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-5 separator"
              name="techRecord_approvalTypeNumber3"
              [(ngModel)]="techRecord_approvalTypeNumber3"
              (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--    &lt;!&ndash; IVA Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'IVA'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <input-->
  <!--                            class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                            name="techRecord_approvalTypeNumber1"-->
  <!--                            [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                            (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                    />-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->

  <!--    &lt;!&ndash; NSSTA Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'NSSTA'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <span class="separator approvalTypeFormatting">e</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*NKS*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->

  <!--    &lt;!&ndash; ECSSTA Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'ECSSTA'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <span class="separator approvalTypeFormatting">e</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">KS</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber2"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">/</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber3"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber3"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->

  <!--    &lt;!&ndash; GB WVTA Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'GB WVTA'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber2"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">/</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber3"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber3"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber4"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber4"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->

  <!--    &lt;!&ndash; UKNI WVTA Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'UKNI WVTA'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <span class="separator approvalTypeFormatting">X11 *</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">/</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber2"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber3"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber3"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->

  <!--    &lt;!&ndash; EU WVTA Pre 23 Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'EU WVTA Pre 23'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <span class="separator approvalTypeFormatting">e</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber2"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">/</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber3"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber3"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber4"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber4"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->

  <!--    &lt;!&ndash; EU WVTA 23 on Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'EU WVTA 23 on'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <span class="separator approvalTypeFormatting">e</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber2"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">/</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber3"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber3"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber4"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber4"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--    &lt;!&ndash; QNIG Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'QNIG'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <span class="separator approvalTypeFormatting">e</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber2"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">/</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber3"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber3"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber4"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber4"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->

  <!--    &lt;!&ndash; Prov.GB WVTA Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'Prov.GB WVTA'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber2"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">/</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber3"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber3"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event)"-->
  <!--                        />-->
  <!--                        <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber4"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber4"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--    &lt;!&ndash; Small series Template &ndash;&gt;-->
  <!--    <div *ngSwitchCase="'Small series'">-->
  <!--        <div class="govuk-date-input" id="{{ name }}">-->
  <!--            <div class="govuk-date-input__item">-->
  <!--                <div class="govuk-form-group">-->
  <!--                    <label class="govuk-label govuk-date-input__label"-->
  <!--                           for="{{ name }}-day"> Approval type number-->
  <!--                    </label>-->
  <!--                    <div class="ecta-template separator">-->
  <!--                        <span class="separator approvalTypeFormatting">X11*NKS*</span>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->

  <!--        &lt;!&ndash; IVA – VCA Template &ndash;&gt;-->
  <!--        <div *ngSwitchCase="'IVA – VCA'">-->
  <!--            <div class="govuk-date-input" id="{{ name }}">-->
  <!--                <div class="govuk-date-input__item">-->
  <!--                    <div class="govuk-form-group">-->
  <!--                        <label class="govuk-label govuk-date-input__label"-->
  <!--                               for="{{ name }}-day"> Approval type number-->
  <!--                        </label>-->
  <!--                        <div class="ecta-template separator">-->
  <!--                            <span class="separator approvalTypeFormatting">n11*NIV</span>-->
  <!--                            <input-->
  <!--                                    class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                    name="techRecord_approvalTypeNumber1"-->
  <!--                                    [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                    (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                            />-->
  <!--                            <span class="separator approvalTypeFormatting">/</span>-->
  <!--                            <input-->
  <!--                                    class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                    name="techRecord_approvalTypeNumber1"-->
  <!--                                    [(ngModel)]="techRecord_approvalTypeNumber2"-->
  <!--                                    (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event)"-->
  <!--                            />-->
  <!--                            <span class="separator approvalTypeFormatting">*</span>-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->

  <!--        &lt;!&ndash; IVA – DVSA/NI Template &ndash;&gt;-->
  <!--        <div *ngSwitchCase="'IVA – DVSA/NI'">-->
  <!--            <div class="govuk-date-input" id="{{ name }}">-->
  <!--                <div class="govuk-date-input__item">-->
  <!--                    <div class="govuk-form-group">-->
  <!--                        <label class="govuk-label govuk-date-input__label"-->
  <!--                               for="{{ name }}-day"> Approval type number-->
  <!--                        </label>-->
  <!--                        <input-->
  <!--                                class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2"-->
  <!--                                name="techRecord_approvalTypeNumber1"-->
  <!--                                [(ngModel)]="techRecord_approvalTypeNumber1"-->
  <!--                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event)"-->
  <!--                        />-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
</ng-container>
