
@switch (approvalType()) {
  <!-- NTA Template -->
  @case ('NTA') {
    <div>
      @if (formSubmitted) {
        <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
      }
      <div class="govuk-date-input" id="{{ name() }}">
        <label class="govuk-label govuk-label--m" for="{{ name() }}-approvalTypeNumber1">
          Approval type number @for (tag of control?.meta?.customTags; track tag) {
          <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
          }</label
          >
          <input
            appNoEmojis
            maxlength="25"
            class="govuk-input govuk-input--width-20"
            [id]="getId(name())"
            name="{{ name() }}-approvalTypeNumber1-NTA"
            [(ngModel)]="approvalTypeNumber1"
            (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
            />
        </div>
      </div>
    }
    <!-- ECTA Template -->
    @case ('ECTA') {
      <div>
        @if (formSubmitted) {
          <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
        }
        <div class="govuk-date-input" id="{{ name() }}">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m">
                Approval type number @for (tag of control?.meta?.customTags; track tag) {
                <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                }</label
                >
                <div class="ecta-template separator">
                  <span class="separator approvalTypeFormatting">e</span>
                  <input
                    appNoEmojis
                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-ecta'"
                    [characterLimit]="2"
                    [maxlength]="2"
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    [id]="getId(name())"
                    name="{{ name() }}-approvalTypeNumber1-ECTA"
                    [(ngModel)]="approvalTypeNumber1"
                    (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                    />
                  <span class="separator approvalTypeFormatting">*</span>
                  <input
                    appNoEmojis
                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-ecta'"
                    [characterLimit]="4"
                    [maxlength]="4"
                    class="govuk-input govuk-date-input__input govuk-input--width-4 separator"
                    name="techRecord_approvalTypeNumber2"
                    id="techRecord_approvalTypeNumber2-ecta"
                    [(ngModel)]="approvalTypeNumber2"
                    (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                    />
                  <span class="separator approvalTypeFormatting">/</span>
                  <input
                    appNoEmojis
                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-ecta'"
                    id="techRecord_approvalTypeNumber3-ecta"
                    [maxlength]="4"
                    [characterLimit]="4"
                    class="govuk-input govuk-date-input__input govuk-input--width-4 separator"
                    name="techRecord_approvalTypeNumber3"
                    [(ngModel)]="approvalTypeNumber3"
                    (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                    />
                  <span class="separator approvalTypeFormatting">*</span>
                  <input
                    appNoEmojis
                    id="techRecord_approvalTypeNumber4-ecta"
                    [maxlength]="6"
                    class="govuk-input govuk-date-input__input govuk-input--width-4 separator"
                    name="techRecord_approvalTypeNumber4"
                    [(ngModel)]="approvalTypeNumber4"
                    (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                    />
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      <!-- IVA Template -->
      @case ('IVA') {
        <div>
          @if (formSubmitted) {
            <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
          }
          <div class="govuk-date-input" id="{{ name() }}">
            <label class="govuk-label govuk-label--m">
              Approval type number @for (tag of control?.meta?.customTags; track tag) {
              <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
              }</label
              >
              <input
                appNoEmojis
                maxlength="25"
                class="govuk-input govuk-date-input__input govuk-input--width-20"
                [id]="getId(name())"
                name="{{ name() }}-approvalTypeNumber1-IVA"
                [(ngModel)]="approvalTypeNumber1"
                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                />
            </div>
          </div>
        }
        <!-- NSSTA Template -->
        @case ('NSSTA') {
          <div>
            @if (formSubmitted) {
              <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
            }
            <div class="govuk-date-input" id="{{ name() }}">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m">
                    Approval type number 
                    @for (tag of control?.meta?.customTags; track tag) {
                      <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                    }
                    </label>
                    <div class="ecta-template separator">
                      <span class="separator approvalTypeFormatting">e</span>
                      <input
                        appNoEmojis
                        [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-nssta'"
                        [characterLimit]="2"
                        [maxlength]="2"
                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                        [id]="getId(name())"
                        name="{{ name() }}-approvalTypeNumber1-NSSTA"
                        [(ngModel)]="approvalTypeNumber1"
                        (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                        />
                      <span class="separator approvalTypeFormatting">*NKS*</span>
                      <input
                        appNoEmojis
                        id="techRecord_approvalTypeNumber2-nssta"
                        class="govuk-input govuk-date-input__input govuk-input--width-5"
                        name="techRecord_approvalTypeNumber2"
                        [maxlength]="6"
                        [(ngModel)]="approvalTypeNumber2"
                        (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                        />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
          <!-- ECSSTA Template -->
          @case ('ECSSTA') {
            <div>
              @if (formSubmitted) {
                <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
              }
              <div class="govuk-date-input" id="{{ name() }}">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m">
                      Approval type number @for (tag of control?.meta?.customTags; track tag) {
                      <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                      }</label
                      >
                      <div class="ecta-template separator">
                        <span class="separator approvalTypeFormatting">e</span>
                        <input
                          appNoEmojis
                          [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-ecssta'"
                          [characterLimit]="2"
                          [maxlength]="2"
                          class="govuk-input govuk-date-input__input govuk-input--width-2"
                          [id]="getId(name())"
                          name="{{ name() }}-approvalTypeNumber1-ECSSTA"
                          [(ngModel)]="approvalTypeNumber1"
                          (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                          />
                        <span class="separator approvalTypeFormatting">*KS</span>
                        <input
                          appNoEmojis
                          [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-ecssta'"
                          [characterLimit]="2"
                          [maxlength]="2"
                          id="techRecord_approvalTypeNumber2-ecssta"
                          class="govuk-input govuk-date-input__input govuk-input--width-2"
                          name="techRecord_approvalTypeNumber2"
                          [(ngModel)]="approvalTypeNumber2"
                          (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                          />
                        <span class="separator approvalTypeFormatting">/</span>
                        <input
                          appNoEmojis
                          [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-ecssta'"
                          [characterLimit]="4"
                          [maxlength]="4"
                          id="techRecord_approvalTypeNumber3-ecssta"
                          class="govuk-input govuk-date-input__input govuk-input--width-4 separator"
                          name="techRecord_approvalTypeNumber3"
                          [(ngModel)]="approvalTypeNumber3"
                          (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                          />
                        <span class="separator approvalTypeFormatting">*</span>
                        <input
                          [maxlength]="6"
                          id="techRecord_approvalTypeNumber4-ecssta"
                          class="govuk-input govuk-date-input__input govuk-input--width-4"
                          name="techRecord_approvalTypeNumber4"
                          [(ngModel)]="approvalTypeNumber4"
                          (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                          />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
            <!-- GB WVTA Template -->
            @case ('GB WVTA') {
              <div>
                @if (formSubmitted) {
                  <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                }
                <div class="govuk-date-input" id="{{ name() }}">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--m">
                        Approval type number @for (tag of control?.meta?.customTags; track tag) {
                        <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                        }</label
                        >
                        <div class="ecta-template separator">
                          <input
                            appNoEmojis
                            [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-gbwvta'"
                            [characterLimit]="3"
                            [maxlength]="3"
                            class="govuk-input govuk-date-input__input govuk-input--width-2"
                            [id]="getId(name())"
                            name="{{ name() }}-approvalTypeNumber1-GB WVTA"
                            [(ngModel)]="approvalTypeNumber1"
                            (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                            />
                          <span class="separator approvalTypeFormatting">*</span>
                          <input
                            appNoEmojis
                            [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-gbwvta'"
                            [characterLimit]="4"
                            [maxlength]="4"
                            id="techRecord_approvalTypeNumber2-gbwvta"
                            class="govuk-input govuk-date-input__input govuk-input--width-4"
                            name="techRecord_approvalTypeNumber2"
                            [(ngModel)]="approvalTypeNumber2"
                            (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                            />
                          <span class="separator approvalTypeFormatting">/</span>
                          <input
                            appNoEmojis
                            [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-gbwvta'"
                            [characterLimit]="4"
                            [maxlength]="4"
                            id="techRecord_approvalTypeNumber3-gbwvta"
                            class="govuk-input govuk-date-input__input govuk-input--width-4"
                            name="techRecord_approvalTypeNumber3"
                            [(ngModel)]="approvalTypeNumber3"
                            (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                            />
                          <span class="separator approvalTypeFormatting">*</span>
                          <input
                            appNoEmojis
                            [maxlength]="7"
                            id="techRecord_approvalTypeNumber4-gbwvta"
                            class="govuk-input govuk-date-input__input govuk-input--width-5"
                            name="techRecord_approvalTypeNumber4"
                            [(ngModel)]="approvalTypeNumber4"
                            (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                            />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              }
              <!-- UKNI WVTA Template -->
              @case ('UKNI WVTA') {
                <div>
                  @if (formSubmitted) {
                    <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                  }
                  <div class="govuk-date-input" id="{{ name() }}">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m">
                          Approval type number @for (tag of control?.meta?.customTags; track tag) {
                          <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                          }</label
                          >
                          <div class="ecta-template separator">
                            <input
                              appNoEmojis
                              [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-ukniwvta'"
                              [characterLimit]="1"
                              [maxlength]="1"
                              class="govuk-input govuk-date-input__input govuk-input--width-4"
                              [id]="getId(name())"
                              name="{{ name() }}-approvalTypeNumber1-UKNI WVTA"
                              [(ngModel)]="approvalTypeNumber1"
                              (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                              />
                            <span class="separator approvalTypeFormatting">11*</span>
                            <input
                              appNoEmojis
                              [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-ukniwvta'"
                              [characterLimit]="4"
                              [maxlength]="4"
                              id="techRecord_approvalTypeNumber2-ukniwvta"
                              class="govuk-input govuk-date-input__input govuk-input--width-4"
                              name="techRecord_approvalTypeNumber2"
                              [(ngModel)]="approvalTypeNumber2"
                              (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                              />
                            <span class="separator approvalTypeFormatting">/</span>
                            <input
                              appNoEmojis
                              [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-ukniwvta'"
                              [characterLimit]="4"
                              [maxlength]="4"
                              id="techRecord_approvalTypeNumber3-ukniwvta"
                              class="govuk-input govuk-date-input__input govuk-input--width-4"
                              name="techRecord_approvalTypeNumber3"
                              [(ngModel)]="approvalTypeNumber3"
                              (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                              />
                            <span class="separator approvalTypeFormatting">*</span>
                            <input
                              appNoEmojis
                              [maxlength]="6"
                              id="techRecord_approvalTypeNumber4-ukniwvta"
                              class="govuk-input govuk-date-input__input govuk-input--width-4"
                              name="techRecord_approvalTypeNumber4"
                              [(ngModel)]="approvalTypeNumber4"
                              (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                              />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
                <!-- EU WVTA Pre 23 Template -->
                @case ('EU WVTA Pre 23') {
                  <div>
                    @if (formSubmitted) {
                      <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                    }
                    <div class="govuk-date-input" id="{{ name() }}">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--m">
                            Approval type number @for (tag of control?.meta?.customTags; track tag) {
                            <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                            }</label
                            >
                            <div class="ecta-template separator">
                              <span class="separator approvalTypeFormatting">e</span>
                              <input
                                appNoEmojis
                                [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-euwvtapre'"
                                [characterLimit]="2"
                                [maxlength]="2"
                                class="govuk-input govuk-date-input__input govuk-input--width-2"
                                [id]="getId(name())"
                                name="{{ name() }}-approvalTypeNumber1-EU WVTA Pre 23"
                                [(ngModel)]="approvalTypeNumber1"
                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                                />
                              <span class="separator approvalTypeFormatting">*</span>
                              <input
                                appNoEmojis
                                [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-euwvtapre'"
                                [characterLimit]="4"
                                [maxlength]="4"
                                id="techRecord_approvalTypeNumber2-euwvtapre"
                                class="govuk-input govuk-date-input__input govuk-input--width-4"
                                name="techRecord_approvalTypeNumber2"
                                [(ngModel)]="approvalTypeNumber2"
                                (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                                />
                              <span class="separator approvalTypeFormatting">/</span>
                              <input
                                appNoEmojis
                                [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-euwvtapre'"
                                [characterLimit]="4"
                                [maxlength]="4"
                                id="techRecord_approvalTypeNumber3-euwvtapre"
                                class="govuk-input govuk-date-input__input govuk-input--width-4"
                                name="techRecord_approvalTypeNumber3"
                                [(ngModel)]="approvalTypeNumber3"
                                (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                                />
                              <span class="separator approvalTypeFormatting">*</span>
                              <input
                                appNoEmojis
                                [maxlength]="6"
                                id="techRecord_approvalTypeNumber4-euwvtapre"
                                class="govuk-input govuk-date-input__input govuk-input--width-4"
                                name="techRecord_approvalTypeNumber4"
                                [(ngModel)]="approvalTypeNumber4"
                                (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                                />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                  <!-- EU WVTA 23 on Template -->
                  @case ('EU WVTA 23 on') {
                    <div>
                      @if (formSubmitted) {
                        <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                      }
                      <div class="govuk-date-input" id="{{ name() }}">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m">
                              Approval type number @for (tag of control?.meta?.customTags; track tag) {
                              <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                              }</label
                              >
                              <div class="ecta-template separator">
                                <span class="separator approvalTypeFormatting">e</span>
                                <input
                                  appNoEmojis
                                  [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-euwvta'"
                                  [characterLimit]="2"
                                  [maxlength]="2"
                                  class="govuk-input govuk-date-input__input govuk-input--width-2"
                                  [id]="getId(name())"
                                  name="{{ name() }}-approvalTypeNumber1-EU WVTA 23 on"
                                  [(ngModel)]="approvalTypeNumber1"
                                  (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                                  />
                                <span class="separator approvalTypeFormatting">*</span>
                                <input
                                  appNoEmojis
                                  [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-euwvta'"
                                  [characterLimit]="4"
                                  [maxlength]="4"
                                  id="techRecord_approvalTypeNumber2-euwvta"
                                  class="govuk-input govuk-date-input__input govuk-input--width-4"
                                  name="techRecord_approvalTypeNumber2"
                                  [(ngModel)]="approvalTypeNumber2"
                                  (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                                  />
                                <span class="separator approvalTypeFormatting">/</span>
                                <input
                                  appNoEmojis
                                  [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-euwvta'"
                                  [characterLimit]="4"
                                  [maxlength]="4"
                                  id="techRecord_approvalTypeNumber3-euwvta"
                                  class="govuk-input govuk-date-input__input govuk-input--width-4"
                                  name="techRecord_approvalTypeNumber3"
                                  [(ngModel)]="approvalTypeNumber3"
                                  (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                                  />
                                <span class="separator approvalTypeFormatting">*</span>
                                <input
                                  appNoEmojis
                                  [maxlength]="6"
                                  id="techRecord_approvalTypeNumber4-euwvta"
                                  class="govuk-input govuk-date-input__input govuk-input--width-4"
                                  name="techRecord_approvalTypeNumber4"
                                  [(ngModel)]="approvalTypeNumber4"
                                  (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                                  />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                    <!-- QNIG Template -->
                    @case ('QNIG') {
                      <div>
                        @if (formSubmitted) {
                          <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                        }
                        <div class="govuk-date-input" id="{{ name() }}">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-label--m">
                                Approval type number @for (tag of control?.meta?.customTags; track tag) {
                                <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                                }</label
                                >
                                <div class="ecta-template separator">
                                  <span class="separator approvalTypeFormatting">e</span>
                                  <input
                                    appNoEmojis
                                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-qnig'"
                                    [characterLimit]="2"
                                    [maxlength]="2"
                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    [id]="getId(name())"
                                    name="{{ name() }}-approvalTypeNumber1-QNIG"
                                    [(ngModel)]="approvalTypeNumber1"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                                    />
                                  <span class="separator approvalTypeFormatting">*</span>
                                  <input
                                    appNoEmojis
                                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-qnig'"
                                    [characterLimit]="4"
                                    [maxlength]="4"
                                    id="techRecord_approvalTypeNumber2-qnig"
                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    name="techRecord_approvalTypeNumber2"
                                    [(ngModel)]="approvalTypeNumber2"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                                    />
                                  <span class="separator approvalTypeFormatting">/</span>
                                  <input
                                    appNoEmojis
                                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-qnig'"
                                    [characterLimit]="4"
                                    [maxlength]="4"
                                    id="techRecord_approvalTypeNumber3-qnig"
                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    name="techRecord_approvalTypeNumber3"
                                    [(ngModel)]="approvalTypeNumber3"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                                    />
                                  <span class="separator approvalTypeFormatting">*</span>
                                  <input
                                    appNoEmojis
                                    [maxlength]="6"
                                    id="techRecord_approvalTypeNumber4-qnig"
                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    name="techRecord_approvalTypeNumber4"
                                    [(ngModel)]="approvalTypeNumber4"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                                    />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      }
                      <!-- Prov.GB WVTA Template -->
                      @case ('Prov.GB WVTA') {
                        <div>
                          @if (formSubmitted) {
                            <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                          }
                          <div class="govuk-date-input" id="{{ name() }}">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--m">
                                  Approval type number @for (tag of control?.meta?.customTags; track tag) {
                                  <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                                  }</label
                                  >
                                  <div class="ecta-template separator">
                                    <input
                                      appNoEmojis
                                      [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-provgbwvta'"
                                      [characterLimit]="3"
                                      [maxlength]="3"
                                      class="govuk-input govuk-date-input__input govuk-input--width-2"
                                      [id]="getId(name())"
                                      name="{{ name() }}-approvalTypeNumber1-Prov.GB WVTA"
                                      [(ngModel)]="approvalTypeNumber1"
                                      (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                                      />
                                    <span class="separator approvalTypeFormatting">*</span>
                                    <input
                                      appNoEmojis
                                      [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-provgbwvta'"
                                      [characterLimit]="4"
                                      [maxlength]="4"
                                      id="techRecord_approvalTypeNumber2-provgbwvta"
                                      class="govuk-input govuk-date-input__input govuk-input--width-4"
                                      name="techRecord_approvalTypeNumber2"
                                      [(ngModel)]="approvalTypeNumber2"
                                      (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                                      />
                                    <span class="separator approvalTypeFormatting">/</span>
                                    <input
                                      appNoEmojis
                                      [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-provgbwvta'"
                                      [characterLimit]="4"
                                      [maxlength]="4"
                                      id="techRecord_approvalTypeNumber3-provgbwvta"
                                      class="govuk-input govuk-date-input__input govuk-input--width-4"
                                      name="techRecord_approvalTypeNumber3"
                                      [(ngModel)]="approvalTypeNumber3"
                                      (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                                      />
                                    <span class="separator approvalTypeFormatting">*</span>
                                    <input
                                      appNoEmojis
                                      [maxlength]="6"
                                      id="techRecord_approvalTypeNumber4-provgbwvta"
                                      class="govuk-input govuk-date-input__input govuk-input--width-4"
                                      name="techRecord_approvalTypeNumber4"
                                      [(ngModel)]="approvalTypeNumber4"
                                      (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                                      />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        }
                        <!-- Small series NKSXX Template -->
                        @case ('Small series NKSXX') {
                          <div>
                            @if (formSubmitted) {
                              <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                            }
                            <div class="govuk-date-input" id="{{ name() }}">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-label--m">
                                    Approval type number @for (tag of control?.meta?.customTags; track tag) {
                                    <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                                  }
                                </label>
                                <div class="ecta-template separator">
                                  <input
                                    appNoEmojis
                                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-smallseries-NKSXX'"
                                    [characterLimit]="1"
                                    [maxlength]="1"
                                    [id]="getId(name())"
                                    name="{{ name() }}-approvalTypeNumber1-Small series NKSXX"
                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    [(ngModel)]="approvalTypeNumber1"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                                    />
                                  <span class="separator approvalTypeFormatting">11*NKS</span>
                                  <input
                                    appNoEmojis
                                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-smallseries-NKSXX'"
                                    [characterLimit]="2"
                                    [maxlength]="2"
                                    id="techRecord_approvalTypeNumber2-smallseries-NKSXX"
                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    name="techRecord_approvalTypeNumber2"
                                    [(ngModel)]="approvalTypeNumber2"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                                    />
                                  <span class="separator approvalTypeFormatting">/</span>
                                  <input
                                    appNoEmojis
                                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber4-smallseries-NKSXX'"
                                    [characterLimit]="4"
                                    [maxlength]="4"
                                    id="techRecord_approvalTypeNumber3-smallseries-NKSXX"
                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    name="techRecord_approvalTypeNumber3"
                                    [(ngModel)]="approvalTypeNumber3"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                                    />
                                  <span class="separator approvalTypeFormatting">*</span>
                                  <input
                                    appNoEmojis
                                    [maxlength]="6"
                                    id="techRecord_approvalTypeNumber4-smallseries-NKSXX"
                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    name="techRecord_approvalTypeNumber4"
                                    [(ngModel)]="approvalTypeNumber4"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber4_Change($event); validate()"
                                    />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      }
                      @case ('Small series NKS') {
                        <div>
                          @if (formSubmitted) {
                            <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                          }
                          <div class="govuk-date-input" id="{{ name() }}">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--m">
                                  Approval type number @for (tag of control?.meta?.customTags; track tag) {
                                  <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                                }
                              </label>
                              <div class="ecta-template separator">
                                <input
                                  appNoEmojis
                                  [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-smallseries-NKS'"
                                  [characterLimit]="1"
                                  [maxlength]="1"
                                  [id]="getId(name())"
                                  name="{{ name() }}-approvalTypeNumber1-Small series NKS"
                                  class="govuk-input govuk-date-input__input govuk-input--width-2"
                                  [(ngModel)]="approvalTypeNumber1"
                                  (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                                  />
                                <span class="separator approvalTypeFormatting">11*NKS*</span>
                                <input
                                  appNoEmojis
                                  [maxlength]="6"
                                  id="techRecord_approvalTypeNumber2-smallseries-NKS"
                                  class="govuk-input govuk-date-input__input govuk-input--width-4"
                                  name="techRecord_approvalTypeNumber2"
                                  [(ngModel)]="approvalTypeNumber2"
                                  (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                                  />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                    <!-- IVA – VCA Template -->
                    @case ('IVA - VCA') {
                      <div>
                        @if (formSubmitted) {
                          <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                        }
                        <div class="govuk-date-input" id="{{ name() }}">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-label--m">
                                Approval type number @for (tag of control?.meta?.customTags; track tag) {
                                <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                                }</label
                                >
                                <div class="ecta-template separator">
                                  <span class="separator approvalTypeFormatting">n11*NIV</span>
                                  <input
                                    appNoEmojis
                                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber2-ivavca'"
                                    [characterLimit]="2"
                                    [maxlength]="2"
                                    [id]="getId(name())"
                                    name="{{ name() }}-approvalTypeNumber1-IVA - VCA"
                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    [(ngModel)]="approvalTypeNumber1"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                                    />
                                  <span class="separator approvalTypeFormatting">/</span>
                                  <input
                                    appNoEmojis
                                    [appFocusNextApprovalType]="'techRecord_approvalTypeNumber3-ivavca'"
                                    [characterLimit]="4"
                                    [maxlength]="4"
                                    id="techRecord_approvalTypeNumber2-ivavca"
                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    name="techRecord_approvalTypeNumber2"
                                    [(ngModel)]="approvalTypeNumber2"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber2_Change($event); validate()"
                                    />
                                  <span class="separator approvalTypeFormatting">*</span>
                                  <input
                                    appNoEmojis
                                    [maxlength]="6"
                                    id="techRecord_approvalTypeNumber3-ivavca"
                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    name="techRecord_approvalTypeNumber3"
                                    [(ngModel)]="approvalTypeNumber3"
                                    (ngModelChange)="onTechRecord_approvalTypeNumber3_Change($event); validate()"
                                    />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      }
                      <!-- IVA – DVSA/NI Template -->
                      @case ('IVA - DVSA/NI') {
                        <div>
                          @if (formSubmitted) {
                            <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
                          }
                          <div class="govuk-date-input" id="{{ name() }}">
                            <label class="govuk-label govuk-label--m">
                              Approval type number @for (tag of control?.meta?.customTags; track tag) {
                              <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
                              }</label
                              >
                              <input
                                appNoEmojis
                                maxlength="25"
                                class="govuk-input govuk-input--width-20"
                                [id]="getId(name())"
                                name="{{ name() }}-approvalTypeNumber1-IVA - DVSA/NI"
                                [(ngModel)]="approvalTypeNumber1"
                                (ngModelChange)="onTechRecord_approvalTypeNumber1_Change($event); validate()"
                                />
                            </div>
                          </div>
                        }
                      }
