.autocomplete__wrapper {
  z-index: 0;

  .govuk-label,
  .govuk-label--m {
    margin-bottom: 0;
  }
}

.extra-margin {
  margin-bottom: 30px;
}

.internal-wrapper {
  margin-top: 10px;
  display: flex;

  .prefix {
    border: 2px solid #0b0c0c;
    border-right: 0;
    height: unset;
  }

  @media (max-width: 640px) {
    .prefix {
      line-height: 1.25;
    }
  }
}
