<div [class]="style">
  <label for="{{ name() }}-autocomplete" class="govuk-label govuk-label--m">
    {{ label() }}
    @for (tag of control?.meta?.customTags; track tag) {
      <app-tag type="{{ tag.colour }}">{{ tag.label }}</app-tag>
    }
  </label>

  @if (hint()) {
    <div id="{{ name() }}-hint" class="govuk-hint">{{ hint() }}</div>
  }

  <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
  <app-field-error-message [error]="warning()" [name]="name()"></app-field-error-message>
  <div [class]="innerStyle">
    @if (prefix(); as prefix) {
      <div class="govuk-input__suffix prefix" aria-hidden="true">
        <ng-container [ngTemplateOutlet]="prefix.templateRef"></ng-container>
      </div>
    }

    <select [id]="name()">
      <option value=""></option>
      @for (option of options; track option) {
        <option [value]="option.value" [selected]="option.value === control?.value">{{ option.label }}</option>
      }
    </select>
  </div>
</div>
