<div [class]="style">
  <label for="{{ name }}-autocomplete" class="govuk-label govuk-label--m">
    {{ label }}
    <app-tag *ngFor="let tag of control?.meta?.customTags" type="{{ tag.colour }}">{{ tag.label }}</app-tag>
  </label>

  <div *ngIf="hint" id="{{ name }}-hint" class="govuk-hint">{{ hint }}</div>

  <app-field-error-message [error]="error" [name]="name"></app-field-error-message>
  <app-field-error-message [error]="warning" [name]="name"></app-field-error-message>
  <div [class]="innerStyle">
    <div *ngIf="prefix" class="govuk-input__suffix prefix" aria-hidden="true">
      <ng-container [ngTemplateOutlet]="prefix.templateRef"></ng-container>
    </div>

    <select [id]="name">
      <option value=""></option>
      <option *ngFor="let option of options" [value]="option.value" [selected]="option.value === control?.value">{{ option.label }}</option>
    </select>
  </div>   
</div>
