<table class="govuk-table t-history">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Test type</th>
    <th scope="col" class="govuk-table__header">Test date</th>
    <th scope="col" class="govuk-table__header">Expiry date</th>
    <th scope="col" class="govuk-table__header">Certificate number</th>
    <th scope="col" class="govuk-table__header">Result</th>
    <th scope="col" class="govuk-table__header">Tester name</th>
    <th scope="col" class="govuk-table__header"> </th>
  </tr>
  </thead>
  <tbody class="govuk-table__body" *ngIf="testResultJson; else noTestHistory">
  <ng-container *ngFor="let testRes of (testResultJson | SortByDatePipe :'testEndTimestamp')">
    <tr class="govuk-table__row" *ngFor="let testType of (testRes.testTypes | SortByDatePipe :'createdAt'); let i = index">
      <td id="{{ 'test-testCode-' + i }}" class="govuk-table__cell">
        {{ techRecHelpers.capitalizeWord(testType.testCode | DefaultNullOrEmpty) }}
      </td>
      <td id="{{ 'test-testEndTimestamp-' + i }}" class="govuk-table__cell">
        {{ testRes.testEndTimestamp | DefaultNullOrEmpty }}
      </td>
      <td id="{{ 'test-expiryDate-' + i }}" class="govuk-table__cell">
        {{ testRes.testExpiryDate | DefaultNullOrEmpty }}
      </td>
      <td id="{{ 'test-certificateNumber-' + i }}" class="govuk-table__cell">
        {{ testType.certificateNumber | DefaultNullOrEmpty }}
      </td>
      <td id="{{ 'test-testResult-' + i }}" class="govuk-table__cell govuk-!-font-weight-bold"
          [ngStyle]="testType.testResult=='pass' ? { color:'#00703C' } : testType.testResult=='prs' ? {color: '#1D70B8'} : (testType.testResult=='fail' || testType.testResult=='abandoned') ? {color: '#D4351C'} : {color: ''}">
        {{ (testType.testResult | DefaultNullOrEmpty) | uppercase }}
      </td>
      <td id="{{ 'test-testerName-' + i }}" class="govuk-table__cell">
        {{ testRes.testerName | DefaultNullOrEmpty }}
      </td>
      <td id="{{ 'test-view-' + i }}" class="govuk-table__cell">
        <a class="govuk-link" id="{{'test-view-'+ testType.testNumber}}" [routerLink]="['/test-record', testType.testNumber]">View</a>
      </td>
    </tr>
  </ng-container>
  </tbody>
  <ng-template #noTestHistory>
    <tbody class="govuk-table__body">
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    </tbody>
  </ng-template>
</table>
