@if (form(); as form) {
  <ng-container [formGroup]="form">
    <ng-container formArrayName="testTypes">
      <ng-container formGroupName="0">
        <!-- Test Result -->
        <govuk-form-group-radio
          label="Result"
          formControlName="testResult"
          [options]="[
            { label: 'Pass', value: 'pass' },
            { label: 'Fail', value: 'fail' },
            { label: 'PRS', value: 'prs' },
          ]"
        ></govuk-form-group-radio>
      </ng-container>
    </ng-container>
  </ng-container>
}