<dl *ngIf="!editState" class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Test type
    </dt>
    <dd class="govuk-summary-list__value" id="test-testTypeName">
      {{ testType.testTypeName | DefaultNullOrEmpty }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Test code
    </dt>
    <dd class="govuk-summary-list__value" id="test-testCode">
      {{ testType.testCode | DefaultNullOrEmpty | CapitalizeString }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Result
    </dt>
    <dd class="govuk-summary-list__value" id="test-testResult">
      {{ testType.testResult | DefaultNullOrEmpty | CapitalizeString }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reason for abandoning
    </dt>
    <dd class="govuk-summary-list__value" id="test-reasonForAbandoning">
      {{ testType.reasonForAbandoning | DefaultNullOrEmpty | CapitalizeString }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Additional details for abandoning
    </dt>
    <dd class="govuk-summary-list__value" id="test-additionalCommentsForAbandon">
      {{ testType.additionalCommentsForAbandon | DefaultNullOrEmpty | CapitalizeString }}
    </dd>
  </div>
  <ng-container *ngIf="testTypesApplicable">
    <div *ngIf="hasCertificateNumber" class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Certificate number
      </dt>
      <dd class="govuk-summary-list__value" id="test-certificateNumber">
        {{ testType.certificateNumber | DefaultNullOrEmpty }}
      </dd>
    </div>
  </ng-container>
  <ng-container *ngIf="testTypesApplicable">
    <div
      *ngIf="
        testTypesApplicable.specialistCOIFApplicable[testType.testTypeId] &&
        testType.testResult === 'pass'
      "
      class="govuk-summary-list__row"
    >
      <dt class="govuk-summary-list__key">
        Certificate number (COIF)
      </dt>
      <dd class="govuk-summary-list__value" id="test-certificateNumberCOIF">
        {{ testType.secondaryCertificateNumber | DefaultNullOrEmpty }}
      </dd>
    </div>
  </ng-container>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Test number
    </dt>
    <dd class="govuk-summary-list__value" id="test-testNumber">
      {{ testType.testNumber | DefaultNullOrEmpty }}
    </dd>
  </div>
  <ng-container *ngIf="testTypesApplicable">
    <div
      *ngIf="testTypesApplicable.expiryDateApplicable[testType.testTypeId]"
      class="govuk-summary-list__row"
    >
      <dt class="govuk-summary-list__key">
        Expiry date
      </dt>
      <dd class="govuk-summary-list__value" id="test-testExpiryDate">
        <span *ngIf="testType.testExpiryDate; else hyphen">
          {{ testType.testExpiryDate | date: 'dd/MM/yyyy':'UTC' }}
        </span>
      </dd>
    </div>
    <div
      *ngIf="testTypesApplicable.anniversaryDateApplicable[testType.testTypeId]"
      class="govuk-summary-list__row"
    >
      <dt class="govuk-summary-list__key">
        Anniversary date
      </dt>
      <dd class="govuk-summary-list__value" id="test-testAnniversaryDate">
        <span *ngIf="testType.testAnniversaryDate; else hyphen">
          {{ testType.testAnniversaryDate | date: 'dd/MM/yyyy':'UTC' }}
        </span>
      </dd>
    </div>
  </ng-container>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Test date
    </dt>
    <dd class="govuk-summary-list__value" id="test-testEndTimestamp">
      <span *ngIf="testType.testTypeEndTimestamp; else hyphen">
        {{ testType.testTypeEndTimestamp | date: 'dd/MM/yyyy' }}
      </span>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start time
    </dt>
    <dd class="govuk-summary-list__value" id="test-testTypeStartTimestamp">
      <span *ngIf="testType.testTypeStartTimestamp; else hyphen">
        {{ testType.testTypeStartTimestamp | date: 'shortTime':'UTC' }}
      </span>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt
      class="govuk-summary-list__key"
      [class.border--bottom-none]="
        !testTypesApplicable.defectsApplicable[testType.testTypeId] &&
        !testTypesApplicable.specialistTestApplicable[testType.testTypeId]
      "
    >
      End time
    </dt>
    <dd
      class="govuk-summary-list__value"
      [class.border--bottom-none]="
        !testTypesApplicable.defectsApplicable[testType.testTypeId] &&
        !testTypesApplicable.specialistTestApplicable[testType.testTypeId]
      "
      id="test-testTypeEndTimestamp"
    >
      <span *ngIf="testType.testTypeEndTimestamp; else hyphen">
        {{ testType.testTypeEndTimestamp | date: 'shortTime':'UTC' }}
      </span>
    </dd>
  </div>
  <ng-container *ngIf="testTypesApplicable">
    <div
      *ngIf="
        testTypesApplicable.defectsApplicable[testType.testTypeId] ||
        testTypesApplicable.specialistTestApplicable[testType.testTypeId]
      "
      class="govuk-summary-list__row"
    >
      <dt class="govuk-summary-list__key border--bottom-none">
        Prohibition issued
      </dt>
      <dd class="govuk-summary-list__value border--bottom-none" id="test-prohibitionIssued">
        {{ testType.prohibitionIssued | DefaultNullOrEmpty }}
      </dd>
    </div>
  </ng-container>
</dl>
<ng-template #hyphen>
  <span>-</span>
</ng-template>

<ng-container *ngIf="editState">
  <vtm-test-section-edit
    [testRecord]="testRecord"
    [testType]="testType"
    [testTypesApplicable]="testTypesApplicable"
  ></vtm-test-section-edit>
</ng-container>
