<div class="govuk-grid-row home-page">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Accessibility statement for Vehicle testing management
    </h1>

    <p class="govuk-body">
      This accessibility statement applies to content published on the Vehicle
      testing management service. This website is run by the
      <a
        class="govuk-link"
        href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency"
        >Driver and Vehicle Standards Agency</a
      >.
    </p>

    <h2 class="govuk-heading-m" id="overview">
      How you should be able to use this website
    </h2>
    <p class="govuk-body">
      We want as many people as possible to be able to use this website. For
      example, this means you should be able to:
    </p>
    <ul class="govuk-list govuk-list-standard govuk-list--bullet">
      <li>
        change colours, contrast levels and fonts using browser or device
        settings
      </li>
      <li>zoom in up to 400% without the text spilling off the screen</li>
      <li>
        navigate most of the website using a keyboard or speech recognition
        software
      </li>
      <li>
        listen to most of the website using a screen reader (including the most
        recent versions of JAWS, NVDA and VoiceOver)
      </li>
    </ul>

    <p class="govuk-body">
      We also make the website text as simple as possible to understand.
    </p>
    <p class="govuk-body">
      AbilityNet has advice on
      <a class="govuk-link" href="https://mcmw.abilitynet.org.uk"
        >making your device easier to use</a
      >
      if you have a disability.
    </p>

    <h2 class="govuk-heading-m" id="how-accessible">
      How accessible this website is
    </h2>
    <p class="govuk-body">
      Parts of this website are not fully accessible. For example:
    </p>
    <ul class="govuk-list govuk-list-standard govuk-list--bullet">
      <li>some heading elements are not consistent</li>
      <li>some page titles and headings are not consistent</li>
      <li>some interactive elements are not accurately labelled</li>
      <li>some pages are difficult to navigate using a keyboard</li>
    </ul>

    <h2 class="govuk-heading-m" id="feedback">
      Feedback and contact information
    </h2>

    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/contact-dvsa"
        >Tell us if you need information in a different format</a
      >.
    </p>

    <p class="govuk-body">In your message, include:</p>
    <ul class="govuk-list govuk-list-standard govuk-list--bullet">
      <li>the web address (URL) of the content</li>
      <li>your email address and name</li>
      <li>
        the format you need - for example, plain text, braille, BSL, large print
        or audio CD
      </li>
    </ul>
    <p class="govuk-body">
      We'll ask you how you want us to send messages or documents to you.
    </p>

    <p class="govuk-body">
      You can also view the organisation's
      <a
        class="govuk-link"
        href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency/about/accessible-documents-policy"
        >accessible document policy</a
      >
      to report any problems or request documents in an alternative format.
    </p>

    <h3 class="govuk-heading-s">Contacting us by phone or in person</h3>
    <p class="govuk-body">
      We provide a text relay service for people who are deaf, hearing impaired
      or have a speech impediment. Our offices have audio induction loops, or if
      you contact us before your visit, we can arrange a British Sign Language
      (BSL) interpreter to help you complete the service in person.
    </p>

    <h2 class="govuk-heading-m" id="reporting">
      Reporting accessibility problems with this website
    </h2>
    <p class="govuk-body">
      If you find any problems that are not listed on this page or you think
      we're not meeting the accessibility requirements,
      <a class="govuk-link" href="https://www.gov.uk/contact-dvsa">contact us</a
      >.
    </p>

    <h2 class="govuk-heading-m" id="enforcement">Enforcement procedure</h2>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for
      enforcing the Public Sector Bodies (Websites and Mobile Applications) (No.
      2) Accessibility Regulations 2018 (the ‘accessibility regulations').
    </p>
    <p class="govuk-body">
      If you're not happy with how we respond to your complaint, you can
      <a class="govuk-link" href="https://www.equalityadvisoryservice.com/"
        >contact the Equality Advisory and Support Service (EASS)</a
      >.
    </p>

    <h2 class="govuk-heading-m" id="technical-info">
      Technical information about this website's accessibility
    </h2>
    <p class="govuk-body">
      The Driver and Vehicle Standards Agency is committed to making its website
      accessible, in accordance with the Public Sector Bodies (Websites and
      Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h2 class="govuk-heading-m" id="compliance">Compliance status</h2>
    <p class="govuk-body">
      This website is partially compliant with the
      <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/"
        >Web Content Accessibility Guidelines version 2.2</a
      >
      AA standard, due to the non-compliances and exemptions listed below.
    </p>

    <h2 class="govuk-heading-m" id="non-accesible">Non-accessible content</h2>
    <p class="govuk-body">
      The content listed below is non-accessible for the following reasons.
    </p>

    <h2 class="govuk-heading-s" id="non-compliance">
      Non-compliance with the accessibility regulations
    </h2>

    <ol class="govuk-list govuk-list-standard govuk-list--number">
      <li>
        Some pages contain headings which are not correctly structured. The
        fails WCAG 2.2 success criterion 1.3.1 (Info and Relationships).
      </li>
      <li>
        On some pages, skip to main content links do not function. This fails
        WCAG 2.2 success criterion 2.4.1 (Bypass Blocks).
      </li>
      <li>
        Some pages contain images without alt text. This fails WCAG 2.2 success
        criterion 1.1.1 (Non-text Content).
      </li>
      <li>
        Some pages contain unexpected focusable elements. This fails WCAG 2.2
        success criterion 2.4.3 (Focus Order).
      </li>
      <li>
        On some pages, the focus order does not follow a logical sequence. This
        fails WCAG 2.2 success criterion 2.4.3 (Focus Order).
      </li>
      <li>
        Some custom links are not accurately labelled. This fails WCAG 2.2
        success criterion 1.3.1 (Info and Relationships).
      </li>
      <li>
        Some links are not sufficiently descriptive. This fails WCAG 2.2 success
        criterion 2.4.4 (Link Purpose in Context).
      </li>
      <li>
        Some tables and input fields are not sufficiently labelled for screen
        reader users. This fails WCAG 2.2 success criterion 1.3.1 (Info and
        Relationships).
      </li>
      <li>
        Some interactive elements are not sufficiently labelled for screen
        reader users. This fails WCAG 2.2 success criterion 1.3.1 (Info and
        Relationships).
      </li>
      <li>
        On some pages, focus is changed automatically when the user inputs a
        value. This fails WCAG 2.2 success criterion 3.2.2 (On Input).
      </li>
      <li>
        On some pages, the state of interactive elements are not conveyed to
        users. This fails WCAG 2.2 success criterion 1.3.1 (Info and
        Relationships).
      </li>
      <li>
        Some ARIA attributes are not used correctly. This fails WCAG 2.2 success
        criterion 4.1.2 (Name, Role, Value).
      </li>
      <li>
        Some pages do not have unique, descriptive page titles for screen reader
        users. This fails WCAG 2.2 success criterion 2.4.2 (Page Titled).
      </li>
      <li>
        On some pages, content is revealed conditionally to users. This fails
        WCAG 2.2 success criterion 1.4.10 (Reflow).
      </li>
      <li>
        Some text cannot be resized up to 200% without loss of content or
        functionality. This fails WCAG 2.2 success criterion 1.4.4 (Resize
        Text).
      </li>
      <li>
        Some text does not have sufficient colour contrast. This fails WCAG 2.2
        success criterion 1.4.3 (Contrast (Minimum)).
      </li>
      <li>
        Some status messages that update dynamically are not announced to screen
        reader users. This fails WCAG 2.2 success criterion 4.1.3 (Status
        Messages).
      </li>
    </ol>
    <p class="govuk-body">
      Some documents are in non-HTML formats, for example PDF. They are not
      accessible in a number of ways including missing text alternatives and
      missing document structure.
    </p>

    <h2 class="govuk-heading-m" id="notinscope">
      Content that's not within the scope of the accessibility regulations
    </h2>
    <p class="govuk-body">
      The accessibility regulations do not require us to fix PDFs or other
      documents published before 23 September 2018 if they're not essential to
      providing our services.
    </p>

    <h2 class="govuk-heading-m" id="improving">
      What we are doing to improve accessibility
    </h2>
    <p class="govuk-body">
      We are working with the Digital Accessibility Centre to fix content which
      fails to meet the Web Content Accessibility Guidelines version 2.2 AA
      standard.
    </p>

    <h2 class="govuk-heading-m" id="preparation">
      Preparation of this accessibility statement
    </h2>
    <p class="govuk-body">
      This statement was prepared on 5 January 2026. It was last reviewed on 5
      January 2026.
    </p>

    <p class="govuk-body">
      This website was last tested in September 2025 against the WCAG 2.2 AA
      standard. This test of a representative sample of pages was carried out by
      the Digital Accessibility Centre (DAC).
    </p>

    <p class="govuk-body">
      We also used findings from our own testing when preparing this
      accessibility statement.
    </p>
  </div>
</div>
