<app-header [username]="userService.name$ | async" (logOutEvent)="userService.logOut()" />
<app-phase-banner />

<div
  [ngClass]="{
    'no-scroll': (loading | async),
    gutters: (isStandardLayout | async) === false,
    'govuk-width-container': (isStandardLayout | async)
  }"
>
  <main class="govuk-main-wrapper {{ (isStandardLayout | async) ? '' : 'full-width' }}">
    <app-breadcrumbs></app-breadcrumbs>
    <app-global-error></app-global-error>
    <app-global-warning></app-global-warning>
    <app-spinner [loading]="loading | async"></app-spinner>
    <router-outlet></router-outlet>
  </main>
</div>

<app-footer />
