<app-header [username]="userService.name$ | async" (logOutEvent)="userService.logOut()" />
<app-phase-banner />

@let loading = loadingService.showSpinner$ | async;
@let isStandardLayout = isStandardLayout$ | async;

<div
  [ngClass]="{
    'no-scroll': loading,
    gutters: isStandardLayout === false,
    'govuk-width-container': isStandardLayout
  }"
>
  <main class="govuk-main-wrapper {{ isStandardLayout ? '' : 'full-width' }}">
    @if (isTechRecordRedesignFlagEnabled) {
      <app-breadcrumbs-2></app-breadcrumbs-2>
    } @else {
      <app-breadcrumbs></app-breadcrumbs>
    }
    <app-global-error></app-global-error>
    <app-global-warning></app-global-warning>
    <app-spinner [loading]="loading"></app-spinner>
    <router-outlet></router-outlet>
  </main>
</div>

<app-footer />
