@import 'node_modules/govuk-frontend/govuk/all';

:host {
  a {
    cursor: pointer;
  }

  .media-image {
    width: 40%;
    height: 40%;
  }

  .download-image-link {
    margin-left: 10em;
  }


  .text {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-family: GDS Transport, arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    padding: 0;
  }

  .link {
    @extend .text;
    color: $govuk-brand-colour;
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.1em;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: govuk-colour('dark-blue', $legacy: 'light-blue');
      text-decoration: underline;
      text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    }
  }

  .defect-container {
    @extend .underline;
    padding-bottom: 1em;
  }

  .underline {
    border: 0 solid grey;
    border-bottom-width: 1px;
  }
}
