<nav class="govuk-pagination" role="navigation" aria-label="results">
  @if (currentPage > 1) {
    <div class="govuk-pagination__prev">
      <a
        [id]="tableName() + '-prev-page'"
        class="govuk-link govuk-pagination__link"
        [routerLink]="[]"
        [queryParams]="prevPage()"
        queryParamsHandling="merge"
        rel="prev"
        >
        <svg
          class="govuk-pagination__icon govuk-pagination__icon--prev"
          xmlns="http://www.w3.org/2000/svg"
          height="13"
          width="15"
          aria-hidden="true"
          focusable="false"
          viewBox="0 0 15 13"
          >
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="govuk-pagination__link-title">Previous</span></a
        >
      </div>
    }

    <ul class="govuk-pagination__list">
      @for (page of visiblePages; track i; let i = $index) {
        <li class="govuk-pagination__item" [ngClass]="{ 'govuk-pagination__item--current': currentPage === page }">
          <a
            [id]="tableName() + '-page-' + page"
            class="govuk-link govuk-pagination__link"
            [routerLink]="[]"
            [queryParams]="pageQuery(page)"
            routerLinkActive=""
            #rla="routerLinkActive"
            queryParamsHandling="merge"
            aria-label="Page 1"
            ariaCurrentWhenActive="page"
            >
            {{ page }}
          </a>
        </li>
      }
    </ul>

    @if (currentPage !== pages.length) {
      <div class="govuk-pagination__next">
        <a
          [id]="tableName() + '-next-page'"
          class="govuk-link govuk-pagination__link"
          rel="next"
          [routerLink]="[]"
          [queryParams]="nextPage()"
          queryParamsHandling="merge"
          >
          <span class="govuk-pagination__link-title">Next</span>
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
            >
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    }
  </nav>
