<div [formGroup]="form">
  @if (mode() === Modes.EDIT || mode() === Modes.AMEND) {
  <!-- Contingency Test Number -->
  <govuk-form-group-input
    label="Contingency Test Number"
    formControlName="contingencyTestNumber"
    [width]="FormNodeWidth.L"
    appToUppercase
    appNoSpace
    appTrimWhitespace
  ></govuk-form-group-input>

  <ng-container formArrayName="testTypes">
    <ng-container formGroupName="0">
      <!-- Issue Documents Centrally -->
      <ng-container formGroupName="centralDocs">
        <govuk-form-group-radio
          label="Issue documents centrally"
          formControlName="issueRequired"
          [options]="YES_NO_OPTIONS"
        ></govuk-form-group-radio>
      </ng-container>

      <!-- Test start date and time -->
      <govuk-form-group-date
        mode="iso"
        label="Test start date and time"
        formControlName="testTypeStartTimestamp"
      ></govuk-form-group-date>

      <!-- Test end date and time -->
      <govuk-form-group-date
        mode="iso"
        label="Test end date and time"
        formControlName="testTypeEndTimestamp"
      ></govuk-form-group-date>
    </ng-container>
  </ng-container>
  } @else {
    @if (testResult(); as testResult) {
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          @if (mode() === Modes.VIEW) {
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Created:</td>
              <td class="govuk-table__cell" id="test-createdAt">
                {{ testResult.createdAt | date: 'dd/MM/yyyy': 'UTC' | defaultNullOrEmpty  }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Test Date:</td>
              <td class="govuk-table__cell" id="test-testTypeStartTimestamp">
                {{ testResult.testTypes[0].testTypeStartTimestamp | date: 'dd/MM/yyyy': 'UTC' | defaultNullOrEmpty }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Test Code:</td>
              <td class="govuk-table__cell" id="test-contingencyTestNumber">
                {{ testResult.testTypes[0].testCode | defaultNullOrEmpty }}
              </td>
            </tr>
          }
          @if (mode() === Modes.SUMMARY) {
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Contingency Test Number:</td>
              <td class="govuk-table__cell" id="test-contingencyTestNumber">
                {{ testResult.contingencyTestNumber| defaultNullOrEmpty  }}
              </td>
            </tr>
          }
          <tr class="govuk-table__row">
            <td class="govuk-table__header" style="width: 30%">Issue documents centrally:</td>
            <td class="govuk-table__cell" id="test-issueRequired">
              {{ testResult.testTypes[0].centralDocs?.issueRequired ? 'Yes' : 'No' }}
            </td>
          </tr>
          @if (mode() === Modes.VIEW) {
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Description:</td>
              <td class="govuk-table__cell" id="test-issueRequired">
                {{ testResult.testTypes[0].testTypeName | defaultNullOrEmpty }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Test Number:</td>
              <td class="govuk-table__cell" id="test-issueRequired">
                {{ testResult.testTypes[0].testNumber | defaultNullOrEmpty }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Expiry Date:</td>
              <td class="govuk-table__cell" id="test-issueRequired">
                {{ testResult.testTypes[0].testExpiryDate | date: 'dd/MM/yyyy': 'UTC' | defaultNullOrEmpty  }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Anniversary Date:</td>
              <td class="govuk-table__cell" id="test-issueRequired">
                {{ testResult.testTypes[0].testAnniversaryDate | date: 'dd/MM/yyyy': 'UTC' | defaultNullOrEmpty  }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Start time:</td>
              <td class="govuk-table__cell" id="test-testTypeStartTimestamp">
                {{ testResult.testTypes[0].testTypeStartTimestamp | date: 'HH:mm': 'UTC' | defaultNullOrEmpty }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">End time:</td>
              <td class="govuk-table__cell" id="test-testTypeEndTimestamp">
                {{ testResult.testTypes[0].testTypeEndTimestamp | date: 'HH:mm': 'UTC' | defaultNullOrEmpty }}
              </td>
            </tr>
          }
          @if (mode() === Modes.SUMMARY) {
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Test start date and time:</td>
              <td class="govuk-table__cell" id="test-testTypeStartTimestamp">
                {{ testResult.testTypes[0].testTypeStartTimestamp | date: 'dd/MM/yyyy HH:mm': 'UTC' | defaultNullOrEmpty }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header" style="width: 30%">Test end date and time:</td>
              <td class="govuk-table__cell" id="test-testTypeEndTimestamp">
                {{ testResult.testTypes[0].testTypeEndTimestamp | date: 'dd/MM/yyyy HH:mm': 'UTC' | defaultNullOrEmpty }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  }
</div>
