<div [formGroup]="form">
  @if (mode() === Modes.EDIT || mode() === Modes.AMEND) {
  <!-- Contingency Test Number -->
  <govuk-form-group-input
    label="Contingency Test Number"
    formControlName="contingencyTestNumber"
    [width]="FormNodeWidth.L"
    appToUppercase
    appNoSpace
    appTrimWhitespace
  ></govuk-form-group-input>

  <ng-container formArrayName="testTypes">
    <ng-container formGroupName="0">
      <!-- Issue Documents Centrally -->
      <ng-container formGroupName="centralDocs">
        <govuk-form-group-radio
          label="Issue documents centrally"
          formControlName="issueRequired"
          [options]="YES_NO_OPTIONS"
        ></govuk-form-group-radio>
      </ng-container>

      <!-- Test start date and time -->
      <govuk-form-group-date
        mode="iso"
        label="Test start date and time"
        formControlName="testTypeStartTimestamp"
      ></govuk-form-group-date>

      <!-- Test end date and time -->
      <govuk-form-group-date
        mode="iso"
        label="Test end date and time"
        formControlName="testTypeEndTimestamp"
      ></govuk-form-group-date>
    </ng-container>
  </ng-container>
  } @else {
    @if (testResult(); as testResult) {
      <table class="govuk-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Contingency Test Number:</td>
          <td class="govuk-table__cell" id="test-contingencyTestNumber">
            {{ testResult.contingencyTestNumber | defaultNullOrEmpty }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Issue documents centrally:</td>
          <td class="govuk-table__cell" id="test-issueRequired">
            {{ testResult.testTypes[0].centralDocs?.issueRequired ? 'Yes' : 'No' }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Test start date and time:</td>
          <td class="govuk-table__cell" id="test-testTypeStartTimestamp">
            {{ testResult.testTypes[0].testTypeStartTimestamp | date: 'dd/MM/yyyy HH:mm': 'UTC' | defaultNullOrEmpty }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Test end date and time:</td>
          <td class="govuk-table__cell" id="test-testTypeEndTimestamp">
            {{ testResult.testTypes[0].testTypeEndTimestamp | date: 'dd/MM/yyyy HH:mm': 'UTC' | defaultNullOrEmpty }}
          </td>
        </tr>
        </tbody>
      </table>
    }
  }
</div>
