<div [formGroup]="form">
  @if (mode() === Modes.EDIT) {
  <!-- Contingency Test Number -->
  <govuk-form-group-input
    label="Contingency Test Number"
    formControlName="contingencyTestNumber"
    [width]="FormNodeWidth.L"
    appToUppercase
    appNoSpace
    appTrimWhitespace
  ></govuk-form-group-input>

  <ng-container formArrayName="testTypes">
    <ng-container formGroupName="0">
      <!-- Issue Documents Centrally -->
      <ng-container formGroupName="centralDocs">
        <govuk-form-group-radio
          label="Issue documents centrally"
          formControlName="issueRequired"
          [options]="YES_NO_OPTIONS"
        ></govuk-form-group-radio>
      </ng-container>

      <!-- Test start date and time -->
      <govuk-form-group-date
        mode="iso"
        label="Test start date and time"
        formControlName="testTypeStartTimestamp"
      ></govuk-form-group-date>

      <!-- Test end date and time -->
      <govuk-form-group-date
        mode="iso"
        label="Test end date and time"
        formControlName="testTypeEndTimestamp"
      ></govuk-form-group-date>
    </ng-container>
  </ng-container>
  } @else {
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Contingency Test Number:</td>
        <td class="govuk-table__cell" id="test-contingencyTestNumber">{{ form.controls.contingencyTestNumber.value }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Issue documents centrally:</td>
        <td class="govuk-table__cell" id="test-issueRequired">{{ form.controls.testTypes.at(0).controls.centralDocs.controls.issueRequired.value ? 'Yes' : 'No' }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Test start date and time:</td>
        <td class="govuk-table__cell" id="test-testTypeStartTimestamp">{{ form.controls.testTypes.at(0).controls.testTypeStartTimestamp.value | date: 'dd/MM/yyyy HH:mm': 'UTC' }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Test end date and time:</td>
        <td class="govuk-table__cell" id="test-testTypeEndTimestamp">{{ form.controls.testTypes.at(0).controls.testTypeEndTimestamp.value | date: 'dd/MM/yyyy HH:mm': 'UTC' }}</td>
      </tr>
      </tbody>
    </table>
  }
</div>
