@import 'node_modules/govuk-frontend/govuk/all';

.govuk-button--warning {
  white-space: nowrap;
}

.axle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: end;
}

.remove-axle-button-psv {
  margin-bottom: 1.25rem;
}
