@let showNoAxlesWarning = parent.get('techRecord_axles')?.value.length === 0 ||
  !parent.get('techRecord_axles')?.value;
@let dimensionsWarning = parent.get('techRecord_axles')?.value.length > 0 &&
  showDimensionsWarning;

<div
  [class.govuk-!-padding-left-4]="showNoAxlesWarning || dimensionsWarning"
  [class.govuk-!-padding-right-4]="showNoAxlesWarning || dimensionsWarning"
  [class.govuk-!-padding-4]="!showNoAxlesWarning && !dimensionsWarning"
  [formGroup]="form"
>
  <div class="govuk-table__body" [formGroup]="parent">
    <ng-container formArrayName="techRecord_axles">
      @if (showNoAxlesWarning) {
        <h2 class="govuk-label govuk-label--s govuk-!-margin-bottom-2">Axle weight details</h2>
        <app-field-warning-message
          id="enter-number-of-axles-weights-warning-message"
          [warningMessage]="'Enter the number of axles to be able to add axle weights.'" />
      }

      @if (dimensionsWarning) {
        <app-field-warning-message id="axle-distances-cleared-weights-warning-message" [warningMessage]="' '">
          <p class="govuk-!-margin-0">Axle distances have been cleared because you removed an axle.</p>
          <p class="govuk-!-margin-0">Re-enter any axle distances in the dimensions section.</p>
        </app-field-warning-message>
      }

      @if (invalidAxlesAll.length > 0) {
        <app-field-warning-message [warningMessage]="' '">
          <p class="m-0">The GB Axle weight is greater than the selected weight for axle(s)
            @for (axle of invalidAxlesAll; track axle; let i = $index; let isLast = $last) {
              @if (invalidAxlesAll.length > 1 && isLast) {
                and
              }
              {{ axle }}@if (invalidAxlesAll.length > 2 && i < (invalidAxlesAll.length - 2)) {
                ,
              }
            }
          </p>
        </app-field-warning-message>
      }

      @if (techRecordAxles) {
        @for (axle of techRecordAxles.controls; track axle; let i = $index) {
          <h2 class="govuk-label govuk-label--s govuk-!-margin-bottom-2">Axle {{ i + 1 }}</h2>

          @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
            <button
              type="button"
              class="govuk-button govuk-button--warning remove-axle-button-psv"
              data-module="govuk-button"
              role="button"
              [id]="'weights_remove-{{ i + 1}}'"
              (click)="removeAxle(i)"
            >
              Remove axle
            </button>
          }

          @if (techRecord().techRecord_vehicleType !== VehicleTypes.PSV && (
            techRecordAxles.at(i).get('weights_gbWeight')?.invalid ||
            techRecordAxles.at(i).get('weights_eecWeight')?.invalid ||
            techRecordAxles.at(i).get('weights_designWeight')?.invalid
          )) {
            <app-field-error-message
              [name]="`Axle-${ i + 1 }-weights`"
              [error]="`Axle ${ i + 1 } GB, EEC, Design Weight must be less than or equal to 99999kg`">
            </app-field-error-message>
          }

          @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV && (
            techRecordAxles.at(i).get('weights_kerbWeight')?.invalid ||
            techRecordAxles.at(i).get('weights_ladenWeight')?.invalid ||
            techRecordAxles.at(i).get('weights_gbWeight')?.invalid ||
            techRecordAxles.at(i).get('weights_designWeight')?.invalid
          )) {
            <app-field-error-message
              [name]="`Axle-${ i + 1 }-weights`"
              [error]="`Axle ${ i + 1 } Kerb, Laden, GB Max, EEC, Design Weight must be less than or equal to 99999kg`">
            </app-field-error-message>
          }

          <div class="axle" formGroupName="{{ i }}">
            @if (techRecord().techRecord_vehicleType !== VehicleTypes.PSV) {
              <govuk-form-group-input
                [label]="'GB'"
                id="weights_gbWeight-{{ i + 1 }}"
                type="number"
                formControlName="weights_gbWeight"
                class="govuk-label--s"
                [suffix]="'kg'"
                [showErrors]="false"
              />
            }

            @if (techRecord().techRecord_vehicleType !== VehicleTypes.PSV) {
              <govuk-form-group-input
                [label]="'EEC'"
                id="weights_eecWeight-{{ i + 1 }}"
                type="number"
                formControlName="weights_eecWeight"
                class="govuk-label--s"
                [suffix]="'kg'"
                [showErrors]="false"
              />
            }

            @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
              <govuk-form-group-input
                [label]="'Kerb'"
                id="weights_kerbWeight-{{ i + 1 }}"
                type="number"
                formControlName="weights_kerbWeight"
                class="govuk-label--s"
                [suffix]="'kg'"
                [showErrors]="false"
              />
            }

            @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
              <govuk-form-group-input
                [label]="'Laden'"
                id="weights_ladenWeight-{{ i + 1 }}"
                type="number"
                formControlName="weights_ladenWeight"
                class="govuk-label--s"
                [suffix]="'kg'"
                [showErrors]="false"
              />
            }

            @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
              <govuk-form-group-input
                [label]="'GB max'"
                id="weights_gbWeight-{{ i + 1 }}"
                type="number"
                formControlName="weights_gbWeight"
                class="govuk-label--s"
                [suffix]="'kg'"
                [showErrors]="false"
              />
            }

            <govuk-form-group-input
              [label]="'Design'"
              id="weights_designWeight-{{ i + 1 }}"
              type="number"
              formControlName="weights_designWeight"
              class="govuk-label--s"
              [suffix]="'kg'"
              [showErrors]="false"
            />

            @if (techRecord().techRecord_vehicleType !== VehicleTypes.PSV) {
              <button
                type="button"
                class="govuk-button govuk-button--warning"
                data-module="govuk-button"
                role="button"
                [id]="'weights_remove-{{ i + 1}}'"
                (click)="removeAxle(i)"
              >
                Remove axle
              </button>
            }
          </div>
        }
      }
    </ng-container>
    <h2 class="govuk-label govuk-label--s govuk-!-margin-bottom-2">Gross</h2>

    <!-- Inline error message for HGV & TRL-->
    @if (techRecord().techRecord_vehicleType !== VehicleTypes.PSV) {
      @if (form.get('techRecord_grossGbWeight')?.invalid || form.get('techRecord_grossEecWeight')?.invalid || form.get('techRecord_grossDesignWeight')?.invalid) {
        <app-field-error-message [name]="'gross-weight'"
                                 [error]="'Gross GB, EEC, Design Weight must be less than or equal to 99999kg'" />
      }
    }

    <!-- Inline error message for PSV -->
    @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
      @if (form.get('techRecord_grossKerbWeight')?.invalid || form.get('techRecord_grossLadenWeight')?.invalid || form.get('techRecord_grossGbWeight')?.invalid || form.get('techRecord_grossDesignWeight')?.invalid) {
        <app-field-error-message [name]="'gross-weight'"
                                 [error]="'Gross Kerb, Laden, GB Max, Design Weight must be less than or equal to 99999kg'" />
      }
    }

    <div class="axle">
      @if (techRecord().techRecord_vehicleType !== VehicleTypes.PSV) {
        <govuk-form-group-input
          [label]="'GB'"
          type="number"
          formControlName="techRecord_grossGbWeight"
          class="govuk-label--s"
          [showErrors]="false"
          [suffix]="'kg'"
        />

        <govuk-form-group-input
          [label]="'EEC'"
          type="number"
          formControlName="techRecord_grossEecWeight"
          class="govuk-label--s"
          [showErrors]="false"
          [suffix]="'kg'"
        />
      }

      @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
        <govuk-form-group-input
          [label]="'Kerb'"
          type="number"
          formControlName="techRecord_grossKerbWeight"
          class="govuk-label--s"
          [showErrors]="false"
          [suffix]="'kg'"
        />

        <govuk-form-group-input
          [label]="'Laden'"
          type="number"
          formControlName="techRecord_grossLadenWeight"
          class="govuk-label--s"
          [showErrors]="false"
          [suffix]="'kg'"
        />

        <govuk-form-group-input
          [label]="'GB max'"
          type="number"
          formControlName="techRecord_grossGbWeight"
          class="govuk-label--s"
          [showErrors]="false"
          [suffix]="'kg'"
        />
      }

      <govuk-form-group-input
        [label]="'Design'"
        type="number"
        formControlName="techRecord_grossDesignWeight"
        class="govuk-label--s"
        [showErrors]="false"
        [suffix]="'kg'"
      />
    </div>
  </div>
  @if (techRecord().techRecord_vehicleType !== VehicleTypes.TRL) {


    <h2 class="govuk-label govuk-label--s govuk-!-margin-bottom-2">Train</h2>

    <!-- Inline error message for HGV -->
    @if (techRecord().techRecord_vehicleType === VehicleTypes.HGV) {
      @if (form.get('techRecord_trainGbWeight')?.invalid || form.get('techRecord_trainEecWeight')?.invalid || form.get('techRecord_trainDesignWeight')?.invalid) {
        <app-field-error-message [name]="'train-weight'"
                                 [error]="'Train GB, EEC, Design Weight must be less than or equal to 99999kg'" />
      }
    }


    <!-- Inline error message for PSV -->
    @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
      @if (form.get('techRecord_maxTrainGbWeight')?.invalid || form.get('techRecord_trainDesignWeight')?.invalid) {
        <app-field-error-message [name]="'train-weight'"
                                 [error]="'Train GB Max, Design Weight must be less than or equal to 99999kg'" />

      }
    }
      <div class="axle">
        @if (techRecord().techRecord_vehicleType !== VehicleTypes.PSV) {
          <govuk-form-group-input
            [label]="'GB'"
            type="number"
            formControlName="techRecord_trainGbWeight"
            class="govuk-label--s"
            [showErrors]="false"
            [suffix]="'kg'"
          />

          <govuk-form-group-input
            [label]="'EEC'"
            type="number"
            formControlName="techRecord_trainEecWeight"
            class="govuk-label--s"
            [showErrors]="false"
            [suffix]="'kg'"
          />
        }

        @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
          <govuk-form-group-input
            [label]="'GB max'"
            type="number"
            formControlName="techRecord_maxTrainGbWeight"
            class="govuk-label--s"
            [showErrors]="false"
            [suffix]="'kg'"
          />
        }

        <govuk-form-group-input
          [label]="'Design'"
          type="number"
          formControlName="techRecord_trainDesignWeight"
          class="govuk-label--s"
          [showErrors]="false"
          [suffix]="'kg'"
        />
      </div>
    }
  @if (techRecord().techRecord_vehicleType === VehicleTypes.HGV) {
    <h2 class="govuk-label govuk-label--s govuk-!-margin-bottom-2">Max train</h2>

    @if (form.get('techRecord_maxTrainGbWeight')?.invalid || form.get('techRecord_maxTrainEecWeight')?.invalid || form.get('techRecord_maxTrainDesignWeight')?.invalid) {
      <app-field-error-message [name]="'max-train-weight'"
                               [error]="'Max train GB, EEC, Design Weight must be less than or equal to 99999kg'" />
    }

    <div class="axle">
      <govuk-form-group-input
        [label]="'GB'"
        type="number"
        formControlName="techRecord_maxTrainGbWeight"
        class="govuk-label--s"
        [showErrors]="false"
        [suffix]="'kg'"
      />

      <govuk-form-group-input
        [label]="'EEC'"
        type="number"
        formControlName="techRecord_maxTrainEecWeight"
        class="govuk-label--s"
        [showErrors]="false"
        [suffix]="'kg'"
      />

      <govuk-form-group-input
        [label]="'Design'"
        type="number"
        formControlName="techRecord_maxTrainDesignWeight"
        class="govuk-label--s"
        [showErrors]="false"
        [suffix]="'kg'"
      />
    </div>
  }

  <!-- coupling (TRL Only) -->
  @if (shouldDisplayFormControl('techRecord_couplingType')) {
    <govuk-form-group-select
      [label]="'Coupling type'"
      [options]="CouplingTypeOptions"
      formControlName="techRecord_couplingType"
      class="govuk-label--s"
      defaultOption="Select coupling type"
    ></govuk-form-group-select>
  }

  <!--  Max load on coupling (TRL Only) -->
  @if (shouldDisplayFormControl('techRecord_maxLoadOnCoupling')) {
    <govuk-form-group-input
      [label]="'Max load on coupling'"
      formControlName="techRecord_maxLoadOnCoupling"
      class="govuk-label--s govuk-!-font-weight-bold"
      type="number"
      [width]="FormNodeWidth.M"
      [suffix]="'kg'"
    ></govuk-form-group-input>
  }

  @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
    <div class="axle">
      <govuk-form-group-input
        [label]="'Unladen weight'"
        type="number"
        formControlName="techRecord_unladenWeight"
        class="govuk-label--s govuk-!-font-weight-bold"
        [suffix]="'kg'"
      />
    </div>
  }

  @if (showAddAxleButton()) {
    <button
      type="button"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      role="button"
      id="weightsAddAxle"
      (click)="axlesService.addAxle(parent, techRecord().techRecord_vehicleType)"
    >
      Add axle
    </button>
  }
</div>
