<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form class="govuk-form-group" [formGroup]="testTypeGroup">
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-one-half">
              <span id="more-detail-hint" class="govuk-hint">
                Will not be present in the certificate
              </span>
              <textarea
                class="govuk-textarea"
                id="test-additionalNotesRecorded"
                formControlName="additionalNotesRecorded"
                rows="5"
              ></textarea>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
