<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Able to carry dangerous goods
      <ng-container *ngIf="!!editState">
        <div id="radioADR" class="govuk-radios govuk-radios--inline govuk-!-margin-top-4">
          <div
            class="govuk-radios__item"
            *ngFor="let option of booleanOptions | keyvalue: unsorted"
          >
            <input
              class="govuk-radios__input"
              id="hasADR-{{ option.key }}"
              name="hasADR"
              type="radio"
              [checked]="showAdrView === option.value"
              [value]="option.value"
              (change)="switchAdrDisplay($event)"
            />
            <label class="govuk-label govuk-radios__label" for="hasADR-{{ option.key }}">
              {{ option.key }}
            </label>
          </div>
        </div>
      </ng-container>
    </dt>

    <dd id="test-ableToCarry" class="govuk-summary-list__value">
      <div *ngIf="!editState">
        <span> {{ showAdrView ? 'Yes' : 'No' }}</span>
      </div>
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>

<ng-container *ngIf="showAdrView">
  <!-- Applicant Details -->
  <vtm-applicant-details [edit]="!!editState" [adrDetails]="adrDetails"></vtm-applicant-details>

  <!-- ADR Details -->
  <vtm-adr-details
    [edit]="!!editState"
    [adrDetails]="adrDetails"
    [metaData]="vehicleMetaData"
  ></vtm-adr-details>

  <!-- Tank Details -->
  <vtm-tank-details [edit]="!!editState" [adrDetails]="adrDetails"></vtm-tank-details>

  <!-- Tank Inspections -->
  <vtm-tank-inpections [edit]="!!editState" [adrDetails]="adrDetails"></vtm-tank-inpections>

  <!-- Memo -->
  <vtm-memo [edit]="!!editState" [adrDetails]="adrDetails"></vtm-memo>

  <!-- Tank Documents -->
  <vtm-tank-documents [edit]="!!editState" [adrDetails]="adrDetails"></vtm-tank-documents>

  <!-- Battery List Applicable -->
  <vtm-battery-list-applicable
    [edit]="!!editState"
    [adrDetails]="adrDetails"
  ></vtm-battery-list-applicable>

  <!-- Declaration Seen -->
  <vtm-declaration-seen [edit]="!!editState" [adrDetails]="adrDetails"></vtm-declaration-seen>

  <!-- Certificate -->
  <vtm-certificate [edit]="!!editState" [adrDetails]="adrDetails"></vtm-certificate>

  <vtm-additional-adr-details
    [edit]="!!editState"
    [adrDetails]="adrDetails"
  ></vtm-additional-adr-details>
</ng-container>
