<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <form class="govuk-form-group" formGroupName="testType">
          <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-three-quarters">
              <label class="govuk-label govuk-!-font-weight-bold">
                Emission standard
              </label>
              <div class="govuk-radios">
                <div
                  class="govuk-radios__item"
                  *ngFor="let eOption of emissionStandardOptions; let i = index"
                >
                  <input
                    class="govuk-radios__input"
                    id="{{ 'test-emissionStandard-' + i }}"
                    type="radio"
                    formControlName="emissionStandard"
                    value="{{ eOption }}"
                    [checked]="this.testType.emissionStandard === eOption"
                  />
                  <label class="govuk-label govuk-radios__label">
                    {{ eOption }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label govuk-!-font-weight-bold">
                Smoke test "K" limit applied (m <sup>1</sup>)
              </label>
              <input
                class="govuk-input"
                id="test-smokeTestKLimitApplied"
                formControlName="smokeTestKLimitApplied"
                type="text"
              />
            </div>
          </div>

          <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-three-quarters">
              <label class="govuk-label govuk-!-font-weight-bold">
                Fuel type
              </label>
              <div class="govuk-radios">
                <div
                  class="govuk-radios__item"
                  *ngFor="let fuelOption of fuelTypeOptions; let i = index"
                >
                  <input
                    class="govuk-radios__input"
                    id="{{ 'test-fuelType-' + i }}"
                    type="radio"
                    formControlName="fuelType"
                    value="{{ fuelOption | lowercase }}"
                    [checked]="this.testType.fuelType === (fuelOption | lowercase)"
                  />
                  <label class="govuk-label govuk-radios__label">
                    {{ fuelOption }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-three-quarters">
              <label class="govuk-label govuk-!-font-weight-bold">
                Modification type
              </label>
              <div class="govuk-radios">
                <div
                  class="govuk-radios__item"
                  *ngFor="let modOption of modTypeOptions; let i = index"
                >
                  <input
                    class="govuk-radios__input"
                    id="{{ 'test-modType-' + i }}"
                    type="radio"
                    formControlName="modType"
                    value="{{ modOption | lowercase }}"
                    [checked]="this.modTypeValue === (modOption | lowercase)"
                  />
                  <label class="govuk-label govuk-radios__label">
                    {{ modOption }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="editModTypeUsed" class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label govuk-!-font-weight-bold">
                Modification type used
              </label>
              <input
                class="govuk-input"
                id="test-modificationTypeUsed"
                formControlName="modificationTypeUsed"
                type="text"
              />
            </div>
          </div>

          <div *ngIf="editParticulate" class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label govuk-!-font-weight-bold">
                Particulate trap fitted
              </label>
              <input
                class="govuk-input"
                id="test-particulateTrapFitted"
                formControlName="particulateTrapFitted"
                type="text"
              />
            </div>
          </div>

          <div *ngIf="editParticulate" class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label govuk-!-font-weight-bold">
                Particulate trap serial number
              </label>
              <input
                class="govuk-input"
                id="test-particulateTrapSerialNumber"
                formControlName="particulateTrapSerialNumber"
                type="text"
              />
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>
