@switch (type()) {
  @case ('link') {
    <a
      href="javascript:void(0)"
      role="button"
      [class]="`govuk-button govuk-button--${design()}`"
      data-module="govuk-button"
      draggable="false"
      [id]="id()"
    >
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </a>
  }
  @default {
    <button
      appPreventDoubleClick
      [class]="`govuk-button govuk-button--${design()}`"
      data-module="govuk-button"
      [id]="id()"
      [type]="type()"
      [disabled]="disabled()"
      [attr.aria-disabled]="disabled()"
      (clicked)="clicked.emit()"
    >
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </button>
  }
}

<ng-template #content>
  <ng-content />
</ng-template>
