<div>
  <label *ngIf="inspectionType ==='tc2'; else showTc3" class="govuk-label govuk-!-font-weight-bold">
    Initial
  </label>
  <ng-template #showTc3>
  <label class="govuk-label govuk-!-font-weight-bold">
    Subsequent
    </label>
  </ng-template>
  <div class="govuk-inset-text">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold">
        Inspection type
      </label>
      <select class="govuk-select" [ngrxFormControlState]="type">
        <ng-container *ngIf="inspectionType ==='tc3'">
          <option value="intermediate">Intermediate</option>
          <option value="periodic">Periodic</option>
          <option value="exceptional">Exceptional</option>
        </ng-container>
        <ng-container *ngIf="inspectionType ==='tc2'">
          <option value="initial">Initial</option>
        </ng-container>
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold">
        Certificate number
      </label>
      <input class="govuk-input govuk-input--width-10" type="number" [ngrxFormControlState]="periodicNumber">
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group">
        <span class="govuk-!-font-weight-bold">Expiry date</span>
        <div class="govuk-date-input" id="tc3PeriodicExpiryDateSubseq">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" pattern="[0-9]*"
                [ngrxFormControlState]="expiryDate.controls.day">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" pattern="[0-9]*"
                [ngrxFormControlState]="expiryDate.controls.month">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" pattern="[0-9]*"
                [ngrxFormControlState]="expiryDate.controls.year">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>