<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" attr.aria-describedby="{{ name }}-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ label }}</legend>
    <div *ngIf="hint" id="{{ name }}-hint" class="govuk-hint">{{ hint }}</div>
    <app-field-error-message [error]="error" [name]="name"></app-field-error-message>
    <div class="govuk-date-input" id="{{ name }}">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ name }}-day"> Day </label>
          <input
            #dayEl="ngModel"
            class="govuk-input govuk-date-input__input govuk-input--width-2"
            [ngClass]="{'govuk-input--error': dayEl.invalid && (dayEl.dirty || dayEl.touched) && required && dayEl.errors?.['required']}"
            id="{{ name }}-day"
            name="{{ name }}-day"
            type="text"
            inputmode="numeric"
            minlength="2"
            maxlength="2"
            required
            [(ngModel)]="day"
            [disabled]="disabled"
            (ngModelChange)="onDayChange($event)"
            (blur)="onTouched(); handleEvent($event)"
            (focus)="handleEvent($event)"
          />
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ name }}-month"> Month </label>
          <input
            class="govuk-input govuk-date-input__input govuk-input--width-2"
            id="{{ name }}-month"
            name="{{ name }}-month"
            type="text"
            inputmode="numeric"
            minlength="1"
            maxlength="2"
            [(ngModel)]="month"
            [disabled]="disabled"
            (ngModelChange)="onMonthChange($event)"
            (blur)="onTouched(); handleEvent($event)"
            (focus)="handleEvent($event)"
          />
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ name }}-year"> Year </label>
          <input
            class="govuk-input govuk-date-input__input govuk-input--width-4"
            id="{{ name }}-year"
            name="{{ name }}-year"
            type="text"
            inputmode="numeric"
            minlength="4"
            maxlength="4"
            [(ngModel)]="year"
            [disabled]="disabled"
            (ngModelChange)="onYearChange($event)"
            (blur)="onTouched(); handleEvent($event)"
            (focus)="handleEvent($event)"
          />
        </div>
      </div>

      <ng-container *ngIf="includeTime">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="{{ name }}-hour"> Hour </label>
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              id="{{ name }}-hour"
              name="{{ name }}-hour"
              type="text"
              inputmode="numeric"
              minlength="1"
              maxlength="2"
              [(ngModel)]="hour"
              [disabled]="disabled"
              (ngModelChange)="onHourChange($event)"
              (blur)="onTouched(); handleEvent($event)"
              (focus)="handleEvent($event)"
            />
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="{{ name }}-minute"> Minute </label>
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              id="{{ name }}-minute"
              name="{{ name }}-minute"
              type="text"
              inputmode="numeric"
              minlength="1"
              maxlength="2"
              [(ngModel)]="minute"
              [disabled]="disabled"
              (ngModelChange)="onMinuteChange($event)"
              (blur)="onTouched(); handleEvent($event)"
              (focus)="handleEvent($event)"
            />
          </div>
        </div>
      </ng-container>
    </div>
  </fieldset>
</div>
<pre>{{ control?.errors | json }}</pre>
