<div [formGroup]="form">
  @if (mode() === Modes.EDIT || mode() === Modes.AMEND) {
    <!--  Reason for creation -->
    <govuk-form-group-textarea
      label="Reason for creation"
      [maxLength]="100"
      formControlName="reasonForCreation"
    />
  } @else {
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Reason for creation</td>
        <td class="govuk-table__cell">{{ form.controls.reasonForCreation.value }}</td>
      </tr>
      </tbody>
    </table>
  }
</div>
