<div [formGroup]="form">
  @if (techRecord(); as tr) {
    @if (tr.techRecord_vehicleType === VehicleTypes.HGV || tr.techRecord_vehicleType === VehicleTypes.PSV || tr.techRecord_vehicleType === VehicleTypes.TRL) {
      <govuk-form-group-autocomplete
        formControlName="techRecord_microfilm_microfilmDocumentType"
        label="Microfilm document type"
        [options$]="documentTypes$()"
        [width]="FormNodeWidth.XL"
        [allowEmpty]="true"
      ></govuk-form-group-autocomplete>
        
      <govuk-form-group-input
        formControlName="techRecord_microfilm_microfilmRollNumber"
        label="Microfilm roll number"
        [width]="FormNodeWidth.L"
      ></govuk-form-group-input>

      <govuk-form-group-input
        formControlName="techRecord_microfilm_microfilmSerialNumber"
        label="Microfilm serial number"
        [width]="FormNodeWidth.L"
      ></govuk-form-group-input>
    }
  }
</div>
