<ng-container *ngIf="requiredStandards.length || normalAndBasic; else noRequiredStandards">
  <h1 class="govuk-heading-l">Select a required standard</h1>
  <div class="requiredStandards">
    <div *ngIf="normalAndBasic">
      <div class="list_container" [ngClass]="{ 'list_container--shrink': normalAndBasic }">
        <ol class="list">
          <li *ngFor="let type of inspectionTypes; let i = index">
            <a
              [id]="'rs-list-item-' + i"
              class="browse__link browse__link--inactive"
              [ngClass]="{ 'browse__link--active': type === selectedInspectionType }"
              (click)="handleSelect(type, types.InspectionType)"
            >
              {{ type }} <span [ngClass]="{ 'list__item--more': true }"></span>
            </a>
          </li>
        </ol>
      </div>
    </div>

    <div class="list_container" [ngClass]="{ 'list_container--shrink': selectedInspectionType }">
      <ol class="list">
        <li *ngFor="let section of requiredStandards; let i = index">
          <a
            [id]="'rs-list-item-' + i"
            class="browse__link browse__link--inactive"
            [ngClass]="{ 'browse__link--active': section === selectedSection }"
            (click)="handleSelect(section, types.Section)"
          >
            {{ section.sectionDescription }} <span [ngClass]="{ 'list__item--more': true }"></span>
          </a>
        </li>
      </ol>
    </div>

    <div class="list_container" [ngClass]="{ 'list_container--shrink': selectedRequiredStandard }">
      <ol class="list">
        <li *ngFor="let rs of selectedSection?.requiredStandards; let i = index">
          <a
            [id]="'rs-list-item-' + i"
            class="browse__link browse__link--inactive"
            [ngClass]="{ 'browse__link--active': rs === selectedRequiredStandard }"
            (click)="handleSelect(rs, types.RequiredStandard)"
          >
            {{ rs.requiredStandard }} <span [ngClass]="{ 'list__item--more': true }"></span>
          </a>
        </li>
      </ol>
    </div>
  </div>
</ng-container>

<ng-template #noRequiredStandards>
  <h1 class="govuk-heading-l">No Required Standards Found</h1>
  <p class="govuk-body">No required standards were found. Check the information on the technical record is correct, or try to refresh the page.</p>
</ng-template>
