.list__item {
  white-space: normal;
}
.list_container--shrink {
  flex-basis: min-content;
}
.list_container--shrink:hover {
  flex-basis: auto;
}
.list_container:first-of-type .list__item {
  min-width: 10rem;
}