<div class="main-dimensions">
  <app-switchable-input
    *ngIf="isPsv"
    [form]="form"
    [type]="types.NUMBER"
    name="techRecord_dimensions_height"
    label="Height"
    [isEditing]="isEditing"
    [width]="widths.XS"
    suffix="mm"
  ></app-switchable-input>

  <app-switchable-input
    [form]="form"
    [type]="types.NUMBER"
    name="techRecord_dimensions_length"
    label="Length"
    [isEditing]="isEditing"
    [width]="widths.XS"
    suffix="mm"
    [vehicleType]="techRecord.techRecord_vehicleType"
  ></app-switchable-input>

  <app-switchable-input
    [form]="form"
    [type]="types.NUMBER"
    name="techRecord_dimensions_width"
    label="Width"
    [isEditing]="isEditing"
    [width]="widths.XS"
    suffix="mm"
    [vehicleType]="techRecord.techRecord_vehicleType"
  ></app-switchable-input>

  <app-switchable-input
    [form]="form"
    [type]="types.NUMBER"
    name="techRecord_frontAxleToRearAxle"
    label="Front axle to rear axle"
    [isEditing]="isEditing"
    [width]="widths.XS"
    suffix="mm"
  ></app-switchable-input>

  <app-switchable-input
    *ngIf="isTrl"
    [form]="form"
    [type]="types.NUMBER"
    name="techRecord_rearAxleToRearTrl"
    label="Rear axle to rear trailer"
    [isEditing]="isEditing"
    [width]="widths.XS"
    suffix="mm"
  ></app-switchable-input>

  <ng-container *ngIf="!isPsv && hasAxleSpacings">
    <app-switchable-input
      *ngFor="let axle of axleSpacings?.controls; let i = index"
      [form]="getAxleSpacing(i)"
      [type]="types.NUMBER"
      name="value"
      label="Axle {{ i + 1 }} to axle {{ i + 2 }} (mm)"
      [isEditing]="isEditing"
      [width]="widths.XS"
      suffix="mm"
    ></app-switchable-input>
  </ng-container>
</div>

<div class="min-max-container" *ngIf="!isPsv">
  <span class="govuk-label govuk-label--m">{{ isTrl ? 'Coupling center to rear axle' : 'Front of vehicle to 5th wheel coupling' }}</span>

  <div class="min-max">
    <ng-container *ngIf="isTrl; else hgvTop">
      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_couplingCenterToRearAxleMin"
        label="Minimum"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>

      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_couplingCenterToRearAxleMax"
        label="Maximum"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>
    </ng-container>

    <ng-template #hgvTop>
      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_frontVehicleTo5thWheelCouplingMin"
        label="Minimum"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>

      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_frontVehicleTo5thWheelCouplingMax"
        label="Maximum"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>
    </ng-template>
  </div>

  <span class="govuk-label govuk-label--m extra-margin">{{ isTrl ? 'Coupling center to rear trailer' : 'Front axle to 5th wheel' }}</span>

  <div class="min-max">
    <ng-container *ngIf="isTrl; else hgvBottom">
      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_couplingCenterToRearTrlMin"
        label="Minimum"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>

      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_couplingCenterToRearTrlMax"
        label="Maximum"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>

      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_centreOfRearmostAxleToRearOfTrl"
        label="Center of rear axle to rear of trailer"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>
    </ng-container>

    <ng-template #hgvBottom>
      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_frontAxleTo5thWheelMin"
        label="Minimum"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>

      <app-switchable-input
        [form]="form"
        [type]="types.NUMBER"
        name="techRecord_frontAxleTo5thWheelMax"
        label="Maximum"
        [isEditing]="isEditing"
        [width]="widths.XS"
        suffix="mm"
      ></app-switchable-input>
    </ng-template>
  </div>
</div>
