<div class="govuk-!-padding-4" [formGroup]="form">
  @if (getVehicleType() !== VehicleTypes.PSV) {
    <govuk-form-group-textarea
      label="Notes"
      hint="Enter any notes for this technical record"
      [maxLength]="1024"
      formControlName="techRecord_notes"
    ></govuk-form-group-textarea>
  } @else {
    <govuk-form-group-textarea
      label="Notes"
      hint="Enter any notes for this technical record"
      [maxLength]="1024"
      formControlName="techRecord_remarks"
    ></govuk-form-group-textarea>

    <govuk-form-group-textarea
      label="Dispensations"
      hint="Enter any dispensations for this technical record"
      [maxLength]="160"
      formControlName="techRecord_dispensations"
    ></govuk-form-group-textarea>
  }
</div>
