<div [class]="style">
  <label for="{{ id }}" [id]="labelId" class="govuk-label govuk-label--m tags">
    {{ controlLabel() }}
    @if (tags().length) {
      <div class="tags">
        @for (tag of tags(); track tag) {
          <app-tag [type]="tag.colour">{{ tag.label }}</app-tag>
        }
      </div>
    }
  </label>

  @if (controlHint()) {
    <div class="govuk-hint" id="{{ hintId }}"> {{ controlHint() }} </div>
  }

  @if (hasError) {
    @let firstError = (control?.errors | keyvalue)?.[0]?.value;
    @if (firstError) {
      <p class="govuk-error-message" [id]="errorId">
        <span class="govuk-visually-hidden">Error: </span>
        <span>{{ (typeof firstError === 'string' ? firstError : firstError.error) }}</span>
      </p>
    }
  }

  <div class="govuk-input--width-{{ width() }} internal-wrapper">
    @if (prefix()) {
      <div class="govuk-input__prefix prefix" aria-hidden="true">{{ prefix() }}</div>
    }
    <select id="{{ id }}"></select>
  </div>
</div>
