@if (techRecord(); as techRecord) {
  <div [formGroup]="form">
    @if (mode() === Modes.EDIT) {
    <!-- Country of registration -->
    <govuk-form-group-autocomplete
      label="Country of Registration"
      [options$]="countryNames"
      [width]="FormNodeWidth.XXXL"
      formControlName="countryOfRegistration"
    />

    <!-- EU vehicle category -->
    <govuk-form-group-select
      label="EU Vehicle Category"
      [options]="technicalRecordService.getEUVehicleCategoryOptions(techRecord)"
      [width]="FormNodeWidth.S"
      formControlName="euVehicleCategory"
    />

    @if (techRecord.techRecord_vehicleType !== VehicleTypes.TRL) {
      <!-- Odometer reading -->
      <govuk-form-group-input
        label="Odometer Reading"
        formControlName="odometerReading"
        type="number"
        [width]="FormNodeWidth.L"
      />

      <!-- Odometer reading units -->
      <govuk-form-group-radio
        label="Odometer Reading Units"
        formControlName="odometerReadingUnits"
        [width]="FormNodeWidth.L"
        [options]="[
          { value: 'kilometres', label: 'Kilometres' },
          { value: 'miles', label: 'Miles' },
        ]"
      ></govuk-form-group-radio>
    }
    } @else {
      <table class="govuk-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Country of registration</td>
          <td class="govuk-table__cell">{{ form.controls.countryOfRegistration.value }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">EU Vehicle Category</td>
          <td class="govuk-table__cell">{{ form.controls.euVehicleCategory.value }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Odometer Reading</td>
          <td class="govuk-table__cell">{{ form.controls.odometerReading.value }}{{ form.controls.odometerReadingUnits.value }}</td>
        </tr>
        </tbody>
      </table>
    }
  </div>
}
