<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Test Records</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Test Type</th>
      <th scope="col" class="govuk-table__header">Result</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor="let testRecord of testRecords">
      <th scope="row" class="govuk-table__header">{{ testRecord.createdAt }}</th>
      <td class="govuk-table__cell">{{ testRecord.reasonForCreation }} (TODO)</td>
      <td class="govuk-table__cell">{{ testRecord.testStatus }}</td>
    </tr>
  </tbody>
</table>
