<ng-container *ngIf="dataAudit | async">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      {{
        titleCaseHeading(type)
      }}
      history
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th *ngFor="let column of columns | async" scope="col" class="govuk-table__header">{{ titleCaseColumn(column) }}</th>
        <th scope="col" class="govuk-table__header">Created At</th>
        <th scope="col" class="govuk-table__header">Created By</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor="let item of dataAudit | async">
        <td *ngFor="let column of columns | async" class="govuk-table__cell">{{ item[column] }}</td>
        <td class="govuk-table__cell">{{ item.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td class="govuk-table__cell">{{ item.createdName }}</td>
      </tr>
    </tbody>
  </table>
  <app-pagination tableName="audit-history" [numberOfItems]="paginatedFields" (paginationOptions)="handlePaginationChange($event)"></app-pagination>
</ng-container>
