<div class="govuk-!-padding-4 govuk-label--s" [formGroup]="form">
  @if (techRecord(); as tr) {
    @if (tr.techRecord_vehicleType === VehicleTypes.HGV || tr.techRecord_vehicleType === VehicleTypes.PSV || tr.techRecord_vehicleType === VehicleTypes.TRL) {
      @if (shouldDisplayFormControl('techRecord_microfilm_microfilmDocumentType')) {
        <govuk-form-group-autocomplete
          formControlName="techRecord_microfilm_microfilmDocumentType"
          label="Microfilm document type"
          [placeholder]="'Select document type'"
          [options$]="documentTypes$()"
          [width]="FormNodeWidth.XL"
          [allowEmpty]="true"
        ></govuk-form-group-autocomplete>
      }

      @if (shouldDisplayFormControl('techRecord_microfilm_microfilmRollNumber')) {
        <govuk-form-group-input
          formControlName="techRecord_microfilm_microfilmRollNumber"
          label="Microfilm roll number"
          [width]="FormNodeWidth.XL"
        ></govuk-form-group-input>
      }

      @if (shouldDisplayFormControl('techRecord_microfilm_microfilmSerialNumber')) {
        <govuk-form-group-input
          formControlName="techRecord_microfilm_microfilmSerialNumber"
          label="Microfilm serial number"
          [width]="FormNodeWidth.XL"
        ></govuk-form-group-input>
      }
    }
  }
</div>
