<div class="govuk-!-padding-4" [formGroup]="form">
  <!-- Off road vehicle -->
  @if (shouldDisplayFormControl('techRecord_offRoad')) {
    <govuk-form-group-radio
      formControlName="techRecord_offRoad"
      label="Off-road vehicle"
      [options]="YES_NO_OPTIONS"
    />
  }

  <!-- Departmental vehicle marker -->
  @if (shouldDisplayFormControl('techRecord_departmentalVehicleMarker')) {
    <govuk-form-group-radio
      formControlName="techRecord_departmentalVehicleMarker"
      label="Departmental vehicle marker"
      [options]="YES_NO_OPTIONS"
    />
  }

  <!-- Alteration marker -->
  @if (shouldDisplayFormControl('techRecord_alterationMarker')) {
    <govuk-form-group-radio
      formControlName="techRecord_alterationMarker"
      label="Alteration marker"
      [options]="YES_NO_OPTIONS"
    />
  }

  <!-- Fuel / propulsion system -->
  @if (shouldDisplayFormControl('techRecord_fuelPropulsionSystem')) {
    <govuk-form-group-select
      formControlName="techRecord_fuelPropulsionSystem"
      label="Fuel system"
      [defaultOption]="'Select fuel system'"
      [options]="FUEL_PROPULSION_SYSTEM_OPTIONS"
    />
  }

  <!-- Speed restriction -->
  @if (shouldDisplayFormControl('techRecord_speedRestriction')) {
    <govuk-form-group-input
      class="govuk-!-margin-bottom-7"
      type="number"
      label="Speed restriction"
      formControlName="techRecord_speedRestriction"
      [width]="FormNodeWidth.XS"
      suffix="mph"
    ></govuk-form-group-input>
  }

  <!-- Road friendly suspension -->
  @if (shouldDisplayFormControl('techRecord_roadFriendly')) {
    <govuk-form-group-radio
      label="Road friendly suspension"
      formControlName="techRecord_roadFriendly"
      [options]="YES_NO_OPTIONS"
    />
  }

  <!-- Suspension type -->
  @if (shouldDisplayFormControl('techRecord_suspensionType')) {
    <govuk-form-group-select
      formControlName="techRecord_suspensionType"
      label="Suspension type"
      [defaultOption]="'Select suspension type'"
      [options]="SUSPENSION_TYRE_OPTIONS"
    />
  }
</div>  
