.file-input {
  input[type='file'] {
    position: fixed;
    right: 100%;
    bottom: 100%;
  }

  label:focus-within {
    outline: 3px solid #fd0;
  }

  label:focus {
    border-color: #fd0;
    outline: 3px solid transparent;
    -webkit-box-shadow: inset 0 0 0 1px #fd0;
    box-shadow: inset 0 0 0 1px #fd0;
  }
}
