<div 
  class="govuk-notification-banner" 
  [class.govuk-notification-banner--success]="type() === 'success'" 
  aria-labelledby="govuk-notification-banner-title" 
  data-module="govuk-notification-banner"
>
  <div class="govuk-notification-banner__header">
    <h2 title class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      <ng-content select="[title]"></ng-content>
    </h2>
  </div>

  <div class="govuk-notification-banner__content">
    <p content class="govuk-notification-banner__heading">
      <ng-content select="[content]"></ng-content>
    </p>
  </div>
</div>
