@if (testResult(); as testResult) {
  @if (viewMediaApplicable(testResult)) {
    <td class="govuk-table__cell">Media:</td>
    @if (canDownloadApprovalsMedia(testResult)) {
      <td id="media-download-link" class="govuk-table__cell">
        @if (hasMediaRetentionPeriodExpired(testResult)) {
          No media available - media was deleted as the retention period had passed
        } @else {
          <button class="link" (click)="downloadMedia(testResult)">
            Download media
          </button>
        }
      </td>
    } @else {
      <td id="media-failure-to-capture-reason" class="govuk-table__cell">
        {{ getFailureToCaptureApprovalsMediaReason(testResult) }}
      </td>
    }
  }
}
