<ng-container *ngIf="!isArchived">
  <button id="edit" *ngIf="!editableState" class="govuk-button" data-module="govuk-button" (click)="toggleEditMode()">Edit</button>
  <ng-container *ngIf="editableState">
  <button id="cancel" class="govuk-button" data-module="govuk-button" (click)="cancelAmend()">Cancel</button>
  <button id="submit" [disabled]="isInvalid || !isDirty" class="govuk-button" data-module="govuk-button" (click)="submitTechRecord()">Submit</button>
  </ng-container>
</ng-container>
