
<div class="govuk-form-group" id="{{ id }}">
  <fieldset class="govuk-fieldset">
    @if (controlLabel()) {
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading tags" [id]="labelId">
          {{ controlLabel() }}
          @if (tags().length) {
            <div class="tags">
              @for (tag of tags(); track tag) {
                <app-tag [type]="tag.colour">{{ tag.label }}</app-tag>
              }
            </div>
          }
        </h1>
      </legend>
    }

    @if (controlHint()) {
      <div class="govuk-hint" [id]="hintId"> {{ controlHint() }} </div>
    }

    @if (hasError) {
      <p class="govuk-error-message" [id]="errorId">
        <span class="govuk-visually-hidden">Error: </span>
        <span>{{ (control?.errors | keyvalue)?.[0]?.value }}</span>
      </p>
    }

    <div class="govuk-checkboxes" [class.govuk-checkboxes--small]="size() === 'small'" data-module="govuk-checkboxes">
      @for (option of options(); track option) {
        <div class="govuk-checkboxes__item">
          <input
            [id]="`${id}-${option.value}-checkbox`"
            [name]="`${id}-${option.value}-checkbox`"
            type="checkbox"
            class="govuk-checkboxes__input"
            [checked]="isChecked(option.value)"
            (input)="toggle(option.value)"
            [attr.aria-labelledby]="`${id}-${option.value}-label`"
            />
          <label class="govuk-label govuk-checkboxes__label" [id]="`${id}-${option.value}-label`" [htmlFor]="`${id}-${option.value}-checkbox`">
            {{ option.label }}
          </label>
        </div>
      }
    </div>
  </fieldset>
</div>
