@import 'node_modules/govuk-frontend/govuk/all';

.input-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.govuk-input--size {
  min-width: 2em !important;
  width: 11em !important;
}
