@let showNoAxlesWarning = parent.get('techRecord_axles')?.value.length === 0 ||
  !parent.get('techRecord_axles')?.value;
@let dimensionsWarning = parent.get('techRecord_axles')?.value.length > 0 &&
  showDimensionsWarning;

@if (techRecord(); as tr) {
  <div
    [class.govuk-!-padding-left-4]="showNoAxlesWarning || dimensionsWarning"
    [class.govuk-!-padding-right-4]="showNoAxlesWarning || dimensionsWarning"
    [class.govuk-!-padding-4]="!showNoAxlesWarning && !dimensionsWarning"
    [formGroup]="parent"
  >
    @if (showNoAxlesWarning) {
      <h2 class="govuk-label govuk-label--s govuk-!-margin-bottom-2">Tyre details</h2>
      <app-field-warning-message
        id="enter-number-of-axles-tyres-warning-message"
        [warningMessage]="'Enter the number of axles to be able to add tyre details.'" />
    }
    @if (dimensionsWarning) {
      <app-field-warning-message id="axle-distances-cleared-tyres-warning-message" [warningMessage]="' '">
        <p class="govuk-!-margin-0">Axle distances have been cleared because you removed an axle.</p>
        <p class="govuk-!-margin-0">Re-enter any axle distances in the dimensions section.</p>
      </app-field-warning-message>
    }
    @if (invalidAxlesAll.length > 0) {
      <app-field-warning-message [warningMessage]="' '">
        <p class="m-0">The GB Axle weight is greater than the selected weight for axle(s)
          @for (axle of invalidAxlesAll; track axle; let i = $index; let isLast = $last) {
            @if (invalidAxlesAll.length > 1 && isLast) {
              and
            }
            {{ axle }}@if (invalidAxlesAll.length > 2 && i < (invalidAxlesAll.length - 2)) {
              ,
            }
          }
        </p>
      </app-field-warning-message>
    }
    @if (parent.get('techRecord_axles')) {
      <ng-container formArrayName="techRecord_axles">
      @for (axle of techRecordAxles.controls; track axle; let i = $index) {
        <div
          [class.govuk-form-group]="techRecordAxles.at(i).get('tyres_tyreCode')?.hasError('noAxleData')"
          [class.govuk-form-group--error]="techRecordAxles.at(i).get('tyres_tyreCode')?.hasError('noAxleData')"
        >
        <ng-container formGroupName="{{i}}">
        <div class="input-row">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">
            Axle {{i+1}} tyre details
          </caption>
        </div>
        <div class="input-row">
          <button
            class="govuk-button govuk-button--secondary"
            id="tyres_search-{{ i + 1 }}"
            (click)="getTyreSearchPage(axle.value.axleNumber)"
            type="button"
          >
            Search for tyre details
          </button>
          <button
            type="button"
            class="govuk-button govuk-button--warning remove-axle-button-psv"
            data-module="govuk-button"
            role="button"
            [id]="'tyres_remove-{{ i + 1}}'"
            (click)="removeAxle(i)"
          >
            Remove axle
          </button>
        </div>
        <!-- If tyre code is not found, and this is the only error, show this message -->
        @let tyreCode = techRecordAxles.at(i).get('tyres_tyreCode');
        @let showTyreCodeNotFoundError = tyreCode?.hasError('noAxleData') && !tyreCode?.hasError('max');
        @if (showTyreCodeNotFoundError) {
          @let error = tyreCode?.getError('noAxleData');
          <app-field-error-message
            [name]="`tyres-${ i + 1 }-invalid-tyre-code`"
            [error]="typeof error === 'string' ? error : error.error" />
        }
        <div class="input-row">
          <govuk-form-group-input
            label="Code"
            class="input-group"
            id="tyres_tyreCode-{{ i + 1 }}"
            type="number"
            formControlName="tyres_tyreCode"
            [width]="tr.techRecord_vehicleType === VehicleTypes.PSV ? FormNodeWidth.XS : FormNodeWidth.M"
            (blur)="getTyresRefData(i + 1)"
            [showErrors]="!showTyreCodeNotFoundError"
          ></govuk-form-group-input>
            <govuk-form-group-input
              label="Size"
              class="input-group govuk-input--size"
              id="tyres_tyreSize-{{ i + 1 }}"
              formControlName="tyres_tyreSize"
              [width]="tr.techRecord_vehicleType === VehicleTypes.PSV ? FormNodeWidth.UNSET : FormNodeWidth.XXL"
              (blur)="getTyresRefData(i + 1)"
            ></govuk-form-group-input>
            <govuk-form-group-input
              label="Ply"
              class="input-group"
              id="tyres_plyRating-{{ i + 1 }}"
              formControlName="tyres_plyRating"
              [width]="tr.techRecord_vehicleType === VehicleTypes.PSV ? FormNodeWidth.XXS : FormNodeWidth.XS"
              (blur)="getTyresRefData(i + 1)"
            ></govuk-form-group-input>
            <govuk-form-group-input
              label="Load index"
              class="input-group"
              id="tyres_dataTrAxles-{{ i + 1 }}"
              type="number"
              formControlName="tyres_dataTrAxles"
              [width]="FormNodeWidth.S"
              (blur)="getTyresRefData(i + 1)"
            ></govuk-form-group-input>

          @if (tr.techRecord_vehicleType === VehicleTypes.PSV) {
            <govuk-form-group-select
              label="SR"
              class="input-group"
              id="tyres_speedCategorySymbol-{{ i + 1 }}"
              formControlName="tyres_speedCategorySymbol"
              [width]="FormNodeWidth.XS"
              [options]="SPEED_CATEGORY_SYMBOL_OPTIONS"
              (blur)="getTyresRefData(i + 1)"
              [allowNull]="true"
            ></govuk-form-group-select>
          }
            <govuk-form-group-select
              label="S/D"
              class="input-group"
              id="tyres_fitmentCode-{{ i + 1 }}"
              formControlName="tyres_fitmentCode"
              [width]="FormNodeWidth.XS"
              [options]="FITMENT_CODE_OPTIONS"
              (blur)="getTyresRefData(i + 1)"
              [allowNull]="true"
            ></govuk-form-group-select>
        </div>
        </ng-container>
        </div>
      }
      </ng-container>
    }

    @if (tr.techRecord_vehicleType === VehicleTypes.HGV) {
      <govuk-form-group-select
        label="Tyre use code"
        formControlName="techRecord_tyreUseCode"
        class="govuk-label--s"
        [defaultOption]="'Select tyre use code'"
        [width]="FormNodeWidth.XL"
        [options]="HGV_TYRE_USE_CODE_OPTIONS"
      ></govuk-form-group-select>
    }

    @if (tr.techRecord_vehicleType === VehicleTypes.TRL) {
      <govuk-form-group-select
        label="Tyre use code"
        formControlName="techRecord_tyreUseCode"
        class="govuk-label--s"
        [defaultOption]="'Select tyre use code'"
        [width]="FormNodeWidth.XL"
        [options]="TRL_TYRE_USE_CODE_OPTIONS"
      ></govuk-form-group-select>
    }

    @if (showAddAxleButton()) {
      <button
        type="button"
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
        role="button"
        id="tyresAddAxle"
        (click)="axlesService.addAxle(parent, techRecord().techRecord_vehicleType)"
      >
        Add axle
      </button>
    }
  </div>
}
