<div class="govuk-grid-row" *appRoleRequired="roles.ReferenceDataAmend">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-xl govuk-!-font-weight-bold">Amend {{ titleCaseHeading(type) }}</p>

    <div class="govuk-inset-text">
      To amend the key, create a new {{ titleCaseHeading(type) }} with the correct value, then delete this {{ titleCaseHeading(type) }}
    </div>

    <app-dynamic-form-group
      [id]="template.name"
      [template]="template"
      [data]="data$ | async"
      [edit]="isEditing"
      (formChange)="handleFormChange($event)"
    ></app-dynamic-form-group>

    <app-button-group>
      <app-button id="submit" (clicked)="handleSubmit()">Amend</app-button>

      <app-button id="cancel" design="link" (clicked)="navigateBack()">Back</app-button>
    </app-button-group>

    <ng-container *ngIf="dataAudit$ | async">
      <p class="govuk-heading-xl govuk-!-font-weight-bold">{{ titleCaseHeading(type) }} history</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th *ngFor="let column of columns$ | async" scope="col" class="govuk-table__header">{{ titleCaseColumn(column) }}</th>
            <th scope="col" class="govuk-table__header">Created At</th>
            <th scope="col" class="govuk-table__header">Created By</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" *ngFor="let item of dataAudit$ | async">
            <td *ngFor="let column of columns$ | async" class="govuk-table__cell">{{ item[column] }}</td>
            <td class="govuk-table__cell">{{ item.createdAt }}</td>
            <td class="govuk-table__cell">{{ item.createdName }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
