<div *ngIf="refDataAdminType$ | async" class="govuk-grid-row">
  <div *appRoleRequired="roles.ReferenceDataAmend" class="govuk-grid-column-full">
    <p class="govuk-heading-xl govuk-!-font-weight-bold">Amend {{ (refDataAdminType$ | async).label }}</p>

    <div class="govuk-inset-text">
      To amend the key, create a new {{ (refDataAdminType$ | async).labelSingular }} with the correct value, then delete this
      {{ (refDataAdminType$ | async).labelSingular }}
    </div>

    <app-dynamic-form-group
      [id]="key"
      [template]="(refDataAdminType$ | async).templateAmend"
      [data]="data"
      [edit]="true"
      (formChange)="handleFormChange($event)"
    ></app-dynamic-form-group>

    <app-button-group>
      <app-button id="submit" (clicked)="handleSubmit()">Amend</app-button>
      <app-button id="cancel" design="link" (clicked)="navigateBack()">Back</app-button>
    </app-button-group>

    <app-reference-data-amend-history
      [type]="type"
      [key]="key"
      [title]="(refDataAdminType$ | async).label || ''"
      [columns]="(refDataAdminType$ | async).columns || []"
    ></app-reference-data-amend-history>
  </div>
</div>
