<div class="govuk-!-padding-4" [formGroup]="form">
  @if (shouldDisplayFormControl('techRecord_adrDetails_dangerousGoods')) {
    <govuk-form-group-radio formControlName="techRecord_adrDetails_dangerousGoods" [warning]="canDisplayDangerousGoodsWarning">
      <govuk-radio label="Yes" [value]="true">
        <!-- Add conditionally shown ADR content here -->
        <h3 class="govuk-heading-m">Applicant details</h3>
      </govuk-radio>
      <govuk-radio label="No" [value]="false"></govuk-radio>
    </govuk-form-group-radio>
  }
</div>
