<ng-container *ngIf="showTable(); else noTable">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      ADR Certificates
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Time Generated</th>
        <th scope="col" class="govuk-table__header">Created By</th>
        <th scope="col" class="govuk-table__header">Certificate Type</th>
        <th scope="col" class="govuk-table__header">Certificate Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let certificate of getAdrCertificateHistorySlice()">
        <td class="govuk-table__cell">{{certificate.generatedTimestamp | date : 'dd/MM/yyyy HH:mm' }}</td>
        <td class="govuk-table__cell">{{certificate.createdByName}}</td>
        <td class="govuk-table__cell">{{certificate.certificateType}}</td>
        <td class="govuk-table__cell">
          <button [params]="documentParams(certificate)" [fileName]="getFileName(certificate)" appRetrieveDocument class="link">View</button>
        </td>
      </tr>
      <app-pagination
        tableName="plate-history"
        [numberOfItems]="getAdrCertificateHistory().length"
        (paginationOptions)="handlePaginationChange($event)"
      ></app-pagination>
    </tbody>
  </table>
  <div class="govuk-button-group" *ngIf="isADREnabled && !isEditing && !isArchived">
    <a id="generate-adr-cert" class="govuk-button" (click)="validateADRDetailsAndNavigate()">Generate an ADR Certificate for this vehicle</a>
  </div>
</ng-container>

<ng-template #noTable>
  <h2 class="govuk-heading-m" *ngIf="isADREnabled">ADR Certificates</h2>
  <h3 class="govuk-heading-s" *ngIf="isADREnabled && isEditing">You are unable to view certificates when editing a technical record.</h3>
  <h3 class="govuk-heading-s" *ngIf="isADREnabled && !isEditing && isArchived">You are unable to view certificates for archived records.</h3>
  <h3 class="govuk-heading-s" *ngIf="isADREnabled && !isEditing && !isArchived && getAdrCertificateHistory().length === 0">
    No ADR certificates found.
  </h3>
  <div class="govuk-button-group" *ngIf="isADREnabled && !isEditing && !isArchived">
    <a
      id="generate-adr-cert"
      *appRoleRequired="[roles.TestResultCreateContingency, roles.TestResultCreateDeskAssessment]"
      class="govuk-button"
      (click)="validateADRDetailsAndNavigate()"
      >Generate an ADR Certificate for this vehicle</a
    >
  </div>
</ng-template>
