@import "../../../node_modules/govuk-frontend/govuk/all";
@import "src/app/app.component.scss";

.adr-details {

  .mt-1 {
    margin-top: 1rem;
  }

  .mb-1 {
    margin-bottom: 1rem;
  }

  fieldset {
    border: none !important;
  }

  .grid-container-row {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 2em;
  }

  .remove-a-un-number {
    float: left;
  }

  .grid-item {
    float: left;
  }

  h2 {
    margin-top: 2rem;
    width: 23rem;
  }

  dd {
    white-space: nowrap !important;
  }

  ::ng-deep .table-tank thead tr th:nth-child(1), .table-tank tbody tr td:nth-child(1) {
    width: 23rem !important;
  }

  ::ng-deep .table-tank tbody tr td:nth-child(2) {
    width: 20rem !important;
  }

  ::ng-deep a {
    float: right;
    color: #005EA5;
    font-size: 19px;
    font-weight: 300;
    line-height: 23px;
    width: 102px;
    text-align: right;
    flex: 1;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
  }

  #radioADR {
    display: block;
    margin-top: 1rem;
  }

  #type {
    width: 20rem;
  }

  #permittedDangerousGoods, #specialProvisions {
    width: 30rem;
  }

  .multiselect {
    height: 13rem;
  }

  .additionalNotes {
    height: 10rem;
  }

  .add-a-guidance-note, .add-a-un-number, .add-subsequent-inspection {
    font-weight: 300 !important;
    line-height: 23px !important;
    float: initial !important;
  }

  #adr-more-detail {
    width: 30rem;
  }

  .un-number {
    display: grid;
    grid-template-columns: auto auto;

    .remove-a-un-number {
      float: left;
    }

  }

  .remove-a-un-number {
    float: left;
  }


  #hide input[type=file] {
    display: none;
    margin: 10px;
  }

  #hide input[type=file] + label {
    display: inline-block;
    margin: 20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border: solid 1px #666F77;
    border-radius: 6px;
    color: #666F77;
  }

  #hide input[type=file]:active + label {
    background-image: none;
    background-color: #2D6C7A;
    color: #FFFFFF;
  }

  & .tank-documents {
    & a {
      width: 78vw;
    }
    & span {
      margin-bottom: 0;
    }
  }
}
