@if (data(); as testResult) {
  @let isEditing = edit();

  @if (isEditing) {
    <form [formGroup]="form">
      <ng-container formGroupName="vtg15">
        <govuk-form-group-radio label="VTG15 required?" formControlName="vtg15Required">
          <govuk-radio id="vtg15RequiredTrue" label="Yes" [value]="true">
            <govuk-form-group-input
              class="govuk-label govuk-label--s"
              label="UN Number"
              prefix="UN"
              formControlName="unNumber"
              type="number"
              [width]="FORM_NODE_WIDTH.S"
            />
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s">
                Hazard classification numbers
              </label>
            </h1>
            <govuk-form-group-select
              class="govuk-label govuk-label--s"
              label="Primary"
              formControlName="primaryHazardClassification"
              [options]="HAZARD_CLASSIFICATION_OPTIONS"
              [width]="FORM_NODE_WIDTH.XXL"
              [defaultOption]="'Select primary hazard classification'"
            />
            <govuk-form-group-select
              class="govuk-label govuk-label--s"
              label="Secondary (optional)"
              formControlName="secondaryHazardClassification"
              [options]="HAZARD_CLASSIFICATION_OPTIONS"
              [width]="FORM_NODE_WIDTH.XXL"
              [defaultOption]="'Select secondary hazard classification'"
            />
          </govuk-radio>
          <govuk-radio id="vtg15RequiredFalse" label="No" [value]="false">
          </govuk-radio>
        </govuk-form-group-radio>
      </ng-container>
    </form>
  }
}
