<section>
  <app-dynamic-form-group *ngIf="vehicleSummaryTemplate" [template]="vehicleSummaryTemplate" [data]="currentRecord" class="govuk-summary-list"></app-dynamic-form-group>
  <app-dynamic-form-group *ngIf="approvalTypeTemplate" [template]="approvalTypeTemplate" [data]="currentRecord" class="govuk-summary-list"></app-dynamic-form-group>
  <app-dynamic-form-group *ngIf="brakeTemplate" [template]="brakeTemplate" [data]="currentBrakeRecord" class="govuk-summary-list"></app-dynamic-form-group>
  <app-dynamic-form-group *ngIf="brakeTemplateWheelsNotLocked" [template]="brakeTemplateWheelsNotLocked" [data]="currentBrakeRecord" class="govuk-summary-list"></app-dynamic-form-group>
  <app-dynamic-form-group *ngIf="brakeTemplateWheelsHalfLocked" [template]="brakeTemplateWheelsHalfLocked" [data]="currentBrakeRecord" class="govuk-summary-list"></app-dynamic-form-group>
  <app-dynamic-form-group *ngIf="applicantDetailsTemplate" [template]="applicantDetailsTemplate" [data]="currentRecord" class="govuk-summary-list"></app-dynamic-form-group>
</section>
