:host {
  footer {
    border-top: 10px #1d70b8 solid;
    padding-top: 30px;
  }

  .govuk-footer__copyright-logo {
    display: inline-block;
    min-width: 125px;
    padding-top: 112px;
    background-image: url(/assets/images/govuk-crest.svg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 125px 102px;
    text-align: center;
    white-space: nowrap;
  }
}
