<section id="test-records-amendment-history">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Test record amendment history
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Reason for creation</th>
        <th scope="col" class="govuk-table__header">Created by</th>
        <th scope="col" class="govuk-table__header">Created at</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ testRecord()?.reasonForCancellation || testRecord()?.reasonForCreation | defaultNullOrEmpty }}</td>
        <td class="govuk-table__cell">{{ getCreatedByName(testRecord()) | defaultNullOrEmpty }}</td>
        <td class="govuk-table__cell">{{ testRecord()?.createdAt | date | defaultNullOrEmpty }}</td>
        <td class="govuk-table__cell"></td>
      </tr>
      @for (amendedTest of sortedTestHistory$ | async; track amendedTest; let i = $index) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ amendedTest.reasonForCreation | defaultNullOrEmpty }}</td>
          <td class="govuk-table__cell">{{ getCreatedByName(amendedTest) | defaultNullOrEmpty }}</td>
          <td class="govuk-table__cell">{{ amendedTest.createdAt | date | defaultNullOrEmpty }}</td>
          <td class="govuk-table__cell">
            <a id="view-test-{{ i + 1 }}" routerLink="amended/{{ amendedTest.createdAt }}">View</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
