<form>
  <h1 class="govuk-heading-l title">New vehicle information (v2)</h1>


  <app-checkbox-group
    label="Generate C, T or Z number"
    #generateID
    formControlName="generateID"
    name="generate-c-t-z-num"
    [options]="checkboxOptions"
    (ngModelChange)="toggleVrmInput(generateID)"
  ></app-checkbox-group>


  @if (!generateID.value) {
    <app-text-input
      formControlName="vrmTrm"
      name="input-vrm-or-trailer-id"
      label="VRM / Trailer ID"
      appToUppercase
      appNoSpace
      appTrimWhitespace
      [width]="30"
      (ngModelChange)="ngOnChanges()"
    ></app-text-input>
  }

  <app-button-group>
    <app-button id="submit">Continue</app-button>
    <app-button design="link" id="cancel">Cancel</app-button>
  </app-button-group>
</form>
