<form [formGroup]="form">
  <h1 class="govuk-heading-l title">New vehicle information (v2)</h1>


  <govuk-form-group-checkbox
    label="Generate a C/T/Z number on submission of the new record"
    #generateID
    formControlName="generateID"
    (ngModelChange)="toggleVrmInput($event.value)"
  ></govuk-form-group-checkbox>


  @if (!generateID.value()) {
    <govuk-form-group-input
      formControlName="vrmTrm"
      label="VRM / Trailer ID"
      appToUppercase
      appNoSpace
      appTrimWhitespace
      [width]="30"
      (ngModelChange)="ngOnChanges()"
    ></govuk-form-group-input>
  }

  <app-button-group>
    <app-button id="submit">Continue</app-button>
    <app-button design="link" id="cancel">Cancel</app-button>
  </app-button-group>
</form>
