<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <form [formGroup]="adrForm">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
            Additional ADR details
          </h2>

          <div class="govuk-form-group">
            <label for="additionalExaminerNotes" class="govuk-label govuk-!-font-weight-bold"
              >Examiner notes</label
            >
            <span id="additional-details-hint" class="govuk-hint" for="additionalExaminerNotes">
              Will not be present on the ADR certificate
            </span>
            <textarea
              id="additionalExaminerNotes"
              aria-describedby="additionalExaminerNotes-hint"
              name="additionalExaminerNotes"
              formControlName="additionalExaminerNotes"
              rows="8"
              class="govuk-textarea"
            >
            </textarea>
          </div>

          <div class="govuk-form-group">
            <label for="adrCertificateNotes" class="govuk-label govuk-!-font-weight-bold"
              >ADR certificate notes</label
            >
            <textarea
              id="adrCertificateNotes"
              aria-describedby="adrCertificateNotes-hint"
              name="adrCertificateNotes"
              formControlName="adrCertificateNotes"
              rows="8"
              class="govuk-textarea"
            >
            </textarea>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>
