<div class="govuk-grid-row home-page">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-xl govuk-!-font-weight-bold">Select activity</p>

    <div class="govuk-grid-row">
      <app-home-button
        url="search"
        linkText="Search for a technical record"
        description="Manage technical records, test records and issue certificates or documents"
        linkId="search-for-technical-record-link"
        *appRoleRequired="Roles.TechRecordView"
      ></app-home-button>

      <app-home-button
        url="create"
        linkText="Create a new technical record"
        description="Create records for PSVs, HGVs, trailers and LGVs"
        linkId="create-new-technical-record-link"
        *appRoleRequired="Roles.TechRecordCreate"
      ></app-home-button>

      <app-home-button
        url="create-batch"
        linkText="Create a batch of technical records"
        description="Create a batch of up to 40 PSV, HGV or trailer technical records"
        linkId="create-batch-technical-records-link"
        *appRoleRequired="Roles.TechRecordCreate"
      ></app-home-button>

      <app-home-button
        url="reference-data"
        linkText="Reference Data Administration"
        description="Manage options shown for technical and test records, such as Tyre Codes and Body Makes"
        linkId="view-reference-data-link"
        *appRoleRequired="Roles.ReferenceDataView"
      ></app-home-button>

      <app-home-button
        url="feature-toggle"
        linkText="Cannot see me in any environment but develop"
        description="I exist to check the feature toggle is working. If you can see me in INT, pre prod or prod, there is an issue"
        linkId="hidden-prod-button"
        *featureToggleName="'testToggle'"
      ></app-home-button>

      <app-home-button
        url="betas"
        linkText="Opt-in to betas"
        description="Manage which experimental features are enabled for this service. These will be changed based on your feedback."
        linkId="betas-opt-in-button"
        *featureToggleName="'betas'"
      ></app-home-button>
    </div>
  </div>
</div>
