<div class="govuk-grid-row home-page">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-xl govuk-!-font-weight-bold">Select activity</p>

    <div class="govuk-grid-row">
      <app-home-button
        url="search"
        linkText="Search for a technical record"
        description="Manage technical records, test records and issue certificates or documents"
        linkId="search-for-technical-record-link"
        *appRoleRequired="Roles.TechRecordView"
      ></app-home-button>

      <app-home-button
        url="create"
        linkText="Create a new technical record"
        description="Create records for PSVs, HGVs, trailers and LGVs"
        linkId="create-new-technical-record-link"
        *appRoleRequired="Roles.TechRecordCreate"
      ></app-home-button>

      <app-home-button
        url="create-batch-trl"
        linkText="Create a batch of trailer technical records"
        description="Process TES1 & TES2 applications to create a batch of trailer technical records"
        linkId="create-batch-trailer-technical-records-link"
        *appRoleRequired="Roles.TechRecordCreate"
      ></app-home-button>
    </div>
  </div>
</div>
