<div [formGroup]="form">
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_dangerousGoods"> Able to carry dangerous goods </label>
    </h1>
    <p id="techRecord_adrDetails_dangerousGoods-error" class="govuk-error-message" *ngIf="isInvalid('techRecord_adrDetails_dangerousGoods')">
      <span class="govuk-visually-hidden">Error:</span>
      <span *ngIf="form.get('techRecord_adrDetails_dangerousGoods')?.getError('required') as error">{{ error }}</span>
    </p>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" *ngFor="let option of dangerousGoodsOptions">
        <input
          type="radio"
          id="techRecord_adrDetails_dangerousGoods-{{ option.value }}-radio"
          formControlName="techRecord_adrDetails_dangerousGoods"
          class="govuk-radios__input"
          [value]="option.value"
        />
        <label class="govuk-label govuk-radios__label" for="techRecord_adrDetails_dangerousGoods-{{ option.value }}-radio'">
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>

  <!-- When dangerous goods is true -->
  <ng-container *ngIf="canDisplayDangerousGoodsSection()">
    <!-- Applicant Details -->
    <ng-container>
      <span class="govuk-label govuk-label--m">Applicant Details</span>

      <!-- Applicant Details Name -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_applicantDetails_name"> Name </label>
        </h1>
        <p
          id="techRecord_adrDetails_applicantDetails_name-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_applicantDetails_name')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_applicantDetails_name')?.getError('maxLength') as error">{{ error }}</span>
        </p>
        <input
          id="techRecord_adrDetails_applicantDetails_name"
          type="text"
          name="techRecord_adrDetails_applicantDetails_name"
          formControlName="techRecord_adrDetails_applicantDetails_name"
          class="govuk-input"
          [class.govuk-input--error]="isInvalid('techRecord_adrDetails_applicantDetails_name')"
        />
      </div>

      <!-- Applicant Details Street -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_applicantDetails_street"> Street </label>
        </h1>
        <p
          id="techRecord_adrDetails_applicantDetails_street-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_applicantDetails_street')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_applicantDetails_street')?.getError('maxLength') as error">{{ error }}</span>
        </p>
        <input
          id="techRecord_adrDetails_applicantDetails_street"
          type="text"
          name="techRecord_adrDetails_applicantDetails_street"
          formControlName="techRecord_adrDetails_applicantDetails_street"
          class="govuk-input"
          [class.govuk-input--error]="isInvalid('techRecord_adrDetails_applicantDetails_street')"
        />
      </div>

      <!-- Applicant Details Town -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_applicantDetails_town"> Town </label>
        </h1>
        <p
          id="techRecord_adrDetails_applicantDetails_town-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_applicantDetails_town')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_applicantDetails_town')?.getError('maxLength') as error">{{ error }}</span>
        </p>
        <input
          id="techRecord_adrDetails_applicantDetails_town"
          type="text"
          name="techRecord_adrDetails_applicantDetails_town"
          formControlName="techRecord_adrDetails_applicantDetails_town"
          class="govuk-input"
          [class.govuk-input--error]="isInvalid('techRecord_adrDetails_applicantDetails_town')"
        />
      </div>

      <!-- Applicant Details City -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_applicantDetails_city"> City </label>
        </h1>
        <p
          id="techRecord_adrDetails_applicantDetails_city-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_applicantDetails_city')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_applicantDetails_city')?.getError('maxLength') as error">{{ error }}</span>
        </p>
        <input
          id="techRecord_adrDetails_applicantDetails_city"
          type="text"
          name="techRecord_adrDetails_applicantDetails_city"
          formControlName="techRecord_adrDetails_applicantDetails_city"
          class="govuk-input govuk-!-width-two-thirds"
          [class.govuk-input--error]="isInvalid('techRecord_adrDetails_applicantDetails_city')"
        />
      </div>

      <!-- Applicant Details Postcode -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_applicantDetails_postcode"> Postcode </label>
        </h1>
        <p
          id="techRecord_adrDetails_applicantDetails_postcode-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_applicantDetails_postcode')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_applicantDetails_postcode')?.getError('maxLength') as error">{{ error }}</span>
        </p>
        <input
          id="techRecord_adrDetails_applicantDetails_postcode"
          type="text"
          name="techRecord_adrDetails_applicantDetails_postcode"
          formControlName="techRecord_adrDetails_applicantDetails_postcode"
          class="govuk-input govuk-!-width-one-third"
          [class.govuk-input--error]="isInvalid('techRecord_adrDetails_applicantDetails_postcode')"
        />
      </div>
    </ng-container>

    <!-- ADR Details -->
    <ng-container>
      <span class="govuk-label govuk-label--m">ADR Details</span>

      <!-- ADR Body Type -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_vehicleDetails_type"> ADR body type </label>
        </h1>
        <p
          id="techRecord_adrDetails_vehicleDetails_type-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_vehicleDetails_type')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_vehicleDetails_type')?.getError('required') as error">{{ error }}</span>
        </p>
        <select
          class="govuk-select"
          [class.govuk-select--error]="isInvalid('techRecord_adrDetails_vehicleDetails_type')"
          id="techRecord_adrDetails_vehicleDetails_type"
          name="techRecord_adrDetails_vehicleDetails_type"
          [attr.aria-describedby]="isInvalid('techRecord_adrDetails_vehicleDetails_type') ? 'techRecord_adrDetails_vehicleDetails_type-error' : null"
          formControlName="techRecord_adrDetails_vehicleDetails_type"
        >
          <option [value]="option.value" *ngFor="let option of adrBodyTypesOptions">{{ option.label }}</option>
        </select>
      </div>

      <!-- Used on international journeys -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys">
            Vehicle used on international journeys
          </label>
        </h1>
        <p
          id="techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys')?.getError('required') as error">{{ error }}</span>
        </p>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item" *ngFor="let option of usedOnInternationJourneysOptions">
            <input
              type="radio"
              id="techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys-{{ option.value }}-radio"
              formControlName="techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys"
              class="govuk-radios__input"
              [value]="option.value"
            />
            <label
              class="govuk-label govuk-radios__label"
              for="techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys-{{ option.value }}-radio'"
            >
              {{ option.label }}
            </label>
          </div>
        </div>
      </div>

      <!-- Permitted dangerous goods -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="techRecord_adrDetails_permittedDangerousGoods-error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_permittedDangerousGoods"> Permitted dangerous goods </label>
          </h1>
          <p
            id="techRecord_adrDetails_permittedDangerousGoods-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_permittedDangerousGoods')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_permittedDangerousGoods')?.getError('required') as error">{{ error }}</span>
          </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item" *ngFor="let option of permittedDangerousGoodsOptions; let i = index">
              <input
                class="govuk-checkboxes__input"
                id="techRecord_adrDetails_permittedDangerousGoods-{{ option.value }}"
                type="checkbox"
                [checked]="form.get('techRecord_adrDetails_permittedDangerousGoods')?.value?.includes(option.value.toString())"
                [attr.aria-describedby]="
                  isInvalid('techRecord_adrDetails_permittedDangerousGoods') ? 'techRecord_adrDetails_permittedDangerousGoods-error' : null
                "
                (input)="toggle('techRecord_adrDetails_permittedDangerousGoods', option.value.toString())"
              />
              <label class="govuk-label govuk-checkboxes__label" for="techRecord_adrDetails_permittedDangerousGoods-{{ option.value }}">
                {{ option.label }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Compatibility group J -->
      <div class="govuk-form-group" *ngIf="canDisplayCompatibilityGroupJSection()">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_compatibilityGroupJ"> Compatibility group J </label>
        </h1>
        <p
          id="techRecord_adrDetails_compatibilityGroupJ-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_compatibilityGroupJ')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_compatibilityGroupJ')?.getError('required') as error">{{ error }}</span>
        </p>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item" *ngFor="let option of compatibilityGroupJOptions; let i = index">
            <input
              type="radio"
              id="techRecord_adrDetails_compatibilityGroupJ-{{ option.value }}-radio"
              formControlName="techRecord_adrDetails_compatibilityGroupJ"
              class="govuk-radios__input"
              [value]="option.value"
            />
            <label class="govuk-label govuk-radios__label" for="techRecord_adrDetails_compatibilityGroupJ-{{ option.value }}-radio'">
              {{ option.label }}
            </label>
          </div>
        </div>
      </div>

      <!-- Guidance notes -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="techRecord_adrDetails_additionalNotes_number-error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_additionalNotes_number"> Guidance notes </label>
          </h1>
          <p
            id="techRecord_adrDetails_additionalNotes_number-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_additionalNotes_number')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_additionalNotes_number')?.getError('required') as error">{{ error }}</span>
          </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item" *ngFor="let option of guidanceNotesOptions">
              <input
                class="govuk-checkboxes__input"
                id="techRecord_adrDetails_additionalNotes_number-{{ option.value }}"
                type="checkbox"
                [checked]="form.get('techRecord_adrDetails_additionalNotes_number')?.value?.includes(option.value.toString())"
                [attr.aria-describedby]="
                  isInvalid('techRecord_adrDetails_additionalNotes_number') ? 'techRecord_adrDetails_additionalNotes_number-error' : null
                "
                (input)="toggle('techRecord_adrDetails_additionalNotes_number', option.value.toString())"
              />
              <label class="govuk-label govuk-checkboxes__label" for="techRecord_adrDetails_additionalNotes_number-{{ option.value }}">
                {{ option.label }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- ADR type approval number -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_adrTypeApprovalNo"> ADR type approval number </label>
        </h1>
        <p
          id="techRecord_adrDetails_adrTypeApprovalNo-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_adrTypeApprovalNo')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_adrTypeApprovalNo')?.getError('maxLength') as error">{{ error }}</span>
        </p>
        <input
          id="techRecord_adrDetails_adrTypeApprovalNo"
          type="text"
          name="techRecord_adrDetails_adrTypeApprovalNo"
          formControlName="techRecord_adrDetails_adrTypeApprovalNo"
          class="govuk-input"
          [class.govuk-input--error]="isInvalid('techRecord_adrDetails_adrTypeApprovalNo')"
        />
      </div>
    </ng-container>

    <!-- When ADR body type contains the words 'tank' or 'battery' -->
    <ng-container *ngIf="canDisplayTankOrBatterySection()">
      <!-- Tank details section -->
      <ng-container>
        <!-- Tank Make -->
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankManufacturer"> Tank Make </label>
          </h1>
          <p
            id="techRecord_adrDetails_tank_tankDetails_tankManufacturer-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tankManufacturer')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankManufacturer')?.getError('required') as error">{{ error }}</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankManufacturer')?.getError('maxLength') as error">{{ error }}</span>
          </p>
          <input
            id="techRecord_adrDetails_tank_tankDetails_tankManufacturer"
            type="text"
            name="techRecord_adrDetails_tank_tankDetails_tankManufacturer"
            formControlName="techRecord_adrDetails_tank_tankDetails_tankManufacturer"
            class="govuk-input govuk-!-width-one-third"
            [class.govuk-input--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_tankManufacturer')"
          />
        </div>

        <!-- Tank Year of manufacture -->
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_yearOfManufacture">
              Tank year of manufacture
            </label>
          </h1>
          <p
            id="techRecord_adrDetails_tank_tankDetails_yearOfManufacture-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_yearOfManufacture')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_yearOfManufacture')?.getError('required') as error">{{ error }}</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_yearOfManufacture')?.getError('maxLength') as error">{{ error }}</span>
          </p>
          <input
            id="techRecord_adrDetails_tank_tankDetails_yearOfManufacture"
            type="text"
            name="techRecord_adrDetails_tank_tankDetails_yearOfManufacture"
            formControlName="techRecord_adrDetails_tank_tankDetails_yearOfManufacture"
            class="govuk-input govuk-!-width-one-third"
            [class.govuk-input--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_yearOfManufacture')"
          />
        </div>

        <!-- Tank manufacturer serial number -->
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo">
              Manufacturer serial number
            </label>
          </h1>
          <p
            id="techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo')?.getError('required') as error">
              {{ error }}
            </span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo')?.getError('maxLength') as error">
              {{ error }}
            </span>
          </p>
          <input
            id="techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo"
            type="text"
            name="techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo"
            formControlName="techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo"
            class="govuk-input govuk-!-width-one-third"
            [class.govuk-input--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo')"
          />
        </div>

        <!-- Tank type approval number -->
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankTypeAppNo"> Tank type approval number </label>
          </h1>
          <p
            id="techRecord_adrDetails_tank_tankDetails_tankTypeAppNo-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tankTypeAppNo')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankTypeAppNo')?.getError('required') as error">{{ error }}</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankTypeAppNo')?.getError('maxLength') as error">{{ error }}</span>
          </p>
          <input
            id="techRecord_adrDetails_tank_tankDetails_tankTypeAppNo"
            type="text"
            name="techRecord_adrDetails_tank_tankDetails_tankTypeAppNo"
            formControlName="techRecord_adrDetails_tank_tankDetails_tankTypeAppNo"
            class="govuk-input govuk-!-width-one-third"
            [class.govuk-input--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_tankTypeAppNo')"
          />
        </div>

        <!-- Tank code -->
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankCode"> Code </label>
          </h1>
          <p
            id="techRecord_adrDetails_tank_tankDetails_tankCode-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tankCode')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankCode')?.getError('required') as error">{{ error }}</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankCode')?.getError('maxLength') as error">{{ error }}</span>
          </p>
          <input
            id="techRecord_adrDetails_tank_tankDetails_tankCode"
            type="text"
            name="techRecord_adrDetails_tank_tankDetails_tankCode"
            formControlName="techRecord_adrDetails_tank_tankDetails_tankCode"
            class="govuk-input govuk-!-width-one-third"
            [class.govuk-input--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_tankCode')"
          />
        </div>

        <!-- Substances permitted -->
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted">
              Substances permitted
            </label>
          </h1>
          <p
            id="techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted')?.getError('required') as error">
              {{ error }}
            </span>
          </p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item" *ngFor="let option of tankStatementSubstancePermittedOptions">
              <input
                type="radio"
                id="techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted-{{ option.value }}-radio"
                formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted"
                class="govuk-radios__input"
                [value]="option.value"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted-{{ option.value }}-radio'"
              >
                {{ option.label }}
              </label>
            </div>
          </div>
        </div>

        <!-- When tank statement (substances permitted) is 'Under UN Number' -->
        <ng-container *ngIf="canDisplayTankStatementSelectSection()">
          <!-- Tank statement select -->
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankStatement_select"> Select </label>
            </h1>
            <p
              id="techRecord_adrDetails_tank_tankDetails_tankStatement_select-error"
              class="govuk-error-message"
              *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tankStatement_select')"
            >
              <span class="govuk-visually-hidden">Error:</span>
              <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankStatement_select')?.getError('required') as error">
                {{ error }}
              </span>
            </p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item" *ngFor="let option of tankStatementSelectOptions">
                <input
                  type="radio"
                  id="techRecord_adrDetails_tank_tankDetails_tankStatement_select-{{ option.value }}-radio"
                  formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_select"
                  class="govuk-radios__input"
                  [value]="option.value"
                />
                <label
                  class="govuk-label govuk-radios__label"
                  for="techRecord_adrDetails_tank_tankDetails_tankStatement_select-{{ option.value }}-radio'"
                >
                  {{ option.label }}
                </label>
              </div>
            </div>
          </div>

          <!-- When select is 'statement' -->
          <ng-container *ngIf="canDisplayTankStatementStatementSection()">
            <!-- Reference number -->
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankStatement_statement">
                  Reference Number
                </label>
              </h1>
              <p
                id="techRecord_adrDetails_tank_tankDetails_tankStatement_statement-error"
                class="govuk-error-message"
                *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tankStatement_statement')"
              >
                <span class="govuk-visually-hidden">Error:</span>
                <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankStatement_statement')?.getError('required') as error">
                  {{ error }}
                </span>
                <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankStatement_statement')?.getError('maxLength') as error">
                  {{ error }}
                </span>
              </p>
              <input
                id="techRecord_adrDetails_tank_tankDetails_tankStatement_statement"
                type="text"
                name="techRecord_adrDetails_tank_tankDetails_tankStatement_statement"
                formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_statement"
                class="govuk-input govuk-!-width-one-third"
                [class.govuk-input--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_tankStatement_statement')"
              />
            </div>
          </ng-container>

          <!-- When select is 'product '-->
          <ng-container *ngIf="canDisplayTankStatementProductListSection()">
            <!-- Reference number -->
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo">
                  Reference number
                </label>
              </h1>
              <p
                id="techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo-error"
                class="govuk-error-message"
                *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo')"
              >
                <span class="govuk-visually-hidden">Error:</span>
                <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo')?.getError('required') as error">
                  {{ error }}
                </span>
                <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo')?.getError('maxLength') as error">
                  {{ error }}
                </span>
              </p>
              <input
                id="techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo"
                type="text"
                name="techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo"
                formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo"
                class="govuk-input govuk-!-width-one-third"
                [class.govuk-input--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo')"
              />
            </div>

            <!-- UN numbers -->
            <div class="govuk-form-group" formArrayName="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo">
              <fieldset
                class="govuk-fieldset"
                *ngFor="let inspection of form.controls.techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo.controls; let i = index"
              >
                <div class="govuk-form-group">
                  <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo-{{ i + 1 }}">
                      UN Number {{ i + 1 }}
                    </label>
                  </h1>
                  <input
                    id="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo-{{ i + 1 }}"
                    type="text"
                    name="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo-{{ i + 1 }}"
                    formControlName="{{ i }}"
                    class="govuk-input govuk-!-width-one-third"
                  />
                  <a class="govuk-link" href="javascript:void(0)" (click)="removeUNNumber(i)">Remove</a>
                </div>
              </fieldset>
              <a class="govuk-link" href="javascript:void(0)" (click)="addUNNumber()">Add UN Number</a>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <!-- Special provisions -->
      <div class="govuk-form-group govuk-character-count">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_specialProvisions"> Special Provisions </label>
        </h1>
        <p
          id="techRecord_adrDetails_tank_tankDetails_specialProvisions-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_specialProvisions')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_specialProvisions')?.getError('required') as error">{{ error }}</span>
        </p>
        <textarea
          rows="5"
          class="govuk-textarea govuk-js-character-count"
          [class.govuk-textarea--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_specialProvisions')"
          id="techRecord_adrDetails_tank_tankDetails_specialProvisions"
          formControlName="techRecord_adrDetails_tank_tankDetails_specialProvisions"
          [attr.aria-describedby]="
            isInvalid('techRecord_adrDetails_tank_tankDetails_specialProvisions')
              ? 'techRecord_adrDetails_tank_tankDetails_specialProvisions-error'
              : null
          "
        ></textarea>
        <div
          id="techRecord_adrDetails_tank_tankDetails_specialProvisions-info"
          class="govuk-hint govuk-character-count__message"
          *ngIf="(form.get('techRecord_adrDetails_tank_tankDetails_specialProvisions')?.value?.length ?? 0) <= 500"
        >
          You have {{ 500 - (form.get('techRecord_adrDetails_tank_tankDetails_specialProvisions')?.value?.length ?? 0) }} characters remaining
        </div>
        <div
          id="techRecord_adrDetails_tank_tankDetails_specialProvisions-info"
          class="govuk-hint govuk-character-count__message govuk-character-count__status govuk-error-message"
          *ngIf="(form.get('techRecord_adrDetails_tank_tankDetails_specialProvisions')?.value?.length ?? 0) > 500"
        >
          You have {{ (form.get('techRecord_adrDetails_tank_tankDetails_specialProvisions')?.value?.length ?? 500) - 500 }} too many
        </div>
      </div>

      <!-- Tank Inspections section -->
      <ng-container>
        <span class="govuk-label govuk-label--m">Tank Inspections</span>

        <!-- TC2: Certificate Number -->
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo">
              TC2: Certificate Number
            </label>
          </h1>
          <p
            id="techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo')?.getError('required') as error">{{
              error
            }}</span>
            <span *ngIf="form.get('techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo')?.getError('maxLength') as error">{{
              error
            }}</span>
          </p>
          <input
            id="techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo"
            type="text"
            name="techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo"
            formControlName="techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo"
            class="govuk-input govuk-!-width-one-third"
            [class.govuk-input--error]="isInvalid('techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo')"
          />
        </div>

        <div class="govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-6"></div>

        <!-- TC2: Expiry Date -->

        <!-- TC3: Inspections -->
        <div class="govuk-form-group" formArrayName="techRecord_adrDetails_tank_tankDetails_tc3Details">
          <fieldset
            class="govuk-fieldset"
            formGroupName="{{ i }}"
            *ngFor="let inspection of form.controls.techRecord_adrDetails_tank_tankDetails_tc3Details.controls; let i = index"
          >
            <!-- TC3 Inspection Type -->
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="tc3Type"> TC3: Inspection Type </label>
              </h1>
              <select class="govuk-select" id="tc3Type" name="tc3Type" formControlName="tc3Type">
                <option [value]="option.value" *ngFor="let option of tc3InspectionOptions">{{ option.label }}</option>
              </select>
            </div>

            <!-- TC3 Certificate Number -->
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="tc3PeriodicNumber"> TC3: Certificate Number </label>
              </h1>
              <input
                id="tc3PeriodicNumber"
                type="text"
                name="tc3PeriodicNumber"
                formControlName="tc3PeriodicNumber"
                class="govuk-input govuk-!-width-one-third"
              />
            </div>

            <!-- TC3 Expiry Date -->

            <!-- TC3 Footer -->
            <p class="govuk-body govuk-!-text-align-right">
              <a class="govuk-link" role="button" href="javascript:void(0)" (click)="removeTC3TankInspection(i)">Remove</a>
            </p>
            <div class="govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-6"></div>
          </fieldset>
        </div>

        <p class="govuk-body">
          <a class="govuk-link" role="button" href="javascript:void(0)" (click)="addTC3TankInspection()">Add subsequent inspection</a>
        </p>
      </ng-container>

      <!-- Memo 07/09 (3 month extension) can be applied -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="techRecord_adrDetails_memosApply-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">Memo 07/09 (3 month extension) can be applied</h1>
          </legend>
          <div id="techRecord_adrDetails_memosApply-hint" class="govuk-hint">Only applicable for vehicles used on national journeys</div>
          <p id="techRecord_adrDetails_memosApply-error" class="govuk-error-message" *ngIf="isInvalid('techRecord_adrDetails_memosApply')">
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_memosApply')?.getError('required') as error">{{ error }}</span>
          </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="techRecord_adrDetails_memosApply"
                formControlName="techRecord_adrDetails_memosApply"
                type="checkbox"
                [value]="true"
                [attr.aria-describedby]="isInvalid('techRecord_adrDetails_memosApply') ? 'techRecord_adrDetails_memosApply-error' : null"
              />
              <label class="govuk-label govuk-checkboxes__label" for="techRecord_adrDetails_memosApply"> Yes </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- M145 -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="techRecord_adrDetails_m145Statement-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">M145</h1>
          </legend>
          <p id="techRecord_adrDetails_m145Statement-error" class="govuk-error-message" *ngIf="isInvalid('techRecord_adrDetails_m145Statement')">
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_m145Statement')?.getError('required') as error">{{ error }}</span>
          </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="techRecord_adrDetails_m145Statement"
                formControlName="techRecord_adrDetails_m145Statement"
                type="checkbox"
                [value]="true"
                [attr.aria-describedby]="isInvalid('techRecord_adrDetails_m145Statement') ? 'techRecord_adrDetails_m145Statement-error' : null"
              />
              <label class="govuk-label govuk-checkboxes__label" for="techRecord_adrDetails_m145Statement"> Yes </label>
            </div>
          </div>
        </fieldset>
      </div>
    </ng-container>

    <!-- When ADR body type contains 'battery' -->
    <ng-container *ngIf="canDisplayBatterySection()">
      <!-- Battery list applicable -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_listStatementApplicable"> Battery List Applicable </label>
        </h1>
        <p
          id="techRecord_adrDetails_listStatementApplicable-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_listStatementApplicable')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_listStatementApplicable')?.getError('required') as error">{{ error }}</span>
        </p>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item" *ngFor="let option of batteryListApplicableOptions">
            <input
              type="radio"
              id="techRecord_adrDetails_listStatementApplicable-{{ option.value }}-radio"
              formControlName="techRecord_adrDetails_listStatementApplicable"
              class="govuk-radios__input"
              [value]="option.value"
            />
            <label class="govuk-label govuk-radios__label" for="techRecord_adrDetails_listStatementApplicable-{{ option.value }}-radio'">
              {{ option.label }}
            </label>
          </div>
        </div>
      </div>

      <!-- When Battery list applicable is true -->
      <ng-container *ngIf="canDisplayBatteryListNumberSection()">
        <!-- Battery list reference number -->
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_batteryListNumber"> Reference number </label>
          </h1>
          <p
            id="techRecord_adrDetails_batteryListNumber-error"
            class="govuk-error-message"
            *ngIf="isInvalid('techRecord_adrDetails_batteryListNumber')"
          >
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="form.get('techRecord_adrDetails_batteryListNumber')?.getError('required') as error">{{ error }}</span>
          </p>
          <input
            id="techRecord_adrDetails_batteryListNumber"
            type="text"
            name="techRecord_adrDetails_batteryListNumber"
            formControlName="techRecord_adrDetails_batteryListNumber"
            class="govuk-input govuk-!-width-one-third"
            [class.govuk-input--error]="isInvalid('techRecord_adrDetails_batteryListNumber')"
          />
        </div>
      </ng-container>
    </ng-container>

    <!-- Declarations seen section -->
    <span class="govuk-label govuk-label--m">Declarations seen</span>

    <!-- Manufacturer brake declaration -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="techRecord_adrDetails_brakeDeclarationsSeen-error">
        <p
          id="techRecord_adrDetails_brakeDeclarationsSeen-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_brakeDeclarationsSeen')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_brakeDeclarationsSeen')?.getError('required') as error">{{ error }}</span>
        </p>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="techRecord_adrDetails_brakeDeclarationsSeen"
              formControlName="techRecord_adrDetails_brakeDeclarationsSeen"
              type="checkbox"
              [value]="true"
              [attr.aria-describedby]="
                isInvalid('techRecord_adrDetails_brakeDeclarationsSeen') ? 'techRecord_adrDetails_brakeDeclarationsSeen-error' : null
              "
              checked
            />
            <label class="govuk-label govuk-checkboxes__label" for="techRecord_adrDetails_brakeDeclarationsSeen">
              Manufacturer brake declaration
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Issuer -->
    <div class="govuk-form-group govuk-character-count" *ngIf="canDisplayIssueSection()">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_brakeDeclarationIssuer"> Issuer </label>
      </h1>
      <p
        id="techRecord_adrDetails_brakeDeclarationIssuer-error"
        class="govuk-error-message"
        *ngIf="isInvalid('techRecord_adrDetails_brakeDeclarationIssuer')"
      >
        <span class="govuk-visually-hidden">Error:</span>
        <span *ngIf="form.get('techRecord_adrDetails_brakeDeclarationIssuer')?.getError('required') as error">{{ error }}</span>
      </p>
      <textarea
        rows="5"
        class="govuk-textarea govuk-js-character-count"
        [class.govuk-textarea--error]="isInvalid('techRecord_adrDetails_brakeDeclarationIssuer')"
        id="techRecord_adrDetails_brakeDeclarationIssuer"
        formControlName="techRecord_adrDetails_brakeDeclarationIssuer"
        [attr.aria-describedby]="
          isInvalid('techRecord_adrDetails_brakeDeclarationIssuer') ? 'techRecord_adrDetails_brakeDeclarationIssuer-error' : null
        "
      ></textarea>
      <div
        id="techRecord_adrDetails_brakeDeclarationIssuer-info"
        class="govuk-hint govuk-character-count__message"
        *ngIf="(form.get('techRecord_adrDetails_brakeDeclarationIssuer')?.value?.length ?? 0) <= 500"
      >
        You have {{ 500 - (form.get('techRecord_adrDetails_brakeDeclarationIssuer')?.value?.length ?? 0) }} characters remaining
      </div>
      <div
        id="techRecord_adrDetails_brakeDeclarationIssuer-info"
        class="govuk-hint govuk-character-count__message govuk-character-count__status govuk-error-message"
        *ngIf="(form.get('techRecord_adrDetails_brakeDeclarationIssuer')?.value?.length ?? 0) > 500"
      >
        You have {{ (form.get('techRecord_adrDetails_brakeDeclarationIssuer')?.value?.length ?? 500) - 500 }} too many
      </div>
    </div>

    <!-- Brake endurance -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="techRecord_adrDetails_brakeEndurance-error">
        <p id="techRecord_adrDetails_brakeEndurance-error" class="govuk-error-message" *ngIf="isInvalid('techRecord_adrDetails_brakeEndurance')">
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_brakeEndurance')?.getError('required') as error">{{ error }}</span>
        </p>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="techRecord_adrDetails_brakeEndurance"
              formControlName="techRecord_adrDetails_brakeEndurance"
              type="checkbox"
              [value]="true"
              [attr.aria-describedby]="isInvalid('techRecord_adrDetails_brakeEndurance') ? 'techRecord_adrDetails_brakeEndurance-error' : null"
              checked
            />
            <label class="govuk-label govuk-checkboxes__label" for="techRecord_adrDetails_brakeEndurance"> Owner/operator declaration </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Weight (tonnes) -->
    <div class="govuk-form-group" *ngIf="canDisplayWeightSection()">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_weight"> Weight (tonnes) </label>
      </h1>
      <p id="techRecord_adrDetails_weight-error" class="govuk-error-message" *ngIf="isInvalid('techRecord_adrDetails_weight')">
        <span class="govuk-visually-hidden">Error:</span>
        <span *ngIf="form.get('techRecord_adrDetails_weight')?.getError('required') as error">{{ error }}</span>
      </p>
      <div class="govuk-input__wrapper">
        <input
          class="govuk-input govuk-input--width-5"
          [class.govuk-input--error]="isInvalid('techRecord_adrDetails_weight')"
          id="techRecord_adrDetails_weight"
          name="techRecord_adrDetails_weight"
          type="text"
          spellcheck="false"
          formControlName="techRecord_adrDetails_weight"
          [attr.aria-describedby]="isInvalid('techRecord_adrDetails_weight') ? 'techRecord_adrDetails_weight-error' : null"
        />
        <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
      </div>
    </div>

    <!-- Delcarations seen (Owner/operator declaration )-->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="techRecord_adrDetails_declarationsSeen-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">Owner/operator declaration</h1>
        </legend>
        <p id="techRecord_adrDetails_declarationsSeen-error" class="govuk-error-message" *ngIf="isInvalid('techRecord_adrDetails_declarationsSeen')">
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_declarationsSeen')?.getError('required') as error">{{ error }}</span>
        </p>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="techRecord_adrDetails_declarationsSeen"
              formControlName="techRecord_adrDetails_declarationsSeen"
              type="checkbox"
              [value]="true"
              [attr.aria-describedby]="isInvalid('techRecord_adrDetails_declarationsSeen') ? 'techRecord_adrDetails_declarationsSeen-error' : null"
            />
            <label class="govuk-label govuk-checkboxes__label" for="techRecord_adrDetails_declarationsSeen"> Yes </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- New certificate required -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="techRecord_adrDetails_newCertificateRequested-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">New certificate required</h1>
        </legend>
        <p
          id="techRecord_adrDetails_newCertificateRequested-error"
          class="govuk-error-message"
          *ngIf="isInvalid('techRecord_adrDetails_newCertificateRequested')"
        >
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="form.get('techRecord_adrDetails_newCertificateRequested')?.getError('required') as error">{{ error }}</span>
        </p>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="techRecord_adrDetails_newCertificateRequested"
              formControlName="techRecord_adrDetails_newCertificateRequested"
              type="checkbox"
              [value]="true"
              [attr.aria-describedby]="
                isInvalid('techRecord_adrDetails_newCertificateRequested') ? 'techRecord_adrDetails_newCertificateRequested-error' : null
              "
            />
            <label class="govuk-label govuk-checkboxes__label" for="techRecord_adrDetails_newCertificateRequested"> Yes </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- ADR Additional Examiner Note -->
    <div class="govuk-form-group govuk-character-count">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_additionalExaminerNotes_note"> ADR Certificate Notes </label>
      </h1>
      <div id="techRecord_adrDetails_additionalExaminerNotes_note-hint" class="govuk-hint">Will not be present on the ADR certificate</div>
      <p
        id="techRecord_adrDetails_additionalExaminerNotes_note-error"
        class="govuk-error-message"
        *ngIf="isInvalid('techRecord_adrDetails_additionalExaminerNotes_note')"
      >
        <span class="govuk-visually-hidden">Error:</span>
        <span *ngIf="form.get('techRecord_adrDetails_additionalExaminerNotes_note')?.getError('maxLength') as error">{{ error }}</span>
      </p>
      <textarea
        rows="5"
        class="govuk-textarea govuk-js-character-count"
        [class.govuk-textarea--error]="isInvalid('techRecord_adrDetails_additionalExaminerNotes_note')"
        id="techRecord_adrDetails_additionalExaminerNotes_note"
        formControlName="techRecord_adrDetails_additionalExaminerNotes_note"
        [attr.aria-describedby]="
          isInvalid('techRecord_adrDetails_additionalExaminerNotes_note') ? 'techRecord_adrDetails_additionalExaminerNotes_note-error' : null
        "
      ></textarea>
      <div
        id="with-hint-info"
        class="govuk-hint govuk-character-count__message"
        *ngIf="(form.get('techRecord_adrDetails_additionalExaminerNotes_note')?.value?.length ?? 0) <= 1024"
      >
        You have {{ 1024 - (form.get('techRecord_adrDetails_additionalExaminerNotes_note')?.value?.length ?? 0) }} characters remaining
      </div>
      <div
        id="techRecord_adrDetails_additionalExaminerNotes_note-info"
        class="govuk-hint govuk-character-count__message govuk-character-count__status govuk-error-message"
        *ngIf="(form.get('techRecord_adrDetails_additionalExaminerNotes_note')?.value?.length ?? 0) > 1024"
      >
        You have {{ (form.get('techRecord_adrDetails_additionalExaminerNotes_note')?.value?.length ?? 1024) - 1024 }} too many
      </div>
    </div>

    <!-- ADR Additional Examiner Notes -->

    <!-- ADR Certificate Notes -->
    <div class="govuk-form-group govuk-character-count">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_adrCertificateNotes"> ADR Certificate Notes </label>
      </h1>
      <p
        id="techRecord_adrDetails_adrCertificateNotes-error"
        class="govuk-error-message"
        *ngIf="isInvalid('techRecord_adrDetails_adrCertificateNotes')"
      >
        <span class="govuk-visually-hidden">Error:</span>
        <span *ngIf="form.get('techRecord_adrDetails_adrCertificateNotes')?.getError('maxLength') as error">{{ error }}</span>
      </p>
      <textarea
        rows="5"
        class="govuk-textarea govuk-js-character-count"
        [class.govuk-textarea--error]="isInvalid('techRecord_adrDetails_adrCertificateNotes')"
        id="techRecord_adrDetails_adrCertificateNotes"
        formControlName="techRecord_adrDetails_adrCertificateNotes"
        [attr.aria-describedby]="isInvalid('techRecord_adrDetails_adrCertificateNotes') ? 'techRecord_adrDetails_adrCertificateNotes-error' : null"
      ></textarea>
      <div
        id="with-hint-info"
        class="govuk-hint govuk-character-count__message"
        *ngIf="(form.get('techRecord_adrDetails_adrCertificateNotes')?.value?.length ?? 0) <= 1500"
      >
        You have {{ 1500 - (form.get('techRecord_adrDetails_adrCertificateNotes')?.value?.length ?? 0) }} characters remaining
      </div>
      <div
        id="techRecord_adrDetails_adrCertificateNotes-info"
        class="govuk-hint govuk-character-count__message govuk-character-count__status govuk-error-message"
        *ngIf="(form.get('techRecord_adrDetails_adrCertificateNotes')?.value?.length ?? 0) > 1500"
      >
        You have {{ (form.get('techRecord_adrDetails_adrCertificateNotes')?.value?.length ?? 1500) - 1500 }} too many
      </div>
    </div>
  </ng-container>
</div>
