<div class="govuk-width-container">
  <a class="govuk-back-link" id="test-back-button" vtmBackButton>Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" id="test-select-test-type">Select a test type</h1>
      </div>
    </div>

    <vtm-tree-component
      [treeData]="filteredCategories"
      (sendTreeData)="selectedTestTypeHandler($event)"
    ></vtm-tree-component>

    <!-- the emitter btn -->
    <button
      type="button"
      id="test-change-test-type"
      class="govuk-button"
      data-module="govuk-button"
      (click)="updateSelectedTestResult()"
    >
      Change test type
    </button>
  </main>
</div>
