@if (techRecord(); as tr) {
  @if (tr.techRecord_vehicleType === VehicleTypes.HGV || tr.techRecord_vehicleType === VehicleTypes.PSV || tr.techRecord_vehicleType === VehicleTypes.TRL) {
    <div [formGroup]="form">
      @if (shouldDisplayFormControl('techRecord_approvalType')) {
        <govuk-form-group-select
        label="Approval type"
        formControlName="techRecord_approvalType"
        [options]="tr.techRecord_vehicleType === VehicleTypes.TRL ? trlApprovalTypes : hgvAndPsvApprovalTypes"
        [allowNull]="true"
        ></govuk-form-group-select>
      }
      @if (shouldDisplayFormControl('techRecord_approvalTypeNumber')) {
        <approval-type-number-input
          label="Approval type number"
          formControlName="techRecord_approvalTypeNumber"
          [width]="FormNodeWidth.XL"
          [approvalType]="tr.techRecord_approvalType || null"
          ></approval-type-number-input>
        }
      @if (shouldDisplayFormControl('techRecord_ntaNumber')) {
        <govuk-form-group-input
          label="National type number"
          [width]="FormNodeWidth.XL"
          formControlName="techRecord_ntaNumber"
        ></govuk-form-group-input>
      }
      @if (vehicleType === VehicleTypes.PSV) {
        @if (shouldDisplayFormControl('techRecord_coifSerialNumber')) {
          <govuk-form-group-input
            label="COIF Serial number"
            [width]="FormNodeWidth.XL"
            formControlName="techRecord_coifSerialNumber"
          ></govuk-form-group-input>
        }
        @if (shouldDisplayFormControl('techRecord_coifCertifierName')) {
          <govuk-form-group-input
            label="COIF Certifier name"
            [width]="FormNodeWidth.XL"
            formControlName="techRecord_coifCertifierName"
          ></govuk-form-group-input>
        }
        @if (shouldDisplayFormControl('techRecord_coifDate')) {
          <govuk-form-group-date
            label="COIF Certifier date"
            formControlName="techRecord_coifDate"
          ></govuk-form-group-date>
        }
      }
      @if (shouldDisplayFormControl('techRecord_variantNumber')) {
        <govuk-form-group-input
          label="Variant number"
          [width]="FormNodeWidth.XL"
          [tags]="vehicleType === VehicleTypes.PSV ? [] : [{ colour: TagType.PURPLE, label: TagTypeLabels.PLATES }]"
          formControlName="techRecord_variantNumber"
        ></govuk-form-group-input>
      }
      @if (shouldDisplayFormControl('techRecord_variantVersionNumber')) {
        <govuk-form-group-input
          label="Variant version number"
          [width]="FormNodeWidth.XL"
          formControlName="techRecord_variantVersionNumber"
        ></govuk-form-group-input>
      }
    </div>
  }
}