<div [formGroup]="form">
  @if (
    techRecord().techRecord_vehicleType === VehicleTypes.HGV ||
    techRecord().techRecord_vehicleType === VehicleTypes.TRL) {
    <govuk-form-group-input
      type="text"
      formControlName="techRecord_brakes_dtpNumber"
      label="DTp number"
      [width]="FormNodeWidth.L"
      [tags]="[{ label: TagTypeLabels.PLATES, colour: TagType.PURPLE }]"
    ></govuk-form-group-input>
    <div class="node-row">
      <govuk-form-group-select
        type="text"
        formControlName="techRecord_make"
        label="Body make"
        [options]="$any(bodyMakes$ | async) ?? []"
        [tags]="[{ label: TagTypeLabels.PLATES, colour: TagType.PURPLE }]"
        [width]="FormNodeWidth.L"
        >
      </govuk-form-group-select>
      <govuk-form-group-input
        type="text"
        formControlName="techRecord_model"
        label="Body model"
        [tags]="[{ label: TagTypeLabels.PLATES, colour: TagType.PURPLE }]"
        [width]="FormNodeWidth.L"
        >
      </govuk-form-group-input>
    </div>
    <govuk-form-group-select
      type="text"
      formControlName="techRecord_bodyType_description"
      label="Body type"
      [width]="FormNodeWidth.L"
      [tags]="[{ label: TagTypeLabels.REQUIRED, colour: TagType.RED }]"
      [options]="bodyTypes"
      >
    </govuk-form-group-select>
  }
  @if (techRecord().techRecord_vehicleType === VehicleTypes.PSV) {
    <govuk-form-group-autocomplete
      formControlName="techRecord_brakes_dtpNumber"
      label="DTp number"
      [options$]="dtpNumbers$"
      [tags]="[{ label: TagTypeLabels.REQUIRED, colour: TagType.RED }]"
      [width]="FormNodeWidth.L"
    ></govuk-form-group-autocomplete>
    <div class="node-row">
      <govuk-form-group-input
        type="text"
        formControlName="techRecord_chassisMake"
        label="Chassis make"
        [width]="FormNodeWidth.L"
        >
      </govuk-form-group-input>
      <govuk-form-group-input
        type="text"
        formControlName="techRecord_chassisModel"
        label="Chassis model"
        [width]="FormNodeWidth.L"
        >
      </govuk-form-group-input>
    </div>
    <div class="node-row">
      <govuk-form-group-input
        type="text"
        formControlName="techRecord_bodyMake"
        label="Body make"
        [width]="FormNodeWidth.L"
        >
      </govuk-form-group-input>
      <govuk-form-group-input
        type="text"
        formControlName="techRecord_bodyModel"
        label="Body model"
        [width]="FormNodeWidth.L"
        >
      </govuk-form-group-input>
    </div>
    <div class="node-row">
      <govuk-form-group-input
        type="text"
        formControlName="techRecord_bodyType_description"
        label="Body type"
        [width]="FormNodeWidth.L"
        >
      </govuk-form-group-input>
      <govuk-form-group-input
        type="text"
        formControlName="techRecord_modelLiteral"
        label="Model literal"
        [width]="FormNodeWidth.L"
        >
      </govuk-form-group-input>
    </div>
  }
  <govuk-form-group-select
    formControlName="techRecord_functionCode"
    label="Function code"
    [options]="FUNCTION_CODE_OPTIONS"
    [width]="FormNodeWidth.XS"
    [tags]="
    techRecord().techRecord_vehicleType === VehicleTypes.HGV ||
    techRecord().techRecord_vehicleType === VehicleTypes.TRL ?
    [{ label: TagTypeLabels.PLATES, colour: TagType.PURPLE }] : []"
  ></govuk-form-group-select>
  <govuk-form-group-input
    formControlName="techRecord_conversionRefNo"
    label="Conversion reference number"
    type="text"
    [width]="FormNodeWidth.L"
  ></govuk-form-group-input>
</div>
