.govuk-input--width-30 {
  max-width: 29.5em !important;
}

.govuk-input--width-20 {
  max-width: 20.5em !important;
}

.govuk-input--width-10 {
  max-width: 11.5em !important;
}

.govuk-input--width-5 {
  max-width: 5.5em !important;
  min-width: unset;
}

.govuk-input--width-4 {
  max-width: 4.5em !important;
  min-width: unset;
}

.govuk-input--width-3 {
  max-width: 3.75em !important;
  min-width: unset;
}

.govuk-input--width-2 {
  max-width: 2.75em !important;
  min-width: unset;
}

.govuk-input--width-unset {
  min-width: unset;
}
