@if (form && defectCount) {
  <ng-container [formGroup]="form">
    <h2 class="govuk-heading-m">{{ defectNameType }}s</h2>
    @for (customDefect of customDefects; track i; let i = $index) {
      <app-custom-defect
        [isEditing]="isEditing()"
        [form]="getCustomDefectForm(i)"
        [index]="i"
        [templateName]="template().name"
        (removeCustomDefect)="handleRemoveDefect($event)"
        />
    }
  </ng-container>
} @else {
  @if (!isEditing()) {
    <h2 class="govuk-heading-m">{{ defectNameType }}s</h2>
    <p class="govuk-body">No {{ defectNameType }}s</p>
  }
}


@if (isEditing()) {
  <app-button id="add-custom-defect" (clicked)="handleAddCustomDefect()">Add {{ defectNameType }}</app-button>
}
