@if (form && defectCount) {
  <ng-container [formGroup]="form">
    <h2 class="govuk-heading-m">Custom Defects</h2>
    @for (customDefect of customDefects; track i; let i = $index) {
      <app-custom-defect
        [isEditing]="isEditing"
        [form]="getCustomDefectForm(i)"
        [index]="i"
        (removeCustomDefect)="handleRemoveDefect($event)"
      ></app-custom-defect>
    }
  </ng-container>
} @else {
  @if (!isEditing) {
    <h2 class="govuk-heading-m">Custom Defects</h2>
    <p class="govuk-body">No custom defects defects</p>
  }
}


@if (isEditing) {
  <app-button id="add-custom-defect" (clicked)="handleAddCustomDefect()">Add a custom defect</app-button>
}
