<ng-container *ngIf="form && defectCount; else noDefects" [formGroup]="form">
  <h2 class="govuk-heading-m">Custom Defects</h2>
  <app-custom-defect
    *ngFor="let customDefect of customDefects; let i = index; trackBy: trackByFn"
    [isEditing]="isEditing"
    [form]="getCustomDefectForm(i)"
    [index]="i"
    (removeCustomDefect)="handleRemoveDefect($event)"
  ></app-custom-defect>
</ng-container>

<ng-template #noDefects>
  <ng-container *ngIf="!isEditing">
    <h2 class="govuk-heading-m">Custom Defects</h2>
    <p class="govuk-body">No custom defects defects</p>
  </ng-container>
</ng-template>

<app-button *ngIf="isEditing" id="add-custom-defect" (clicked)="handleAddCustomDefect()">Add a custom defect</app-button>
