<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Search for a technical record</h1>

        <ng-container *ngIf="searchError$ | async as searchError">
          <div
            [ngClass]="{
              'govuk-form-group': true,
              'govuk-form-group--error': searchError.length > 0
            }"
          >
            <label class="govuk-label govuk-!-font-weight-bold" for="searchIdentifier">
              Vehicle registration mark, trailer ID or vehicle identification number
            </label>
            <span *ngIf="searchError.length" id="name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>

              <div *ngIf="searchError.includes('No resources match the search criteria.')">
                Vehicle not found, check the vehicle registration mark, trailer ID, vehicle
                identification number or change <br />
                the search criteria to find a vehicle
              </div>

              <div *ngIf="searchError.length">
                Enter a vehicle registration mark, trailer ID or vehicle identification number
              </div>

              <div
                *ngIf="
                  searchError.includes('The provided partial VIN returned more than one match.')
                "
              >
                Multiple vehicles found, search using the full vehicle identification number
              </div>
            </span>

            <input
              #searchIdentifier
              [ngClass]="{
                'govuk-input': true,
                'govuk-input--error': searchError.length > 0
              }"
              id="searchIdentifier"
              name="searchIdentifier"
              type="text"
              aria-describedby="name-error"
            />
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold">
              Search criteria
            </label>
            <select class="govuk-select" id="test-search-criteria" #searchCriteria>
              <option
                *ngFor="let searchCriteria of searchCriteriaOptions"
                [value]="searchCriteria"
                >{{ searchCriteria }}</option
              >
            </select>
          </div>

          <a
            role="button"
            (click)="searchTechRecords(searchIdentifier.value, searchCriteria.value)"
            draggable="false"
            class="govuk-button govuk-button--start govuk-!-margin-bottom-2"
            data-module="govuk-button"
          >
            Search
            <svg
              class="govuk-button__start-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="17.5"
              height="19"
              viewBox="0 0 33 40"
              role="presentation"
              focusable="false"
            >
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>
        </ng-container>
      </div>
    </div>
  </main>
</div>
