@import "node_modules/govuk-frontend/govuk/all";
@import "src/app/app.component.scss";

.mt-2 {
  margin-top: 2rem;
}

.govuk-main-wrapper {

  #searchIdentifier {
    background-color: govuk-colour("white");
    border: 2px solid $govuk-input-border-colour;
    width: 589px;
    height: 40px;
  }

  .govuk-input--error {
    border: 4px solid $govuk-error-colour !important;
  }

  .govuk-error-summary {
    width: 57rem;
  }

  .govuk-error-message {
    white-space: nowrap;
    font-weight: bolder;
  }

  .govuk-error-summary {
    .govuk-error-message {
      text-decoration: underline;
    }
  }

}
