<div class="govuk-grid-row search-page" *appRoleRequired="roles.ReferenceDataView">
  <div class="govuk-grid-column-full">
    <app-radio-group
      name="reference-data"
      label="What type of Reference Data would you like to search?"
      formControlName="reference-data"
      [options]="references"
    >
    </app-radio-group>
    <app-button-group>
      <app-button id="submit">Continue</app-button>
      <app-button id="cancel" design="link" (clicked)="cancel()">Cancel</app-button>
    </app-button-group>
  </div>
</div>
