@if (techRecord(); as vm) {
  @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
    <dl class="govuk-summary-list">
      <!-- Speed restriction -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Speed restriction</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_speedRestriction">
          {{ vm.techRecord_speedRestriction | defaultNullOrEmpty:'mph' }}
        </dd>
      </div>
    </dl>
  }
  @if (vm.techRecord_vehicleType === VehicleTypes.PSV || vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL) {
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Tyre details</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header" id="tyre-table-code-header">Code</th>
          <th scope="col" class="govuk-table__header" id="tyre-table-size-header">Size</th>
          <th scope="col" class="govuk-table__header" id="tyre-table-ply-header">Ply</th>
          <th scope="col" class="govuk-table__header" id="tyre-table-load-index-header">Load Index</th>
          @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
            <th scope="col" class="govuk-table__header" id="tyre-table-sr-header">SR</th>
          }
          <th scope="col" class="govuk-table__header" id="tyre-table-sd-header">S/D</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        @for (axle of vm.techRecord_axles; track axle; let i = $index) {
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">T{{axle.axleNumber | defaultNullOrEmpty }}</th>
            <td class="govuk-table__cell" id="tyres_tyreCode-{{ i + 1 }}">{{ axle.tyres_tyreCode | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell" id="tyres_tyreSize-{{ i + 1 }}">{{ axle.tyres_tyreSize | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell" id="tyres_plyRating-{{ i + 1 }}">{{ axle.tyres_plyRating | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell" id="tyres_dataTrAxles-{{ i + 1 }}">{{ axle.tyres_dataTrAxles | defaultNullOrEmpty  }}</td>
            @if (vm.techRecord_vehicleType == VehicleTypes.PSV) {
              <td class="govuk-table__cell uppercase" id="tyres_speedCategorySymbol-{{ i + 1 }}">
                {{ $any(axle).tyres_speedCategorySymbol | defaultNullOrEmpty  }}
              </td>
            }
            <td class="govuk-table__cell capitalize" id="tyres_fitmentCode-{{ i + 1 }}">{{ axle.tyres_fitmentCode | defaultNullOrEmpty  }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
  <!-- Tyre use code -->
  @if (vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL) {
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Tyre use code</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_tyreUseCode">
          {{ vm.techRecord_tyreUseCode | defaultNullOrEmpty }}
        </dd>
      </div>
    </dl>
  }
}
