<ng-container *ngIf="techRecord() as vm">
  <dl class="govuk-summary-list" *ngIf="vm.techRecord_vehicleType === VehicleTypes.PSV">
    <!-- Speed restriction -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Speed restriction</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_speedRestriction">
        {{ vm.techRecord_speedRestriction | defaultNullOrEmpty }}
      </dd>
    </div>
  </dl>
  <ng-container *ngIf="vm.techRecord_vehicleType === VehicleTypes.PSV || vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Tyre Details</caption>
      <div class="govuk-table__caption govuk-table__caption--m">
        <app-field-warning-message *ngIf="invalidAxles.length > 0" [warningMessage]="' '">
          <p class="m-0">The GB Axle weight is greater than the selected tyre weight </p>
          <p class="m-0">
            GB Axles: Axle
            <ng-container *ngFor="let axle of invalidAxles; let i = index; let isLast = last">
              <ng-container *ngIf="invalidAxles.length > 1 && isLast"> and</ng-container>
              {{ axle }}<ng-container *ngIf="invalidAxles.length > 2 && i < (invalidAxles.length - 2)">,</ng-container>
            </ng-container>
          </p>
        </app-field-warning-message>
      </div>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header" id="tyre-table-code-header">Code</th>
            <th scope="col" class="govuk-table__header" id="tyre-table-size-header">Size</th>
            <th scope="col" class="govuk-table__header" id="tyre-table-ply-header">Ply</th>
            <th scope="col" class="govuk-table__header" id="tyre-table-load-index-header">Load Index</th>
            <th scope="col" class="govuk-table__header" id="tyre-table-sr-header" *ngIf="vm.techRecord_vehicleType === VehicleTypes.PSV">SR</th>
            <th scope="col" class="govuk-table__header" id="tyre-table-sd-header">S/D</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" *ngFor="let axle of vm.techRecord_axles">
            <th scope="row" class="govuk-table__header">T{{axle.axleNumber}}</th>
            <td class="govuk-table__cell">{{ axle.tyres_tyreCode }}</td>
            <td class="govuk-table__cell">{{ axle.tyres_tyreSize }}</td>
            <td class="govuk-table__cell">{{ axle.tyres_plyRating }}</td>
            <td class="govuk-table__cell">{{ axle.tyres_dataTrAxles }}</td>
            <td class="govuk-table__cell uppercase" *ngIf="vm.techRecord_vehicleType == VehicleTypes.PSV">{{ $any(axle).tyres_speedCategorySymbol }}</td>
            <td class="govuk-table__cell capitalize">{{ axle.tyres_fitmentCode }}</td>
          </tr>
        </tbody>
      </table>
  </ng-container>
    <!-- Tyre use code -->
  <dl class="govuk-summary-list" *ngIf="vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Tyre use code</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_tyreUseCode">
        {{ vm.techRecord_tyreUseCode | defaultNullOrEmpty }}
      </dd>
    </div>
  </dl>
</ng-container>
