<form [formGroup]="form">
  <app-radio-group id="reason" formControlName="reason" [options]="reasons"></app-radio-group>

  @if (emailAddress$ | async) {
    <p class="govuk-body">This letter will be sent to {{ emailAddress$ | async }}</p>
  }
  @if ((emailAddress$ | async) === undefined) {
    <p class="govuk-body">This technical record does not have an applicant email address associated with it</p>
    <p class="govuk-body">This letter will instead be sent to {{ userService.userEmail$ | async }}</p>
  }

  <app-button-group>
    <app-button id="submit-plate-form" (clicked)="handleSubmit()">Generate and send</app-button>
    <app-button id="back-from-generate-plate" design="link" data-module="govuk-button" (clicked)="navigateBack()">Back</app-button>
  </app-button-group>
</form>
