<div *ngIf="vehicle && (currentTechRecord?.vehicleType === 'hgv' || currentTechRecord?.vehicleType === 'trl')">
  <h2 class="govuk-heading-l">{{ makeAndModel }}</h2>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Vehicle type</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">
        {{ currentTechRecord?.vehicleType | defaultNullOrEmpty | uppercase }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VRM</dt>
      <app-number-plate *ngIf="vrm" [vrm]="vrm"></app-number-plate>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VIN/chassis number</dt>
      <dd id="vehicleType" class="govuk-summary-list__value">{{ vehicle.vin | defaultNullOrEmpty }}</dd>
    </div>
  </dl>

  <form [formGroup]="form">
    <app-text-input
      #plateSerialNumber
      [label]="form.meta.children![0].label"
      [formControlName]="form.meta.children![0].name"
      [width]="width"
      name="generate-plate-serial-number"
    ></app-text-input>
    <app-date
      #plateIssueDate
      [label]="form.meta.children![1].label"
      [formControlName]="form.meta.children![1].name"
      [width]="width"
      name="generate-plate-issue-date"
    ></app-date>
    <app-radio-group
      #plateReasonForGenerating
      [label]="form.meta.children![2].label"
      [formControlName]="form.meta.children![2].name"
      [options]="reasons"
      name="generate-plate-reason"
    ></app-radio-group>
    <app-text-area
      #plateIssuer
      [label]="form.meta.children![3].label"
      [formControlName]="form.meta.children![3].name"
      [width]="width"
    ></app-text-area>

    <!-- <div *ngIf="newVrm.value.toUpperCase() !== vrm && newVrm.value.length">
      <p class="govuk-heading-l">Are you sure you want to change this VRM?</p>
      <p class="govuk-body">Amending this VRM will also amend the VRM for all other tech records present.</p>
    </div> -->

    <app-button-group>
      <app-button id="submit-vrm" (clicked)="handleSubmit(plateSerialNumber.value)">Save</app-button>
      <app-button design="link" data-module="govuk-button" (clicked)="navigateBack()">Back</app-button>
    </app-button-group>
  </form>
</div>
