<ng-container [formGroup]="form">
  <ng-container *ngIf="isEditing; else viewOnly">
    <ng-container *ngIf="getDimension('height')" formGroupName="dimensions">
      <app-number-input label="Height" name="height" formControlName="height" [isEditing]="isEditing">
        <ng-template appSuffix>mm</ng-template>
      </app-number-input>
    </ng-container>

    <ng-container *ngIf="getDimension('length')" formGroupName="dimensions">
      <app-number-input label="Length" name="length" formControlName="length" [isEditing]="isEditing">
        <ng-template appSuffix>mm</ng-template>
      </app-number-input>
    </ng-container>

    <ng-container *ngIf="getDimension('width')" formGroupName="dimensions">
      <app-number-input label="Width" name="width" formControlName="width" [isEditing]="isEditing">
        <ng-template appSuffix>mm</ng-template>
      </app-number-input>
    </ng-container>

    <app-number-input
      *ngIf="frontAxleToRearAxle"
      label="Front axle to rear axle"
      name="frontAxleToRearAxle"
      formControlName="frontAxleToRearAxle"
      [isEditing]="isEditing"
    >
      <ng-template appSuffix>mm</ng-template>
    </app-number-input>

    <app-number-input
      *ngIf="rearAxleToRearTrl"
      label="Rear axle to rear trailer"
      name="rearAxleToRearTrl"
      formControlName="rearAxleToRearTrl"
      [isEditing]="isEditing"
    >
      <ng-template appSuffix>mm</ng-template>
    </app-number-input>

    <div *ngFor="let axle of axles" formGroupName="dimensionsBottomSection">
      <div formGroupName="dimensions">
        <app-number-input [label]="axle.label" [name]="axle.name" [formControlName]="axle.name" [isEditing]="isEditing">
          <ng-template appSuffix>mm</ng-template>
        </app-number-input>
      </div>
    </div>
  </ng-container>

  <ng-template #viewOnly>
    <dl class="govuk-summary-list">
      <ng-container *ngIf="getDimension('height')" formGroupName="dimensions">
        <div app-view-list-item class="govuk-summary-list__row" label="Height (mm)" name="height" formControlName="height"></div>
      </ng-container>

      <ng-container *ngIf="getDimension('length')" formGroupName="dimensions">
        <div app-view-list-item class="govuk-summary-list__row" label="Length (mm)" name="length" formControlName="length"></div>
      </ng-container>

      <ng-container *ngIf="getDimension('width')" formGroupName="dimensions">
        <div app-view-list-item class="govuk-summary-list__row" label="Width (mm)" name="width" formControlName="width"></div>
      </ng-container>

      <div
        app-view-list-item
        *ngIf="frontAxleToRearAxle"
        class="govuk-summary-list__row"
        label="Front axle to rear axle (mm)"
        name="frontAxleToRearAxle"
        formControlName="frontAxleToRearAxle"
      ></div>

      <div
        app-view-list-item
        *ngIf="rearAxleToRearTrl"
        class="govuk-summary-list__row"
        label="Rear axle to rear trailer (mm)"
        name="rearAxleToRearTrl"
        formControlName="rearAxleToRearTrl"
      ></div>

      <ng-container *ngFor="let axle of axles" formGroupName="dimensionsBottomSection">
        <ng-container formGroupName="dimensions">
          <div app-view-list-item class="govuk-summary-list__row" [label]="axle.label" [name]="axle.name" [formControlName]="axle.name"></div>
        </ng-container>
      </ng-container>
    </dl>
  </ng-template>
</ng-container>
