<ng-container [ngSwitch]="edit">
  <ng-container *ngSwitchCase="true">
    <ng-temnplate [ngTemplateOutlet]="editDefect" [ngTemplateOutletContext]="{ data: defectData }"></ng-temnplate>
  </ng-container>

  <ng-container *ngSwitchCase="false">
    <ng-temnplate [ngTemplateOutlet]="viewDefect" [ngTemplateOutletContext]="{ data: defectData }"></ng-temnplate>
  </ng-container>
</ng-container>

<ng-template #viewDefect let-data="data">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Defect label</dt>
      <dd class="govuk-summary-list__value">{{ data.deficiencyRef | defaultNullOrEmpty }} / {{ data.deficiencyCategory | defaultNullOrEmpty }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Category</dt>
      <dd class="govuk-summary-list__value">{{ data.imNumber | defaultNullOrEmpty }} / {{ data.imDescription | defaultNullOrEmpty }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Item</dt>
      <dd class="govuk-summary-list__value">{{ data.itemNumber | defaultNullOrEmpty }} / {{ data.itemDescription | defaultNullOrEmpty }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value">{{ data.deficiencyId | defaultNullOrEmpty }} / {{ data.deficiencySubId | defaultNullOrEmpty }} / {{ data.deficiencyText | defaultNullOrEmpty }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Location</dt>
      <dd class="govuk-summary-list__value">{{ data.additionalInformation?.location ? mapLocationText(data.additionalInformation.location) : '-' }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Repaired during test</dt>
      <dd class="govuk-summary-list__value">{{ data.prs | defaultNullOrEmpty }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Prohibition issues</dt>
      <dd class="govuk-summary-list__value">{{ data.prohibitionIssued | defaultNullOrEmpty }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Additional defect details</dt>
      <dd class="govuk-summary-list__value">{{ data.additionalInformation?.notes | defaultNullOrEmpty }}</dd>
    </div>
  </dl>
</ng-template>

<ng-template #editDefect let-data="data">
  <app-dynamic-form-group [isReadonly]="!edit" [template]="defectTpl" [data]="data"></app-dynamic-form-group>
</ng-template>
