<ng-template [ngTemplateOutlet]="isEditing ? editDefect : viewDefect" [ngTemplateOutletContext]="{ data: form }"></ng-template>

<ng-template #viewDefect let-data="data">
  <dl *ngIf="data.getCleanValue(data) as defect" class="govuk-summary-list">
    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{
        label: 'Defect label',
        data: combined(defect.deficiencyRef, defect.deficiencyCategory)
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Category', data: combined(defect.imNumber, defect.imDescription) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Item', data: combined(defect.itemNumber, defect.itemDescription) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{
        label: 'Description',
        data: combined(defect.deficiencyId, defect.deficiencySubId, defect.deficiencyText)
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Location', data: combined(mapLocationText(defect.additionalInformation?.location)) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Repaired during test', data: combined(defect.prs) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Prohibition issues', data: combined(defect.prohibitionIssued) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Additional defect details', data: combined(data.additionalInformation?.notes) }"
    ></ng-template>
  </dl>
</ng-template>

<ng-template #viewDefectRow let-label="label" let-data="data">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">{{ label }}</dt>
    <dd class="govuk-summary-list__value">{{ data }}</dd>
  </div>
</ng-template>

<ng-template #editDefect>
  <ng-container [formGroup]="form">
    <app-dynamic-form-field [control]="keyValueControl('deficiencyRef')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('deficiencyCategory')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('imNumber')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('imDescription')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('itemNumber')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('itemDescription')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('deficiencyId')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('deficiencySubId')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('deficiencyText')" [form]="form"></app-dynamic-form-field>

    <app-dynamic-form-field [control]="keyValueControl('prs')" [form]="form"></app-dynamic-form-field>
    <app-dynamic-form-field [control]="keyValueControl('prohibitionIssued')" [form]="form"></app-dynamic-form-field>
  </ng-container>
</ng-template>
