<ng-template [ngTemplateOutlet]="isEditing ? editDefect : viewDefect" [ngTemplateOutletContext]="{ data }"></ng-template>

<ng-template #viewDefect let-data="data">
  <dl class="govuk-summary-list">
    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Defect label', data: combined(data.deficiencyRef, data.deficiencyCategory) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Category', data: combined(data.imNumber, data.imDescription) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Item', data: combined(data.itemNumber, data.itemDescription) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Description', data: combined(data.deficiencyId, data.deficiencySubId, data.deficiencyText) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{
        label: 'Location',
        data: combined(data.additionalInformation?.location ? mapLocationText(data.additionalInformation.location) : '-')
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Repaired during test', data: combined(data.prs) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Prohibition issues', data: combined(data.prohibitionIssued) }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="viewDefectRow"
      [ngTemplateOutletContext]="{ label: 'Additional defect details', data: combined(data.additionalInformation?.notes) }"
    ></ng-template>
  </dl>
</ng-template>

<ng-template #viewDefectRow let-label="label" let-data="data">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">{{ label }}</dt>
    <dd class="govuk-summary-list__value">{{ data }}</dd>
  </div>
</ng-template>

<ng-template #editDefect let-data="data">
  <app-dynamic-form-group [edit]="true" [template]="template" [data]="data"></app-dynamic-form-group>
</ng-template>
