<ng-container *ngIf="techRecordHistory$ | async">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Technical Records History
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Reason for creation</th>
        <th scope="col" class="govuk-table__header">Created By</th>
        <th scope="col" class="govuk-table__header">Created At</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor="let searchResult of techRecordHistoryPage$ | async; trackBy: trackByFn; let i = index">
        <th scope="row" class="govuk-table__header" [id]="searchResult.techRecord_statusCode + '-status-header-' + i">
          {{ searchResult.techRecord_statusCode }}
        </th>
        <td class="govuk-table__cell word-break whitespace-pre-wrap" [id]="searchResult.techRecord_statusCode + '-reason-' + i">
          <span>{{ searchResult.techRecord_reasonForCreation }}</span>
        </td>
        <td class="govuk-table__cell word-break" [id]="searchResult.techRecord_statusCode + '-created-by-' + i">
          {{ searchResult.techRecord_createdByName }}
        </td>
        <td class="govuk-table__cell" [id]="searchResult.createdTimestamp + '-created-at-' + i">
          {{ searchResult.createdTimestamp | date : 'dd/MM/yyyy HH:mm' }}
        </td>
        <td class="govuk-table__cell">
          <app-button
            *ngIf="searchResult.createdTimestamp !== currentTimeStamp"
            id="view-test-{{ searchResult.vin }}"
            type="link"
            design="link"
            [routerLink]="[summaryLinkUrl(searchResult)]"
          >
            View
          </app-button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination
    tableName="tech-history"
    [numberOfItems]="(numberOfRecords$ | async) ?? 0"
    (paginationOptions)="handlePaginationChange($event)"
  ></app-pagination>
</ng-container>
