<ng-container *ngIf="techRecords.length">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Technical Records History
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Reason for creation</th>
        <th scope="col" class="govuk-table__header">Created By</th>
        <th scope="col" class="govuk-table__header">Created At</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor="let techRecord of techRecords; trackBy: trackByFn; let i = index">
        <th scope="row" class="govuk-table__header" [id]="techRecord.statusCode + '-status-header-' + i">{{ techRecord.statusCode }}</th>
        <td class="govuk-table__cell word-break" [id]="techRecord.statusCode + '-reason-' + i">
          {{ techRecord.reasonForCreation }}
        </td>
        <td class="govuk-table__cell word-break" [id]="techRecord.statusCode + '-created-by-' + i">{{ techRecord.createdByName }}</td>
        <td class="govuk-table__cell" [id]="techRecord.statusCode + '-created-at-' + i">{{ techRecord.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td class="govuk-table__cell">
          <app-button
            *ngIf="techRecord.createdAt !== currentTechRecord.createdAt"
            id="view-test-{{ vehicle.vin }}"
            type="link"
            design="link"
            [routerLink]="[summaryLinkUrl(techRecord)]"
            (click)="updateTechRecordInEdit(i)"
          >
            View
          </app-button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination tableName="tech-history" [numberOfItems]="numberOfRecords" (paginationOptions)="handlePaginationChange($event)"></app-pagination>
</ng-container>
