@if (techRecord(); as vm) {
  @if (vm.techRecord_vehicleType === VehicleTypes.PSV || vm.techRecord_vehicleType === VehicleTypes.HGV || vm.techRecord_vehicleType === VehicleTypes.TRL) {
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Axle weights (kg)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
            <th scope="col" class="govuk-table__header" id="weights-kerb-header">Kerb</th>
          }
          @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
            <th scope="col" class="govuk-table__header" id="weights-laden-header">Laden</th>
          }
          @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
            <th scope="col" class="govuk-table__header" id="weights-gb-max-header">GB max</th>
          }
          @if (vm.techRecord_vehicleType !== VehicleTypes.PSV) {
            <th scope="col" class="govuk-table__header" id="weights-gb-header">GB</th>
          }
          @if (vm.techRecord_vehicleType !== VehicleTypes.PSV) {
            <th scope="col" class="govuk-table__header" id="weights-eec-header">EEC</th>
          }
          <th scope="col" class="govuk-table__header" id="weights-design-header">Design</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        @for (axle of vm.techRecord_axles; track axle) {
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Axle {{axle.axleNumber}}</th>
            @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
              <td class="govuk-table__cell">{{ $any(axle).weights_kerbWeight | defaultNullOrEmpty  }}</td>
            }
            @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
              <td class="govuk-table__cell">{{ $any(axle).weights_ladenWeight | defaultNullOrEmpty  }}</td>
            }
            <td class="govuk-table__cell">{{ axle.weights_gbWeight | defaultNullOrEmpty  }}</td>
            @if (vm.techRecord_vehicleType !== VehicleTypes.PSV) {
              <td class="govuk-table__cell">{{ $any(axle).weights_eecWeight | defaultNullOrEmpty  }}</td>
            }
            <td class="govuk-table__cell">{{ axle.weights_designWeight | defaultNullOrEmpty  }}</td>
          </tr>
        }
        <tr>
          <th scope="row" class="govuk-table__header">Gross</th>
          @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
            <td class="govuk-table__cell">{{ $any(vm).techRecord_grossKerbWeight | defaultNullOrEmpty  }}</td>
          }
          @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
            <td class="govuk-table__cell">{{ $any(vm).techRecord_grossLadenWeight | defaultNullOrEmpty  }}</td>
          }
          <td class="govuk-table__cell">{{ vm.techRecord_grossGbWeight | defaultNullOrEmpty  }}</td>
          @if (vm.techRecord_vehicleType !== VehicleTypes.PSV) {
            <td class="govuk-table__cell">{{ $any(vm).techRecord_grossEecWeight | defaultNullOrEmpty  }}</td>
          }
          <td class="govuk-table__cell">{{ vm.techRecord_grossDesignWeight | defaultNullOrEmpty  }}</td>
        </tr>
        @if (vm.techRecord_vehicleType !== VehicleTypes.TRL) {
          <tr >
            <th scope="row" class="govuk-table__header">Train</th>
            @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
              <td class="govuk-table__cell"></td>
            }
            @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
              <td class="govuk-table__cell"></td>
            }
            @if (vm.techRecord_vehicleType !== VehicleTypes.PSV) {
              <td class="govuk-table__cell">{{ $any(vm).techRecord_trainGbWeight | defaultNullOrEmpty  }}</td>
            }
            @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
              <td class="govuk-table__cell">{{ $any(vm).techRecord_maxTrainGbWeight | defaultNullOrEmpty  }}</td>
            }
            @if (vm.techRecord_vehicleType !== VehicleTypes.PSV) {
              <td class="govuk-table__cell">{{ $any(vm).techRecord_trainEecWeight | defaultNullOrEmpty  }}</td>
            }
            <td class="govuk-table__cell">{{ $any(vm).techRecord_trainDesignWeight | defaultNullOrEmpty  }}</td>
          </tr>
        }
        @if (vm.techRecord_vehicleType === VehicleTypes.HGV) {
          <tr>
            <th scope="row" class="govuk-table__header">Max train</th>
            <td class="govuk-table__cell">{{ vm.techRecord_maxTrainGbWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ vm.techRecord_maxTrainEecWeight | defaultNullOrEmpty  }}</td>
            <td class="govuk-table__cell">{{ $any(vm).techRecord_maxTrainDesignWeight | defaultNullOrEmpty  }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
  @if (vm.techRecord_vehicleType === VehicleTypes.PSV) {
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Unladen weight</dt>
        <dd class="govuk-summary-list__value" id="test-techRecord_unladenWeight">
          {{ vm.techRecord_unladenWeight | defaultNullOrEmpty:'kg' }}
        </dd>
      </div>
    </dl>
  }
}
