<form [formGroup]="form">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Letter type</dt>
      <dd id="test-cor" class="govuk-summary-list__value">{{ mostRecentLetter?.letterType | defaultNullOrEmpty }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date requested</dt>
      <dd id="test-cor" class="govuk-summary-list__value">{{ mostRecentLetter?.letterDateRequested | date: 'dd/MM/yyyy HH:mm' }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Letter:</dt>
      <dd id="test-certificate" class="govuk-summary-list__value">
        <button id="test-certificate-link" class="link" (click)="download()">TEST LETTER</button>
      </dd>
    </div>
    <div class="govuk-grid-row">
      <br />
      <div class="govuk-grid-column-full">
        <app-button id="generate-letters-link" type="link" routerLink="generate-letter" *appRoleRequired="roles.TechRecordAmend"
          >Generate letter</app-button
        >
      </div>
    </div>
  </dl>
</form>
