<form [formGroup]="form">
  <dl class="govuk-summary-list" *ngIf="!isEditing">
    <ng-container *ngIf="eligibleForLetter">
      <ng-container *ngIf="letter">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Letter type</dt>
          <dd id="test-cor" class="govuk-summary-list__value">{{ letter.letterType | defaultNullOrEmpty }}</dd>
          <dd id="test-certificate" class="govuk-summary-list__value">
            <button id="test-certificate-link" class="link" appRetrieveDocument [params]="documentParams" [fileName]="fileName">View letter</button>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date requested</dt>
          <dd id="test-cor" class="govuk-summary-list__value">{{ letter.letterDateRequested | date: 'dd/MM/yyyy HH:mm' }}</dd>
        </div>
        <div class="govuk-grid-row">
          <br />
          <div class="govuk-grid-column-full" *ngIf="eligibleForLetter">
            <app-button id="generate-letters-link" type="link" routerLink="generate-letter" *appRoleRequired="roles.TechRecordAmend"
              >Generate letter</app-button
            >
          </div>
        </div>
      </ng-container>

      <div *ngIf="!letter">
        <dt class="govuk-summary-list__key">This vehicle does not have a letter.</dt>
      </div>
    </ng-container>

    <ng-container *ngIf="!eligibleForLetter">
      <dl class="govuk-summary-list">
        <div>
          <dt class="govuk-summary-list__key">This trailer does not have the right approval type to be eligible for a letter of authorisation.</dt>
        </div>
      </dl>
    </ng-container>
  </dl>

  <dl class="govuk-summary-list" *ngIf="isEditing">
    <div>
      <dt class="govuk-summary-list__key">This section is unavailable when creating or amending a record.</dt>
    </div>
  </dl>
</form>
