@media (min-width: 40.0625em) {
  .govuk-summary-list {
    margin-bottom: 0;
  }

  .govuk-summary-list + div > h2 {
    margin-top: 30px;
  }
}

.subheading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 2rem;

  & > * {
    min-width: 150px;
    flex-basis: 100%;
  }

  &--half {
    flex-basis: content !important;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.pt-2 {
  padding-top: 2rem;
}