<div class="flex" id="{{ 'test-' + form.meta.name || 'test-dynamic-form' }}">
  <ng-template [ngTemplateOutlet]="templateHeading"></ng-template>
  <table *ngIf="!edit()" class="govuk-table">
    <tbody class="govuk-table__body">
      <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ form: form }"> </ng-template>
    </tbody>
  </table>
  <ng-container *ngIf="edit()">
    <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ form: form }"> </ng-template>
  </ng-container>
</div>

<ng-template #templateHeading>
  <ng-container [ngSwitch]="form.meta.viewType">
    <ng-container *ngSwitchCase="formNodeViewTypes.SUBHEADING">
      <div class="subheading-container">
        <h2 class="govuk-heading-m">{{ form.meta.label }}</h2>
        <a
          *ngIf="form.meta.subHeadingLink"
          class="govuk-link"
          [id]="'select-' + form.meta.subHeadingLink.url + '-link'"
          [routerLink]="form.meta.subHeadingLink.url"
          [queryParams]="form.meta.subHeadingLink.queryParams"
          >{{ form.meta.subHeadingLink.label }}</a
        >
      </div>
    </ng-container>
    <ng-container *ngSwitchCaseDefault>
      <h1 class="govuk-heading-xl title">{{ form.meta.label }}</h1>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #nodeTemplateRef let-form="form">
  <ng-container *ngFor="let control of entriesOf(form.controls); let i = index; trackBy: trackByFn">
    <ng-container [ngSwitch]="control.value.meta.type">
      <ng-container *ngSwitchCase="formNodeTypes.CONTROL">
        <ng-template [ngTemplateOutlet]="controlTemplate" [ngTemplateOutletContext]="{ control: control, formGroup: form }" />
      </ng-container>

      <ng-container *ngSwitchCase="formNodeTypes.GROUP">
        <ng-template [ngTemplateOutlet]="childNode" [ngTemplateOutletContext]="{ form: form.controls[control.key] }" />
      </ng-container>

      <ng-container *ngSwitchCase="formNodeTypes.ARRAY">
        <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ form: form.controls[control.key] }" />
      </ng-container>

      <ng-container *ngSwitchCase="formNodeTypes.SECTION">
        <ng-template [ngTemplateOutlet]="sectionTemplate" [ngTemplateOutletContext]="{ control: control }" />
      </ng-container>

      <ng-container *ngSwitchCase="formNodeTypes.TITLE">
        <ng-template [ngTemplateOutlet]="titleTemplate" [ngTemplateOutletContext]="{ control: control }" />
      </ng-container>

      <ng-container *ngSwitchCase="formNodeTypes.SUBTITLE">
        <ng-template [ngTemplateOutlet]="subtitleTemplate" [ngTemplateOutletContext]="{ control: control }" />
      </ng-container>

      <ng-container *ngSwitchCase="formNodeTypes.COMBINATION">
        <ng-template [ngTemplateOutlet]="combinationTemplate" [ngTemplateOutletContext]="{ control: control, formGroup: form }" />
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #controlTemplate let-control="control" let-formGroup="formGroup">
  <ng-container [formGroup]="formGroup">
    <ng-container *ngIf="control.value.meta && !control.value.meta.hide" [ngSwitch]="edit()">
      <ng-container *ngIf="control.value.meta.viewType !== 'hidden'">
          <tr
            *ngSwitchCase="false"
            app-view-list-item
            class="govuk-table__row"
            [label]="control.value.meta.label"
            [name]="control.value.meta.name"
            [customId]="control.value.meta.customId ?? ''"
            [viewType]="control.value.meta.viewType"
            [formControlName]="control.key"
            [link]="control.value.meta.link"
          ></tr>
      </ng-container>
      <app-dynamic-form-field *ngSwitchCase="true"
        [control]="control"
        [form]="formGroup"
        [parentForm]="parentForm()"
        [customId]="control.value.meta.customId"
        [ngClass]="control.value.meta.class"
       />
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #childNode let-form="form">
  <ng-container *ngIf="!(form.meta && form.meta.hide)">
    <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ form: form }" />
  </ng-container>
</ng-template>

<ng-template #sectionTemplate let-control="control">
  <div *ngIf="!(form.meta && form.meta.hide)">
    <h2 class="govuk-heading-m">{{ control.value.meta.label }}</h2>
  </div>
</ng-template>

<ng-template #combinationTemplate let-control="control" let-formGroup="formGroup">
  <!-- check for editable here so that we don't render this template as well as the actual form fields -->
  <div
    *ngIf="control.value.meta && !edit()"
    app-view-combination
    class="govuk-summary-list__row"
    [formNode]="control.value.meta"
    [formGroup]="formGroup"
  ></div>
</ng-template>

<ng-template #titleTemplate let-control="control">
  <ng-container *ngIf="!(control.value.meta && control.value.meta.hide)">
    <ng-container *ngIf="!edit()">
      <tr class="govuk-table__row">
        <td colspan="2" class="govuk-table__cell pt-2">
          <h4 class="govuk-heading-m mb-0">{{ control.value.meta.label }}</h4>
        </td>
      </tr>
    </ng-container>
    <div *ngIf="edit()">
      <span class="govuk-label govuk-label--m">{{ control.value.meta.label }}</span>
    </div>
  </ng-container>
</ng-template>

<ng-template #subtitleTemplate let-control="control">
  <ng-container *ngIf="!(control.value.meta && control.value.meta.hide)">
    <ng-container *ngIf="!edit() && control.value.meta.viewType !== formNodeViewTypes.HIDDEN">
      <tr class="govuk-table__row">
        <td colspan="2" class="govuk-table__cell">
          <h4 class="govuk-heading-s mb-0">{{ control.value.meta.label }}</h4>
        </td>
      </tr>
    </ng-container>
    <div *ngIf="edit()">
      <span class="govuk-label govuk-label--m">{{ control.value.meta.label }}</span>
    </div>
  </ng-container>
</ng-template>
