<ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ form: myForm }"> </ng-template>

<ng-template #nodeTemplateRef let-form="form">
  <ng-container *ngFor="let control of entriesOf(form.controls); let i = index; trackBy: trackByFn">
    <ng-container *ngIf="!control.value.controls">
      <ng-template [ngTemplateOutlet]="controlTemplate" [ngTemplateOutletContext]="{ control: control, formGroup: form }"></ng-template>
    </ng-container>
    <ng-container *ngIf="control.value.controls">
      <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ form: form.controls[control.key] }"></ng-template>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #controlTemplate let-control="control" let-formGroup="formGroup">
  <ng-container [formGroup]="formGroup">
    <app-list-item-output [label]="control.value.meta.label" [name]="control.value.meta.name" [viewType]="control.value.meta.viewType" [formControlName]="control.key"></app-list-item-output>
  </ng-container>
</ng-template>

<ng-template #childNode let-form>
  <div class="node">
    <div class="node__children">
      <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ form: form }"> </ng-template>
    </div>
  </div>
</ng-template>

<pre>{{ myForm.value | json }}</pre>
