@media (min-width: 40.0625em) {
  .govuk-summary-list {
    margin-bottom: 0;
  }

  .govuk-summary-list + div > h2,
  .node + div > h2 {
    margin-top: 30px;
  }
}

.subheading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 400px) {
  #style-float-right-medium {
    float: right;
    padding-right: 1.5rem;
    height: .5rem;
  }
  #style-float-right-small {
    float: right;
    padding-right: 10rem;
    height: .5rem;
  }
}
@media screen and (min-width: 900px) {
  #style-float-right-medium {
    padding-right: 15rem;
    height: .5rem;
  }
  #style-float-right-small {
    padding-right: 30rem;
    height: .5rem;
  }
}
