<ng-container [formGroup]="form">
  <ng-container *ngIf="control">
    <ng-container [ngSwitch]="control.value.meta.editType">
      <ng-container *ngSwitchCase="formNodeEditTypes.AUTOCOMPLETE">
        <app-autocomplete [label]="control.value.meta.label" [id]="control.value.meta.name + '-wrapper'" [name]="control.value.meta.name" [options]="options" [formControlName]="control.key"> </app-autocomplete>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <app-text-input [label]="control.value.meta.label" [name]="control.value.meta.name" [formControlName]="control.key"></app-text-input>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
