<div class="govuk-grid-row search-page">
  <div class="govuk-grid-column-full">
    @if (from() === 'create' || from() === 'amend') {
      <app-banner type="success">
        <ng-container title>Success</ng-container>
        <ng-container content>You have {{ from() === 'create' ? 'created a' : 'amended the' }} technical record.</ng-container>
      </app-banner>
    }

    <h1 class="govuk-heading-xl govuk-!-font-weight-bold">{{ isEditing ? 'Amend' : 'View' }} technical record</h1>

    @if (techRecord(); as techRecord) {
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third-from-desktop vehicle-summary">
          <app-tech-record-summary-card [mode]="isEditing ? Modes.EDIT : Modes.VIEW" [techRecord]="techRecord" />

          <div class="govuk-button-group govuk-button-group-record">
            <app-edit-tech-record-button
              class="right"
              *appRoleRequired="Roles.TechRecordAmend"
              [(isEditing)]="isEditing"
              [isDirty]="isDirty"
              customId="bottom"
              (submitChange)="handleSubmit()"
            ></app-edit-tech-record-button>
          </div>
        </div>

        <div class="govuk-grid-column-two-thirds-from-desktop">
          <app-tech-record [isEditing]="isEditing" [techRecord]="techRecord" />
        </div>
      </div>
    }
  </div>
</div>
