<ng-container *ngIf="control">
  <ng-container *ngIf="getAdditionalExaminerNotes() as notes">
    <label *ngIf="control.meta.label" class="govuk-label govuk-label--m" for="{{ control.meta.name }}">
      {{ control.meta.label }}
    </label>

    <!-- Additional guidance notes -->
    <table class="govuk-table" *ngIf="notes.length > 0; else empty">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header whitespace-nowrap">Date</th>
          <th scope="col" class="govuk-table__header whitespace-nowrap">Created By</th>
          <th scope="col" class="govuk-table__header whitespace-nowrap">Notes</th>
        </tr>
        <ng-container *ngFor="let examinerNote of currentAdrNotesPage; let i = index; let isLast = last">
          <tr class="govuk-table__row" *ngIf="i < 3">
            <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
              {{ examinerNote.createdAtDate | date : 'dd/MM/yyyy' | defaultNullOrEmpty }}
            </td>
            <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">{{ examinerNote.lastUpdatedBy }}</td>
            <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
              {{ examinerNote.note }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <app-pagination
      tableName="adr-notes-history"
      *ngIf="notes.length"
      [numberOfItems]="notes.length"
      [itemsPerPage]="3"
      (paginationOptions)="handlePaginationChange($event)"
    ></app-pagination>
    <ng-template #empty>
      <dl class="govuk-summary-list" *ngIf="notes.length === 0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">No additional examiner notes history available</dt>
        </div>
      </dl>
    </ng-template>
  </ng-container>
</ng-container>
