.m-0 {
    margin: 0;
}

.border-b-0 {
    border-bottom: 0;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.line-clamp-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.button {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
