@if (control) {
  @if (getAdditionalExaminerNotes(); as notes) {
    @if (control.meta.label) {
      <label class="govuk-label govuk-label--m" for="{{ control.meta.name }}">
        {{ control.meta.label }}
      </label>
    }
    <!-- Additional guidance notes -->
    @if (notes.length > 0) {
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header whitespace-nowrap">Notes</th>
            <th scope="col" class="govuk-table__header whitespace-nowrap">Created By</th>
            <th scope="col" class="govuk-table__header whitespace-nowrap">Date</th>
            <th scope="col" class="govuk-table__header whitespace-nowrap"></th>
          </tr>
          @for (examinerNote of currentAdrNotesPage; track examinerNote; let i = $index; let isLast = $last) {
            @if (i < 3) {
              <tr class="govuk-table__row">
                <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
                  <collapsible-text [text]="examinerNote.note ?? ''" [maxChars]="150"></collapsible-text>
                </td>
                <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">{{ examinerNote.lastUpdatedBy }}</td>
                <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
                  {{ examinerNote.createdAtDate | date : 'dd/MM/yyyy HH:mm' | defaultNullOrEmpty }}
                </td>
                <td class="govuk-table__cell break-words" [class.border-b-0]="i === 2 || isLast">
                  <a class="button" id="edit-additional-examiner-note" (click)="getEditAdditionalExaminerNotePage((pageStart ?? 0) + i)"> Edit </a>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    } @else {
      @if (notes.length === 0) {
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">No additional examiner notes history available</dt>
          </div>
        </dl>
      }
    }
    @if (notes.length) {
      <app-pagination tableName="adr-notes-history"
        [numberOfItems]="notes.length"
        [itemsPerPage]="3"
        (paginationOptionsChange)="handlePaginationChange($event)"
        />
    }
  }
}
