<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Axle ({{ axle.axleNumber }})</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Brake actuator</dt>
    <dd id="test-brakes-brakeActuator" class="govuk-summary-list__value">
      {{ axle?.brakes?.brakeActuator | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Lever length</dt>
    <dd id="test-brakes-leverLength" class="govuk-summary-list__value">
      {{ axle?.brakes?.leverLength | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Spring brake parking</dt>
    <dd id="test-brakes-springBrakeParking" class="govuk-summary-list__value">
      {{ axle?.brakes?.springBrakeParking | DefaultNullOrEmpty }}
    </dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>
