<dl *ngIf="!editState" class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Carried out during test
    </dt>
    <dd class="govuk-summary-list__value" id="test-seatbeltInstallationCheckDate">
      {{ testType.seatbeltInstallationCheckDate | DefaultNullOrEmpty }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Number of seatbelts fitted
    </dt>
    <dd class="govuk-summary-list__value" id="test-numberOfSeatbeltsFitted">
      {{ testType.numberOfSeatbeltsFitted | DefaultNullOrEmpty }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Most recent installation check
    </dt>
    <dd class="govuk-summary-list__value" id="test-lastSeatbeltInstallationCheckDate">
      {{ testType.lastSeatbeltInstallationCheckDate | DefaultNullOrEmpty }}
    </dd>
  </div>
</dl>

<ng-container *ngIf="editState && !hidden">
  <vtm-seatbelt-installation-check-edit
    [testType]="testType"
    [isSubmitted]="isSubmitted"
  ></vtm-seatbelt-installation-check-edit>
</ng-container>
