@import 'node_modules/govuk-frontend/govuk/all';
@import '~material-design-icons/iconfont/material-icons.css';

/**
* This file should be used to create new components not provided by GDS
* Consider not scoping css at component levels and use of a compiled stylesheet for better portability
* Please first use what GDS gives out of the box
* If new components need to be created please follow the GDS convention for consistency in terms of CSS architecture
*
* USEFUL LINKS:
*
* --> Living styleguide: https://design-system.service.gov.uk/components/
* --> Living styleguide - Scaffolding: https://design-system.service.gov.uk/styles/
* --> Repo: https://github.com/alphagov/govuk-frontend/tree/master/src/govuk/components
*/

/**
* If the files grow, please consider following the GDS folder structure as guidance
* Entrypoint: https://github.com/alphagov/govuk-frontend/blob/master/src/govuk/all.scss
*/

/************/
// SETTINGS //
/************/

// Colour

// Images

// Spacing

// Typography

.font--green {
  color: govuk-colour('green');
}

.font--blue {
  color: $govuk-brand-colour;
}

.font--red {
  color: $govuk-error-colour;
}

/**************/
// COMPONENTS //
/**************/

.govuk-back-link {
  // TODO - Technical task to fix the styling as part of GDS living styleguide
  text-decoration: underline;
  cursor: pointer;
}

.tag--black {
  background-color: $govuk-text-colour;
}

.tag--red {
  background-color: $govuk-error-colour;
}

.tag--yellow {
  background-color: $govuk-focus-colour;
  color: $govuk-text-colour;
}

.tag--white {
  background-color: govuk-colour('white');
  color: $govuk-text-colour;
}

.border--none {
  border: none;
}

.border--bottom-none {
  border-bottom: none;
}

.white-space--normal {
  white-space: normal;
}

.autocomplete-input::-webkit-calendar-picker-indicator {
  display: none;
}

.tree-parent-node,
.tree-child-node {
  color: $govuk-link-colour;
  &.is-active {
    color: govuk-colour("white");
    background-color: $govuk-brand-colour;
  }
}

/*********/
// PAGES //
/*********/

/***********/
// GLOBALS //
/***********/
