/* You can add global styles to this file, and also import other style files */
@import 'node_modules/govuk-frontend/govuk/all';
@import 'node_modules/accessible-autocomplete';
@import './styles';

.vehicle_heading {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 25px;
  margin-top: -5px;

  > h1,
  > h2,
  > h3 {
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

@media screen and (min-width: 400px) {
  #style-float-limiter {
    float: right;
    padding-right: 1.5rem;
  }
  #style-float-seats {
    float: right;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 900px) {
  #style-float-limiter {
    padding-right: 15rem;
  }
  #style-float-seats {
    padding-right: 20rem;
  }
}
