/* You can add global styles to this file, and also import other style files */
@use 'node_modules/accessible-autocomplete';
@use 'node_modules/govuk-frontend/govuk/all';
@use './styles';

.vehicle_heading {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 25px;
  margin-top: -5px;

  > h1,
  > h2,
  > h3 {
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.whitespace-pre-wrap {
  white-space: pre;
  text-wrap: wrap;
}

.whitespace-pre-line {
  white-space: pre-line;
  text-wrap: wrap;
}

.tags {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

.govuk-form-group-split-controls {
  @extend .govuk-form-group;
  > h1 {
    @extend .govuk-label-wrapper;
    > label {
      @extend .govuk-label;
      @extend .govuk-label--m;
    }
  }
}

.padding-vertical-half {
  display: block;
  padding: .5rem 0 !important;
}

.autocomplete__input::placeholder {
  color: black;
  font-family: 'GDS Transport', Arial, sans-serif;
}

#techRecord_brakes_dtpNumber.autocomplete__input {
  @extend .govuk-input--width-10;
}