<ng-container *ngIf="!edit">
  <h2 class="govuk-heading-m">Additional ADR details</h2>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Examiner notes</dt>
      <dd class="govuk-summary-list__value">
        <span id="test-additionalExaminerNotes">
          {{ adrDetails.additionalExaminerNotes | DefaultNullOrEmpty }}
        </span>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">ADR certificate notes</dt>
      <dd class="govuk-summary-list__value">
        <span id="test-adrCertificateNotes">
          {{ adrDetails.adrCertificateNotes | DefaultNullOrEmpty }}
        </span>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="edit">
  <vtm-additional-adr-detail-edit [adrDetails]="adrDetails"></vtm-additional-adr-detail-edit>
</ng-container>
