<div class="govuk-phase-banner">
  <div class="govuk-grid-row govuk-!-margin-bottom-2 govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> beta </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" [href]="feedbackUri" target="_blank">give your feedback (opens in a new tab)</a>.
      </span>
    </p>
    <p></p>
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        This survey is for user feedback only. If you are unable to complete your journey please raise an incident report via the service desk.
      </span>
    </p>
  </div>
</div>
