<div *ngIf="vehicle$ | async as vehicle" class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <app-tech-record-title [vehicle]="vehicle" [hideActions]="true"></app-tech-record-title>
        <app-button-group>
          <app-button id="submit-record-continue" (clicked)="handleSubmit()">{{
            (isBatch$ | async) ? 'Save and create batch' : 'Submit new record'
          }}</app-button>
          <app-button *ngIf="(isBatch$ | async) === false" id="submit-record-continue" design="secondary" (clicked)="addVehiclesToBatch()"
            >Add vehicles to batch</app-button
          >
        </app-button-group>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full">
      <app-tech-record-summary [techRecord]="vehicle.techRecord[0]" [isEditing]="true" (isFormInvalid)="isInvalid = $event"></app-tech-record-summary>
    </div>
  </div>
</div>
