<div *ngIf="vehicle$ | async as vehicle" class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <app-tech-record-title customTitle="New lead technical record" [vehicle]="vehicle" [hideActions]="true"></app-tech-record-title>

        <div *ngIf="isBatch$ | async">
          <h2 class="govuk-heading-m">Vehicle record batch</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Vehicles in batch</dt>
              <dd class="govuk-summary-list__value">
                {{ ((batchCount$ | async) ?? 0) + 1 }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <app-button id="manage-vehicles" type="link" design="link" [routerLink]="['add-batch']"> Manage vehicles </app-button>
              </dd>
            </div>
          </dl>
        </div>

        <app-button-group>
          <app-button id="submit-record-continue" (clicked)="handleSubmit()">{{
            (isBatch$ | async) ? 'Save and create batch' : 'Submit new record'
          }}</app-button>
          <app-button
            *ngIf="vehicle.techRecord[0]?.vehicleType === vehicleTypes.TRL && (isBatch$ | async) === false"
            id="submit-record-continue"
            design="secondary"
            (clicked)="addVehiclesToBatch()"
          >
            Add vehicles to batch
          </app-button>
        </app-button-group>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full">
      <app-tech-record-summary [techRecord]="vehicle.techRecord[0]" [isEditing]="true" (isFormInvalid)="isInvalid = $event"></app-tech-record-summary>
    </div>
  </div>
</div>
