body {
  height: 100%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.header {
  grid-area: header;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
}

.main {
  grid-area: content;
  width: 100%;
  height: auto;
}
.footer {
  grid-area: footer;
  margin-top: 10px;
  width: 100%;
  height: 50px;
}

