<ion-header>
  <ion-toolbar>
    <ion-title>
     CVS VTM Application
    </ion-title>
    <!-- <tech-record-create-icon></tech-record-create-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-technical-record></app-technical-record>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Create New Vehicle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/create" color="medium">Create</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
