<section>
  <app-accordion-control>
    <ng-container *ngFor="let section of sectionTemplates" [ngSwitch]="section.name">
      <app-accordion *ngIf="section.name !== 'reasonForCreationSection' || isEditable" [id]="section.name" [title]="section.label">
        <app-dimensions
          *ngSwitchCase="'dimensionsSection'"
          [vehicleTechRecord]="vehicleTechRecordCalculated"
          [isEditing]="isEditable"
          (formChange)="handleFormState($event)"
        ></app-dimensions>

        <app-weights
          *ngSwitchCase="'weightsSectionPsv'"
          [isEditing]="isEditable"
          [template]="section"
          [data]="vehicleTechRecordCalculated"
          (formChange)="handleFormState($event)"
        ></app-weights>

        <app-weights-trl-hgv
          *ngSwitchCase="'weightsSection'"
          [isEditing]="isEditable"
          [template]="section"
          [data]="vehicleTechRecordCalculated"
          [vehicleType]="vehicleTechRecordCalculated.vehicleType"
          (formChange)="handleFormState($event)"
        ></app-weights-trl-hgv>

        <app-dynamic-form-group
          *ngSwitchDefault
          [edit]="isEditable"
          [template]="section"
          [data]="vehicleTechRecordCalculated"
          (formChange)="handleFormState($event)"
          class="govuk-summary-list"
        ></app-dynamic-form-group>
      </app-accordion>
    </ng-container>
  </app-accordion-control>
</section>
