<section class="govuk-grid-row">
  <div [id]="'required-fields-hint'" class="govuk-hint">{{ hint }}</div>
  <app-accordion-control [class]="'padding'" [sectionState]="sectionTemplatesState$ | async">
    <div class="govuk-grid-column-one-half">
      @for (section of sectionTemplates; track section; let i = $index) {
        @if (i < middleIndex) {
          <app-accordion [id]="section.name" [title]="section.label" [isExpanded]="isSectionExpanded$(section.name) | async">
            <ng-template [ngTemplateOutlet]="accordion" [ngTemplateOutletContext]="{ sectionName: section.name, section: section }"></ng-template>
          </app-accordion>
        }
      }
    </div>
    <div class="govuk-grid-column-one-half">
      @for (section of sectionTemplates; track section; let i = $index) {
        @if (i >= middleIndex) {
          <app-accordion [id]="section.name" [title]="section.label">
            <ng-template [ngTemplateOutlet]="accordion" [ngTemplateOutletContext]="{ sectionName: section.name, section: section }"></ng-template>
          </app-accordion>
        }
      }
    </div>
  </app-accordion-control>
</section>

<ng-template #accordion let-sectionName="sectionName" let-section="section">
  @if (techRecordCalculated) {
    @switch (sectionName) {
      @case ('bodySection') {
        <app-body
          [techRecord]="techRecordCalculated"
          [isEditing]="(isEditing$ | async) ?? false"
          (formChange)="handleFormState($event)"
        ></app-body>
      }
      @case ('dimensionsSection') {
        @if (
          techRecordCalculated.techRecord_vehicleType === 'trl' ||
          techRecordCalculated.techRecord_vehicleType === 'hgv' ||
          techRecordCalculated.techRecord_vehicleType === 'psv'
          ) {
          <app-dimensions
            [techRecord]="techRecordCalculated"
            [isEditing]="(isEditing$ | async) ?? false"
            (formChange)="handleFormState($event)"
          ></app-dimensions>
        }
      }
      @case ('approvalSection') {
        @if (
          techRecordCalculated.techRecord_vehicleType === 'trl' ||
          techRecordCalculated.techRecord_vehicleType === 'hgv' ||
          techRecordCalculated.techRecord_vehicleType === 'psv'
          ) {
          <app-approval-type
            [techRecord]="techRecordCalculated"
            [isEditing]="(isEditing$ | async) ?? false"
            (formChange)="handleFormState($event)"
          ></app-approval-type>
        }
      }
      @case ('psvBrakesSection') {
        @if (techRecordCalculated.techRecord_vehicleType === 'psv') {
          <app-psv-brakes
            [vehicleTechRecord]="techRecordCalculated"
            [isEditing]="(isEditing$ | async) ?? false"
            (formChange)="handleFormState($event)"
          ></app-psv-brakes>
        }
      }
      @case ('trlBrakesSection') {
        @if (techRecordCalculated.techRecord_vehicleType === 'trl') {
          <app-trl-brakes
            [vehicleTechRecord]="techRecordCalculated"
            [isEditing]="(isEditing$ | async) ?? false"
            (formChange)="handleFormState($event)"
          ></app-trl-brakes>
        }
      }
      @case ('tyreSection') {
        @if (
          techRecordCalculated.techRecord_vehicleType === 'trl' ||
          techRecordCalculated.techRecord_vehicleType === 'hgv' ||
          techRecordCalculated.techRecord_vehicleType === 'psv'
          ) {
          <app-tyres
            [vehicleTechRecord]="techRecordCalculated"
            [isEditing]="(isEditing$ | async) ?? false"
            (formChange)="handleFormState($event)"
          ></app-tyres>
        }
      }
      @case ('weightsSection') {
        @if (
          techRecordCalculated.techRecord_vehicleType === 'trl' ||
          techRecordCalculated.techRecord_vehicleType === 'hgv' ||
          techRecordCalculated.techRecord_vehicleType === 'psv'
          ) {
          <app-weights
            [vehicleTechRecord]="techRecordCalculated"
            [isEditing]="(isEditing$ | async) ?? false"
            (formChange)="handleFormState($event)"
          ></app-weights>
        }
      }
      @case ('lettersSection') {
        @if (techRecordCalculated.techRecord_vehicleType === 'trl') {
          <app-letters
            [techRecord]="techRecordCalculated"
            [isEditing]="(isEditing$ | async) ?? false"
            (formChange)="handleFormState($event)"
          ></app-letters>
        }
      }
      @case ('platesSection') {
        @if (techRecordCalculated.techRecord_vehicleType === 'hgv' || techRecordCalculated.techRecord_vehicleType === 'trl') {
          <app-plates
            [techRecord]="techRecordCalculated"
            [isEditing]="(isEditing$ | async) ?? false"
            (formChange)="handleFormState($event)"
          ></app-plates>
        }
      }
      @case ('adrSection') {
        @if (
          techRecordCalculated.techRecord_vehicleType === 'hgv' ||
          techRecordCalculated.techRecord_vehicleType === 'trl' ||
          techRecordCalculated.techRecord_vehicleType === 'lgv'
          ) {
          <app-adr [techRecord]="techRecordCalculated" [isEditing]="(isEditing$ | async) ?? false"></app-adr>
        }
      }
      @case ('adrCertificateSection') {
        @if (
          techRecordCalculated.techRecord_vehicleType === 'hgv' ||
          techRecordCalculated.techRecord_vehicleType === 'trl' ||
          techRecordCalculated.techRecord_vehicleType === 'lgv'
          ) {
          <app-adr-certificate-history [currentTechRecord]="techRecordCalculated"></app-adr-certificate-history>
        }
      }
      @default {
        <app-dynamic-form-group
          [data]="techRecordCalculated"
          [template]="section"
          [edit]="(isEditing$ | async) ?? false"
          (formChange)="handleFormState($event)"
        ></app-dynamic-form-group>
      }
    }
  }
</ng-template>
