<ng-container *ngIf="!edit">
  <h2 class="govuk-heading-m">Owner/operator details</h2>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd id="test-ownerDetails-name" class="govuk-summary-list__value">
        {{ applicantDetails.name | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Street</dt>
      <dd id="test-ownerDetails-street" class="govuk-summary-list__value">
        {{ applicantDetails.street | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Town</dt>
      <dd id="test-ownerDetails-town" class="govuk-summary-list__value">
        {{ applicantDetails.town | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">City</dt>
      <dd id="test-ownerDetails-city" class="govuk-summary-list__value">
        {{ applicantDetails.city | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Postcode</dt>
      <dd id="test-ownerDetails-postcode" class="govuk-summary-list__value">
        {{ applicantDetails.postcode | DefaultNullOrEmpty }}
      </dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="edit">
  <vtm-applicant-details-edit [applicantDetails]="applicantDetails"></vtm-applicant-details-edit>
</ng-container>
