<ng-container *ngIf="isEditing; else view" [ngSwitch]="type" [formGroup]="form">
  <app-suggestive-input
    *ngSwitchCase="types.AUTOCOMPLETE"
    [formControlName]="name"
    [name]="name"
    [label]="label"
    [width]="width"
    [options$]="options$"
    [noBottomMargin]="true"
    [hint]="hint"
  >
    <ng-template *ngIf="prefix" appPrefix>{{ prefix }}</ng-template>
  </app-suggestive-input>

  <app-checkbox-group
    *ngSwitchCase="types.CHECKBOX"
    [formControlName]="name"
    [name]="name"
    [label]="label"
    [width]="width"
    [options]="options!"
    [delimited]="delimiter"
    [noBottomMargin]="true"
  ></app-checkbox-group>

  <ng-template *ngSwitchCase="types.DATE" [ngTemplateOutlet]="date"></ng-template>

  <ng-template *ngSwitchCase="types.DATETIME" [ngTemplateOutlet]="date"></ng-template>

  <ng-template #date>
    <app-date
      [formControlName]="name"
      [name]="name"
      [label]="label"
      [width]="width"
      [displayTime]="type === types.DATETIME"
      [noBottomMargin]="true"
    ></app-date>
  </ng-template>

  <app-number-input *ngSwitchCase="types.NUMBER" [formControlName]="name" [name]="name" [label]="label" [width]="width" [noBottomMargin]="true">
    <ng-template *ngIf="prefix" appPrefix>{{ prefix }}</ng-template>
    <ng-template *ngIf="suffix" appSuffix>{{ suffix }}</ng-template>
  </app-number-input>

  <app-radio-group
    *ngSwitchCase="types.RADIO"
    [formControlName]="name"
    [name]="name"
    [label]="label"
    [width]="width"
    [options]="options!"
    [noBottomMargin]="true"
  ></app-radio-group>

  <app-select
    *ngSwitchCase="types.DROPDOWN"
    [formControlName]="name"
    [name]="name"
    [label]="label"
    [width]="width"
    [options]="options!"
    [noBottomMargin]="true"
  ></app-select>

  <app-text-area
    *ngSwitchCase="types.TEXTAREA"
    [formControlName]="name"
    [name]="name"
    [label]="label"
    [width]="width"
    [noBottomMargin]="true"
  ></app-text-area>

  <app-text-input
    *ngSwitchDefault
    [formControlName]="name"
    [name]="name"
    [label]="label"
    [width]="width"
    [numeric]="type === types.NUMERICSTRING"
    [noBottomMargin]="true"
  >
    <ng-template *ngIf="prefix" appPrefix>{{ prefix }}</ng-template>
    <ng-template *ngIf="suffix" appSuffix>{{ suffix }}</ng-template>
  </app-text-input>
</ng-container>

<ng-template #view [formGroup]="form">
  <app-read-only
    [formControlName]="name"
    [label]="label"
    [name]="idExtension ? name + '-' + idExtension : name"
    [readOnlySuffix]="suffix"
  ></app-read-only>
</ng-template>
