<ng-container *ngIf="isEditing(); else view" [ngSwitch]="type()" [formGroup]="form()">
  <app-autocomplete
    *ngSwitchCase="types.AUTOCOMPLETE"
    [formControlName]="name()"
    [name]="name()"
    [label]="label()"
    [width]="width()"
    [options$]="options$"
    [noBottomMargin]="true"
    [hint]="hint()"
  >
    <ng-template *ngIf="prefix()" appPrefix>{{ prefix() }}</ng-template>
  </app-autocomplete>

  <app-checkbox *ngSwitchCase="types.CHECKBOX"
    [formControlName]="name()"
    [name]="name()"
    [label]="label()"
    [customId]="customId()"
    [noBottomMargin]="true"
   />

  <app-checkbox-group *ngSwitchCase="types.CHECKBOXGROUP"
    [formControlName]="name()"
    [name]="name()"
    [label]="label()"
    [width]="width()"
    [options]="options()!"
    [delimited]="delimiter"
    [noBottomMargin]="true"
   />

  <ng-template *ngSwitchCase="types.DATE" [ngTemplateOutlet]="date" />

  <ng-template *ngSwitchCase="types.DATETIME" [ngTemplateOutlet]="date" />

  <ng-template #date>
    <app-date [formControlName]="name()"
      [name]="name()"
      [label]="label()"
      [width]="width()"
      [displayTime]="type() === types.DATETIME"
      [noBottomMargin]="true"
     />
  </ng-template>

  <app-approval-type-input *ngSwitchCase="types.APPROVAL_TYPE"
    [formControlName]="name()"
    [approvalType]="approvalType()"
    [approvalTypeChange]="approvalTypeChange()"
    [label]="label()"
    [width]="width()"
   />

  <app-number-input
    *ngSwitchCase="types.NUMBER"
    [formControlName]="name()"
    [name]="idExtension() ? name() + '-' + idExtension() : name()"
    [label]="label()"
    [width]="width()"
    [noBottomMargin]="true"
    [vehicleType]="vehicleType()"
  >
    <ng-template *ngIf="prefix()" appPrefix>{{ prefix() }}</ng-template>
    <ng-template *ngIf="suffix()" appSuffix>{{ suffix() }}</ng-template>
  </app-number-input>

  <app-radio-group *ngSwitchCase="types.RADIO"
    [formControlName]="name()"
    [name]="name()"
    [label]="label()"
    [width]="width()"
    [options]="options()!"
    [noBottomMargin]="true"
   />

  <app-select *ngSwitchCase="types.DROPDOWN"
    [formControlName]="name()"
    [name]="name()"
    [label]="label()"
    [width]="width()"
    [options]="options()!"
    [noBottomMargin]="true"
    [customId]="customId()"
   />

  <app-text-area *ngSwitchCase="types.TEXTAREA"
    [formControlName]="name()"
    [name]="name()"
    [label]="label()"
    [width]="width()"
    [noBottomMargin]="true"
   />

  <app-text-input
    *ngSwitchDefault
    [formControlName]="name()"
    [name]="name()"
    [label]="label()"
    [width]="width()"
    [numeric]="type() === types.NUMERICSTRING"
    [noBottomMargin]="true"
  >
    <ng-template *ngIf="prefix()" appPrefix>{{ prefix() }}</ng-template>
    <ng-template *ngIf="suffix()" appSuffix>{{ suffix() }}</ng-template>
  </app-text-input>
</ng-container>

<ng-template #view [formGroup]="form()">
  <app-read-only [formControlName]="name()"
    [label]="label()"
    [name]="idExtension() ? name() + '-' + idExtension() : name()"
    [readOnlySuffix]="suffix()"
    [date]="readOnlyDate()"
   />
</ng-template>
