<div [ngClass]="{ 'govuk-form-group': !noBottomMargin() }">
  @if (label()) {
    <label class="govuk-label govuk-label--m" for="{{ name() }}">{{ label() }}</label>
  }

  @if (hint()) {
    <div id="{{ name() }}-hint" class="govuk-hint">{{ hint() }}</div>
  }

  <app-field-error-message [error]="error" [name]="name()"></app-field-error-message>
  <app-field-error-message [error]="warning()" [name]="name()"></app-field-error-message>

  <div class="govuk-input__wrapper">
    @if (prefix(); as prefix) {
      <div class="govuk-input__suffix prefix" aria-hidden="true">
        <ng-container [ngTemplateOutlet]="prefix.templateRef"></ng-container>
      </div>
    }

    <input
      appNoEmojis
      #suggestiveInput
      id="{{ name() }}"
      name="{{ name() }}"
      type="text"
      [attr.list]="name() + '-datalist'"
      [ngClass]="style"
      [disabled]="disabled"
      [(ngModel)]="field_value"
      (ngModelChange)="handleChangeForOption($event)"
      (blur)="onTouched(); handleEvent($event)"
      (focus)="handleEvent($event)"
      onfocus="select();"
      />
    <datalist [id]="name() + '-datalist'" role="listbox">
      @for (option of options$() | async; track i; let i = $index) {
        <option [ngValue]="option">{{ option.label }}</option>
      }
    </datalist>
    <span class="datalist-arrow"> </span>

    @if (suffix(); as suffix) {
      <div class="govuk-input__suffix" aria-hidden="true">
        <ng-container [ngTemplateOutlet]="suffix.templateRef"></ng-container>
      </div>
    }
  </div>
</div>
