.govuk-accordion__section--expanded {
  .govuk-accordion__section-content {
    display: block;
  }
}
.accordion-heading-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}

.dotted-bottom-border {
  border-bottom: 1px dotted #b1b4b6 !important; /* Use GOV.UK grey or your preferred color */
}
