<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div [formGroup]="techRecordFg">
          <!-- Tyre usecode -->
          <div class="govuk-form-group">
            <label for="tyreUseCode" class="govuk-label govuk-!-font-weight-bold">
              Tyre use code (optional)
            </label>
            <input
              id="tyreUseCode"
              type="text"
              name="tyreUseCode"
              maxlength="2"
              formControlName="tyreUseCode"
              class="govuk-input govuk-input--width-2"
            />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
