<div class="govuk-grid-row" *appRoleRequired="roles.ReferenceDataView">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-xl govuk-!-font-weight-bold">Deleted {{ (refDataAdminType$ | async)?.label }}</p>

    <app-button-group>
      <app-button id="cancel" design="link" (clicked)="navigateBack()">Back</app-button>
    </app-button-group>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th *ngFor="let column of (refDataAdminType$ | async)?.columns" scope="col" class="govuk-table__header">{{ column.heading }}</th>
          <th scope="col" class="govuk-table__header">Deleted At</th>
          <th scope="col" class="govuk-table__header">Deleted By</th>
          <th scope="col" class="govuk-table__header">Reason</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" *ngFor="let item of paginatedItems$ | async">
          <td *ngFor="let column of (refDataAdminType$ | async)?.columns" class="govuk-table__cell">{{ item[column.name] }}</td>
          <td class="govuk-table__cell">{{ item.createdAt | date : 'dd/MM/yyyy HH:mm' }}</td>
          <td class="govuk-table__cell">{{ item.createdName }}</td>
          <td class="govuk-table__cell">{{ item.reason }}</td>
        </tr>
      </tbody>
    </table>
    <app-pagination
      tableName="reference-data-items"
      [numberOfItems]="(numberOfRecords$ | async) ?? 0"
      (paginationOptions)="handlePaginationChange($event)"
      [itemsPerPage]="25"
    ></app-pagination>
  </div>
</div>
