<div class="govuk-grid-row" *appRoleRequired="roles.ReferenceDataView">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-xl govuk-!-font-weight-bold">Deleted {{ (refDataAdminType$ | async)?.label }}</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          @for (column of (refDataAdminType$ | async)?.columns; track column) {
            <th scope="col" class="govuk-table__header">{{ column.heading }}</th>
          }
          <th scope="col" class="govuk-table__header">Deleted At</th>
          <th scope="col" class="govuk-table__header">Deleted By</th>
          <th scope="col" class="govuk-table__header">Reason</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        @for (item of paginatedItems$ | async; track item) {
          <tr class="govuk-table__row">
            @if (item.reason) {
              @for (column of (refDataAdminType$ | async)?.columns; track column) {
                <td class="govuk-table__cell">{{ item[column.name] }}</td>
              }
              <td class="govuk-table__cell">{{ item.createdAt | date : 'dd/MM/yyyy HH:mm' }}</td>
              <td class="govuk-table__cell">{{ item.createdName }}</td>
              <td class="govuk-table__cell">{{ item.reason }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
    <app-pagination
      tableName="reference-data-items"
      [numberOfItems]="(numberOfRecords$ | async) ?? 0"
      (paginationOptionsChange)="handlePaginationChange($event)"
      [itemsPerPage]="25"
    ></app-pagination>
  </div>
</div>
