<div class="header_container">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ techRecord?.bodyMake + '-' + techRecord?.bodyModel | defaultNullOrEmpty }}</h1>
  <app-icon [icon]="vehicleType"></app-icon>
  <app-tag *ngIf="isEditing" [type]="'red'">EDITING</app-tag>
</div>
<div class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">VRM</dt>
    <dd id="test-testTypeId" class="govuk-summary-list__value">
      <app-number-plate>
        {{ testResult?.vrm | defaultNullOrEmpty }}
      </app-number-plate>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">VIN</dt>
    <dd id="test-testTypeId" class="govuk-summary-list__value">
      {{ testResult?.vin | defaultNullOrEmpty }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Record status</dt>
    <dd id="test-testTypeId" class="govuk-summary-list__value">
      {{ testResult?.testStatus | defaultNullOrEmpty }}
    </dd>
  </div>
</div>
