<!-- prettier-ignore -->
<form [formGroup]="form">
  <ng-container *ngIf="isPsv">
    <app-switchable-input
      [form]="form"
      [type]="types.NUMBER"
      name="techRecord_speedRestriction"
      label="Speed restriction"
      [isEditing]="isEditing"
      [width]="widths.XS"
      suffix="mph"
    ></app-switchable-input>

    <br />
  </ng-container>

  <table class="govuk-table">
    <ng-container [ngSwitch]="requiredPlates">
      <caption *ngSwitchCase="false" class="govuk-table__caption govuk-table__caption--m">
        Tyre details
      </caption>
      <caption *ngSwitchCase="true" class="govuk-table__caption govuk-table__caption--m">
        Tyre details <app-tag type="purple">plates</app-tag>
      </caption>
      <div class="govuk-table__caption govuk-table__caption--m">
        <app-field-warning-message *ngIf="invalidAxles.length > 0" [warningMessage]="' '">
          <p class="m-0">The GB Axle weight is greater than the selected tyre weight </p>
          <p class="m-0">
            GB Axles: Axle
            <ng-container *ngFor="let axle of invalidAxles; let i = index; let isLast = last">
              <ng-container *ngIf="invalidAxles.length > 1 && isLast"> and</ng-container>
              {{ axle }}<ng-container *ngIf="invalidAxles.length > 2 && i < (invalidAxles.length - 2)">,</ng-container>
            </ng-container>
          </p>
        </app-field-warning-message>
      </div>
    </ng-container>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="tyre-table__cell"></th>
        <th scope="col" class="govuk-table__header">Code</th>
        <th scope="col" class="govuk-table__header">Size</th>
        <th scope="col" class="govuk-table__header">Ply</th>
        <th scope="col" class="govuk-table__header tyre-table-ld-index__header">Load Index</th>
        <th *ngIf="isPsv" scope="col" class="govuk-table__header">SR</th>
        <th scope="col" class="govuk-table__header">S/D</th>
        <th *ngIf="isEditing" scope="col" class="govuk-table__header"></th>
        <th *ngIf="isEditing" scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr *ngFor="let axle of axles.controls; let i = index" class="govuk-table__row" formArrayName="techRecord_axles">
          <th scope="row" class="tyre-table__cell">T{{ axle.value.axleNumber }}</th>

          <ng-template
            [ngTemplateOutlet]="axleTdInput"
            [ngTemplateOutletContext]="{ name: 'tyres_tyreCode', type: types.NUMBER, width: widths.XS }"
          ></ng-template>

          <ng-template
            [ngTemplateOutlet]="axleTdInput"
            [ngTemplateOutletContext]="{ name: 'tyres_tyreSize', type: types.TEXT, width: widths.XXXL }"
          ></ng-template>

          <ng-template
            [ngTemplateOutlet]="axleTdInput"
            [ngTemplateOutletContext]="{ name: 'tyres_plyRating', type: types.TEXT, width: widths.XXS }"
          ></ng-template>

          <ng-template
            [ngTemplateOutlet]="axleTdInput"
            [ngTemplateOutletContext]="{ name: 'tyres_dataTrAxles', type: types.NUMBER, width: widths.XXS }"
          ></ng-template>

          <ng-template
            *ngIf="isPsv"
            [ngTemplateOutlet]="axleTdInput"
            [ngTemplateOutletContext]="{ name: 'tyres_speedCategorySymbol', type: types.DROPDOWN, width: widths.UNSET, options: speedCategorySymbol }"
          ></ng-template>

          <ng-template
            [ngTemplateOutlet]="axleTdInput"
            [ngTemplateOutletContext]="{ name: 'tyres_fitmentCode', type: types.DROPDOWN, width: widths.XS, options: fitmentCode }"
          ></ng-template>

          <td *ngIf="isEditing" class="govuk-table__cell">
            <a class="axleButton" (click)="getTyreSearchPage(axle.value.axleNumber)">Search</a>
          </td>

          <td *ngIf="isEditing" class="govuk-table__cell">
            <a class="axleButton" (click)="removeAxle(i)">Remove</a>
          </td>

          <ng-template #axleTdInput let-name="name" let-type="type" let-width="width" let-options="options">
            <td class="govuk-table__cell">
              <app-switchable-input
                [form]="getAxleTyres(i)"
                [type]="type"
                [name]="name"
                [idExtension]="i + 1"
                [isEditing]="isEditing"
                [width]="width"
                [options]="options"
                (focusout)="getTyresRefData(i + 1)"
              ></app-switchable-input>
            </td>
          </ng-template>
      </tr>

      <tr *ngIf="isEditing">
        <a class="axleButton" role="button" id="tyresAddAxle" (click)="addAxle()">Add Axle</a>
        <p *ngIf="isError" class="govuk-error-message">{{ errorMessage }}</p>
      </tr>

      <ng-template #tdNumberInput let-name="name">
        <td class="govuk-table__cell">
          <app-switchable-input [form]="form" [type]="types.NUMBER" [name]="name" [isEditing]="isEditing"></app-switchable-input>
        </td>
      </ng-template>
    </tbody>
  </table>

  <ng-container *ngIf="!isPsv">
    <br />

    <app-switchable-input
      [form]="form"
      [type]="types.DROPDOWN"
      name="techRecord_tyreUseCode"
      label="Tyre Use Code"
      [width]="widths.UNSET"
      [isEditing]="isEditing"
      [options]="tyreUseCode"
    ></app-switchable-input>
  </ng-container>

</form>
