<ng-container *ngIf="control">
  <label *ngIf="control.meta.label" class="govuk-label govuk-label--m" for="{{ control.meta.name }}">
    {{ control.meta.label }}
  </label>
  <dl class="govuk-summary-list" *ngIf="this.getAdditionalExaminerNotes().length === 0">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">No additional examiner notes history available</dt>
    </div>
  </dl>

  <!-- Additional guidance notes -->
  <table class="govuk-table" *ngIf="this.getAdditionalExaminerNotes().length > 0">
    <tbody class="govuk-table__body">
      <tr>
        <th>Date</th>
        <th>Created By</th>
        <th>Notes</th>
      </tr>
      <tr *ngFor="let examinerNote of this.getAdditionalExaminerNotes()">
        <td class="govuk-table__cell">{{ examinerNote.createdAtDate }}</td>
        <td class="govuk-table__cell">{{ examinerNote.lastUpdatedBy }}</td>
        <td class="govuk-table__cell">{{ examinerNote.note }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
